[2021-01-28 02:36] sixinyiyu opened #1210 "the result of synonym search is incorrect"
**Describe the bug**
First of all add some synonym and a doc

[code]

the resutl of index settings
[code]

then search  and the search body is
[code]

the search resutl now is
[code]

Expected
query Hulk  can search out  the documtns Which contain  浩克 绿巨人 Hulk

**Desktop (please complete the following information):**
 - OS: CentOS Linux release 7.2.1511
 - Browser chrome
 - Version 0.18.1

[2021-01-28 05:33] Bradleykingz commented on #657
Did you manage to find a solution @rhzs? Is this problem able to be solved using faceted search?

[2021-01-28 09:16] #1188 closed

[2021-01-28 18:13] #941 closed

[2021-01-29 05:34] johnnyshields commented on #535
@MarinPostma correct if wrong but we can now close this?

[2021-01-29 12:39] benbender commented on #1195
@MarinPostma Docker runs fine in technical preview. The images however must be build as multiarch. For reference: https://bee42.com/de/blog/tutorials/dockerized-the-apple-silicon/

Meilisearch itself runs fine via homebrew on apple silicon: https://formulae.brew.sh/formula/meilisearch

[2021-01-30 08:49] francoism90 commented on #1200
@gurgeous What version are you using? It seems a new Tokenizer has been merged, don't know if this fixed the given 'Burgers & Fries' example, as I would be interested in getting these results as well. :)

[2021-01-30 18:06] gurgeous commented on #1200
Thanks @francoism90. I will try the new tokenizer. In the meantime, we worked around the problem by manually normalizing our text prior to document generation - `s/&/ and /`

Here is our `meilisearch.service` file for Ubuntu 20.04. I am not an expert on systemd and I crafted this based on other examples I was able to find.

[code]

[2021-01-30 19:44] francoism90 commented on #1200
@gurgeous Thanks for posting your config and workaround. I was browsing the documentation and it seems MeiliSearch offers configuring stop words, wouldn't it be a solution to add these to ignore `and, &, ..`?

I'm using Arch Linux, it seems they already provides a good service out-of-the-box. Do think it can't be merged as they depend on the distro settings.

[2021-01-30 20:10] gurgeous commented on #1200
I am not sure about stop words, I haven't tried that feature. Example - Is `&` considered a word, or are stop words applied after tokenization? Even if it worked we probably don't want to include `AND` as a stop word for our use case, though I'd have to discuss with the team.

[2021-01-30 20:11] gurgeous commented on #1200
Ignore bad click. I really need to invest in a mousepad... :)

[2021-01-30 20:45] francoism90 commented on #1200
@gurgeous Maybe you want to use https://docs.meilisearch.com/guides/advanced_guides/synonyms.html#the-multi-way-association instead (e.g. `& => 'and', 'and' => &'`? I'm new to MeiliSearch, so my suggestions may be incorrect.

[2021-01-30 20:53] gurgeous commented on #1200
Same answer - synonyms might be applied after tokenization so `&` isn't a valid synonym. I actually may have tested that one, can't remember.

[2021-01-31 15:25] skerkour commented on #1177
Hey @LegendreM @Kerollmops I still think this issue is worth fixing because blocking the event loops may be the root cause of a lot of your performance issues (as highlighted by #1200,  #900, #925) and is basically a DOS vulnerability.

If you don't have bandwidth to fix it, I'm available this week as a freelance, it shouldn't take more than one day (half a day to audit the code and find the defec

[2021-02-01 14:43] #1135 closed

[2021-02-02 09:56] #1160 closed

[2021-02-03 00:25] cgardens opened #1221 ""Get Started" link 404s"
**Describe the bug**
* "Get Started" link 404s

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.meilisearch.com/
2. Click on 'Get Started'
3. 404

**Expected behavior**
Not 404

**Screenshots**
![Screen Cast 2021-02-02 at 4 21 48 PM](https://user-images.githubusercontent.com/9092207/106680190-01c0f780-6573-11eb-89a6-eaff4c16cc39.gif)

**Desktop (please complete the following

[2021-02-03 00:28] cgardens commented on #1221
Same with the "Contact" button.

[2021-02-03 00:29] cgardens commented on #1221
Maybe related: https://github.com/meilisearch/MeiliSearch/pull/1220

[2021-02-03 03:26] #535 closed

[2021-02-03 03:31] iredmail commented on #1149
Dear @eskombro

Any solution or improvement for this issue?

[2021-02-03 11:01] curquiza commented on #1221
Hello @cgardens!

Thanks a lot for your feedback 👍
Issues are already opened in the documentation about this:
- https://github.com/meilisearch/documentation/issues/738
- https://github.com/meilisearch/documentation/issues/736
This is indeed due to a huge docs restructuration (https://github.com/meilisearch/documentation/pull/735), we hope you will enjoy our new docs! 😁

We are currently fixing thi

[2021-02-03 11:01] #1221 closed

[2021-02-03 13:23] eskombro commented on #1149
Hi @iredmail

From my POV, in its current state, MeiliSearch may not be the solution that fits your needs right now. A new version of the search engine will be released in the future, and maybe this will change the situation, but as for now, I don't think that trying to fit several hundreds of Gb of data (or even a few Tb) in a MeiliSearch instance with a few Gb of RAM is reliable in production.

[2021-02-03 13:34] iredmail commented on #1149
@eskombro Thanks for the feedback. :)

[2021-02-03 13:34] #1149 closed

[2021-02-03 15:27] bidoubiwa opened #1225 "Atomicity of snapshot import"
**Describe the bug**

When using snapshot import using a wrong path (or maybe because it was a dir and not a file?) to the snapshot it:
1. raises an error that is not very explicit
2. It creates a data.ms

Because of that, when relaunching meilisearch with the good path an error is raised because of existing `data.ms`.

**To Reproduce**
Steps to reproduce the behavior:
1. launch meilisearch with `

[2021-02-04 09:10] shyim opened #1226 "Huge memory usage after some time"
**Describe the bug**
Uses after some time huge amount of RAM 58GB

**To Reproduce**
I don't know what really does that

I have a Job that deletes every hour the index and indexes all entries.
Script: https://github.com/FriendsOfShopware/packages/blob/live/src/Command/PackageIndexerCommand.php#L31-L70
We talk about only one index with 6898 entries with less fields

[code]

**Expected behavior**
It

[2021-02-04 09:32] Kerollmops commented on #1226
Hey @shyim,

We are aware that MeiliSearch currently uses a lot of memory, we are working on a new indexing system that is much more efficient. Can you provide us the MeiliSearch logs?

I would like to know the size the 6898 entries take on disk, uncompressed, please? As little advice it is, I highly recommend you to index all your documents in one batch.

Thank you for helping us debug.

[2021-02-04 10:00] shyim commented on #1226
Log: https://drive.google.com/uc?id=1XXFA3YbBrtwMrhvsp9gRUqQ8uTO-pgs6

The data.ms folder is 20.9 GB 😱. I guess the deletion of index and recreating every hour does trigger something 😅

[2021-02-04 10:03] Kerollmops commented on #1210
Hey @sixinyiyu,

I just checked that on the 0.18.1 version and indeed it doesn't work, but luckily [this issue has already been fixed](https://github.com/meilisearch/MeiliSearch/pull/1184) in v0.19 and will be shipped next week.

Thank you for the report, I am closing this issue 🎉

[2021-02-04 10:03] #1210 closed

[2021-02-04 10:12] MarinPostma commented on #1209
hello @rrjanbiah,

First of all thank you for your report :)

Currently, Meilisearch puts a limit on the size of the facet values to .
The reason why Meilisearch acts like it ignored the facet values is because the update for the facets have failed, this can be seen by querying 'localhost:7700/indexes/movies/updates'. I have to admit that the error message is not very clear, we'll work on that.

C

[2021-02-04 10:12] #1209 closed

[2021-02-04 10:17] MarinPostma commented on #1203
Hey @ncioj10!

I have to admit that this part of the code is not really maintained, and it should probably be removed. If you have to the heart to fix it I'll accept it and it'll  live a bit longer ;)

We won't do much more maintenance on this part, since this is all going to be replaced in the short future, and I wouldn't rely on the stability of the internal API if I were you

cheers!

[2021-02-04 10:17] #1203 closed

[2021-02-04 10:19] MarinPostma commented on #1202
uhm could be linked to #1178, needs to be investigated. Thanks for the report!

[2021-02-04 10:21] MarinPostma commented on #1208
This may be supported in the future, but is not a priority

[2021-02-04 10:25] MarinPostma commented on #1197
Hello @gterzian, thanks for the suggestions, we're working on a new version of the engine that handle this very differently. We won't fix this in the current version.

cheers!

[2021-02-04 10:25] #1197 closed

[2021-02-04 10:26] MarinPostma commented on #1196
may be related to #1178, thanks for reporting!

[2021-02-04 10:40] Kerollmops commented on #1192
Hey @sonic182,

This is indeed a feature that we want to implement at some time, I am not sure if it has already been requested but you can use the [roadmap.meilisearch.com](https://roadmap.meilisearch.com/) website to request it by yourself.

Thank you very much, have a great day!

[2021-02-04 10:40] #1192 closed

[2021-02-04 10:51] Kerollmops commented on #1189
Hey @Duoquote,

You are right. The current indexing system is not that good for big datasets like yours. We are working on a new indexing system combined with a faster, better, and stronger search engine! It is currently able to index more than 115 million little documents without much memory usage.

About the high memory usage that is "garbage collected" on reboot, we are using Rust, and there is

[2021-02-04 10:51] #1189 closed

[2021-02-04 10:54] Kerollmops commented on #1159
Hey @aidanhs,

Thank you for the report this should be fixed by #1176, I will close this issue but feel free to reopen it!

Have a good day!

[2021-02-04 10:54] #1159 closed

[2021-02-04 14:36] JonathanArns opened #1228 "documentation links in CONTRIBUTING.md are broken"
**Describe the bug**
Some documentation links in CONTRIBUTING.md are broken, this seems to concern the links that point to more specific pages like

https://docs.meilisearch.com/resources/contact.html
https://docs.meilisearch.com/guides/advanced_guides/installation.html

**To Reproduce**
Click the links ;)

**Expected behavior**

**Screenshots**

**Desktop (please complete the following informatio

[2021-02-04 14:58] Kerollmops opened #1230 "Datasets should not be in this repository"
We currently have our datasets files in this repository. It is [not a good practice to put large non-code files in git repositories](https://docs.github.com/en/github/managing-large-files/working-with-large-files), it impacts clone and fetch times.

I propose that we move those files into a more practical file system like an S3 or anything else that will not be impacted by the number of revisions

[2021-02-04 15:33] #1228 closed

[2021-02-04 23:49] justg5594 opened #1231 "curl -L https://install.meilisearch.com | sh ./meilisearch"
curl -L https://install.meilisearch.com | sh
./meilisearch

[2021-02-04 23:50] justg5594 opened #1232 "curl -L https://install.meilisearch.com | sh ./meilisearch"

[2021-02-04 23:55] justg5594 commented on #1232
888b     d888          d8b 888 d8b  .d8888b.                                    888
8888b   d8888          Y8P 888 Y8P d88P  Y88b                                   888
88888b.d88888              888     Y88b.                                        888
888Y88888P888  .d88b.  888 888 888  "Y888b.    .d88b.   8888b.  888d888 .d8888b 88888b.
888 Y888P 888 d8P  Y8b 888 888 888     "Y88b. d8P  Y8b     "

[2021-02-06 22:17] itjustwerks commented on #1098
@aysark , what are you going with instead? I'm running into performance issues too in a large-scale app with lots of realtime single-document updates needed.

[2021-02-06 22:23] aysark commented on #1098
@itjustwerks heh good question.  We reverted back to our v1 search (mysql based) but will likely be working on an elasticsearch based search in the future.  The other alternative was a much more costly solution: algolia but if you can budget it then i would recommend using them.

[2021-02-06 22:40] itjustwerks commented on #1098
@aysark we're literally in the same position. I'm coming from Algolia because our cost there is not feasible to scale with the pricing the audience for our product will tolerate. Unfortunately, Algolia was my "get this MVP off the ground" solution, so we don't have a cheap and even semi-functional backup to revert to. I'm settling into a night of Elasticsearch research and testing right now. Thank

[2021-02-06 23:20] aysark commented on #1098
@itjustwerks thats good that you'll be running elastic.  I would love to hear back on if you were able to still leverage a lot of the meili/algolia instantsearch.js frontend components.  We did a ton of work there and would hate to see it all get scrapped when we switch to elasticsearch.

[2021-02-08 11:38] 3kiran opened #1234 "stats for individual numerical attributes like min ,max,avg"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-08 13:00] eskombro opened #1235 "MeiliSearch shouldn't return 404 on `/` path when PRODUCTION environment enabled"
**Is your feature request related to a problem? Please describe.**
When MeiliSearch is run in `development` environment, a GET request to `/` path will return the MeiliSearch test dashboard. When `production` environment is enabled, it returns a 404 error. Even if at first sight this makes sense, since the dashboard shouldn't be enabled in production, it is confusing for some users. I have had sev

[2021-02-08 22:54] CodeWithOz opened #1236 "Combining ANDs and ORs in ways that are prohibited by Algolia"
**Is your feature request related to a problem? Please describe.**
Algolia [limits](https://www.algolia.com/doc/guides/managing-results/refine-results/filtering/in-depth/combining-boolean-operators/#combining-ands-and-ors) the type of AND/OR combinations that can be done when matching by filters/facets. Specifically, `A OR (B AND C)` queries are not allowed. I posted about trying to do this with A

[2021-02-09 08:10] mzperix opened #1237 "No space left on device error on saving snapshot."
## What happens
When creating snapshot, meilisearch opens a temp dir which may be on a different disk than `snapshot_path` and even if enough disk space is available for the snapshot path, it fails with `No space left on device`.

## Expected behaviour
Should create temp dir inside snapshot_path.

https://github.com/meilisearch/MeiliSearch/blob/f83caa6c40a01c931ee4ccde4fb1113067fda488/meilisearch-

[2021-02-09 08:47] MarinPostma commented on #1237
Ah yes! Lone 32 is the faulty call to temp_dir. That is one easy fix.

[2021-02-09 08:48] MarinPostma commented on #1236
No there are currently no limitations on that

[2021-02-09 08:48] LegendreM commented on #1237
Hello @mzperix,
we use `TempDir` lib to manage automatically the directory deletion 🤔,
As you said we should create a standard directory and manually delete it at the end of the process.

[2021-02-09 08:49] #1236 closed

[2021-02-09 08:53] MarinPostma commented on #1237
@LegendreM not necessary: https://docs.rs/tempdir/0.3.7/tempdir/struct.TempDir.html#method.new_in

[2021-02-09 13:03] okyanusoz opened #1240 "[mini-dashboard] Long JSON values overlap each other"
**Describe the bug**
In the MeiliSearch web interface, if the values are very long, they can overlap each other.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a JSON document with a long value(see below comment for an example)
2. Create an index and add the JSON document
3. Open up the web interface
4. Scroll down a little bit
5. See the error

**Expected behavior**
The values shoul

[2021-02-09 13:27] okyanusoz commented on #1240
Hello,
I made a sample JSON file that triggers this bug.
Here it is: https://gist.github.com/okyanusoz/740961e3fc83dc75b9e0a199014e3efd
A simple cURL will do the job. And then you need to scroll down a little bit.
Oh, and if you are curios, here is the code that I used to generate it: https://gist.github.com/okyanusoz/980834fd78380e58239f8edaff05d639

[2021-02-09 17:27] regzon commented on #795
I don't have this issue in MeiliSearch 0.19.0.

[2021-02-10 18:17] curquiza opened #1241 "Error during dumps import"
I had a server running with MeiliSearcb v0.17.0. I wanted to upgrade the version to v0.19.0.

I created a dump -> everything was fine.

I remove the `data.ms` file.

I tried to launch MeiliSearch by importing a dump, and I got this error:

<img width="784" alt="Capture d’écran 2021-02-10 à 18 39 02" src="https://user-images.githubusercontent.com/20380692/107552891-5fd58680-6bd4-11eb-828c-b15b9bc

[2021-02-10 18:27] raphaeltm commented on #843
+1 on Keycloak SSO. We've been using it on a couple projects, and that would be practical.

I don't know if this is the best issue to flag this in, but since it's on the topic of authentication and keys, and since Meilisearch is inspired by Algolia... we would be very interested in a feature similar to Algolia's [Secured API Keys](https://www.algolia.com/doc/guides/security/api-keys/how-to/user-re

[2021-02-11 06:13] volkandkaya opened #1242 "200 indexes hard limit"
**Is your feature request related to a problem? Please describe.**
We have a lot of small indexes, <10mb and would like an API to search them all.

**Describe the solution you'd like**
Remove the hard limit if possible.

**Describe alternatives you've considered**
Nothing yet, this solution seems perfect.

[2021-02-11 18:53] barabulkit commented on #1240
Hello, i wasn't able to reproduce this bug yet, but i agree that it probably could be usefull to show only part of the content in case if it is too long (i got tired while scrolling up to second document), and add something like "..." at the end of content, and when you click on it, full content will be at the screen. If you think that it is neccessary feature i would like to take this issue.

P.S

[2021-02-12 10:54] berkes commented on #1242
I'm in need of this too.

The alternative that I'm looking at, is some permission system, implemented with [filtering](https://docs.meilisearch.com/reference/features/filtering.html).

So, from my initial, shallow research, I'd like to add:

**Describe alternatives you've considered:**

1. Add an Array with e.g. ids. E.g. `accessible_by: [1, 5, 13, 100]`
2. Ensure the query has a filter that filte

[2021-02-13 05:34] volkandkaya commented on #1242
Filtering would slow down searches massively and increase index size?

I was looking at using the snapshop feature to swap and replace the "DB". Which seems like an okay solution but I can't figure out how to run a snapshop on command.

[2021-02-13 07:31] MarinPostma commented on #1242
Hey! I suggest you take a look at faceting, it should solve your problem

[2021-02-13 07:38] volkandkaya commented on #1242
@MarinPostma each dataset can be very different, they won't have the same fields. Otherwise it looks like a great solution.

[2021-02-13 12:22] szepeviktor opened #1245 "Promoting certain items"
Hello! I'm not a user yet.
MeiliSearch looks promising!

Is it possible to move some item from somewhere on the result list to the top?
#priority

[2021-02-13 13:12] MarinPostma commented on #1245
I think you can use custom ranking rules, and add a priority field to your documents that you'd use to sort.

[2021-02-13 13:14] szepeviktor commented on #1245
Thank you.
https://docs.meilisearch.com/learn/core_concepts/relevancy.html#adding-your-rules

[2021-02-13 13:14] #1245 closed

[2021-02-15 07:33] nubpro commented on #1195
Using the M1, facing the same error when spinning the docker container

[2021-02-15 08:39] berkes commented on #1242
Thanks for taking the time to respond. And thanks for the suggestion.

I'm afraid I wasn't clear about *my* use-case, or else I might misunderstand how Meilisearch sees facets. But for me, it does not solve the issue.

My use case, very much simplified, is as follows.

Bob has a list of contacts in his addressbook. He can search through these contacts. A contact, Anne, may have disclosed her bio a

[2021-02-15 10:08] volkandkaya commented on #1242
https://github.com/search?q=200+in%3Afile+repo%3Ameilisearch%2FMeiliSearch&type=Code i couldn't find the limit in the code.

[2021-02-15 17:54] curquiza commented on #1241
FYI, after discussing with the core-team, here is the "real" issue: when creating the dumps, MeiliSearch calls the service that gets the documents. It means it gets the documents (to create the dump) exactly the same way the `GET /documents` route returns the documents.
However, the `GET /documents` route returns documents according to the `displayedAttributes` in the settings. It means if you did

[2021-02-16 10:18] eskombro commented on #1241
So, if I understand well, to make sure your dump has the whole data in your MeilISearch instance you should:

- Set `displayedAttributes` to `[*]`
- Create a dump with `/dumps`
- Go back to the previous settings if needed

Is that right ?

[2021-02-16 10:35] curquiza commented on #1241
If it means re-setting the `displayedAttributes` to their previous value after importing the dumps (when starting the new MeiliSearch instance), yes, that's what you should do 🙂

[2021-02-16 10:44] eskombro commented on #1241
Or if you are just creating a dump to save your data, but not necessarily migrating to a new instance, yep, I meant exactly "re-setting the `displayedAttributes` to their previous value" 🌮

[2021-02-16 13:40] drougojrom opened #1247 "Dev UI is disabled forever after choosing prod in meilisearch-setup"
I run `meilisearch-setup` second time after set up on digital ocean and expect that chosing `n` option should switch the environment to the development allowing the access to the UI. At the moment it does not.

**To Reproduce**
1. setup using digital ocean [described here](https://docs.meilisearch.com/create/how_to/digitalocean_droplet.html#configure-production-settings-in-your-meilisearch-droplet

[2021-02-16 14:51] NicTorgersen opened #1248 "Partial word matching?"
**Describe the bug**
I'm trying to get a document from Meilisearch by partially typing in a word.

**To Reproduce**
Steps to reproduce the behavior:
1. Add index
2. Add a document with some attribute, with the content of "Github" for example
3. Search for "hub"
4. No results

**Expected behavior**
Documents which contain the partial word should ideally be returned, right?

**Additional context**
C

[2021-02-16 15:02] NicTorgersen commented on #1248
Found the "Matches" option.

[2021-02-16 19:50] fharper opened #1251 "Telemetry off by default"
Telemetry shouldn't be ON by default. It's possible to change it, but for privacy reason, it should be OFF.

[2021-02-16 20:51] fharper commented on #1251
Or what we can do is to be more transparent about it: we show a message in the startup of MeiliSearch saying it's ON (and anonymous), and that people can deactivate it with the appropriate setting. It's better than not being upfront on it. We should also add something in the doc, but it's an issue I'll create in the doc repo.

[2021-02-17 00:45] eskombro commented on #1247
I will check this next week! Sorry for this bug :(

@CaroFG can you please transfer this issue to https://github.com/meilisearch/cloud-scripts/ ?

[2021-02-17 09:03] CaroFG commented on #1247
Sorry @eskombro, I don't have the rights to do it

[2021-02-17 10:25] timoschwarzer commented on #1173
### Reproduction

#### When searching documents without special characters:

[code]

Search term is "characters":

[code]

#### And **with** special characters:

[code]

Search term is "chäräcters":

[code]

One thing I noticed is that it ignores a word entirely for highlighting if the last character of a query word is a special one, e.g.

<details>
	<summary>Examples</summary>

![image](https://u

[2021-02-17 14:25] NicTorgersen opened #1255 "Norwegian "Ø" matches for occurences of "O""
**Describe the bug**
I'm searching for something with "Ø", and I get results matching on "O". Example: "Rø" matches both "Rødberg" and "Rollag". "Ro" matches both "Rollag" and "Rødberg".

**To Reproduce**
Steps to reproduce the behavior:
1. Index something with an attribute that contains the scandinavian letter Ø (maybe swedish Ö does the same).
2. Search for something containing O or Ø (or Ö)
3.

[2021-02-17 14:32] CaroFG commented on #1248
Hi @NicTorgersen! MeiliSearch is designed for a search-as-you-type use, therefore it is built based on [prefix search](https://docs.meilisearch.com/reference/under_the_hood/prefix.html#prefix-searchl) It's one of our primary features. Following your example, you will get results for "git" but it is not designed to provide results for "hub". It's not an issue, it's just its design :) There are user

[2021-02-17 15:26] MarinPostma commented on #1255
Hello! This is expected behaviour, and is part of MeiliSearch flexibility. Two things are at play:

- word normalization: words are stored lowercased and deunicoded so their representation is universal, and allows you to tolerate variants of the same letters.
- typo tolerance: even if the former wasn't true, typo tolerance would make it so that the same documents would still match most of the time

[2021-02-17 15:50] NicTorgersen commented on #1255
Got it, thank you for the quick response. It's just that they are not really the same letters. Typo tolerance doesn't quite work for me either, we just had an occurence where there was an actual typo in a document.

E.g.: "Røberg" and I was searching "Rødberg", but there was no hit, so I'm not quite sure what to make of it.

[2021-02-18 01:52] dzcpy commented on #535
Are Chinese and Japanese supported?

[2021-02-18 02:04] tarvos21 commented on #535
yes.

[2021-02-18 16:25] aaqibjavith opened #1256 "Migrating 40M records from Postgres to Meilisearch takes too long"
I am trying to migrate 40M Postgres records (user comments) to Melisearch. Each time, I  am querying 10K records from Postgres and writing to Meilisearch. The migration script has been completed. But it has been more than 3 days, only 4.2 Million records only migrated. The count is increasing very slowly.

I also see the following error messages in the error log:

[code]

Also, I tried to get upda

[2021-02-18 16:36] curquiza commented on #1256
Hello @aaqibjavith!

Thanks for your feedback and for trying MeiliSearch.

The current search engine in MeiliSearch is currently not able to handle a lot of documents. This is a known issue and the core-team is currently working hard on a new search engine that might be able to handle this quantity of documents! 🚀

For the moment, we recommend pushing your documents in larger batches, don't forget

[2021-02-19 09:53] zurferr opened #1257 "Slow /stats update"
**Describe the bug**
I try to use the `isIndexing `attribute to decide, when the index is ready.
To be sure I check again the attribute `numberOfDocuments`. However, while `isIndexing `return `False`. The `numberOfDocuments` can return `0`. If I wait longer I get the correct result.

https://docs.meilisearch.com/reference/api/stats.html#get-stat-of-an-index

**To Reproduce**

[code]

**Expected be

[2021-02-19 13:25] Kerollmops commented on #1234
Hey @3kiran,

We are working on the new version of the search engine. We will be able to and will need to expose the minimum and maximum values for a facet number for [the instant-meilisearch extension](https://github.com/meilisearch/instant-meilisearch) to work correctly with facet ranges. I want to keep this issue open to close it when we are done with this feature and notify you :)

Thank you,

[2021-02-19 15:25] curquiza commented on #1257
Hello @zurferr!

Thanks for this report.

To know when the documents are pushed and if the action succeeded you should definitely check the update status instead. Indeed, the stats route will not inform you about the failure/success status. The stats route informs you about the state of your index but should not be used for this purpose.
Check the update status: https://docs.meilisearch.com/refere

[2021-02-20 12:40] okyanusoz commented on #1240
I have created a PR for this. See #1258

[2021-02-20 16:53] aaqibjavith opened #1259 "Search on specific field"
**Is your feature request related to a problem? Please describe.**

We have 10M users database where we would like to search only by **location** field. Currently using **facetFilters**, I can search for an exact match. In our case, if we type "a", we would like to get all available locations starting with "a".

By the way, We don't want to search in all fields and also don't want to set **attribu

[2021-02-20 19:10] qdequele commented on #1259
Hello @aaqibjavith,

Thanks for this question. What you want is totally possible with MeiliSearch by changing your `searchableAttributes` on the setting. You can find the way to do it on this [page of the documentation](https://docs.meilisearch.com/reference/api/searchable_attributes.html#searchable-attributes). If you only want to search on your `location` attribute, you can leave only this attri

[2021-02-21 10:30] aaqibjavith commented on #1259
@qdequele The documentation says we need to update **index settings** through **/indexes/:index_uid/settings/searchable-attributes**. But we don't want to limit the searchable attribute in the index level.

We have fields such as **location**, **role**, **plan**, and many more attributes. When our customer types **"a"** in the location field, I want to list all the locations starts with **"a"**, n

[2021-02-21 16:42] #1248 closed

[2021-02-21 17:21] qdequele commented on #1208
Hello @sixinyiyu,

Thanks for this proposal. I added it on our possible features list. Unfortunately today it's not a feature we would like to add on MeiliSearch. We are focusing on features around searches, and improve the search experience. I don't know how you proposal could enter on this scope. That why, I would be glad to have more information about your usage, but until that, I will close th

[2021-02-21 17:21] #1208 closed

[2021-02-21 17:26] qdequele commented on #1179
@bidoubiwa Could we close this issue?

[2021-02-21 17:35] qdequele commented on #1166
Hello @Nick-Mazuk @vence722,

Two great features, we already planned to add the ability to delete old updates status. But the idea of a kind of LRU cache is a great idea. We could investigate on that. I invite you both to add a feature request on our [roadmap](https://roadmap.meilisearch.com)!

[2021-02-21 17:44] qdequele commented on #1136
@fharper Is this issue could be closed?

[2021-02-21 18:37] bidoubiwa commented on #1179
Yes, this is a self answering issue!

[2021-02-21 18:37] #1179 closed

[2021-02-21 18:39] fharper commented on #1136
No, I need to spend more time to try it again. It would be nice if someone on the core team can help as I have no idea what is going on as I'm even installing the "faulty" packages manually...

[2021-02-22 06:47] qdequele commented on #1136
does the issue come from the Apple M1 processor and not from MacOS?

[2021-02-22 08:42] CaroFG commented on #1259
Could [filtering](https://docs.meilisearch.com/reference/features/filtering.html#filtering) be an option?

[2021-02-22 10:56] fharper commented on #1136
I have the same issue on my intel.

[2021-02-22 12:22] aaqibjavith commented on #1259
@CaroFG Thanks for the doc. This is interesting.

Here I see that filters are applied along with query string. In our case, we want autocomplete on certain fields.

Is it possible to give regex like string  **"\*uni\*"** in the filter field?
Is there any performance impact of using filter instead of directly using query (`q=au`)?

[2021-02-22 14:49] CaroFG commented on #1259
I'm sorry @aaqibjavith, I'm afraid filtering is not the right solution for you. I thought you could use [placeholder search](https://docs.meilisearch.com/learn/what_is_meilisearch/features.html#placeholder-search) combined with filtering but filtering will only return exact matches, it doesn't support regex either.

I'm not quite sure why the searchable attribute option doesn't work for you, if yo

[2021-02-22 17:08] dichotommy opened #1261 "Web Interface Design"
# Web Interface Design Feedback (for eventual re-design)

It’s been a while since the web interface was designed, but it’s very important and visible—ships with MeiliSearch and is the first entry-point for most newcomers (especially those without a lot of API/command line experience). Particularly with v1.0 coming soon, we should think about redesigning it in the near future. Here are some small p

[2021-02-23 00:57] Braunson opened #1262 "Unsuccessful call to Amplitude - Invalid certificate UnknownIssuer"
**Describe the bug**

This is the error returned when checking the status of Meilisearch

[code]

**To Reproduce**
Try to install Meilisearch as a service inside [Laravel Homestead](https://github.com/laravel/homestead).

**Expected behavior**
Expected no errors?

**Additional context**
I'm thinking this may be due to the fact Meilisearch cannot call outside Homestead and this is causing the issue

[2021-02-23 18:21] andresribeiro opened #1263 ""Who uses it?" section"
**Is your feature request related to a problem? Please describe.**
No. I think it would be interesting to have a page in the documentation with a "Who uses it" section with success stories of MeiliSearch implementation

**Describe the solution you'd like**
In the documentation, on the same page "What Is MeiliSearch?" there could be a section with success stories of people/companies using MeiliSear

[2021-02-24 07:18] qdequele commented on #1262
Hello @Braunson, Yeah, I think it's normal even if this error should probably be a warning instead of an error. You can deactivate the analytics like explained in [the documentation](https://docs.meilisearch.com/reference/features/configuration.html#analytics).

[2021-02-24 10:57] tpayet commented on #1136
On a fresh new M1 MacBook Pro running macOS Big Sur 11.2.1
I did the following:
- install Rust toolchain using [rustup.rs installer](https://rustup.rs) (`rustc --version` returned  1.50.0)
- in the terminal, I run `git clone git@github.com:meilisearch/MeiliSearch.git`
- I got ask to install developer tools from Xcode, I accepted
- I run again the `git clone`
- `cargo build` -> Everything compiled

[2021-02-24 16:38] fharper commented on #1136
First, I only use the steps listed in the README. I assume it's a dependencies issue because of another app installed as I don't have JUST rust & MeiliSearch on my laptop.

Why do you clone the same repo twice?

rustc --version return `rustc 1.49.0 (e1884a8e3 2020-12-29)`

`rustup override set stable`
`rustup update stable`
As listed in the README.

homebrew, but I have no issue with cloning the r

[2021-02-25 19:44] bkilshaw opened #1267 "laravel `scout:flush` not working"
**Describe the bug**
I've followed the basic steps on implementing Meilisearch with Laravel Scout. I'm able to import and search records just fine, but I'm unable to flush the index.

**To Reproduce**
Steps to reproduce the behavior:
1. `php artisan scout:import "App\User"` // Imports fine
2. `App\User:search('John Doe')->get()`; // Finds the correct results
3. `php artisan scout:flush "App\User"`

[2021-02-25 19:49] bkilshaw commented on #1267
I went back after creating this issue and the index was empty. It appears it's just slow at flushing it.

[2021-02-25 19:49] #1267 closed

[2021-02-28 00:46] aidanhs commented on #1159
Can confirm this seems to be fixed in 0.19.0

[2021-03-01 19:08] michcioperz opened #1273 "Cannot build MeiliSearch v0.19.0 as NixOS package"
**Describe the bug**
I tried to use MeiliSearch on my NixOS server today, but noticed the official repos only have v0.9, so I tried to update it.
I took the build script from the official repository and upped the version and fixed the hash of the source code.
The build process stops with an error as seen below.

**To Reproduce**
Steps to reproduce the behavior:
1. Run NixOS 20.09
2. Download this

[2021-03-02 10:30] curquiza commented on #1273
Hello @michcioperz!

Thanks for this report!
We indeed are waiting for the new release of pest! We answered in the pest issue (https://github.com/pest-parser/pest/issues/491#issuecomment-788203239)! 🙂

[2021-03-02 14:18] sanders41 opened #1274 "API implementation for adding and updating documents with a primary key is confusing"
When including a primary key with either adding or updating documents, the API implementation is a bit confusing. I have been discussing this issue with @bidoubiwa [here](https://github.com/meilisearch/meilisearch-python/issues/224) and now understand that my issue was the index was already created so it doesn't get updated, but as the end user this was confusing. I was not expecting to receive a

[2021-03-02 18:40] szepeviktor opened #1275 "APT packaging"
Hello!
Please consider building and publishing APT packages in a complete and signed repository.
https://wiki.debian.org/Teams/RustPackaging may help.

- signing results in leaving `[trusted=yes]` behind
- the final package can be proven perfect by running `lintian --display-info --display-experimental --pedantic --show-overrides --no-tag-display-limit --verbose meilisearch.deb` and having zero ou

[2021-03-03 03:37] cryptoroo opened #1276 "Documentation around How to Handle Dates / Best Practices"
**Is your feature request related to a problem? Please describe.**
Having used other search engines I am used to have a datetime type.
Usually ISO-8601 is the preferred format.
I haven't seen any recommendations on how to deal with dates in MeiliSearch.
It would be useful to understand what your thoughts as the developers of the product are around this.

**Describe the solution you'd like**
Some c

[2021-03-03 03:40] cryptoroo opened #1277 "OpenAPI v3 / Swagger Docs"
**Is your feature request related to a problem? Please describe.**
Swagger / OpenAPI v3 is a very useful way of documenting APIs.

**Describe the solution you'd like**
In an ideal world the code would expose /docs path where a swagger UI would allow for testing and documentation.

**Describe alternatives you've considered**
The current API documentation is excellent. If there isn't bandwidth to do

[2021-03-03 11:03] bidoubiwa opened #1278 "Add index context in update body"
**Is your feature request related to a problem? Please describe.**
No way of knowing in which index documents are being added.

**Describe the solution you'd like**
In the return body of an update there is a sub object that describes the action:
[code]
I would like the index uid related to this `DocumentsAddition` in order to know on multiple index which has all its documents properly indexed

[2021-03-03 17:08] fharper commented on #1195
Got the same error myself.

[2021-03-04 09:15] gorkagv opened #1281 "Change sort of the index"
Hi.

Currently when doing an index search (/ indexes /: index_uid / documents), the documents are sorted by primaryKey by default, in my index the primaryKey is "eId".

{
    "eId": 31,
    "name": "Charles”,
..
},
{
    "eId": 32,
    "name": "Ingrid”,
..
},
{
    "eId": 33,
    “name”: “Robert”,
..
},
{
    "eId": 34,
    “name”: "Garcia”,
..
},

Is there a way to sort the index by multiple attr

[2021-03-04 13:23] MightySCollins opened #1282 "Use 200 status code for healthcheck endpoint"
**Is your feature request related to a problem? Please describe.**
My issue is related to https://github.com/meilisearch/meilisearch-kubernetes/issues/56. If you want to deploy this to GKE using there ingress you need a health check which returns a 200 status code

**Describe the solution you'd like**
Either a new health check endpoint or the existing one to return a 200 status code. I understand

[2021-03-06 13:23] curquiza commented on #1282
Hello @MightySCollins!
We already have this in mind -> https://github.com/meilisearch/MeiliSearch/pull/1164
Thanks for your feedback!

[2021-03-08 09:19] jobygoude commented on #929
The correction of this bug is in progress on your side?
When do you hope to deliver a fix?

[2021-03-08 15:24] eskombro commented on #1282
Trying to find sources on good practices on health checks, it seems to be generally "expected" to send a JSON body with relevant information or data about the status. I think this is why it is widely considered that a Health check returns 200 and not 204. For example, [IBM practices for health checks in microservices](https://www.ibm.com/garage/method/practices/manage/health-check-apis/) state:

[

[2021-03-08 15:51] curquiza commented on #1282
Thanks for your investigation @eskombro!
FYI @MightySCollins we are going to release a new version of MeiliSearch containing several fixes including this change.
The core team is in rush at the moment but we'll try to release this as soon as possible 🙂

[2021-03-08 15:58] MightySCollins commented on #1282
@curquiza No problem at all. It's open source so take all the time you need. Thanks for keeping me updated.

[2021-03-08 17:22] alexisvisco opened #1283 "Cropped + Highlighted = wrong word highlighted"
**Describe the bug**
When a text needs to be cropped and contain a highlighted element, the highlighted element is wrong (shifted).

**To Reproduce**
- create a index
- add a document with an attribute and a text with a lot of characters
- search through this index, add the attribute to be highlighted, and cropped.

If the text need to be cropped, the highlighted result will be wrong.

**Expected

[2021-03-08 19:09] curquiza commented on #1283
Hello @alexisvisco thanks for your issue!
Can you send us the exact document so that we can copy/paste and use it for our tests! We are indeed re-doing the core of the search engine and this kind of issue should be fixed thanks to this!

[2021-03-08 19:25] alexisvisco commented on #1283
[code]

[2021-03-08 19:42] #1136 closed

[2021-03-08 19:54] curquiza commented on #1274
Hello @sanders41,
I've answered in the meilisearch-python issue about the confusion of "update documents" https://github.com/meilisearch/meilisearch-python/issues/224#issuecomment-793026949. I think this is an issue about the SDK and not MeiliSearch itself.
About the silent error that does not inform you the primary key cannot be updated, there is already an issue -> https://github.com/meilisearch

[2021-03-08 19:55] alexisvisco commented on #1283
@curquiza I think it's related to accents.

[2021-03-08 19:56] curquiza commented on #1283
Thanks @alexisvisco!

[2021-03-09 01:02] sanders41 commented on #1274
Thanks @curquiza with this I'll close this one.

[2021-03-09 01:02] #1274 closed

[2021-03-09 13:16] DmitryRusskih opened #1284 "e0308 during compiling with rust on windows"
There is an error appears during building MeiliSearch with Rust on Windows 10 (`cargo build --release`):
[code]

Rust version
[code]

Rustc version
[code]

[2021-03-09 14:14] curquiza commented on #1276
Hello @cryptoroo

The best way would be to transform dates into timestamps and then, push your data with these timestamps

Some clear examples might indeed be needed. I transfer this issue to the documentation repository then. Maybe we can take a look at the Algolia docs page about this topic -> https://www.algolia.com/doc/guides/managing-results/refine-results/filtering/how-to/filter-by-date/

[2021-03-09 14:16] curquiza commented on #1275
Hello @szepeviktor! This is indeed a good improvement!
We have currently a lot on our plate but we will try to integrate it into our TODO.

[2021-03-09 14:38] bidoubiwa opened #1285 "SearchableAttribute order is impacted by settings added before documents"
**Describe the bug**
If you first add settings with for examples `attributesForFaceting: ["genres"]`, when you then add your first documents the "hidden" order of searchable attribute will have `genres` at the start of attributesForFaceting

Example,
on the movie dataset with the following fields in this order: `id, title, overview, genres` the hidden searchable attribute order will be the followi

[2021-03-09 14:45] curquiza commented on #1285
It's an already know behavior. It's because the "genres" field was known by MeiliSearch before the other fields (when pushing the first document). That's why it's at the top and is not taken into account when pushing the first documents.

[2021-03-14 17:30] LucaIaconelli opened #1288 "Optional Words like Algolia"
Hello,

I wanted to ask if there was a functionality in meilisearch similar to the optional words of Algolia.

Thank you in advance for your reply

[2021-03-15 10:42] suppadeliux opened #1289 "How to replace absolute with relative URLs in docs-scraper?"
Hello,

I am currently working on a documentation website generated with Jekyll, and Meilisearch has been pretty easy to add, with the docs-scraper and  the docs-toolbar.

In fact, I have many instances of my documentation website, starting with differents URLS (for example www.docs.mysite.com  or www.docs-internal.fr, etc).

All sites have pretty much the same content, but some of them show less

[2021-03-15 12:02] timoschwarzer commented on #1283
Seems to be a duplicate of https://github.com/meilisearch/MeiliSearch/issues/1173

[2021-03-15 12:03] timoschwarzer commented on #1173
Quoting from @curquiza

I'm going to close this PR since it will be fixed later in a different way thanks to the new search engine implementation!

So this will likely be fixed soon :)

[2021-03-15 12:48] curquiza commented on #1288
Hello @LucaIaconelli, do you mean the ranking rules "words"? Here is our docs about ranking rules: https://docs.meilisearch.com/learn/core_concepts/relevancy.html#ranking-rules

The "words" criterion is not available for the moment but will be in the next search engine we are working on right now :)

[2021-03-15 13:36] curquiza commented on #1282
Here is the final decision about what we are going to implement: the health route will return a `200` with a JSON body `"status": "available"`. According to the investigation of @eskombro, it seems to be a conventional way to handle the health route.

@irevoire will implement it as his first task in the core team 🎉
I'm going to close the PR #1164 to let him open another one (easier to close and re

[2021-03-15 13:44] curquiza commented on #1235
This fix needs to be done. Here what we decided about the implementation: when MeiliSearch is in the production environment, the `/` route needs to return a `200` with a JSON response `"MeiliSearch is running"`. The whole API returning JSON responses, this response needs to be in JSON as well.

[2021-03-15 16:23] curquiza commented on #1281
Hello @gorkagv can you send us your dataset and your detailed steps so that we can reproduce your search?

[2021-03-15 17:59] fharper opened #1290 "ARM Docker image"
We should add to the release the arm (M1 chip) release for macOS now that we fixed #1136

[2021-03-15 21:37] eskombro commented on #1235
This sounds like a great solution to this problem, thanks a lot @curquiza !

[2021-03-16 09:29] CaroFG commented on #1283
I have tested it with a text in English, no special characters and I encounter the same problem...

[2021-03-16 11:46] curquiza commented on #1283
Could you detail your steps @CaroFG?

[2021-03-16 12:34] CaroFG commented on #1283
I've taken the movies dataset, I added an extra paragraph to the overview of the movie 'Shazam', to make it long enough. So now, the movie looks like this:

`    {
      "id": 287947,
      "title": "Shazam",
      "poster": "https://image.tmdb.org/t/p/w1280/xnopI5Xtky18MPhK40cZAGAOVeV.jpg",
      "overview": "A Paul Atreides, a brilliant and gifted young man born into a great destiny beyond his u

[2021-03-16 13:34] #1237 closed

[2021-03-16 14:52] curquiza commented on #1289
Hello @suppadeliux!

Does the `start_urls` option work for your usecase?
https://github.com/meilisearch/docs-scraper#start_urls
You can define the absolute URL in the array like:

[code]

Sorry if I miss understood your issue.

PS: I transfer your issue into the docs-scraper repo

[2021-03-16 17:16] ustenko opened #1294 "master key setup"
hi,
i read https://docs.meilisearch.com/reference/features/authentication.html#master-key
i can't find in docs how to setup master key and where it located
can u provide some tutorial to generate master key?
i'm using laravel+docker

[2021-03-16 17:23] CaroFG commented on #1294
Hi @ustenko, it's coming :) check this out: https://github.com/meilisearch/documentation/issues/828

[2021-03-16 17:28] CaroFG commented on #1294
You have to set up your master key at launch. With docker you can use a flag like this:
`docker run -p 7700:7700 getmeili/meilisearch:latest ./meilisearch --master-key=masterKey`
Or the environment variable `MEILI_MASTER_KEY` in your Docker file.

[2021-03-16 17:28] CaroFG commented on #1294
I'm transferring this issue to the documentation repo

[2021-03-17 02:17] georgezhangjiacheng opened #1295 "Performance issue with 1Gb of docs"
Why can I only have 228132 documents in the same index
In data.ms, The data size is only 1.1G
I can't continue adding documents

[2021-03-17 02:21] georgezhangjiacheng commented on #1295
already set MEILI_HTTP_PAYLOAD_SIZE_LIMIT: 1048576000

[2021-03-17 12:38] curquiza commented on #1295
Hello @georgezhangjiacheng

What is the returned error please?

[2021-03-17 13:34] bionicles opened #1297 "please document use as an embedded search library"
**Is your feature request related to a problem? Please describe.**
This looks amazing to embed it in another project to allow offline-first terminal ui search. However, the docs seem mostly directed to use via remote server-client not something to search locally inside a CLI or Terminal UI

**Describe the solution you'd like**
Please just a simple usage example of how to embed this inside another

[2021-03-18 00:38] ppamorim commented on #1297
This is pretty possible if you use the core library from the project, but it  won't be easy to implement. The project was created around actix-web (it was converted to) but if you are really interested, this is pretty possible. You can read the source code of these two files and create something based on that:

https://github.com/meilisearch/MeiliSearch/blob/master/meilisearch-http/src/main.rs
htt

[2021-03-18 06:42] #1235 closed

[2021-03-18 07:10] georgezhangjiacheng commented on #1295
In docker , The container returned to me without error

[2021-03-18 07:43] cryptoroo commented on #1277
Yes - closing

[2021-03-18 07:43] #1277 closed

[2021-03-18 08:08] MarinPostma commented on #1295
Hello @georgezhangjiacheng, can you provide us with reproduction steps please?

[2021-03-18 09:58] georgezhangjiacheng commented on #1295
1.run meilisearch project in docker
![image](https://user-images.githubusercontent.com/49780609/111607106-e9e7bf00-8812-11eb-8d27-7cff0a41e20c.png)
2.
use python
[code]
3.When I add about 220000 datas, I don't receive an error, but the number of documents on the home page won't increase
![image](https://user-images.githubusercontent.com/49780609/111607713-7a260400-8813-11eb-9a1d-454fc67e02d8.png)

[2021-03-18 10:18] rubik commented on #1177
@MarinPostma @LegendreM @Kerollmops Any update on this? It's a potential DOS vulnerability and a bit concerning. I also see it was removed from the 0.19.0 milestone.

[2021-03-18 11:34] #1282 closed

[2021-03-18 12:45] curquiza commented on #1177
Hello @rubik!
We are working on a new search engine right now and this issue will be fixed in the new search engine release that will be the v0.21.0. I cannot give you an exact timeline for this release but be sure we are working on it. It will be part of the v0.21.0.

[2021-03-18 12:54] curquiza commented on #1297
Hello @bionicles

We are currently working on a search engine library that will be used by MeiliSearch soon!
https://github.com/meilisearch/milli
⚠️ This is a work in progress and will break a lot, so we don't recommend production usage. Also, it's complicated to accept contributions on it for the moment.

For a simple usage of the search only:
https://github.com/meilisearch/milli/blob/main/search

[2021-03-18 13:48] MarinPostma commented on #1295
Are you adding the documents 1 by 1?

[2021-03-18 13:48] mdubus commented on #1021
This error makes error handling in the front-end a bit crafty.

Is this bug planned to be fixed in the next releases ? Thanks 🙏

[2021-03-18 14:04] mdubus commented on #1021
in the meanwhile, here is how to get around the problem :

[code]

[2021-03-18 14:49] georgezhangjiacheng commented on #1295
I tried to push every 2000 pieces of data，and tried 10000 pieces of data

[2021-03-18 15:37] MarinPostma commented on #1295
Have you checked that all of the updates had been processed

[2021-03-18 17:35] curquiza commented on #1021
Thanks for your workaround @mdubus!

It will not be included in the next release (v0.20.0) sorry, but we will try to include it in the v0.21.0 (new search engine release) -> https://github.com/meilisearch/transplant/issues/110
You can check all the milestones of MeiliSearch here: https://github.com/meilisearch/MeiliSearch/milestones
More precisely, here are the milestone of the v0.20.0: https://gi

[2021-03-19 01:39] georgezhangjiacheng commented on #1295
I run a new meilisearch project,  and added the document again
![image](https://user-images.githubusercontent.com/49780609/111719473-e138cc80-8896-11eb-9839-0f9cb554b1cf.png)
[code]
![image](https://user-images.githubusercontent.com/49780609/111719187-5526a500-8896-11eb-9274-6c55153c714d.png)

[2021-03-19 02:02] harnit-bakshi commented on #1295
Facing the same issue we ingested 10Million records Meili shows just 2.7 million on the U/I

[2021-03-19 20:41] Braunson commented on #1262
Closing as MeiliSearch is now apart of [Laravel Homestead](https://github.com/laravel/homestead/releases/tag/v12.1.0) and this error is more of a warning and less a breaking error.

[2021-03-19 20:41] #1262 closed

[2021-03-22 08:51] deanomus commented on #1195
I have the same error, any solution?

[2021-03-22 08:59] MarinPostma commented on #1195
I have investigated a bit, and it seems that docker uses qemu to emulate x86 architecture on the m1. This may be the cause of the issue, and there isn't much we can do to directly address this issue.

Here are 3 workarounds:
- Run MeiliSearch without docker: rosetta seems to run meilisearch alright.
- Run a native image of MeiliSearch (compile it from source on the m1)
- Build you own docker image

[2021-03-22 11:21] gorkagv commented on #1281
For privacy reasons I cannot send the dataset.

But in this example dataset -> https://codesandbox.io/s/ms-vue-is-1d6bi?fontsize=14&hidenavigation=1&theme=dark

How could I sort the results list by date or alphabetically?

I have tried adding two parameters (“desc(date)",“asc(name)”) to the ranking rules in my dataset, but the results are not ordered by those parameters.

Thanks in advance.

[2021-03-22 15:44] chinnichaitanya commented on #692
Very much waiting for the universal score! 😃

[2021-03-23 13:00] hiroshi commented on #1259
I think I have same question.

e.g. I want to search "fight" only in the title field (not in the description field) while search "happy" in only description (not  in the title field) on a same index.

I think any of searchableAttributes, filters or facetFilters is not an option for this situation.

[2021-03-23 13:51] BloomPhilippe opened #1304 "Stop updates"
Hello,

Is it possible to stop all the updates in progress?

thank you in advance

[2021-03-23 13:57] curquiza commented on #1304
Hello @BloomPhilippe!

No, it's not possible for the moment, sorry. But this is under consideration 🙂

[2021-03-23 13:58] BloomPhilippe commented on #1304
Hi,

thank you for your reply

[2021-03-23 14:01] BloomPhilippe commented on #1304
@curquiza

Is it possible to speed up the updates?
Is it related to the CPU, to the RAM?

Sorry for my question

[2021-03-23 14:42] curquiza commented on #1304
Don't be sorry for your questions 😄

We are aware of the RAM we have in the current search engine when importing a lot of data. We are currently working on a new search engine that would be way more efficient during indexation and search!! 🚀
We'll keep you informed when it will be released!

Meanwhile, you can try to push your documents by batch in big batches to avoid having a lot of updates. you

[2021-03-23 14:51] BloomPhilippe commented on #1304
Thank you very much !

Here is my config, is it correct for Meilisearch?
Hetzner cloud
8 CPU
16GB RAM
250GB Disk

[2021-03-23 14:55] curquiza commented on #1304
How many documents do you have? It also depends on the size of your documents. What does a basic document look like in your dataset?

[2021-03-23 14:57] BloomPhilippe commented on #1304
+- 60.000 posts in wordpress
Post size = 14KB

[2021-03-24 08:29] curquiza commented on #1304
It should be enough :) Just do bigger batches and don't push documents one by one. Tell me if it helps you.

[2021-03-24 09:08] hiroshi commented on #1259
Just an idea,
Using [distinct feature](https://docs.meilisearch.com/reference/features/distinct.html) on `movie_id`
create separate documents for an object
[code]

I think I can search in only title by filter: "field = title".
Yes, I cannot get wole object from search results, but if only needed movie_id.

[2021-03-24 11:08] NatBLida68 opened #1305 "how to stop ongoing updateDoc or AddDoc operation"
OK first of all that was my mistake
i just made a infinite for-loop 😜
[code]
i got request timed-out  after some time and so i closed that window
and this keep going  in terminal  and the in  UI page in each refresh number is increasing
tried everything except deleting  index test
is there any way to stop it

[2021-03-24 12:02] curquiza commented on #1305
Hello @NatBLida68!

If I understand well you want to know if you can cancel the updates (your document pushes).
In this case, this is retated to https://github.com/meilisearch/MeiliSearch/issues/1304

[2021-03-24 13:51] curquiza commented on #1240
Fixed by #1240

[2021-03-24 14:07] curquiza commented on #1186
Fixed by #1185

[2021-03-24 14:07] #1186 closed

[2021-03-24 14:08] curquiza commented on #1175
Fixed by #1174

[2021-03-24 14:08] #1175 closed

[2021-03-24 14:11] curquiza commented on #1144
This will be fixed in the v0.20.0 (release next week). You can already give a try with the v0.20.0rc0 😄

[2021-03-24 18:40] curquiza commented on #1281
Hello @gorkagv, I've seen you linked the dataset we are using for our demo: all the fields have strings value and the custom ranking rules you are using does not work with strings

<img width="886" alt="Capture d’écran 2021-03-24 à 19 31 28" src="https://user-images.githubusercontent.com/20380692/112365775-53b30d80-8cd8-11eb-8c7a-179a4e13117b.png">

Le docs link: https://docs.meilisearch.com/ref

[2021-03-24 19:33] curquiza opened #1435 "Add tests for the search response"
Related to https://github.com/meilisearch/transplant/issues/3

[2021-03-25 04:56] #1305 closed

[2021-03-26 03:56] Numline1 commented on #1295
Same issue, just with around 400k results, updates were enqueued and changing to processed, just with no data being added, however the endpoint with updates was showing 'number: 100' on processed updates. Version 0.19.0, Docker, last seen messages in docker logs were
[code]

No special config, just master key in .env. The total size of the DB was around 1.3G, file sizes weren't changing once it st

[2021-03-27 18:32] zack-harrison opened #1313 "Add Java SDK to meilisearch.com homepage"
# Summary

Add the Java SDK to the meilisearch.com homepage.

# Motivations

Initially my org wasn't interested in using meilisearch because we didn't want to have to maintain our own Java sdk. In reality, meilisearch has a Java sdk, it just wasn't listed on the website.

[2021-03-29 12:17] Hesammousavi opened #1314 "is it support utf-8 characters ,like persian or arabic ?"
is meilisearch support utf-8 characters ,like persian or arabic ?

[2021-03-29 15:57] curquiza commented on #1314
Hello!

We might find what you need here: https://docs.meilisearch.com/reference/features/language.html#

We support the UTF-8 characters but we definitely need to improve our tokenizer for the Arabic language. Feel free to give us any feedbacks 😁

[2021-03-29 16:00] curquiza commented on #1313
Hello!

Sorry for the lack of communication!

Our landing page is kind of obsolete right now, we've just hired someone to re-do it 😁
We also need to highlight our SDKs on the home page of our docs and in the MeiliSearch README. This is planned.

Here is the current list of the SDKs and integrations we maintain: https://docs.meilisearch.com/learn/what_is_meilisearch/sdks.html

[2021-03-29 20:29] shekhirin opened #1317 "Slow Docker build time (no dependencies cache)"
### Is your feature request related to a problem? Please describe.
Every time I want to build the Docker image (or build happens in GitHub Actions) it is required to redownload and recompile all the dependencies listed in Cargo.toml files across the project.
It slows down the development process and the CI a lot.

### Describe the solution you'd like
Separate Docker project compilation phase into

[2021-03-29 21:44] robsontenorio commented on #1283
@curquiza any chances to be included on v0.20? Just saw some RC tags today :)

[2021-03-30 12:17] curquiza commented on #1283
Hello @robsontenorio!
Sorry, it will be in the v0.21.0 but not in the v0.20.0!
FYI, the v0.21.0 will be a new search engine that would fix many issues (including a lot of highlight issues) you can see in this board -> https://github.com/meilisearch/MeiliSearch/projects/2

[2021-03-30 14:40] curquiza opened #1320 "Remove ARMv7 support"
We currently fail to push binary for ARMv7: https://github.com/meilisearch/MeiliSearch/actions/runs/551744921

[2021-03-30 17:17] curquiza commented on #1314
I'm closing this issue since the documentation gives the answer, feel free to re-open if you are any question about the persian and arabic languages 🙂

[2021-03-30 17:17] #1314 closed

[2021-03-30 17:24] timoschwarzer commented on #1283
Whoa! Didn't expect the new engine _that_ fast, you people rock! Thanks for your work! :rocket:

[2021-03-30 21:01] cheluskin commented on #1295
There was the same problem. Helped to increase swap. It took several hours to add 2 million documents

[2021-03-31 08:25] curquiza commented on #1295
Hello,

For people having troubles with huge datasets like millions of documents -> MeiliSearch is not currently designed to handle this amount of documents.
However, the core team is currently working hard on a new search engine that will handle huge datasets. The new search engine will be release in the v0.21.0. We'll keep you informed of the release date.

[2021-03-31 09:53] MarinPostma opened #1434 "Bug in snapshot test"
The CI for meilisearch/transplant#113 will not pass because the integration test `perform_snapshot` refuses to pass on the CI VMs. The tests seems to pass with `bors try` fut not with `bors merge`. I have tested il locally extensively, on multiple distributions (arch, nixos, and ubuntu), and I haven't been able to reproduce. @curquiza has tested the feature on Macos and had no issue.

It has been

[2021-03-31 12:11] curquiza commented on #862
Hello, MeiliSearch now returns:

[code]

If it still does not return what you expect, this is an issue to open in the meilisearch-go repository -> https://github.com/meilisearch/meilisearch-go/ 🙂

[2021-03-31 12:11] #862 closed

[2021-03-31 12:34] regzon opened #1323 "Inconsistency in snapshots documentation"
**Describe the bug**
[Documentation about snapshots](https://docs.meilisearch.com/reference/features/snapshots.html#starting-from-a-snapshot) states that there is an env variable (called `MEILI_IMPORT_SNAPSHOT`) that allows starting the server from the snapshot, but I didn't find this option on the [configuration page](https://docs.meilisearch.com/reference/features/configuration.html#options) or

[2021-03-31 13:56] meck93 commented on #919
Hi @qdequele do you have the faceting with numbers on the public roadmap? I was unable to find it. Thx for the feedback!

[2021-03-31 14:22] curquiza commented on #1323
Is it this flag you mean? https://docs.meilisearch.com/reference/features/configuration.html#import-snapshot

[2021-03-31 14:28] curquiza commented on #919
Hello @meck93!
sorry for the lack of communication, we are currently working on a new search engine that would handle this feature! We will keep you informed!

[2021-03-31 14:31] regzon commented on #1323
Yeah, the issue is that this functionality can be only controlled via the CLI option, but the "Snapshots" page states that this can be done via the env variable (which is not true).

[2021-03-31 14:33] meck93 commented on #919
Hi @curquiza no problem at all! Thanks a lot for the quick feedback. Looking forward to the v0.21 release! Thanks for your awesome work with Meilisearch!

[2021-03-31 15:48] curquiza commented on #859
I tried to reproduce on v0.20.0 and I get:
[code]
I'm closing this issue, feel free to reopen if anyone has this issue

[2021-03-31 15:48] #859 closed

[2021-03-31 15:54] curquiza commented on #833
Do you still have the same issue with MeiliSearch v0.20.0
We are currently working on creating a GCP image of MeiliSearch but we didn't face any issue like that.

[2021-03-31 16:44] curquiza commented on #692
Check with @Kerollmops, this issue is outdated! To see performance improvements, please check out this repo -> https://github.com/meilisearch/milli
And wait for the v0.21.0 release 😁

[2021-03-31 16:44] #692 closed

[2021-03-31 17:02] MarinPostma commented on #833
@curquiza this is a runtime error, where some syscall is not implemented by google. Nothing we can do about it for now.

[2021-03-31 21:34] curquiza commented on #712
I would rather not close issues in MeiliSearch since the v0.21.0 is not out 🙂

[2021-04-01 01:25] Song0013 opened #1324 "Query Chinese data documents"
Query Chinese data documents and return the sequence of result sets, which are not calculated according to the rules of "Proximity", "Attribute", "Words Position", "Exactness" and "Proximity"
![image](https://user-images.githubusercontent.com/18046591/113230688-2532c500-92cc-11eb-84df-647c4c1bbc4b.png)

[2021-04-01 07:44] curquiza commented on #1324
Hello @Song0013!
Thanks for your feedback. Can you send us (not in screenshot) your dataset? Or at least the concerned documents?
Also, can you send us the query you typed?

[2021-04-01 08:29] Song0013 commented on #1324
steps：

1.First add the document data set

[
    {
        "movie_id": "1",
        "title": "我是中国人",
        "poster": "中国的颐和园",
        "overview": "Yes",
        "release_date": "2019-03-24"
    },
    {
        "movie_id": "2",
        "title": "中国",
        "poster": "https://image.tmdb.org/t/p/w1280/xnopI5Xtky18MPhK40cZAGAOVeV.jpg",
        "overview": " A boy is given the ability to become

[2021-04-01 08:33] Song0013 commented on #1324
I have made a specific reply on GitHub, thank you

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Clémentine ***@***.***&gt;;
发送时间: 2021年4月1日(星期四) 下午3:44
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [meilisearch/MeiliSearch] Query Chinese data documents   (#1324)

Hello @Song0013!
 Thanks for your feedback. Can you send us (not in screenshot) your dataset? Or at

[2021-04-01 12:42] regzon commented on #1323
Sorry, I didn't know that the documentation is placed in another repository. I'll close this issue and open a new one in the documentation repository.

[2021-04-01 13:00] curquiza commented on #894
Hello @jet10000! Sorry for the delay, we are currently working hard on the new search engine that should fix this issue! Is it possible to have the dataset and your query? Or at least a sample of the dataset to reproduce the error.

[2021-04-01 13:01] curquiza commented on #790
Hello @jet10000! Sorry for the delay, we are currently working hard on the new search engine that should fix this issue! Is it possible to have the dataset? Or at least a sample of the dataset to reproduce the error.

[2021-04-01 13:22] curquiza commented on #1323
This might be something we need to fix in MeiliSearch 🙂
@LegendreM do you remember if there is any reason not to add the `MEILI_IMPORT_SNAPSHOT` env variable usage? Otherwise it's a fix to do.

[2021-04-01 13:40] curquiza commented on #1324
Thanks for your help @Song0013! I'm testing this as soon as possible!

[2021-04-01 13:42] regzon commented on #1323
I think that the choice was taken in the issue https://github.com/meilisearch/MeiliSearch/issues/1033

[2021-04-01 13:54] mikhi opened #1328 "Attributes for faceting cannot be defined for float/int values. Works only for string?"
Hello friends,
I'm trying to define attributes for faceting, in order to use them with vue-instantseach library.

The problem is that i cannot set facets for attributes that contains values as float/double/int
This is a bug or an expected behavior?

I'm looking for example to implement:
`<ais-range-input attribute="price_old" />` this widget requires values to be int | float

**The desired facets*

[2021-04-01 14:05] curquiza commented on #1328
Hello, thanks for this feedback!
We are aware of this missing feature and this will be integrated into the v0.21.0!
Closing this since it's a duplication of https://github.com/meilisearch/MeiliSearch/issues/919

[2021-04-01 14:05] #1328 closed

[2021-04-01 14:12] curquiza commented on #1323
Hahah thanks for the investigation I should have done! 😂 Sorry Many for the GH notification.
The fix should be done in the docs indeed 🙂

Thank you again @regzon!!! 🙏

[2021-04-01 14:12] #1323 closed

[2021-04-01 14:13] mikhi commented on #919
@curquiza thanks for feedback!
Do you have any time estimation for this release?
Thanks,
Mihai

[2021-04-01 14:15] curquiza commented on #919
Hello @mikhi! We are currently working on a completely new search engine improving the performance and also fixing a lot of issues like this one, so giving an ETA is complicated. However, we hope we can release it by the end of June 🙂

[2021-04-01 14:33] bradjonesca commented on #919
Are you planning on some kind of alpha/beta release during April?

[2021-04-01 14:52] curquiza commented on #919
We already provide alpha in [this repo](https://github.com/meilisearch/transplant/) ⚠️ BUT ⚠️
- the search is not completely implemented yet -> the relevancy will not be what you expect
- the `attributesForFaceting` does not behave as in the current MeiliSearch for the moment
=> So I would recommend waiting until a better alpha release so that you can test the facet with numbers. I will inform you

[2021-04-01 14:57] curquiza commented on #1199
Done!

[2021-04-01 14:57] #1199 closed

[2021-04-01 14:58] bradjonesca commented on #919
Merci beaucoup! We are very excited by this ;)

[2021-04-01 16:59] regzon commented on #1323
Thank you for the fast response!

[2021-04-02 01:35] Song0013 commented on #1324
You're welcome. Please let me know if you make any progress,thank you

[2021-04-02 01:41] Song0013 commented on #1324
Hello, I have normalized the document data in Step 1 again, please check

[2021-04-02 07:21] ntraykov commented on #919
You guys are amazing! You cannot imagine how excited I am. Once I replace Algolia with Meilisearch, instead of giving money to Algolia, I will give them for a new machine and a donation to you! This way the circle will close because I am also making a free software and it's users are donating to me. Also, this is a project, I'd love to contribute to. If I can help, please let me know how.

[2021-04-02 23:59] #1313 closed

[2021-04-04 13:41] Sarfarazsajjad commented on #1195
have someone tried creating their own version of docker image, it would be great if someone can share a working version.

[2021-04-04 22:52] Numline1 commented on #1110
I feel like we're experiencing something very similar
![image](https://user-images.githubusercontent.com/12192684/113523624-09b80a80-95a9-11eb-9528-285f096bc955.png)

At that time, there was no surge of operations or updates (according to a status log). @curquiza can you elaborate on this before 0.21.0 is out please? Is that something that can be prevented on older versions? Thanks!

[2021-04-05 01:23] romvarac opened #1329 "Not search or index data"
Hi team,
My issue is not search or index data in some time (after running 1-2 hours), and restart it => could be search and index data.
- Resource: 16G Ram and 8 CPU
- Set up
[code]
- Index data: 2 index with 514 documents and 11593 documents.
But, sometime could not search or index data.
Check status service in docker: up (everything is ok).
Thanks for any support.

[2021-04-06 08:44] curquiza commented on #1317
I would rather not close this issue since it's not merged into MeiliSearch

[2021-04-06 17:02] curquiza commented on #1329
Hello @romvarac! What are the errors you have? Can you detail your steps to get the errors please?

[2021-04-06 18:09] curquiza commented on #1110
Hello @Numline1!
Unfortunately, we don't have a real solution before the v0.21.0 is out. Maybe @Kerollmops has some workarounds to share?

[2021-04-07 09:54] curquiza commented on #1079
Hello @aysark, sorry for the delay.
We are currently working on fixing this issue, can you send us a sample of your document and the query you sent to MeiliSearch? so that we can reproduce your issue 🙂

[2021-04-07 11:40] happysalada commented on #1273
I see the label that the issue will be fixed with the next release. I'm keen to test this when the new release comes.

[2021-04-07 17:53] curquiza commented on #894
My bad, this issue should be already fixed with the integration of the new tokenizer thanks to this PR -> https://github.com/meilisearch/MeiliSearch/pull/1091
If it's not, please feel free to re-open this issue

[2021-04-07 17:53] #894 closed

[2021-04-07 17:53] curquiza commented on #790
My bad, this issue should be already fixed with the integration of the new tokenizer thanks to this PR -> https://github.com/meilisearch/MeiliSearch/pull/1091
If it's not, please feel free to re-open this issue

[2021-04-07 17:53] #790 closed

[2021-04-07 18:25] curquiza commented on #1273
Hello @happysalada!
I miss-clicked one week ago, but this issue will not be probably fixed in the next release, sorry. Indeed, this issue depends on the `pest` package release.

[2021-04-07 23:16] IbrahimKeshta opened #1331 "Wrong matching in Arabic characters for vesions 0.18.1+"
**Describe the bug**
Hello Team,
I was using meilisearch version 0.18.1 and it was great in matching Arabic characters and highlighting results, I considered upgrading the version to the latest version `v0.20.0` and it was a hard shock that matching doesn't work well and return different result not even matching the search query

**To Reproduce**
1. Create index `test`
2. Add documents e.g:
[code]

[2021-04-08 00:00] happysalada commented on #1273
Yes that's what I understood. When you think it can be tested, just let me know and I'll give it a try.

[2021-04-08 04:14] MANTENN opened #1332 "Ingestion Module/App"
**Is your feature request related to a problem? Please describe.**
Importing a large datasets means you need a queue on the plugin end of the module and this would involve duplicate work across a variety of platforms: Strapi, WordPress, Drupal, etc. Instead a "global" app that would connect with databases and import documents from the database with SQL introspection when ingestion is necessary. In

[2021-04-08 07:58] curquiza commented on #1273
Thanks @happysalada! :)

[2021-04-08 13:03] curquiza commented on #1324
Hello @Song0013!

I checked with the CTO, indeed, it's not normal. We are currently on a new search engine (a lot of work is done on criteria), and we hope the new search engine (released in the v0.21.0) will fix your issue. Be sure we will integrate this test into our process to keep you informed!

Thanks for your feedback!

[2021-04-08 13:04] curquiza commented on #1332
Hello @MANTENN!

Thanks for the suggestion, this is not planned for the moment, but this would be a great feature to add in the future 🙂
Please, if you have time could you open a card in our roadmap? https://roadmap.meilisearch.com/tabs/5-ideas
It would be really helpful!

[2021-04-08 13:49] curquiza commented on #1331
Hello @IbrahimKeshta!

Thanks a lot for your feedback. I succeeded to reproduce the issue. It works with v0.18.1 but not with the v0.19.0 and v0.20.0. This is probably a change introduced by the tokenizer! (https://github.com/meilisearch/MeiliSearch/commit/eeccdce33a39747666a644e60a57c75ea9ec7a12)

[2021-04-08 13:55] IbrahimKeshta commented on #1331
@curquiza Thanks a lot for your effort

[2021-04-08 16:12] Keoghan commented on #1259
What a great tool, with easy setup, thanks.

This is one of the first things I was trying to do - essentially search a specific attribute or set of attributes in a single index.

Say I have a few attributes - id, name, keywords and author.

If I want to search for 'Novel' in name, I could use a filter, but this would only return an exact match as I understand it.

If I want to take advantage of no

[2021-04-10 12:30] bidoubiwa opened #1333 "Some different requests throw error resulting in database corruption"
**Describe the bug**

I double deleted an index. probably when it was still enqueing new documents to add. It threw an internal error and now none of my 6 indexes I had on this instance are available.

**Update**: I had the bug again without double delete:
[code]

**update 2**:

**To Reproduce**
Steps to reproduce the behavior:
I'm not sure what triggered the error but If I had to guess
1. (see ab

[2021-04-10 13:28] nicoduesing opened #1334 "The software is tracking the user without consent of the user"
**Describe the bug**
I have installed the meilisearch package through pacman and started it in the terminal. Afterwards the following error appeared:

The domain name api.amplitude.com is blocked in the DNS Server as it is a tracking provider to spy on users. I was surprised as I don't expect open source software to spy on me and there was no question whether I like to allow it. So this should onl

[2021-04-12 04:28] A5rocks commented on #1334
https://docs.meilisearch.com/reference/features/configuration.html#options it can be disabled / it's pretty minimal, fwiw. (I believe this should default to `true` but meh, whatever.)

Also, it's right there in the startup screen: https://github.com/meilisearch/MeiliSearch/blob/9587ea7f06042a27e09001398479151a97061785/meilisearch-http/src/main.rs#L148-L155.

[2021-04-12 10:31] alallema commented on #1195
As Marin pointed out, the macos-amd64 binary works on M1, thanks to Rosetta.
But to make it work on a docker image, you have to use the linux-armv8 binary.
This is my Dockerfile for Meilisearch with arm64v8 for Apple M1 using ubuntu.
[code]
`docker build -t meilisearch_m1 .`
`docker run -it --rm -p 7700:7700 meilisearch_m1`

There is another solution [here](https://github.com/meilisearch/MeiliSear

[2021-04-12 13:05] MarinPostma commented on #1195
thanks @alallema for providing a working solution! :)

I am closing this issue.

[2021-04-12 13:05] #1195 closed

[2021-04-12 16:12] curquiza commented on #1334
Hello @nicoduesing

Thanks for this feedback!
FYI, the data is anonymized so this is not a GDPR issue.

As @A5rocks said, MeiliSearch informs you about the telemetry:

<img width="877" alt="Capture d’écran 2021-04-12 à 18 11 54" src="https://user-images.githubusercontent.com/20380692/114426726-a5093b00-9bba-11eb-83b5-50c57065bcb6.png">

However, we agree this would be better to inform the users

[2021-04-12 18:35] bidoubiwa commented on #1333
Small update. It happened to me 3-4 times. I think I found the reason. If you delete an index where a lot of document are still being indexed an error occurs. Is it possible that when a `update` is `in process` the delete index does not happen after but during?

[2021-04-13 07:48] ManyTheFish opened #3378 "Optimize Attributes Criterion"
## The algorithm
The algorithm based on **Set** iterate over intervals of position giving **sets of docids** (`word_level_position_docids` database), and choose between the different **Query derivations** the best interval giving docids.

<details><summary>Explanations</summary>
<p>

For each query, we have  several **Query derivations** mainly because of `ngrams` or `word-split`,
to be able to fe

[2021-04-13 11:11] xtix opened #1335 "Incorrect search russian words with 'ь' letter"
If search query contains russian words with 'ь' letter, search and highlighting behaivor is incorrect.
![screen_1](https://user-images.githubusercontent.com/12378610/114541481-742f1180-9c5f-11eb-8655-7d1397060c32.png)
And scroll down you can see:
![sreen_2](https://user-images.githubusercontent.com/12378610/114541497-785b2f00-9c5f-11eb-90e6-adf8e6b31b64.png)
MeiliSearch seems to treat 'ь' letter a

[2021-04-13 12:09] madhavanswami opened #1336 "Error: SocketException: OS Error: Connection refused, errno = 111"
when i am trying to post anything on meilisearch it is showing me the error:
 `Error: SocketException: OS Error: Connection refused, errno = 111, address = 127.0.0.1, port = 41200
`
this is my code in flutter:
`http.post(
                Uri.parse('https://...aws_ec2_instance.../indexes'),
                body: json.encode({'uid': 'questions', 'primaryKey': 'id'}),
              );`

[2021-04-13 12:16] curquiza commented on #1336
Hello @madhavanswami!

It looks like your MeiliSearch is not accessible from your flutter code. Can you try this curl command in your terminal (not from your flutter code)?

[code]

[2021-04-13 12:25] curquiza commented on #1335
Hello @xtix!
Looks like this is an issue in our Tokenizer! Thanks for the report!

[2021-04-13 13:39] sanders41 commented on #1336
If changing from `https` to `http` doesn't work are you using the Andriod emulator? If yes try `http://10.0.2.2` instead of `http://127.0.0.1`. More info on this [here](https://developer.android.com/studio/run/emulator-networking.html).

[2021-04-13 14:15] sergeevabc commented on #851
Windows 7.

[code]

[2021-04-13 14:26] madhavanswami commented on #1336
tried both http as well as https but does not work. I've deployed meilisearch on aws and then am using it from a physical device. I also tried the official meilisearch package for flutter but then also facing the same issue. Please help me

[2021-04-13 14:32] sanders41 commented on #1336
So your MeiliSearch you are testing against is running on AWS? If yes, you need to send the request to that address instead of to local host.

[2021-04-13 14:33] madhavanswami commented on #1336
yes i am doing that only but the same error comes

[2021-04-13 14:34] sanders41 commented on #1336
Do you have a firewall blocking on the AWS end?

[2021-04-13 14:34] madhavanswami commented on #1336
no

[2021-04-13 15:11] curquiza commented on #1336
I don't get it, is your MeiliSearch in your local machine?

If you get the error with the `curl` it means this is not a MeiliSearch error, but a connexion error -> you don't use the right address to reach the MeiliSearch server

[2021-04-13 18:24] sanders41 commented on #1336
I suspect @curquiza is correct and the issue is in the address, but one more thing to check is if you gave the app permissions to access the internet in the manifest file? `<uses-permission android:name="android.permission.INTERNET" />`

[2021-04-13 21:25] nicoduesing commented on #1334
@A5rocks @curquiza Thanks for your responses. I welcome the drive for more transparency. If you don't send data that can identify users and amplitude.com doesn't saves IP addresses it is maybe not an GDPR issue but maybe still a trust issue.

I understand that it is helpful to have such data. But collecting this without consent doesn't seem very sympathetic. Such data would certainly be helpful fo

[2021-04-13 23:44] madhavanswami commented on #1336
Meilisearch is deployed on aws. The curl gives 200 ok.  I am using the adress of aws

[2021-04-13 23:44] madhavanswami commented on #1336
Yes I've done that

[2021-04-13 23:57] sanders41 commented on #1336
Do you have a master key set in MeiliSearch? It looks like you aren't passing one in your request so maybe that is the issue?

[2021-04-14 02:21] ppamorim commented on #1334
You could read the documentation and state that no personal data is shared with amplitude. State that Meilisearch is tracking users and its data is misleading.

Also the source code is open and you can verify each line of the project.

[2021-04-14 12:48] curquiza commented on #1334
@nicoduesing, we understand this behavior might involve a lack of trust for our users, we are sorry about this, and be sure we are working on this.

FYI, the data we collect is totally anonymized: we get if a MeilISearch instance is launched or not, which is the equivalent of the download metric for VLC. We also use Sentry to track the bugs.
In both cases, the metrics help us:
- build a better pro

[2021-04-14 13:53] react-learner commented on #1334
On the documentation side, we will also work to make this information more prominent and transparent. See https://github.com/meilisearch/documentation/issues/908

[2021-04-14 16:12] fxi commented on #1196
Everything worked fine until I tried to quickly update stuff with a lot of indexes which is closest to what I would expect from a production use case. Is that parts of your tests ?

The workaround for me was to add a 10 second delay before each `addDocuments`. I also rewrote my logic: instead of updating the indexes as soon as a new document is available, I defined a background job that reindexes

[2021-04-14 17:02] MarinPostma commented on #1196
Hey @fxi,

Thanks for the feedback! Can you explain a bit further what you are doing, and what are the result you are obtaining? Maybe a small script that would allow me to reproduce?

Generally speaking, I would suggest batch indexing once in a while.

[2021-04-14 21:20] nicoduesing commented on #1334
@ppamorim I'm sorry, I didn't wanted to hurt you with my words. I really overreacted with the word "spy". I just was so surprised to see that telemetry sending. You are right, I can read the documentation and I can take a look into the code. And now I did. I didn't understood the code really because I am not that good in rust.

But I have to look such things up. I didn't expected, that I have to d

[2021-04-14 21:35] nicoduesing commented on #1334
Thanks @curquiza. I appreciate, that you like to improve that point, that you are reacting so fast and that you take the time to understand my point and to respond with so much time and explanations. That really shows that this project is in good hands. I will try it out a bit more.

[2021-04-15 11:07] madhavanswami commented on #1336
Yes i am passing the master key. I've figured out that the problem i am facing is due to aws and not because of meilisearch.
Ive tried to make calls with postman and

this error it shows me eventhough passing the right master key.

[2021-04-15 12:19] fxi commented on #1196
I am trying to update the indexes in batches and Meili stops responding in some cases. Similar to what @sonic182 was describing.

I'm not sure what's going on. No error log in the Meili service, it's just stuck.

I created a very rudimentary application to retrieve 5000 documents and create, then fill or update 10 Meili indexes.

Host and key can be configured.

https://jsfiddle.net/fxi/zc1jqtkd/

[2021-04-15 14:34] #1336 closed

[2021-04-15 14:37] curquiza commented on #1259
hello @Keoghan! For the moment it is indeed not possible to define the searchable attributes during the query time sorry.

[2021-04-15 14:38] curquiza commented on #1333
Is it possible to test this with the alpha?

[2021-04-15 14:46] curquiza commented on #851
Hello @sergeevabc, you need to reduce the size of the DB which is 100GiB by default:
- docs about database size: https://docs.meilisearch.com/reference/features/known_limitations.html#database-size
- docs about flags you need to pass to reduce the default DB size: https://docs.meilisearch.com/reference/features/configuration.html#max-mdb-size

This issue is due to the `lmdb-rs` dependency we use -

[2021-04-15 14:51] bidoubiwa opened #1338 "Filters parameter can not be empty string"
**Describe the bug**

When trying to do a search with an empty string an error is thrown. The error message is also not really clear.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a search
2. use `filters: ""` as a search parameter
3. paf

[code]

**Expected behavior**
Ignore the empty filter as no filter is still a filter.

**Screenshots**
If applicable, add screenshots to help expla

[2021-04-15 14:57] curquiza commented on #1338
Can you provide the test with curl please?

[2021-04-15 15:02] Keoghan commented on #1259
Thank you @curquiza, for now I have used an alternative search solution 👍

[2021-04-15 15:03] bidoubiwa commented on #1338
I cannot reproduce with curl!
I guess it could be possible with some type of flag but intuitively I did not find how

[code]

[code]

MeiliSearch version: 0.20.0

[2021-04-15 15:23] bidoubiwa commented on #1338
curl -X POST http://localhost:7700/indexes/movie/search --data '{ "q": "", "filters": "" }'

{"message":"Invalid JSON: expected value at line 1 column 1","errorCode":"bad_request","errorType":"invalid_request_error","errorLink":"https://docs.meilisearch.com/errors#bad_request"}curl: (6) Could not resolve host: q
curl: (6) Could not resolve host: ,
curl: (6) Could not resolve host: filters
curl: (3

[2021-04-15 17:49] fxi commented on #1196
### Synonyms 📚 ?

I think I found was was blocking Meili in my case.  Synonyms. I was not suspecting this.
[code]
For each index, one per language, I've added a synonym list for common location names : countries, and region. So, a search on ABW would return Aruba stuff. And Aruba search would return documents tagged "ABW".
This step was adding a list of 562 pairs.
I removed it and Meili seems to f

[2021-04-15 19:05] nicolasvienot opened #1339 "Web interface not working if a master key is set"
**Describe the bug**

The web interface of meilisearch (`meilisearch-http/public/interface.html`) is not working as expected if a `MEILI_MASTER_KEY` has been set for the meilisearch instance.
The user fill the apiKey but it doesn't do anything and he can't see the indexes or the results of the search.
In the interface, when entering the `apiKey` in the `API Key input`, the value of the `X-Meili-AP

[2021-04-15 19:09] eskombro commented on #1339
I tested with MACOS and FIREFOX, same behavior. This behavior is not present in v0.19.0.

[2021-04-15 19:35] sonic182 commented on #1196
This kind of errors happens in c/c++ development, when using threads and not being good at synchronization hehe, This is very weird to happen in rust

[2021-04-15 21:00] sanders41 commented on #1339
I'm going to make a guess that this one is my fault because I made an update to the API key field. I didn't see this testing, but reading through the issue here I'm thinking I must have had an apiKey in my localstorage without know it.

[2021-04-16 02:15] Numline1 opened #1341 "Error 503 - Service unavailable"
**Describe the bug**
We're using Meilisearch on a fairly large DigitalOcean droplet, however we periodically get errors like
[code]

when updating the index using Laravel Scout. I haven't been able to trace this back to anything specific, and there's no further information in the ApiException that I can see.

What I can see however, although I'm not sure it's related, it the error log from `docker

[2021-04-16 10:41] fxi commented on #1196
Mhhé.

Failure after failure... It's still blocking after a synonyms update...

I thought this could be an issue with alpine. So, I've built an image for `scratch`

[code]
Exact same thing happens. Then, I thought, this could be better on `minideb`, so ...

[code]

Exact same thing. Any hint ?

[2021-04-16 15:05] madhavanswami opened #1342 "How to deploy and use laravel-scout and Meilisearch to ec2 instance"
I am new to laravel and meilisearch. I know how to deploy meilisearch alone on ec2 but now i want to use laravel with meilisearch.
i am not able to understand how to the the usecase running. Someone please help me.
Thanks

[2021-04-17 07:59] MarinPostma commented on #1196
I need to investigate that

[2021-04-17 17:45] san-serif opened #1343 "Allow getting many documents by id"
After reading around I think it's only possible to get one document by it's unique id. It would be nice if we could give an array of ids and get the result back in a single request. Right now I am making a request for each id.

Thanks.

[2021-04-17 18:35] paligiannis commented on #1343
I need to address this issue too. Any ideas of implementing that?

[2021-04-18 08:21] gmourier commented on #1343
Hello @san-serif and @paligiannis! Thank you for using MeiliSearch and taking the time to contribute to this project. Currently, we are putting a lot of effort into the release of the new engine but it may be something that we want to address in the future. Can you please tell me more about your needs regarding this feature? Thanks!

[2021-04-18 14:10] paligiannis commented on #1343
@gmourier It seems like we need something to fetch specific records from the database. Usually, the use case is something like getting ids from database like products[ids]=100,300,400,500. So it's something like filtering specific results and them use them with facets of any other implementation of Meilisearch.

[2021-04-18 17:53] san-serif commented on #1343
Hey @gmourier! This is kind of low priority for me as MeiliSearch is already working great for me. I want this feature because I want to get some data without directly querying my main database (mostly for backoffice stuff).

[2021-04-18 19:47] paligiannis commented on #1343
@san-serif How have you implemented such a thing?

[2021-04-18 20:43] san-serif commented on #1343
@paligiannis

I'm using javascript and I essentially did it like this:

[code]

[2021-04-18 21:16] Boscop opened #1344 "Equivalent to Google's negatíon operator"
With MeiliSearch, what's the equivalent of Google's negatíon operator? (`-foo`: exclude results that contain `foo`)
Is it doesn't exist yet, consider this a feature request :)

Btw, how can I invert the word position weighting, so that matches closer to the **end** of a document result in a higher score?

[2021-04-19 08:20] gmourier commented on #1343
Hi! Thank you for your answers.

I mark the issue as a feature request to track it in our backlog. You can also propose this feature as an idea [here](https://roadmap.meilisearch.com/tabs/5-ideas). It allows people to vote for it and make it more visible in terms of importance.

[2021-04-19 08:55] curquiza commented on #1344
Hello @Boscop

Is it doesn't exist yet, consider this a feature request :)

There is no equivalent for the moment, you can open a can in our roadmap if you want this feature -> https://roadmap.meilisearch.com/tabs/5-ideas

This is not possible at the moment, sorry.

[2021-04-19 10:12] curquiza commented on #1341
Hello @Numline1, thanks for your report. We are currently working on a new search engine that will be released in the v0.21.0. If the v0.21.0 does not fix your issue, be sure we will investigate deeper on it!

Thanks for using MeiliSearch 🙂

[2021-04-19 10:45] curquiza commented on #1339
So sorry we introduced this bug in v0.20.0!
It's not your fault @sanders41, we (the Meili team) should have done a better check before merging!
We are currently working on a new dashboard that will be present in the v0.21.0, so this issue should be removed with the release of the v0.21.0 😉

[2021-04-19 11:04] san-serif commented on #1343
@MarinPostma Just to clarify I think this is low priority because @gmourier mentioned you guys are working on a new engine, I did not want to give the impression that I think this is super important.

I don't know how to explain my use case better. I want to query data directly from MeiliSearch because I think it would be faster than my database.

[2021-04-19 16:36] madhavanswami opened #1345 "Unable to upload any documents in meilisearch when deployed on aws and qovery"
**Describe the bug**
When I am doing any operations on the local server everything works fine but when I am trying to do the same operations ie. Uploading documents, it does happen. I've tried it on aws as well as Qovery.

Everything else works just fine like creating index, getting keys, deleting index, except the functionality mentioned above.

**To Reproduce**
[code]
_output:_

**Exceptional be

[2021-04-19 17:12] MarinPostma commented on #1345
Hey @madhavanswami !

What is the output of `curl   -X GET 'https://hosted-site-url.qovery.io/indexes/movies/updates/0' `?

[2021-04-20 02:32] madhavanswami commented on #1345
Thank you @MarinPostma. I got the answer. Actually the document id key was set to something different in the index and i was trying to upload document with some other document id.
Solved my error.
Thanks

[2021-04-20 02:32] #1345 closed

[2021-04-20 11:46] tmikaeld commented on #1256
@curquiza While we wait, how many documents are recommended?

[2021-04-20 12:29] curquiza commented on #1256
It depends on many parameters like the size of your documents. The best is to try: add your documents in batches (you can increase the default payload size). But in any case, I would say less than 1M of records.

[2021-04-20 12:31] tmikaeld commented on #1256
@curquiza Alright, with that considered we will wait until the new engine has been released. Do you have an estimate?

[2021-04-20 12:32] curquiza commented on #1256
We hope we can release the v0.21.0 (containing the new version of the search engine) by the end of June. At least, we should be able to provide release-candidate version of the v0.21.0 by the end of June 🙂

[2021-04-20 12:34] tmikaeld commented on #1256
That's much earlier than I expected, I'll wait until then and try it out.
I'm guessing it will be able to handle many millions of documents?

[2021-04-20 13:38] irevoire commented on #1256
If I remember correctly the biggest dataset we are currently using to test the new engine is ~120M documents.

[2021-04-20 13:38] curquiza commented on #1256
Yes 🙂

[2021-04-20 13:39] tmikaeld commented on #1256
That's amazing, thanks for the feedback!

[2021-04-20 21:26] voydz opened #1347 "[Docker] Provide an ARM image"
**Is your feature request related to a problem? Please describe.**
A current project of mine would require to run on a raspi. Would totally love if you guys provide an image for arm/arm64. If seen some community based ones but I prefer it more reliable.

**Describe the solution you'd like**
A first look at the Dockerfile does not show any significant problems to pop up, when trying to [build image

[2021-04-21 09:21] curquiza commented on #1347
Hello, thanks for your suggestion.
Until we (or someone else) provide a docker image for raspi, you can download the ARMv8 binary we provide: https://github.com/meilisearch/MeiliSearch/releases

[2021-04-21 10:26] voydz commented on #1347
Hi @curquiza ,

thanks I already saw that and will absolutely try this.

FYI: Would consider to contribute this, if I end up using MeiliSearch in my projects. So if you guys accept PR's again a short ping would be appreciated. :)

thank you for your great work with this

[2021-04-21 11:58] curquiza commented on #1347
For the moment we don't accept PR since we are working on a huge refacto (https://github.com/meilisearch/MeiliSearch#contributing), but once the v0.21.0 is out, we would reconsider this issue. We will keep you informed about what we'll decide to do :)

[2021-04-21 12:57] NatBLida68 opened #1350 "index limit"
is there any option to increase limit of index which is set to 200 ?

i have more than  200 companies  each  having their own clients with same type data
like company 1  with multiple branches -  have  customer / supplier etc tables  (on db 1 )
company 2 with multiple branches  - have same customer / suppliers.. etc tables (on db 2)

and i would like to use  each index to store each companies  dat

[2021-04-21 15:09] curquiza commented on #1350
Hello, we are currently on a new search engine that will remove this limit :) The max number of indexes will depend on the size of your disk 😉
I close this issue since it's a duplication of https://github.com/meilisearch/MeiliSearch/issues/1242

[2021-04-21 15:09] #1350 closed

[2021-04-21 16:41] fxi commented on #1196
Should I start to learn how to debug a Rust app myself  ? haha

This issue is also reproducible easily with the macOS version (v0.20.0) installed with `brew install meilisearch`

1) `brew install meilisearch`
2) launch `meilisearch` ->> http://127.0.0.1:7700
3) Load the test app : https://jsfiddle.net/fxi/zc1jqtkd/5
4) Configure the host as `http://127.0.0.1:7700`  ( key field can be empty if no k

[2021-04-22 14:15] Krislunde commented on #876
Is this being looked at, at all? I find Meilisearch extremely intriguing, but the slow processing time is worrying. If it's being looked at however, they would ease concerns. Any updates?

[2021-04-22 14:36] curquiza commented on #876
Hello, sorry for forgetting to keep informed people on this issue: the core-team is currently working hard on a new search engine that will definitely improve the indexation and search performance (using multi-threading).
This new search engine will be available in the v0.21.0. We hope to be able to release this new version by the end of June, or at least provide release-candidate versions of the

[2021-04-23 11:35] Krislunde commented on #876
Thanks for the update! That's all I wanted to know. I got a bit worried when the issue hadn't even been responded to :)

Great job, peeps!

[2021-04-24 19:11] shah62 opened #1355 "Searching for words without `.` doesn't match any string in the index."
**Describe the bug**
Searching for words without `.` doesn't match any string in the index. For ex: searching for `nodejs` in the index containing the word `node.js` doesn't match.

**Easiest way to reproduce**
1. Go to https://docs.meilisearch.com/
2. Search for `nodejs` (shows in no result found)
3. Search for `node.js` (shows a match)

**Additional context**
I am trying to create a blog with me

[2021-04-25 19:29] Boscop opened #1356 "Doc outdated? Growing DB size on Windows now possible, since LMDB now uses native NT API?"
(Bug is not the right category, it's more about the docs.)

I have a question about this:
<https://docs.meilisearch.com/reference/features/configuration.html#options>

Does this mean that it's impossible to start with a small db size and let it grow as needed on windows? (By setting `MEILI_MAX_MDB_SIZE` to a small value during init, and a higher value later.)
I'm asking because I'd like to include

[2021-04-25 20:22] MarinPostma commented on #1356
Hey @Boscop !

We are aware of this fix, but it still hasn't been propagated to Meilisearch. Meilisearch depends on [Heed](https://crates.io/crates/heed) as a wrapper for LMDB and Heed itself depends on [mozilla bindings](https://crates.io/crates/lmdb-rkv-sys/0.8.2) to the c library, that are outdated. We have plans to roll out our own bindings to LMDB sooner or later, but until then this restrict

[2021-04-25 20:28] Boscop opened #1357 "Searching for two words is not typo/plural resistant"
**Describe the bug**
When I remove the `s` (so that the query is "moth flame"), this search result disappears (leading to zero results). Any idea why?

![image](https://user-images.githubusercontent.com/535593/116008487-2201cf00-a615-11eb-8379-10c91502e985.png)

(I'm using the online sandbox instance btw)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to online sandbox
2. Enter "moths fl

[2021-04-26 09:01] curquiza commented on #1356
Hello @Boscop!

Marin explained it well!
More detail here if yo are interested: https://github.com/meilisearch/MeiliSearch/issues/851#issuecomment-820486885

[2021-04-26 12:18] Boscop commented on #1356
@MarinPostma Thanks! But what is a good size to start with, and how do I know when it's necessary to grow it?
And for growing it, should I just increase the value of that env var?

[2021-04-26 13:06] MarinPostma opened #1439 "Locking commit during snapshot dumps"
@kerollmops suggested that we could lock only the commit phase during the snapshot/dumps process, so I have decided to give it a quick thought.

Currently, when we want to perform a snapshot, we need to acquire a lock on the update store to prevent any update to be processed while we are performing a snapshot. After we acquire the lock, we perform a snapshot of the update store, and, while still h

[2021-04-27 12:49] MarinPostma commented on #1356
@Boscop, a good size to start with will really depend on the amount of data you have, and your settings. I would go with whatever you can reasonably allocate, and see what's the size of your data using the `/stats` route. If the you see that you are using much less data that you allocated, then allocate a smaller db. You can also probably reduce the size of the update database (`--max-udb-size`) t

[2021-04-27 13:25] Boscop commented on #1356
@MarinPostma Thanks! But it only works in WSL2, not WSL1, right?
And I plan to bundle meilisearch.exe with my application just like sqlite (because I need a faster fuzzy search) so it should be portable & standalone, not require WSL/docker..
If I insert too many documents into the db so that the allocated size is not enough, what kind of error would it return?

[2021-04-27 13:53] MarinPostma commented on #1356
I have never used WSL personally, so I can't give you an answer....

You will get an error like this one:
[code]

[2021-04-27 13:54] MarinPostma commented on #1356
(the actual error message is subject to change)

[2021-04-27 16:29] jiminy-billy-bob commented on #1343
We solved this by declaring the `id` field as an attribute for faceting. Then we simply do something like this:
[code]
This should return documents with id `foo` and `bar`.

[2021-04-28 07:42] CaroFG commented on #1355
Hi! It is expected behavior as `.` are considered hard spaces (check out [this](https://docs.meilisearch.com/reference/under_the_hood/datatypes.html#string) doc's section) so `node.js` is considered two words instead of one. You'll get results by typing: `node.js` and `node js` but none for `nodejs`

AFAIK there is no way of changing that behavior, but I'll let my colleagues confirm that

[2021-04-28 08:17] CaroFG commented on #1357
Hi! This is due to the fact that the typo tolerance rule doesn't allow typos on query words that are between 1 and 4 characters long. Since `moth` it's just 4 characters long, it isn't supposed to contain any typos. If you type `mothr flame` you'll get results. You can find more information about how typo tolerance works in [the dedicated section of the docs](https://docs.meilisearch.com/reference

[2021-04-28 10:17] curquiza commented on #1196
Hello @fxi!

Thanks for helping us debug! 🙂

I tried your steps locally. It's weird because MeiliSearch is indeed stuck when calling routes like `GET /indexes/` or `GET /indexes/:uid/debug_en`, but I had no issue calling the `/health` or the `/version` route: MeiliSearch was able to respond.
I need to stop and re-launch meilisearch so that I can make it work again.

We will try to investigate it w

[2021-04-28 16:14] Boscop commented on #1357
I see, but it should still show up as search result, because both words are substrings of the movie description!

[2021-04-29 09:54] setop commented on #1256
Same here :

In injected 220k documents in 2k seconds. That is around 100_doc/sec which is cool.

But indexation is currently running at 1.5_doc/sec, hogging 70% of a core of my machine.

This mean I'll get my documents after two and a half days.

[2021-04-29 13:47] curquiza commented on #1357
What do you mean by `substrings of the movie description`?

You typed `moth` (4 characters) which is considered as a word with 1 typo compared to `moths`.
If you have typed only `moth` and not `moth flame`, you would have found this movie because you are in [prefix search](https://docs.meilisearch.com/reference/under_the_hood/prefix.html#prefix-search) for the word `moth`.
But since you have typed

[2021-04-29 16:10] curquiza commented on #1256
Hello @setop! Thanks for the feedback!

Even if the current MeiliSearch has performance troubles, the indexing time you get for your dataset is not really expected.
I personally have just indexed 160k documents in less than 5min in my local machine.

The huge amount of time might be reduced by the way you pushed your documents. Do you push your documents in batch or one by one?
Pushing your docume

[2021-04-29 17:27] vprelovac opened #1358 "Keyword matching behavior"
Hi team Meili and thanks for the wonderful product!

I just started using Meili and currently use it at default settings.

I noticed that when I search for gpt3 it will return results including GPT-3 which is what I want

But I also noticed that when I search for 'greece' I get 'greener' and when I search for 'conan' I get 'connection' and 'conal' which is what I dont want.

What do you recommend

[2021-04-30 01:04] shah62 commented on #1355
thanks!

[2021-04-30 03:59] Boscop commented on #1357
@curquiza I understand your reasoning but I'm saying as a human I would expect that search result to appear, because both words I entered are sub strings of the movie description.
And other search engines would show this movie as a search result.
Can you please consider changing your matching policy such that if all words of the query appear in the document, it appears as a search result?
That wou

[2021-04-30 10:18] setop commented on #1256
I indeed enqueue them one by one.
It is much more convenient to me first because ... it is more convenient :) and also because error can be raised for one document (during data preparation or when ingesting) and I don't want this error to propagate to siblings.

Honestly, it is not obvious to me, without digging into implementation, why batch improve things. To me, indexing should cost much much m

[2021-04-30 10:58] setop commented on #1256
I retried with 1000k documents batches. It ingest 25k doc in  few seconds :rocket:
259MB raw data, 1.8GB index size.

[2021-04-30 17:32] tillschander opened #1359 "Distinct attribute causes wrong number of documents in placeholder search"
**Describe the bug**
- Setting a distinct attribute causes too few documents in a placeholder search.
- In a regular search with a distinct attribute set MeiliSearch usually returns as many results as the limit allows.
- In a placeholder search the number of results is affected by how many documents with the same distinct attribute were found. Say for example I have a dataset of products with a di

[2021-05-03 08:39] curquiza commented on #1256
Awesome @setop, I'm going to open an issue in the docs, pushing by batch is not obvious for everyone. To be honest that's a tip I give multiple times a week, you're not the only one 🙂
Glad you succeeded to index your data!

[2021-05-03 10:37] curquiza commented on #1355
Hello @shah62, your feedback is a nice improvement we would like to add to MeiliSearch. The whole core team is currently working on a new search engine, which means we don't have the time for this kind of improvement for the next release (v0.21.0). It will indeed involve consideration about how to implement this and improve our tokenizer.
But we really like to add this dot (`.`) handling in the fu

[2021-05-04 16:24] curquiza commented on #1359
Hello @tillschander! Thanks a lot for this bug report!
We are going to do our best to fix it in the next release!

[2021-05-05 08:08] curquiza commented on #1357
I completely understand the non-intuitive behavior of this search result. What is needed here is the plural handling more than just the typo tolerance, which is applied in your situation and which leads to a non-intuitive behavior for you.
However, plural handling is a complex feature to add, some plural forms are indeed not easy to handle (ex: cheval/chevaux in French) but we can consider it in t

[2021-05-05 10:06] djKooks opened #1361 "Cannot run server by backward compatibility"
**Describe the bug**
Hello,
I cannot run the project after I've pull the codes.
Seems it is the problem of backward compatibility...is there a way to refresh(or delete) old database storage?

**To Reproduce**
[code]

**Expected behavior**
MeiliSearch server should be started

[2021-05-05 10:19] curquiza commented on #1361
Hello @djKooks,

2 solutions:
- delete `data.ms` file and re-push your documents. Not really convenient if you are in production, but here you seem to run the project as any contributor 🙂
- use the dumps: https://docs.meilisearch.com/reference/features/dumps.html#creating-a-dump.

[2021-05-05 10:30] MarinPostma commented on #1361
On an additional note to what @curquiza said, I will add that MeiliSearch follows [semantic versioning](https://semver.org/). Since we are pre 1.0, the minor version are not compatible with each other, but two version with the same minor (i.e only differing in patch version) are compatible with each other. Hope that helps :)

[2021-05-05 12:36] ssankko commented on #880
Hey!
Just landing in with similar issue.
We have a docker container with `getmeili/meilisearch` image. Pushing multiple documents in quick succession causes engine to hang up indefinitely.
Im sure there are enough memory to operate with. At least when i check process with `top` it shows meilisearch currently uses ~25% of available mem. Cpu is not used at all.
In a whole there are a lot of similar

[2021-05-05 14:10] djKooks commented on #1361
@curquiza @MarinPostma thanks for help~

[2021-05-05 14:10] #1361 closed

[2021-05-05 16:19] curquiza commented on #880
Hello @ssankko we are working currently on a new search engine that will be release in the next release (v.0.21.0). We would like to fix this kind of issue if possible, would you please send us your dataset + your script so that we can reproduce the bug and fix it? It would be really helpful

[2021-05-05 16:28] curquiza commented on #1358
Hello @vprelovac, thanks for your feedback

Aren't the documents with `greece` inside considered more relevant than the documents with `greener`? (more relevant = at the top of the `hits`). The documents without typo should be at the top.
But maybe you just want to remove completely the `greener` document from the `hits`. In this case, it means you don't want the typo tolerance to be taken into ac

[2021-05-05 16:30] vprelovac commented on #1358
documents with 'greener' should not be retrieved for 'greece' as these are false positives. in search context it is better to retrieve nothing than be wrong.

[2021-05-05 16:44] curquiza commented on #1358
It seems irrelevant for you, but there are not irrelevant in terms of searching 🙂 `greener` matches `greece` with 2 typos. The [typo tolerance](https://docs.meilisearch.com/reference/under_the_hood/typotolerance.html#typo-tolerance-rules) of MeiliSearch is applied.

Nope, word split is applied, not the typo tolerance, so that's not the same situation 🙂 MeiliSearch tries to split `gpt3` into multip

[2021-05-05 16:49] vprelovac commented on #1358
I am surprised by the comment that 'greener' would be somehow relevant to 'greece'? if you want to do best effort retrieval than you should also return scores so that the client can decide if the result is above threshold.

[2021-05-05 16:56] curquiza commented on #1358
What do you mean? The typo tolerance is here to retrieve your document if you type `greeec` instead of `greece` (for example), it's not related to the category of the word. `greener` is just `greece` with 2 typos, that's why MeiliSearch retrieves it 🙂

Returning the score is indeed something we have in consideration! Thanks for this feedback!

[2021-05-05 16:58] vprelovac commented on #1358
I mean that typo tollerance should not apply to vocabularly words. In your example 'greeec' is not a vocabularly word and its ok to apply typo correction to it.

[2021-05-06 02:06] jac1800 opened #1362 "Do this software support multiple languages search?Arabic, Spanish, Hebrew?"
Do you support multiple languages?Arabic, Spanish, Hebrew? TKS

[2021-05-06 02:36] #1362 closed

[2021-05-06 02:38] jac1800 commented on #1362
Be know  from official docmentation TKS

[2021-05-06 12:49] curquiza commented on #1358
We are not sure to exactly understand what you mean by `vocabularly words`. Are they the words in the dictionary?

Applying typo depending on whether the word is in the dictionary or not would involve MeiliSearch has a database containing all the words of all the languages. Or a database provided by the user. It's clearly an ambitious feature that would imply complexity with multilanguage handling

[2021-05-06 17:12] Boscop commented on #1358
Just because a mistyped word is also in the dictionary doesn't mean it's not mistyped.
E.g. if you type `take card` when you meant to type `take care`, even though `card` is in the dictionary, you still want to see documents in search results containing `take care`.
The engine can't know the intention. So I think it should not take into account whether a word is in a dictionary or not.
Conversely,

[2021-05-08 19:27] Boscop commented on #1357
In my use case it's not about plurals but about matching substrings. (It was just accidentally a plural in the example.)
My indexed data contains many typos.

[2021-05-11 00:22] vprelovac opened #1365 "Is Meili thread safe?"
Can I reuse the same client instance in a multi-threaded app?

Thanks

[2021-05-11 08:36] curquiza commented on #1365
Hello @vprelovac! The client only does HTTP call to the same MeiliSearch instance and MeiliSearch handles the multiple requests for searching and also for indexation (by using a queue, [see the docs](https://docs.meilisearch.com/learn/advanced/asynchronous_updates.html#asynchronous-updates)), so yes it should be ok :)

[2021-05-11 16:01] vprelovac commented on #1365
Yes I am using Python SDK, sorry for not mentioning that.

[2021-05-12 09:13] irevoire opened #1366 "Demo in the README"
Hello,

I would love to get a list of all the live running demo of Meilisearch directly in the README to give an opportunity to newcomers to try the end product before doing any setup or spending to understand how meili works.
https://github.com/meilisearch/demos

[2021-05-12 10:38] sanders41 commented on #1365
Just to clarify when you say thread safe do you mean on the client end or server end? In the Python client there is no threads/multi-processing or locking implemented.

On the server end I have seen deadlock instances when using multi-threading in the Rust client.

Not sure if that helps any?

[2021-05-12 13:42] TomasWeg commented on #426
By the moment, the only way is to store the latitude and the longitude as another JSON field, and when the results are retrieved, skip those who aren't in a certain area. It will be slow, but the only way

[2021-05-13 06:17] komal-patel123 opened #1367 "RangeInput() not filter data"
Hii, Can anyone help me out,
RangeInput is not filtering data for min/max price filter

[2021-05-13 07:40] #1367 closed

[2021-05-13 11:50] ssankko commented on #880
Hello @curquiza!
I'm sorry, I can't provide a dataset for a reason. We were testing different search engines to replace our dependency on Algolia. So far we used our production dataset which is private.

Though, we conducted some extensive testing to find the cause. Looks like the engine works alright (without deadlocks) if you don't create an index while another one is being created. Basically, i

[2021-05-13 12:00] curquiza commented on #880
Thanks for sharing this!
We will do our best so that the new search engine can fix it!
One a RC is out, I will share it here so that everyone who got the issue can test it

[2021-05-14 13:06] volkv commented on #1196
Can confirm such "stucks" when batch importing data to 5+ indexes (I'am using it with Laravel Scout).
Adding a delay of 5-10 seconds between indexes processing helps :)
And thanks for this awesome engine, I'am now migrating from Elastic, with Scout 9 native Meili support ;)

[2021-05-16 20:03] JacobLey opened #1368 "Highlight on emojis"
**Describe the bug**
Using Meilisearch's `_matches` and `_formattedInfo` of the response should show the searcher the exact text that was found in the search.

I have found that _mostly_ works, but appears to break when an emoji is in the middle of a word. Note to the best of my knowledge the actual search results are still correct, it is just over-highlighting the results.

**To Reproduce**

1) C

[2021-05-16 22:19] Glitchfix commented on #1148
I think this is how nations should resolve things
This developer level understanding is what is required in the world!

[2021-05-17 14:06] dgironella opened #1369 "Invalid JSON"
When I call a GET search all work correctly, but with POST I get a Invalid JSON: invalid number at line 1 column 2

Where is the problem?

[2021-05-17 14:27] sanders41 commented on #1369
Are you using one of the clients or curl? Can you post an example of your JSON?

[2021-05-17 14:30] flother commented on #426
@TomasWeg It's not the only way. One option would be to compute the [geohash](https://en.wikipedia.org/wiki/Geohash) for each record, store the geohashes in the MeiliSearch index, and then do a prefix search.

As an example, the old observatory at Greenwich in London has a longitude of 0.0 and latitude of 51.47773. This location has the geohash `u10hb50p80`, and every object within ~2.5km will hav

[2021-05-17 14:39] dgironella commented on #1369
I use meilisearch-php but I solved this, I send array var to q parameter.

[2021-05-17 14:41] #1369 closed

[2021-05-19 01:10] bnfd opened #1372 "TypeError: Cannot read property 'toLowerCase' of undefined"
Hi,

I adapted the code from the example at https://codesandbox.io/s/mese9 and used my own index. When I type the letter 'j' or 'l' on the searchbox, I get 0 results displayed and `` "TypeError: Cannot read property 'toLowerCase' of undefined '' on the console.
If I type "jop" I am getting 1 result (as expected). If I type "j" or "jo" I get 0 results displayed.

When I type "j" on the default web

[2021-05-19 13:27] sanders41 commented on #1372
I just ran a test with modifying this code and everything seemed to work OK, even with searching "j". Can you post an example of any code you changed?

[2021-05-19 16:32] bnfd commented on #1372
I just removed some of the widgets and edited the css a bit. I tried on the example (mese9) and it works fine.
After investigating I think I found the problem. Some fields have an empty description field (content is "") and that is probably why it emits the error.
Why does it work with the default web interface though? Is there a way to work around this or should I edit the json to replace "" with

[2021-05-19 21:10] sanders41 commented on #1372
I couldn't reproduce the exact error, but I came close with this json:

[code]
With this I get `TypeError: newValue[0] is undefined`.

@curquiza and @bidoubiwa I also tested this in the python client and didn't get any errors so as far as I can tell the error is specific instant-meilisearch.

[2021-05-19 22:05] bnfd commented on #1372
Thanks for checking!
I'm using:
[code]

[2021-05-20 15:02] bmpf commented on #1079
Same error : [2021-05-20T14:57:32Z ERROR meilisearch_http::helpers::meilisearch] value: "à"; index: 1, match: MatchPosition { start: 1, length: 1 }

[2021-05-20 16:11] ghost opened #1376 "Is there a way to put new document entries to show on top of search results?"
Everytime I add a document. in the website it always loads the oldest one I added. I'm making a search engine for posts on certain sites. and the oldest one becomes irrelevant very fast. how can I put new documents on top of the database to load new stuff first?

I've read the documents about relevancy and I didn't get any of it, but I think making old documents show up first wouldn't be great for

[2021-05-21 00:13] sanders41 commented on #1372
I just noticed this same issue was reported here https://github.com/meilisearch/instant-meilisearch/issues/371. Looks to be the same cause.

[2021-05-21 15:11] Tadaz commented on #1146
Just wanted to point out that the values of objects are not being highlighted as well.

While searching for query **_ball_** I get these results:

![Screenshot 2021-05-21 at 4 07 02 pm](https://user-images.githubusercontent.com/10881931/119159385-11dfe280-ba4f-11eb-8e8e-7a1270f06963.png)

But the expected behaviour is this:

![Screenshot 2021-05-21 at 4 07 16 pm](https://user-images.githubusercont

[2021-05-21 19:12] bidoubiwa commented on #1372
Thanks a lot for raising this issue! Could you try with the latest version of instant-meilisearch?

I tried with a dataset with empty description, but I couldn't reproduce the error. Could you show me the widgets you are using? We are currently adding a lot of tests to instant-meilisearch and it could be very helpful to know what originates your bug.

[2021-05-21 19:44] bnfd commented on #1372
I tried with latest instant-meilisearch (0.4.2), I get the same error.
I'm using the following widgets: searchbox, configure, hits, pagination. I have commented out refinementList and clearRefinements from the codesandbox example.

Btw I tried replacing all the "" with "null" in a new index (as a temporary workaround) and I don't get the errors.

[2021-05-21 19:46] bidoubiwa commented on #1372
Hey @bnfd. I'm sorry I edited my message while you were writing your response. Here is the PR that will fix the issue: https://github.com/meilisearch/instant-meilisearch/pull/403. It I'll be released as soon as it is approved

[2021-05-21 19:49] bnfd commented on #1372
Great, thank you!

[2021-05-21 20:01] paligiannis commented on #730
do we have any news on issue?

[2021-05-22 07:05] NatBLida68 opened #1382 "Crash when indexing"
maybe this is not a issue with meili but if anyone know please assist
502 bad gateway on opening  melisearch in browser   so i cant perform search in my project
using DigitalOcean droplet
after restarting droplet it shows melisearch is running but if i perform a search or retrieve index  it works for a little time and goes to 502   also   $client->getAllIndexes(), $client->deleteAllIndexes()  is n

[2021-05-22 12:13] sanders41 commented on #1382
This may not be related, but I have had this issue before with MySQL when the droplet ran out of RAM and that crashed the database. The droplet was still running, but MySQL was not because it crashed. Is it possible that your droplet ran out of RAM and MeiliSearch crashed?

[2021-05-22 14:32] NatBLida68 commented on #1110
@cur

Since  V 0.21.0 is yet to release do we have a solution for this in 0.20.0 ?

[2021-05-22 15:38] irevoire commented on #1376
I guess an easy solution would be to add a field with the date of your document and then add the criterion `desc(date)` at the end of your [ranking rules](https://docs.meilisearch.com/reference/api/ranking_rules.html#update-ranking-rules)

[2021-05-22 16:41] gwynne0190 commented on #1376
There is a "generated attribute ranking order" available. it should be possible to do it without adding a field date. I'm dealing with information getting submitted into meilisearch every single minute. I can't update this by hand.

source; https://docs.meilisearch.com/learn/core_concepts/relevancy.html#attribute-ranking-order

This doesn't say what the attribute string name is. I'm trying to set

[2021-05-23 05:07] robsontenorio commented on #1290
Docker image for m1 arm64 is missing. Any plans to release it?

[2021-05-24 08:13] curquiza commented on #1146
We are working on fixing both of these highlight issues 🙂

[2021-05-24 08:20] curquiza commented on #1368
Hello, thanks for the report, we will see if it's possible to fix it in the next release.

[2021-05-24 12:05] gmourier commented on #730
Hello @paligiannis! This is an actively requested feature by our users, we will start working on it for releases coming after 0.21. I can't give an exact date but I will push this feature for our next iterations. We still need to define how far we want to go with the sortBy.

[2021-05-24 14:48] curquiza commented on #1376
The link you point out in the docs is not related to the custom ranking rules (asc/desc). It's linked to searchable attributes, and it is not necessary for what you ask for 🙂

`desc(generated_ranking_order)` indicates the documents with the highest `generated_ranking_order` will appear first.
`generated_ranking_order` needs to be an int.

[2021-05-24 14:57] robsontenorio commented on #1195
@MarinPostma  would be nice to release on docker hub a build for m1 arm64.

[2021-05-24 14:57] curquiza commented on #1110
Hello @NatBLida68! Sorry, I've just asked Kero for a work-around, but he does not have any either. Sorry!

[2021-05-24 15:25] paligiannis commented on #730
@gmourier thanks for the reply. I would be interested if I could help in research or anything, please let me know.

[2021-05-24 15:37] shashank-sachan opened #1383 "Running MeiliSearch on cluster"
Hi,

Is it possible to run MeiliSearch in cluster. Eg. If I have 2 separate server where I'm running the MeiliSearch lib and both are pointing to same data volume.

[2021-05-24 16:35] MarinPostma commented on #1195
@robjtede I agree, we first need to find a reliable way to build the artifacts on the CI for the M1, which I am not exactly sure how to do. We don't have much time to focus on that, so some guidance on how to do will definitely help us do that faster.

My main question is if it is possible to cross-compile meilisearch from the M1 from a x86 mac, it this is possible, we may be able tot do it direct

[2021-05-24 17:02] curquiza commented on #1290
No precise ETA but we will work on it 🙂

[2021-05-24 17:15] MarinPostma commented on #1383
Hello @shashank-sachan,  this is not something that has been done before, and it is probably not a good idea to open the same meilisearch DB with two processes. Maybe it will work, maybe it will not, maybe you will encounter weird race conditions when writing... We can't really help you on this one unfortunately. We will soon start working on high availability, this will maybe fit your usecase onc

[2021-05-24 18:36] MarinPostma commented on #1195
@robjtede sorry wrong rob 😅

[2021-05-24 19:09] gmourier commented on #730
Thanks @paligiannis!

[2021-05-24 20:53] nikeee commented on #919
What is the current recommended way for having number or boolean facets? The numbers must not be range-selectable. They are just a "flag" / plain enum value (ranges don't make any sense for them in my case).

[2021-05-25 04:43] shashank-sachan commented on #1383
Thanks @MarinPostma. Is there any load test report or benchmark where we can see how many request can single node handle for given memory and cpu ?

Also just a thought, if we write into ms db from single server but read it from multiple server will that help in scaling? I'm not sure if anyone explorered it.

[2021-05-25 11:44] html5maker opened #1389 "v0.21 release date"
There are a lot of issues that are related to performance issues and in all the comments it's mentioned that everything will be fixed in v0.21.
Is there an approximate date when it will be released?

[2021-05-25 11:56] curquiza commented on #1389
Hello @html5maker, thanks for your interest 🙂
This is already answered here: https://github.com/meilisearch/MeiliSearch/discussions/1360

I'm closing this issue.

[2021-05-25 11:56] #1389 closed

[2021-05-25 23:41] robsontenorio commented on #1283
@curquiza is there any build available for 0.21.0 ? Or are you focusing exclusively in 0.20.0 development ?

[2021-05-26 07:40] curquiza commented on #1283
@robsontenorio we are focusing on the v0.21.0 implementation. For the moment the crop and the highlight are not finished so I cannot share any v0.21.0 binary that fixes this issue at the moment.

[2021-05-27 12:56] curquiza commented on #1365
I close this issue since it's clearly related to the SDKs and not to MeiliSearch 🙂
We cannot ensure our SDKs are thread-safe at the moment.
Thanks for the report!

[2021-05-28 13:57] mzperix commented on #1288
Excuse me @curquiza, just to clarify: the "words" ranking rule which will result in showing results with _not_ all words matching will be released in 0.21.0? That would be great, I have been long waiting for not strictly matching on all words.

[2021-05-29 08:51] curquiza commented on #1288
@mzperix yes :)

[2021-05-31 15:50] mevangelinakis opened #1393 "Create related indexes"
Hi,

Is there a way to create multiple indexes using another index as the documents source?

For example, I have an index `products` which I fill with a set of documents from my database and has the default ranking rules.

I want to give users some sorting options, so I have to create some new indexes, lets say `products_asc_price` and `products_desc_price` setting a ranking rule `asc(price)` and

[2021-06-01 09:29] mirorac opened #1395 "Misplaced highlights when used together with values cropping"
**Describe the bug**
When using search parameters `attributesToHighlight` and `attributesToCrop`, the highlights are occasionally misplaced. Looks like the highlighted chunk of text is of right length but is shifted by several characters. This behavior does not occur in all search hits. Some matches are highlighted as expected and some are not. I was not able to find a pattern in the contents what

[2021-06-01 16:47] cabello commented on #843
I like this issue and suggested solutions, I am working on a feature that would have private search functionality, each index would have a few thousand documents and I was hoping to be able to restrict index search to only people that should have access to search that index.

Example:
* Live streaming event A has 3000 attendees, some people should be able to search that index.
* Live streaming eve

[2021-06-02 13:44] curquiza commented on #1393
Hello @mevangelinakis, thanks for your feedback!
What you ask for is not available right now with MeiliSearch.

I don't think this idea is in our current roadmap either. However, we have a public roadmap where our user can share their ideas and their needs. It would be awesome if you can add your idea so that other users will upvote it if they need it as well.
https://roadmap.meilisearch.com/tabs/

[2021-06-02 14:48] Tarpsvo commented on #880
Exactly the same issue here and exactly the same setup as @ssankko  - MeiliSearch running in Google Cloud. Just impossible to create a new index without the MeiliSearch process killing itself.

[2021-06-03 07:25] hsleewis opened #1396 "Clear update queue?"
Hi,

Is there a way to clear the update queue and start over? I currently have over 22M queued updates and I can't find a way to clear the queue.

Thanks!

[2021-06-03 10:19] curquiza commented on #1396
Hello, thanks for your feedback! There is no way currently to stop the updates at the moment. We are thinking about implementing this feature.

[2021-06-03 10:47] hsleewis commented on #1396
Thanks for your reply. The queue is stuck, restarting the service and server doesn't make a difference unfortunately, is the only solution reinstalling meilisearch?

[2021-06-03 13:49] curquiza commented on #1396
Do you push documents one by one? You should push document by batch, the add-or-replace-documents routes allow to push multiple documents at the same time and improve performance 🙂
However, I want to warn you, MeiliSearch is not designed to handle this huge amount of documents, depending on the RAM of your machine it might be complicated (or really long) to add your whole dataset.
The core team is

[2021-06-03 13:58] hsleewis commented on #1396
Thanks for the replies!

I currently push in batches of 5000 documents, the documents are relatively small, they contain an ID, SKU and a Title

That sounds awesome, can you please update this issue when there is an update for that?

I redeployed the Meili server and started over, trying to just implement it for the customers that where having issues to keep the amount of documents small. If that

[2021-06-03 14:42] curquiza commented on #1396
Hum, since there are more than 100 issues I might forget to keep this one up to date. Please follow the release of this repository, we will release a RC version by the end of June 🙂

Thanks for testing MeiliSearch and giving your feedback!

[2021-06-03 14:59] hsleewis commented on #1396
Thanks! I'll close it!

[2021-06-03 14:59] #1396 closed

[2021-06-04 02:21] ghodouss commented on #764
Hi @MarinPostma . I'd like to propose a lightweight solution to this.

The current nbHits is effectively unusable when using a filter and batching (my use case is a price filter on items). One lightweight solution to improve the approximation without sacrificing speed could be defining nbHits as the following

`nbHits = LIMIT + ( LIMIT/ (LIMIT + n_products_filtered) )*current_nbHits `
    where LI

[2021-06-04 09:11] ppamorim commented on #730
Any news on this matter? We have been looking in ways to order our data using multiple integer fields.

[2021-06-04 13:55] curquiza commented on #730
Hello @ppamorim, @gmourier answered about this less than 2 weeks ago in this issue 😉 https://github.com/meilisearch/MeiliSearch/issues/730#issuecomment-846997793
It's complicated for us to give an exact release date, but be sure it's in our roadmap.

[2021-06-04 14:47] montaniasystemab commented on #1196
We're also experiencing this with both native and docker version of meilisearch, after creating four indexes with a couple of hundred to thousands of documents each everything just stops, the example code from the readme file will also be stuck forever:

[code]

But will happily tell you that the service is fine:

[code]

I will try to add a delay between each document and index and see if that ma

[2021-06-10 10:21] Tarpsvo opened #1402 "0.21-alpha4 crashes in Google Cloud Kubernetes during import"
**Describe the bug**
I have 14 indexes with entry count ranging from ~100 to ~30 000 items. The issue is that I can't import data using Laravel Scout into the largest indexes (with ~30k items). The Meilisearch crashes only a few requests into the process. The first 10 items are imported and then it crashes without any errors.

I had similar issues with version 0.20. In 0.20, it crashed even when c

[2021-06-10 22:45] VinceG opened #1404 "Prioritize certain operations over others"
**Is your feature request related to a problem? Please describe.**
While indexing 10K records we delete a document, that delete operation will now be in queue until all the 10K records are indexed. we should probably be able to specify the priority of these operations or at least allow to perform certain operations immediately instead of queueing them up.

**Describe the solution you'd like**
Allo

[2021-06-11 03:22] diazsasak opened #1405 "How to disable telemetry on meilisearch digitalocean snapshot?"
i install meilisearch using this method. how can i disable the anonymous telemetry? thanks

https://docs.meilisearch.com/create/how_to/digitalocean_droplet.html#_8-your-meilisearch-is-running-in-development-environment

[2021-06-11 06:56] #833 closed

[2021-06-11 08:10] NatBLida68 commented on #1339
@curquiza  can you tell me when is v0.21.0 is going to be released ?   because 0.20   is making so much trouble in my production server  with cpu and mem usage spiking to 100% resulting a 502   our team even updated ram and disk in droplet but still it is  not functioning as expected

[2021-06-11 10:01] curquiza commented on #1339
Hello @NatBLida68!
Is your pb related to this dashboard issue?

Be sure we are doing our best to release the v0.21 as soon as possible. We hope releasing the first RC of the v0.21 by the end of June.
But we don't recommend using RC versions in production.

If you have issue with the current MeiliSearch it would be helpful you share with us your dataset, your configuration, your step and your machi

[2021-06-11 10:44] curquiza commented on #1404
Hello @VinceG! Thanks for your report!
I don't think this is in our current roadmap. However, we have a public roadmap where our user can share their ideas and their needs. It would be awesome if you can add your idea so that other users will upvote it if they need it as well.
https://roadmap.meilisearch.com/tabs/5-ideas

[2021-06-11 10:59] curquiza commented on #1405
Hello @diazsasak,

In your DO machine:
- modify the `/etc/systemd/system/meilisearch.service` by adding `--no analytics` at the end of the command in `ExecStart`.
- relaunch the meilisearch service: `systemctl restart meilisearch`

[2021-06-11 15:43] VinceG commented on #1404
@curquiza Thank You! Submitted.

[2021-06-12 00:38] bayareawebpro commented on #1110
I experienced something similar.   When updating the index settings, the process consumes all available memory and the process is killed by the system.   It appears the engine will keep doing this over and over stuck in a loop.  The only solution I found is to destroy the index and rebuild it starting from scratch.

[2021-06-13 06:21] NatBLida68 commented on #1341
![IMG-20210613-WA0016](https://user-images.githubusercontent.com/55424433/121797358-4bb29c00-cc3d-11eb-974a-faba8d1c46a0.jpg)
We have tried setting auto reboot  but this is bad in past 24 hr  can't even count the reboots
![IMG_20210613_114401](https://user-images.githubusercontent.com/55424433/121797419-b7950480-cc3d-11eb-80f5-d02ec56896e9.jpg)

[2021-06-13 08:26] diazsasak commented on #1405
Hello @curquiza.

thanks i follow your instruction and in case when restart service got error, we need to reload unit file.

Warning: The unit file, source configuration file or drop-ins of meilisearch.service changed on disk. Run 'systemctl daemon-reload' to reload units.

then restart again. sorry why i ask in github issue because i can't found this on the documentation related to how to configu

[2021-06-14 07:37] curquiza commented on #1341
Hello, can you people share with us:
- the dataset size and an example of one typic document?
- the machine memory size?
- when the error starts to occur (when adding documents, pushing settings...)?

Thanks in advance for your help 😊

[2021-06-14 07:43] curquiza commented on #1110
Thanks for sharing your metrics and the error report @bayareawebpro!
For 1.6M of documents, I recommend using a bigger machine, like 16Gb memory or bigger depending on the size of each document.

[2021-06-14 08:01] NatBLida68 commented on #1341
Sorry idk this will help you or not
In my case
I have a single index which is my db name.
26models  in which used tosearchable array  to 7 common columns  ( saving only the common 7 column from each model in meili database ) .
Each table has not greater than 50000 data   some of them are less than 5000.
 using droplet in digital  2gb 50gb 2Tb ($10).
Sadly I  have no idea why it is failing  because

[2021-06-14 11:13] curquiza commented on #1341
26 * 50 000 = 1.3M is not a small dataset for MeiliSearch. 2Gb of RAM is not enough. You should take a DO droplet with more RAM (8GB I think)
Plus, it depends on the size of your documents: you can have only 7 columns but 500 words in each column of each document. So, depending on that you should more increase the RAM of your machine.

[2021-06-14 21:13] bayareawebpro commented on #1110
@curquiza  Thanks for the tip, will do!

[2021-06-16 20:25] curquiza commented on #1405
You might check the logs of the service:
[code]

You should see

[code]

[2021-06-16 20:25] curquiza commented on #1405
I move this issue to the meilisearch-DO repository

[2021-06-17 16:00] fr3fou commented on #1195
Any news on the ARM docker image?

[2021-06-17 16:45] fr3fou commented on #1369
![image](https://user-images.githubusercontent.com/1344906/122439634-7e91c280-cfa4-11eb-994f-f5c25707ffb5.png)

I seem to be getting a similar error with the provided JSON example

[2021-06-17 16:54] CaroFG commented on #1369
Hi @fr3fou your documents should be inside an array, even if it's just one like in [this example](https://docs.meilisearch.com/reference/api/documents.html#example-3) of the documentation

[2021-06-17 17:10] fr3fou commented on #1369
Thanks! I recommend updating the getting started docs in order not to confuse other people ^^
![image](https://user-images.githubusercontent.com/1344906/122443180-fdd4c580-cfa7-11eb-92e6-e7f9cc28417a.png)
(https://docs.meilisearch.com/learn/getting_started/quick_start.html#add-documents)

[2021-06-18 09:59] berkes opened #1409 "How to deal with potentially dangerous or broken HTML, some options:"
My content contains potentially dangerous HTML and often broken HTML: I don't control the source.
On output this breaks the page and might cause XSS-injections.

**Describe the solution you'd like**
Either one, or more, of the following:

* Documented best practices WRT indexing HTML.
* Documented best practices WRT rendering indexed (potentially broken or dirty) HTML. Highlighting included.
* Hav

[2021-06-19 22:30] kappa-wingman opened #1410 "The ARM binary does not run on RHEL based ARM platform"
~/meilisearch-linux-armv8
<jemalloc>: Unsupported system page size
<jemalloc>: Unsupported system page size
memory allocation of 4 bytes failed
Aborted (core dumped)

For ARM platform, the page size for Ubuntu is 4KB.
The page szie for RHEL based Linux is 64KB.

Related info:
https://github.com/jemalloc/jemalloc/issues/467
https://github.com/fluent-plugins-nursery/td-agent-builder/issues/176

[2021-06-19 23:51] kappa-wingman opened #1411 "Meilisearch on ARM platform consume 1GB ram by default"
Version 0.20.0
Since I can't run the provided binary on RHEL 8 based on ARM aarch64 platform. I compile it.
It could run but it consumed 1GB ram while it has very few data.
Previously I run the same data on x86 platform and the memory usage is low.

[code]

[2021-06-19 23:51] kappa-wingman commented on #1410
I compile it from source and I could run it but found another problem. Track it on #1411.

[2021-06-19 23:53] kappa-wingman commented on #1411
pmap on it and found this
[code]

[2021-06-20 17:05] curquiza commented on #1369
I've opened https://github.com/meilisearch/documentation/pull/1000

[2021-06-20 17:06] curquiza commented on #1195
Hello @fr3fou, not a priority for the moment, sorry, we are working on other more emergency tasks 🙂

[2021-06-20 17:08] curquiza commented on #1411
Hello @kappa-wingman!
thanks for your report, can you test the same with this repo: https://github.com/meilisearch/transplant/
This repo is what we are going to release in the v0.21.0, it would help if you tell us if this issue is still present here,

[2021-06-20 21:21] kappa-wingman commented on #1411
I am running the v0.21.0 alpha, the memory usage goes down to about 580MB.

[code]

I think it still use a bit too much ram, the total data of meilisearch on the disk is about 34MB
[code]

[2021-06-21 12:13] curquiza commented on #1411
I should ask first, but what is few data for you?

[2021-06-21 12:28] kappa-wingman commented on #1411
The Meilisearch indexed a small web site. After that, Meilisearch only used about 34MB on disk, as you can see in my last message. That is not a lot of data.

I had compared with the memory usage of Meiliserach on a X86_64 platform with the same data, the memory usage is about 62MB.

[2021-06-21 15:16] gmourier commented on #1409
Hello Berkes! 👋

Thanks for the great explanation, this is a great analysis and the pros and cons are well explained.

Indeed, it is a difficult choice to make if MeiliSearch handles sanitization. However, there are a few things that strike me.

In my opinion, the client code should do its own sanitization before sending data or before displaying data.

This is a complex subject, as MeiliSearch is

[2021-06-21 16:28] berkes commented on #1409
Certainly!

I'm building a bot that indexes job postings and job-candidates from the so-called Fediverse (mastodon and the likes). Source here: https://github.com/Flockingbird/hunter2/

The HTML that this bot receives can be dirty, broken, or full of XSS. So we really need to sanitize it somewhere along the path.
This issue here was mostly to find out if my ideas match with those of MeiliSearch.

[2021-06-22 07:57] gmourier commented on #1409
Thank you @berkes for explaining your use case in detail! Really appreciated.

Indeed, it would be necessary to do this at the bot level or at the client side. Concerning the antipattern, the best is to do it on the bot side because it will not directly impact the users doing the searches since the data will already be clean and ready to be displayed.

It is possible that one day we will also deci

[2021-06-22 15:52] ALittleMoreDevTeam opened #1412 "Meilisearch timing out and crashing on GVC"
Hey,

I am currently using an instance of the search on Google Virtual Computer.

I have not had any issues before, but since deleting one index, I now cannot use the search at all, even simply uploading one row of data crashes the engine

this is my delete request
        private static async void DeleteIndexes()
        {
            using (var httpClient = new HttpClient())
            {

[2021-06-22 18:33] fr3fou opened #1413 "Stats for most searched queries."
It would be really useful to be able to get stats for the most searched queries on a given index. It could be used for very important insights on users' behaivour. Any plans on adding such feature?

[2021-06-22 20:07] michcioperz commented on #1273
The invitation to the Pest Discord in the issue about the Pest working group has expired, so I can't see if there have been any updates on the Pest situation.

But I just realized this could be worked around a bit differently https://github.com/michcioperz/MeiliSearch/commit/68e4a52e2ffe3a01c2628f41c9ef04c8c31fcd9e Instead of only changing the version of `pest` used by `meilisearch-core`, I'm over

[2021-06-23 07:56] michcioperz commented on #1273
Adding this patch to the build expression from Nixpkgs and bumping the version to v0.20.0 gives me a working build of meilisearch at the cost of having no less than 4 GBs (probably more) of intermediate build files in /tmp (so technically earlier I ran out of tmpfs space, not actual disk).

@Br1ght0ne It appears that you are the maintainer of the Nix package of Meilisearch. Do you think it would b

[2021-06-23 09:25] happysalada commented on #1273
I was checking the commit referenced on the pest dependency, it's from september 2020.
https://github.com/pest-parser/pest/commits/51fd1d49f1041f7839975664ef71fe15c7dcaf67

Perhaps the dependency can just be updated to the latest version (2.1.3 which is from March 2021).

Do you think the update could be made as a PR to this repo?
Rather than having a patch in nixpkgs that someone will have to rem

[2021-06-23 09:33] MarinPostma commented on #1273
@michcioperz @happysalada, this is still on my TODO. I have joined the pest group, but hadn't much time to work on it since then. We need to make a new pest release, but there are still some issue we want to merge before we are able to do it. Sorry for it taking so long :(

[2021-06-23 09:35] michcioperz commented on #1273
@happysalada  I don't know if it is a good practice to use the patching functionality in Cargo to replace packages like this, but perhaps this isn't something that can be quickly mitigated with good practices either. So maybe it would actually be viable to merge my patch to Meili for the time being?

I understand your concern about adding the patch to Nixpkgs.

Regarding 2.1.3, it's from March 202

[2021-06-23 09:43] happysalada commented on #1273
@michcioperz thanks for clarifying the date, I completely missed that.
I was checking latest version on nixpkgs and it's 0.9.0, perhaps we can bump to an intermediate version between 0.9.0 and 0.20.0 ?

@MarinPostma no worries at all. Thank you in the first place for making an amazing software! ;-)

[2021-06-23 09:58] michcioperz commented on #1273
@happysalada According to my understanding, MS has used a modified version of Pest starting in 0.10.0, as seen in commit https://github.com/meilisearch/MeiliSearch/commit/dcf1096ac383726ddbe0f8ff876753239e346035 and by my intuition, that version of Pest also causes the same problem.

If you need a more up-to-date version of MS on Nix, my recommendation for now would be to export my commit to a pat

[2021-06-23 10:02] michcioperz commented on #1273
Or an alternative would be to upstream my patch to MeiliSearch, to change the method of inserting the custom version of Pest. I think it should be functionally equivalent, and might even make the build process very slightly faster (because now the original pest 2.1.3 is also built as a dependency of pest_derive, and with my patch pest 2.1.3 is completely replaced by the custom pest)

[2021-06-23 11:45] gmourier commented on #1413
Hello @fr3fou!

Thanks for your feedback. It is currently not planned but it is something we have in mind for the future. We will soon publish a clearer roadmap that is being developed for the post v0.21 era. 😇

[2021-06-23 12:27] NatBLida68 commented on #1382
@sanders41  yes it was due to  RAM ,  still wondering why such a small data set  consumes   4GB RAM.
i can import all my data but cant perform a update,delete operation on single data that time it crashes hope it will be fix in upcoming updates.

[2021-06-23 12:44] curquiza commented on #1382
Hello @NatBLida68
- what is the size of your machine (RAM)?
- what is the size of your dataset?

[2021-06-23 12:55] happysalada commented on #1273
I was checking pest upstream as well and they were organising for a new release.
I'm a little busy at the moment, but will keep the patch option in mind.

[2021-06-23 13:22] NatBLida68 commented on #1382
Using DigitalOcean $20/month (4GB- 80GB-4TB) plan
Formally used  on single index 26 tables around 50k in 4-5 tables  and less than 10k in others .
Now using single index single table around  max 100k documents. 5 columns other than id   and not a single column exceeds 10 characters  most of them below 6 char.  Size of data set ? Idk much in technical since Im just using a droplet.   Correct me if

[2021-06-23 13:26] CaroFG commented on #1412
Hi! What version of MeiliSearch are you using? Were you still indexing the documents when you deleted the index?

[2021-06-23 13:29] curquiza commented on #1382
how many documents is it? How does a document look like? (number of fields and are there a lot of char in each field?)

Is it what you use now? Do you still have issues (crash?) with this?

[2021-06-23 13:30] sanders41 commented on #1382
`getIndex("demo")` looks like you are using meilisearch-js? If so it is `listIndexes()` to get all indexes.

[2021-06-23 13:31] curquiza commented on #1382
What do you mean by "is not working"? Can you send us the error message if you have one?

[2021-06-23 13:45] NatBLida68 commented on #1382
Yes I'm having same issue  sample data set will look like this
 `id
c1
base_id
1
row_no
CS210001
model_code
4
company_id
1
user_id
3
posting_date
19-04-2021`

[2021-06-23 13:46] NatBLida68 commented on #1382
No using meilisearch-php

[2021-06-23 13:50] NatBLida68 commented on #1382
![IMG-20210623-WA0017](https://user-images.githubusercontent.com/55424433/123108525-1f2a2b80-d458-11eb-90cd-997253757cae.jpg)

[2021-06-23 13:53] curquiza commented on #1382
It's weird, we succeeded to push and manipulate more than 500k documents in a 4GB RAM droplet. Weird you can't.

How are your documents? Are there a lot of words in each attribute?

Have you tried to have a bigger droplet with a bigger RAM to see if it fixes your issue?

[2021-06-23 13:59] NatBLida68 commented on #1382
Yes I was also able to index (import) more than .3 million on this index but  I was not able to perform  a search operation when I do it goes 100% spike and  502   then I tried on single table with 55- 90k data (don't know exact since it's production table )

[2021-06-23 14:01] NatBLida68 commented on #1382
Idk much about this but currently I'm just freezed this updates and waiting for v 0.21  and will start from scratch

[2021-06-23 14:03] sanders41 commented on #1382
I think the error happens [here](https://github.com/meilisearch/MeiliSearch/blob/94c0858c276743e8b2f4c8c97880070a198341bf/meilisearch-http/src/routes/index.rs#L52-L54). @curquiza I think this means there is an issue with the index itself? I'm not sure of a way to get more information on the error.

[2021-06-23 14:15] curquiza commented on #1382
This an unexpected error, will see if the v0.21 fixes this. I let the issue opened then

[2021-06-23 14:57] berkes commented on #1409
I've added it to the ideas board. I was not aware of that board, sorry.

I you prefer, I can close this issue, but if you want to close it, by all means: feel free.

[2021-06-23 15:32] molfar opened #1414 "Sort facetsDistribution"
How can I sort facetsDistribution object and facets array? Expected it to be sorted by descending count values. But I get random order every request. I tested with meilisearch-rails gem.

[2021-06-23 16:25] curquiza commented on #1414
Hello @molfar!
You cannot do it from the core-engine settings at the moment: you have to do it on your side.

[2021-06-23 16:26] #1414 closed

[2021-06-23 17:58] gmourier commented on #1409
Thanks @berkes, I'm closing this issue!

[2021-06-23 17:58] #1409 closed

[2021-06-24 12:42] curquiza commented on #1411
Hello, we know about this big RAM consumption, we are doing our best, and of course, we are improving it in a near future.

[2021-06-24 12:44] curquiza commented on #1410
Hello @kappa-wingman!! 🙂
Make the binary work for RHEL is not planned at the moment. You will need to compile from the source.

However we have a public roadmap where our users can share their ideas and their needs. It would be awesome if you can add your need so that other users will upvote it if they need it as well.
https://roadmap.meilisearch.com/tabs/5-ideas

I close this issue!

[2021-06-24 14:15] ALittleMoreDevTeam commented on #1412
hey :) latest version.

I'm deleting an entire index

then requesting documents from another

that process seemed to kill meilisearch to the point where any search request or interaction at all results in a 502

[2021-06-25 09:44] ALittleMoreDevTeam commented on #1412
I have now tried the process again and i can confirm it is the deletion of the indexes that crashes the entire system

i have deleted an index because it was not updating, and now the entire Meilisearch is down

[2021-06-25 09:44] ALittleMoreDevTeam commented on #1412
hey :) latest version.

I'm deleting an entire index

then requesting documents from another

that process seemed to kill meilisearch to the point where any search request or interaction at all results in a 504

I have now tried the process again and i can confirm it is the deletion of the indexes that crashes the entire system

i have deleted an index because it was not updating, and now the enti

[2021-06-26 04:42] arjunkapoor19 opened #1418 "How to use with windows?"
I want to integrate meili in my website, but I am on a windows machine, what do I do?

[2021-06-26 09:13] Kerollmops commented on #1418
Hey,

We have a windows binary in [our latest release](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.20.0) that you can easily run.

Note that you will surely need to change the maximum disk space that the database use, you can read about the max MDB and max UDB size parameters [on the documentation](https://docs.meilisearch.com/reference/features/configuration.html#max-mdb-size).

[2021-06-27 18:22] curquiza commented on #1079
Still needs examples to be able to reproduce it.

[2021-06-27 18:43] curquiza commented on #1395
Hello @mirorac!

I'm trying to reproduce your bug, can you send us the whole document please? 🙂 I cannot perfectly reproduce it without it. It would be really helpful

[2021-06-27 19:49] curquiza commented on #1334
For people following this issue:
- the new version of MeiliSearch (v0.21.0) will display a better message to inform the user about telemetry and how to disable it, which was not present in previous versions.
- here is the detail of our telemetry policy: https://github.com/meilisearch/specifications/blob/main/text/0034-telemetry-policies.md

[2021-06-28 02:59] dusukang-cjj opened #1420 "This is slow to insert news data with text content"
Hello, my scene is based on the search of news articles. I deployed meilisearch on the node of a single machine. Then let it batch import 1 million news data with body content, and the batch quantity of each import is 1000. It took about 24 hours to successfully insert more than 200000 data, about 10000 data per hour. Later, the batch import data volume was changed to 100, and the insertion speed

[2021-06-28 11:12] curquiza commented on #1420
Hello @dusukang-cjj!

Thanks for sharing your feedback!

Each document does not look really big, you should push more than 1000 documents per batch. Indeed, MeiliSearch default payload size limit is 100Mb which is really large! You can index thousands and thousands of documents with one HTTP call. Plus, you can increase this payload size. https://docs.meilisearch.com/reference/features/configurati

[2021-06-28 14:48] curquiza commented on #1257
I did not succeed to reproduce it using the `main` branch of https://github.com/meilisearch/transplant/

[2021-06-28 14:52] curquiza opened #1430 "ReadTimeOut error"
When trying to push the demo-rubygems dataset following the [README of the repo](https://github.com/meilisearch/demo-finding-rubygems), I get

[code]

But not in v0.20.0

[2021-06-30 16:15] MarinPostma opened #1431 "Limit the Limit"
There are actually no limitation on the `limit` param for the search. It is a vulnerability that needs to be addressed, since it can be used to perform DOS attack, and scrap the entirety of the database in one call. I propose to limit the limit to 1000 documents per query.

[2021-06-30 16:15] irevoire opened #1432 "Limitations of dumps"
<s>Currently, the status of the dumps are not stored anywhere.
This means we can only access the status of the last/current dump:
- All files in the dumps folder with the `.dump` extension will be considered as a successful dump (`done` status) when calling the `GET /dumps/uid/status`. Even if the file is not valid.
- MeiliSearch only saves the status of the last dump in RAM. It means if you re-cr

[2021-06-30 16:15] MarinPostma opened #1433 "Handling of unrecoverable errors in updates"
There are some errors that are unrecoverable and need to be handled in specific ways.

More specifically, this issue deals with unrecoverable error during updates processing.

Most errors happening during the update process are handled by returning by marking the update as failed, and proceeding to the next update. Those error are considered recoverable, because they don't prevent MeiliSearch to c

[2021-06-30 16:18] MarinPostma opened #1436 "Rename indexes"
As per https://github.com/meilisearch/MeiliSearch/issues/1080 and the public roadmap, renaming indexes is a feature we want to support. This can be done thanks to the index update route without any changes to the API.

There are a certain number of constraints that must be resolved in order to perform the rename.

The renames must be serializable with the updates to the same indexes. Say I have an

[2021-06-30 16:33] curquiza commented on #1368
@JacobLey, it's impossible for the search engine to highlight correctly emojis. The search engine de-unicodes the string and cannot work with emoji in the string when applying the highlight.
The next version will just not highlight any emoji then. Sorry for the inconvenience.

@CaroFG and @meilisearch/docs-team, it might interest you.

[2021-06-30 17:15] curquiza commented on #919
Fixed by https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:15] #919 closed

[2021-06-30 17:16] curquiza commented on #1072
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:16] #1072 closed

[2021-06-30 17:16] curquiza commented on #1071
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:16] #1071 closed

[2021-06-30 17:16] curquiza commented on #1102
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:16] #1102 closed

[2021-06-30 17:16] curquiza commented on #1339
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:16] #1339 closed

[2021-06-30 17:16] curquiza commented on #1261
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:16] #1261 closed

[2021-06-30 17:16] curquiza commented on #1240
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:16] #1240 closed

[2021-06-30 17:16] curquiza commented on #1225
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:17] #1225 closed

[2021-06-30 17:17] curquiza commented on #999
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:17] #999 closed

[2021-06-30 17:17] curquiza commented on #1288
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:17] #1288 closed

[2021-06-30 17:17] curquiza commented on #1177
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:17] #1177 closed

[2021-06-30 17:17] curquiza commented on #1257
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:17] #1257 closed

[2021-06-30 17:17] curquiza commented on #1138
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:17] #1138 closed

[2021-06-30 17:18] curquiza commented on #1021
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:18] #1021 closed

[2021-06-30 17:18] curquiza commented on #1317
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:18] #1317 closed

[2021-06-30 17:18] curquiza commented on #712
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:18] curquiza commented on #837
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:18] #837 closed

[2021-06-30 17:18] #712 closed

[2021-06-30 17:18] curquiza commented on #1242
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

There is no limit anymore

[2021-06-30 17:18] #1242 closed

[2021-06-30 17:19] curquiza commented on #1334
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:19] #1334 closed

[2021-06-30 17:19] curquiza commented on #1334
Here is the PR in the docs giving all the detailed information about our telemetry: https://github.com/meilisearch/documentation/pull/1020

[2021-06-30 17:20] curquiza commented on #1359
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:20] #1359 closed

[2021-06-30 17:20] curquiza commented on #1146
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:20] #1146 closed

[2021-06-30 17:26] curquiza commented on #876
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:26] #876 closed

[2021-06-30 17:31] curquiza commented on #1418
Closing this issue then :) Feel free to re-open if you have any question

[2021-06-30 17:31] #1418 closed

[2021-06-30 17:39] curquiza commented on #897
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 17:39] #897 closed

[2021-06-30 17:39] #1430 closed

[2021-06-30 17:41] curquiza commented on #1079
@aysark, can you send your dataset or at least the document that makes the search engine fails?
We need to be able to reproduce your step to fix the issue

[2021-06-30 17:57] curquiza opened #1441 "Should highlight only the query word in the document"
Bug introduced by https://github.com/meilisearch/MeiliSearch/pull/1438

## Steps

- Add this document:
[code]

- Do this query:
[code]

-> only `attendr` should be highlighted an not `attendrir`

⚠️ Add tests

[2021-06-30 18:04] curquiza commented on #925
Fixed by the integration of the new search engine in https://github.com/meilisearch/MeiliSearch/pull/1421

The maximum number of words per query is 10

[2021-06-30 18:05] curquiza commented on #871
Closed by https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-06-30 18:05] #871 closed

[2021-06-30 18:06] curquiza commented on #814
Replaced by #1440

[2021-06-30 18:06] #814 closed

[2021-06-30 19:06] #1283 closed

[2021-06-30 19:06] #1335 closed

[2021-06-30 19:55] aysark commented on #1079
Sorry no longer relevant to us as we moved off meili due to perf issues, i don't have the data anymore.

[2021-06-30 20:05] curquiza commented on #1079
Thanks for your answer! Closing this issue then!

[2021-06-30 20:05] #1079 closed

[2021-06-30 20:06] curquiza opened #1442 "Update release drafter"
The current release drafter is not adapted to this repo and our way of releasing.
This issue is to update it, or if we cannot find any way to adapt it, remove the related files.

[2021-06-30 21:19] curquiza commented on #1382
Hello @NatBLida68, and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

We will still improve this after the release of the v0.21.0. We would rather release a non-completely optimized version ra

[2021-06-30 21:22] curquiza commented on #1256
Hello @setop, @tmikaeld, @aaqibjavith  and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

You can test this new release by downloading the binaries available in this release.
Or you can use it

[2021-06-30 21:22] curquiza commented on #1226
Hello @shyim and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

You can test this new release by downloading the binaries available in this release.
Or you can use it with docker:

[code]

We

[2021-06-30 21:25] curquiza commented on #880
Hello @Tarpsvo, @ssankko, @roelvanmeer, @JayDijkstra, @Bajix and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

You can test this new release by downloading the binaries available in this rele

[2021-06-30 21:26] curquiza commented on #1110
Hello @bhavyalatha26, @bayareawebpro, @Numline1, @vinhnguyen1211, @nubpro and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

You can test this new release by downloading the binaries available

[2021-06-30 21:28] curquiza commented on #1098
Hello @aysark, @itjustwerks, @minyangu-bgl and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

You can test this new release by downloading the binaries available in this release.
Or you can us

[2021-06-30 21:29] curquiza commented on #1295
Hello @cheluskin, @harnit-bakshi, @georgezhangjiacheng and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

You can test this new release by downloading the binaries available in this release.
O

[2021-06-30 21:30] curquiza commented on #900
Hello @MCOfficer, @gnur and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

You can test this new release by downloading the binaries available in this release.
Or you can use it with docker:

[2021-06-30 21:31] curquiza commented on #1202
Hello @raszi, and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

You can test this new release by downloading the binaries available in this release.
Or you can use it with docker:

[code]

We

[2021-06-30 21:32] curquiza commented on #1412
Hello @ALittleMoreDevTeam, and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

You can test this new release by downloading the binaries available in this release.
Or you can use it with docker

[2021-06-30 21:35] curquiza commented on #1320
https://github.com/meilisearch/MeiliSearch/runs/2955826451?check_suite_focus=true

[2021-06-30 21:37] curquiza opened #1443 "Add tests for Windows in CI"
Our current CI that runs on each PR only runs tests for macos and ubuntu. We should run test on windows-latest
https://github.com/meilisearch/MeiliSearch/blob/main/.github/workflows/rust.yml

[2021-07-01 08:42] curquiza opened #1446 "Optimize the CI"
To reduce the time to merge PRs

[2021-07-01 08:47] curquiza opened #1447 "Add documentation of the code-base"
We need documentation to easily handle the code base when doing your first PRs

[2021-07-01 10:08] irevoire commented on #1356
Hello @Boscop, we [released a new version](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc0) of the search engine yesterday and we finally forked and updated LMDB.
We are now able to run our tests on windows :tada:
If you are still following the project and try this new release please let us know if you encountered any issues.

[2021-07-01 11:23] curquiza commented on #1324
Hello @Song0013! Sorry for the misunderstanding, but it seems, after a better investigation that these result is completely expected, see the answer of one of our core-engine developer -> https://github.com/meilisearch/milli/issues/265#issuecomment-872050832

Sorry again for the mistake! I'm closing this issue then.

[2021-07-01 11:23] #1324 closed

[2021-07-01 11:27] curquiza opened #1450 "Add indexation tests"
This should be done on Milli's side

Related to https://github.com/meilisearch/milli/issues/197

[2021-07-01 11:28] curquiza opened #1451 "Update limit of fields"
Related to https://github.com/meilisearch/milli/issues/248

This should be done on Milli's side. Once the Milli's release containing this change is out, the MeiliSearch dependency should be updated.

[2021-07-01 11:30] curquiza opened #1452 "`facetsDistributions` should return the original value"
Related to https://github.com/meilisearch/milli/issues/260

This should be done on Milli's side. Once the Milli's release containing this change is out, the MeiliSearch dependency should be updated.

[2021-07-01 12:06] curquiza commented on #1356
I close this issue then, feel free to re-open the issue if there are any issues @Boscop! And thanks again for your report!

[2021-07-01 12:06] #1356 closed

[2021-07-01 12:08] gmourier opened #1453 "Panic error when i try to send documents to index"
**Describe the bug**
I've got a panic error when I try to index the movies dataset onto the RC v0.21 instance hosted on the MeilISearch cloud but it also happened with a 3-4 document set.

Weird since @eskombro seems to have managed to index documents.

I can give you access to my instance if it helps!

**To Reproduce**
1. Try to add the movies dataset

**Expected behavior**
I was expecting to get

[2021-07-01 12:10] curquiza opened #1454 "Stop the memory "leak""
Related to https://github.com/meilisearch/milli/issues/279

This should be done on Milli's side. Once the Milli's release containing this change is out, the MeiliSearch dependency should be updated.

[2021-07-01 12:11] curquiza commented on #1453
Can you send us the logs? Because I don't have the issue locally

[2021-07-01 12:13] curquiza opened #1455 "Error: Update store loop exited"
Version RC1

After 10min of non-activity, I get this error.

[code]

[2021-07-01 12:14] curquiza commented on #1455
Related to https://github.com/meilisearch/MeiliSearch/issues/1453

[2021-07-01 12:15] curquiza commented on #1453
We found out the bug, it's related to #1455

[2021-07-01 12:21] gmourier commented on #1453
Indeed it was blazing fast! 😄

[2021-07-01 12:25] dusukang-cjj commented on #1420
Thank you for your answer.

But what I want to express is that when I insert 400000 news data with body, it will be faster to batch insert documents into meilisearch, and the insertion request will be completed in a very short time. It's just that the asynchronous indexing of data will be a bit slow later. At the beginning, the index building speed was relatively fast, about 30000 in an hour. At p

[2021-07-01 12:49] curquiza commented on #1410
@MarinPostma or @irevoire, WDYT?

[2021-07-01 14:25] JacobLey commented on #1368
That sounds fair to me.

This issue wasn't at all breaking for me, it was just that the behavior felt non-deterministic. I would agree not highlighting an emoji (is "highlighting" even a thing emojis actually support?) is preferable to over-highlighting.

In my personal use case I don't really expect emojis to be used directly in search (although the result sets most definitely can contain them),

[2021-07-01 14:45] curquiza commented on #1443
Fixed by #1448

[2021-07-01 14:45] #1443 closed

[2021-07-01 14:49] curquiza commented on #1453
Fixed by #1456

[2021-07-01 14:49] #1453 closed

[2021-07-01 14:50] curquiza commented on #1455
Fixed #1456

[2021-07-01 14:50] #1455 closed

[2021-07-01 14:55] curquiza commented on #1368
Sorry for the confusion: we thought we were not able to fix this, but we were 🥲 It will be highlighted but the complete word, here `Go💼od` instead of just `Go💼`

Sorry again for the confusion! This fix will be present in v0.21.0!
@meilisearch/docs-team @CaroFG again!

[2021-07-01 16:04] curquiza commented on #1368
Fixed by #1457

[2021-07-01 16:26] gmourier opened #1458 "The query term is not fully highlighted when it contains a special character"
**Describe the bug**

The query term is not fully highlighted when it contains a special character on RC. 0.21

**To Reproduce**

Given this data set
[code]

When I search for `"q": "Prince"`, the term is fully highlighted as expected.

[code]

But when I search for `"q":"Petït"`, the last character of the term is not highlighted
[code]

**Expected behavior**

I expected `Le <em>Petït</em> Prince`

[2021-07-01 16:39] curquiza commented on #1458
Duplication of https://github.com/meilisearch/MeiliSearch/issues/1173 😇
Thanks for the report!

[2021-07-01 16:39] #1458 closed

[2021-07-01 16:44] curquiza commented on #1420
I'm not sure to understand all the steps you did. Can you send us the datasets?

[2021-07-01 16:52] gmourier commented on #1458
I'm sorry! I forgot to look at the issues linked to the milestone!

[2021-07-01 17:00] curquiza commented on #1458
Np! It brings more test examples to the core-team :)

[2021-07-01 17:04] kappa-wingman commented on #1410
Hello all

Since it use jemalloc-sys, it could use the environment variable "JEMALLOC_SYS_WITH_LG_PAGE=16" (https://docs.rs/crate/jemalloc-sys/0.3.2), which is similar to '--with-lg-page=16 for jemalloc).

I had forked the Meiliesearch and tried some GitHub Actions. The resulting binary could be run on AWS AMI 2 (4KB pagsize) and another ARM platform with RHEL (64KB pagesize). But I did not done a

[2021-07-01 17:09] kappa-wingman commented on #1410
BTW, as a side note, the GitHub actions took about two hours to build the ARMv8 binary.

[2021-07-01 17:19] kappa-wingman commented on #1411
I tested a complied 0.21rc0 version of Meilisearch on ARMv8 (RHEL based). The memory consumption reduced to normal now.
[code]

[2021-07-01 18:26] curquiza commented on #1411
Awesome!! I forgot to tell you the new rc0 was out! My bad!
Fixed by https://github.com/meilisearch/MeiliSearch/pull/1421 then! 🎉

[2021-07-01 18:26] #1411 closed

[2021-07-01 18:34] curquiza commented on #1196
Hello @montaniasystemab @volkv @fxi @sonic182 and everyone following the issue!

The RC of the v0.21.0 is out! https://github.com/meilisearch/MeiliSearch/releases

I tested it with your example @fxi (cf [your comment](https://github.com/meilisearch/MeiliSearch/issues/1196#issuecomment-824203846)) and I don't have the bug anymore!

Can you confirm it's the same for you?

[2021-07-01 18:55] curquiza commented on #851
Fixed by https://github.com/meilisearch/MeiliSearch/pull/1438

[2021-07-01 18:55] #851 closed

[2021-07-01 18:59] curquiza commented on #943
Fixed by the introduction of the new search engine https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-07-01 18:59] #943 closed

[2021-07-01 19:02] curquiza commented on #1341
Hello @Numline1 @NatBLida68 and everyone following the issue!

The [first RC of MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases) is out.
We did our best to fix indexation and crash issues. We succeeded to improve it, but not to totally fix them.

You can test this new release by downloading the binaries available in this release.
Or you can use it with docker:

[code]

We

[2021-07-01 19:04] curquiza commented on #1278
@gmourier this can interest you

[2021-07-01 19:05] curquiza commented on #1329
Closing due to the absence of an answer. Feel free to re-open

[2021-07-01 19:05] #1329 closed

[2021-07-01 19:08] curquiza commented on #1139
Logs are now available in production and have their own spec: https://github.com/meilisearch/specifications/blob/main/text/0033-logging.md
Fixed by the introduction of the new search engine then: https://github.com/meilisearch/MeiliSearch/pull/1421

[2021-07-01 19:08] #1139 closed

[2021-07-01 19:13] curquiza commented on #711
@eskombro I close your issue since dozen of issues like yours are already opened and I don't need to recommend using v0.21  😉

[2021-07-01 19:13] #711 closed

[2021-07-01 19:16] curquiza commented on #1284
Fixed by https://github.com/meilisearch/MeiliSearch/pull/1438. WIll be available in v0.21.0

[2021-07-01 19:16] #1284 closed

[2021-07-01 19:17] curquiza commented on #1333
@bidoubiwa can you check with the new RC? ❤️

[2021-07-01 19:18] curquiza commented on #1297
Closing this issue then

[2021-07-01 19:18] #1297 closed

[2021-07-01 19:18] curquiza commented on #1234
@gmourier, this one can interest you

[2021-07-02 07:51] fxi commented on #1196
Hello !

Thanks :)

It seems to work well using the docker image and the test script

[code]
![meilisearch_0 21 0rc1](https://user-images.githubusercontent.com/1196833/124240234-d7bc3300-db1a-11eb-91b3-fe6cc6a1b577.gif)

[2021-07-02 08:39] dusukang-cjj commented on #1420
How many datasets do you need? I poured out about 20000 news datasets in JSON format.
[meiliSearchData.json.zip](https://github.com/meilisearch/MeiliSearch/files/6753277/meiliSearchData.json.zip)

[2021-07-02 13:00] sonic182 commented on #1196
Gonna try it at Monday or next sprint in my job :)

Thanks!

El vie., 2 jul. 2021 9:51, F.Moser ***@***.***> escribió:

[2021-07-02 18:25] Kerollmops opened #1464 "Avoid possible slow down due to the file system"
The file system is often based on BTrees, BTrees of the filenames by folder. It would be a better idea to store the indexes in sub-folders based on the firsts letters of the indices' internal UUIDs.

 - [The crates.io index Github repository does that](https://github.com/rust-lang/crates.io-index).
 - [Brew also add an issue with git and they switched to an equivalent solution](https://www.reddit.

[2021-07-02 20:00] sanders41 opened #1465 "v0.21.0rc1 Fatal error while processing an update"
**Describe the bug**
I have been doing some testing with v0.21.0rc1 and have been getting an error about `Fatal error while processing an update` and then `Update store loop exited.` This seems to be related to sending multiple requests in succession, and seems to happen after deleting an index and then reusing it. This scenario is one I have been able to pin down, but I'm not sure if there are ot

[2021-07-02 20:54] lkhrs opened #1466 "Can't install via cURL due to tracking analytics being blocked"
**Describe the bug**
When installing meilisearch via cURL, installation hangs due to Amplitude tracking analytics being blocked at the DNS level.

[2021-07-02T20:41:27Z ERROR meilisearch::analytics] Unsuccessful call to Amplitude: https://api.amplitude.com/httpapi: Connection Failed: Connect error: Connection refused (os error 61)

**To Reproduce**
Steps to reproduce the behavior:
1. Block Amplitu

[2021-07-02 20:59] lkhrs commented on #1466
It appears Meili Search also makes a call to Amplitude when launched - not sure if this is one and the same. I installed it successfully via HomeBrew but got the same error when launched.

[2021-07-02 22:48] MarinPostma commented on #1465
Thanks for the report, this is the same issue @bidoubiwa had noticed, I know more or less where that is coming from.

[2021-07-02 22:57] MarinPostma commented on #1466
Hey @lkhrs, you can launch MeiliSearch with the `--no-analytics` to disable the analytics. You can refer to the [doc](for more infos). Hope that addresses your issue :)

[2021-07-02 23:01] MarinPostma commented on #1464
Not sure I understand the concern here, the file are accessed only one, when the index is opened, and are lazily loaded on request so it doesn't affect startup time. Also, uuids are random, what exactly would be in the subfolders?

[2021-07-03 08:52] Kerollmops commented on #1464
I'm not sure either on where could be the issue, we will wait and see for the issues. It can maybe be a slow down for when a user first triggers the opening of an index, MeiliSearch asks the filesystem for a file and it takes time to find it if there is too much files in this folder.

Like for [the crates.io-index repository](https://github.com/rust-lang/crates.io-index): the first to characters a

[2021-07-03 10:53] piaoger commented on #1420
You can also try the Chinese version of movies.json in PR [PR](https://github.com/meilisearch/MeiliSearch/pull/1227/commits/5626aafaa45d61221f26d397cf2f5038bd0b7922) though it is refused.

@dusukang-cjj

[2021-07-05 05:20] dusukang-cjj commented on #1420
Thank you. I have tested the data of movies.json, and the effect is pretty good. But it's a bit slow to test the news data in our business.
@piaoger

[2021-07-05 05:24] dusukang-cjj commented on #1420
How many news datasets do I need to provide? We want to use meilisearch in our search business. Thank you very much for helping us test our datasets.
@curquiza

[2021-07-05 07:22] alallema opened #1467 "v0.21.0rc1 Post Index doesn't return the good http status code"
**Describe the bug**
POST Index return `status: 200, statusMessage: "OK"`

**Expected behavior**
It should return `status: 201, statusMessage: "created"`

**Desktop:**
 - Version [0.21.0-rc1]

[2021-07-05 08:53] bmpf commented on #730
Filters : show document by true or false, example : product in stock = true , product has promo = false ;
Thank you @ppamorim ,

[2021-07-05 09:42] #1465 closed

[2021-07-05 10:19] CWSpear opened #1470 "Double quotes in query mess with search"
**Describe the bug**
A near-exact search, but with any double quotes has no results.

**To Reproduce**
Take any index with values without double quotes in its fields, and do a search of an exact match, except add any number of double quotes anywhere (`"` or "smart" quotes: `”`, `“`);

**Expected behavior**
That the double quotes don't cause there to be no results.

**Actual behavior**
The double q

[2021-07-05 12:50] MarinPostma commented on #1368
reopening since this is not fixed: the example given in https://github.com/meilisearch/MeiliSearch/issues/1173 still isn't working (this is basically the same issue). The fix provided by @ManyTheFish does not addresses the issue since the length of the highlight returned by the matcher could be on a character boundary, but not the right boundary. This is what happens in the example from #1173.

@K

[2021-07-05 13:17] CWSpear opened #1479 "Double quotes in query messes with search"
**Describe the bug**
A near-exact search, but with any double quotes has no results.

**To Reproduce**
Take any index with values without double quotes in its fields, and do a search of an exact match, except add any number of double quotes anywhere (`"` or "smart" quotes: `”`, `“`);

**Expected behavior**
That the double quotes don't cause there to be no results.

**Actual behavior**
The double q

[2021-07-05 13:20] MarinPostma commented on #1333
may be fixed by #1473

[2021-07-05 13:55] bidoubiwa commented on #1021
I just tried with v0.21 and received the same error.

[code]

[2021-07-05 15:14] ManyTheFish opened #1480 "Prefix highlight should handle unicode"
**Describe the bug**
It is not possible for the actual Highlighter to count precisely how many bytes should be highlighted when a word contains deunicoded characters.

**To Reproduce**
1) Add a document containing words like `Go💼od` or `Vývoj`
2) Search word by prefix `Go💼` or `vývo`
3) result is `<em>Go💼od</em>` or `<em>Vývoj</em>`

**Expected behavior**
`<em>Go💼</em>od` or `<em>Vývo</em>j`

**Ve

[2021-07-05 15:17] ManyTheFish commented on #1368
closing in favor of #1480

[2021-07-05 15:17] #1368 closed

[2021-07-05 15:18] ManyTheFish commented on #1173
closing in favor of #1480

[2021-07-05 15:18] #1173 closed

[2021-07-05 15:32] qdequele commented on #1320
After reflection and research, it seems that [ARMv7 is in 32bit](https://en.wikipedia.org/wiki/ARM7). Without more demand for 32bit support, we don't consider this to be important enough to consider significant development. If you need the MeiliSearch version in ARMv7 don't hesitate to contact us on our [Slack](https://slack.meilisearch.com) or to request it on our [public roadmap](https://roadmap

[2021-07-05 15:55] MarinPostma commented on #1333
I managed to reproduce in 0.21.

This is caused bu a decoding error in `meilisearch-http/src/index_controller/update_actor/store/mod.rs:448`, on update id 10:
![image](https://user-images.githubusercontent.com/28804882/124496330-96957e80-ddb9-11eb-8fec-6c44ecb3fdd6.png)
this happens no matter how many updates are in the pending queue, as long as it is more than 10 (included).

If  the index is not

[2021-07-05 16:14] #1467 closed

[2021-07-05 16:27] MarinPostma commented on #1333
I have a fix.

[2021-07-06 06:48] qdequele commented on #1454
Closed by https://github.com/meilisearch/milli/issues/279

[2021-07-06 06:48] #1454 closed

[2021-07-06 08:30] #1333 closed

[2021-07-06 12:00] qdequele commented on #1450
Closed by meilisearch/milli#197

[2021-07-06 12:00] #1450 closed

[2021-07-06 20:00] bidoubiwa opened #1485 "Search only works with masterKey"
**Describe the bug**
When doing a search only master key is allowed to do the search. Problems occurs both in `POST` and `GET`

**To Reproduce**
Steps to reproduce the behavior:
1. MeiliSearch instance with `masterKey` as master key.
2. Create an index called `movies`
3. Make a search using the GET method with the `private key` that is: `8dcbb482663333d0280fa9fedf0e0c16d52185cb67db494ce4cd34da32ce

[2021-07-07 08:26] bidoubiwa opened #1487 "Unexpected behavior when no valid inferable primary key is provided"
**Describe the bug**
When I add documents holding no inferable primry key, on a index that does not exist (lazy index creation),  no error is thrown the index is created the primary key is still null and no documents are stored.

**To Reproduce**

Javascript test sample:
[code]
1. Create index using lazy Index with for example this document
[code]
2.  Task is completed
3. Index exists, uid does no

[2021-07-07 08:43] MarinPostma commented on #1487
@bidoubiwa, an error is thrown asynchronously:

[code]

[2021-07-07 08:47] bidoubiwa commented on #1487
Ah yes, instead of synchronously in the current version? The PR can be closed

[2021-07-07 08:52] MarinPostma commented on #1487
Yeah, but in the current version, it was not correct to do so : synchronously setting the primary key and then performing the addition could lead to race conditions.

[2021-07-07 08:52] #1487 closed

[2021-07-07 09:12] bidoubiwa opened #1489 "Breaking changes in GET /search facetsDistribution usage"
**Describe the bug**

Previously `facetsDistribution` was expecting an array of attributes:
`/search?facetsDistribution=["genres", "title"]`

It is now expected a string of attributes:

`search?facetsDistribution=genres,title`

**To Reproduce**
Steps to reproduce the behavior:
1. Create index with movies containing `title` and `genres` field
2. try to get facetsDistribution the way it was done in

[2021-07-07 09:41] bidoubiwa opened #1490 "v0.21 _,matchesInfo is not applied on cropped value"
**Describe the bug**
In v0.20 given the following parameters:
[code]

the result is the following:

[code]

in v0.21 the result is the following:

[code]

**Expected behavior**
Same behavior

**MeiliSearch version**: v0.21

[2021-07-07 09:52] bidoubiwa opened #1491 "v0.21 attributesToRetrieve does not apply on _formatted anymore"
**Describe the bug**
Previously attributesToRetrieve was applied on both _formatted and root fields.

Example using the following query parameters:
[code]

in v0.20
[code]

in v0.21 :

[code]

**Expected behavior**
Same behavior

**MeiliSearch Version**:
v0.21.0

[2021-07-07 10:05] MarinPostma commented on #1491
this is the expected behaviour as per https://github.com/meilisearch/specifications/blob/main/text/0039-_formatted-field-behavior.md#expected-meilisearch-behavior-021

[2021-07-07 10:09] #1491 closed

[2021-07-07 11:05] bidoubiwa commented on #1491
After a discussion with @gmourier it should be notified in the CHANGELOG as even if we switch from undefined to defined the user might rely on the undefined behavior.
Thus they should me made aware that the behavior changed.

[2021-07-07 13:39] #1485 closed

[2021-07-07 14:00] gmourier commented on #1490
Indeed, it was not specified. The team used the documentation page which is quite old to implement this feature.

It requires a lot of code changes if we want the behavior of 0.20 (which is somewhat undefined).

As our intuition tells us that this feature is very little used, here is what I propose for now to move forward until we get our hands on it in the future:

- Keep the behavior as is
- Wat

[2021-07-07 14:05] gmourier commented on #1489
Nice spot @bidoubiwa, thanks! The API convention will state on query parameters.

[2021-07-07 14:40] spuy767 opened #1493 "Synonym Updates do not work if Index has just been created"
Synonym Update doesn't work if the search index has just been created.

1) Create new index and insert documents
2) Immediately update synonyms (synonyms do not work)
3) Wait until index returns search results
4) Update synonyms again with identical call to the first
5) Synonyms are Working

I would expect that even if I create synonyms at the same time I insert documents into the index, they woul

[2021-07-07 15:50] MarinPostma commented on #1435
closed by #1483

[2021-07-07 15:50] #1435 closed

[2021-07-07 19:53] bidoubiwa opened #1495 "SearchableAttributes change order of fields in response hits"
**Describe the bug**

When adding fields in `searchableAttributes` the order of fields in the returned document are impacted:
[code]

`id` field of document goes from first position to second position.
Given this document:

[code]

after a search this is how it is returned in the response body:

[code]

**Expected behavior**
Same order

**MeiliSearch Version**: 0.21.0

[2021-07-08 09:30] #1490 closed

[2021-07-08 10:02] bidoubiwa commented on #1495
To reproduce, you should add this as setting:
[code]

[2021-07-08 10:32] gmourier commented on #1495
Hello!

@MarinPostma (Please, tell me if it's not related to the transplant code), can we keep the order of the fields of the initial document in the response to be ISO with 0.20?

`searchableAttributes` should not impact this, it would be nice to keep this initial logic in my opinion!

[2021-07-08 11:00] MarinPostma commented on #1495
Not possible, this is tied to the representation on the documents in milli @Kerollmops

[2021-07-08 11:10] Kerollmops commented on #1495
Indeed, it can't be returned in the original order, it can only be returned in the `searchableAttribute` order, it is tied to the internal representation of the documents.

[2021-07-08 11:22] gmourier commented on #1495
Thanks!

If I understand correctly the user must rewrite all these initially ordered fields in searchableAttributes if he wants to keep the original order.

In this case, he will not search on specific fields and the searchableAttributes feature does not fulfill its initial role.

Should we explain this somewhere to guide users and make it clear that the order can no longer be guaranteed from the

[2021-07-08 11:50] MarinPostma commented on #1495
TBH it should not matter. JSON are manipulated programatically, and the order is irrelevant. We make assumptions on the order of the fields at indexing, but the [JSON spec](https://www.json.org/json-en.html) specifies that a json object is unordered. Implementation of json deserializer may not preserve order.