[2021-07-08 11:55] gmourier commented on #1495
Thanks for the clarification, @MarinPostma 👍. Indeed, this is something that should be clarified in this way. I think of the user who might wonder why and not being able to find an answer.

[2021-07-08 13:01] qdequele commented on #1495
@MarinPostma however we use a linked hashmap to keep the order when indexing. As long as the `searchableAttribute` or `displayedAttributes` parameters are not changed the order will remain the same as the first update. @meilisearch/core-team  do you know on what is the return order based on? Why does changing `searchableAttributes` impact the final result?

[2021-07-08 13:36] MarinPostma commented on #1495
@qdequele the fieldId doubles as field position, that's why

[2021-07-08 14:32] #1446 closed

[2021-07-08 15:14] qdequele commented on #1493
Hello @spuy767, I tried to reproduce your bug with one of our datasets. Unfortunately, I was not able to reproduce the problem. Can you send us an example that would work?

[2021-07-09 02:13] sanders41 opened #1497 "v0.21 filterableAttributes including distinctAttribute in addition to values set"
**Describe the bug**
When both `filterableAttributes` and a `distinctAttribute` are set the `distinctAttribute` is being included in the `filterableAttributes`. In v0.20 the equivalent for `filterableAttributes` was `attributesForFaceting`, and when setting this the `distinctAttribute` was not included.

**To Reproduce**
Steps to reproduce the behavior:
Run the following curl command:

[code]

Wit

[2021-07-09 07:13] gmourier commented on #1497
Hi @sanders41! Nice spot! 👍

Indeed, the `distinctAttribute` should not appear  in the list of `filterableAttributes` and be usable as until it has been specified. Technically we have to create a specific data structure for the `distinctAttribute` that makes it filterable.

You can find more information on the related specification https://github.com/meilisearch/specifications/pull/32/files. Line

[2021-07-09 12:25] qdequele commented on #1451
Closed by meilisearch/milli#248

[2021-07-09 12:25] #1451 closed

[2021-07-10 06:35] dorinniscu opened #1499 "Possible facet distribution for inner array elements"
When I apply a facet filter with inner array elements for one option the results are fine but the facet distribution for the other elements return 0.

**Steps to reproduce the behavior:**

1 - Show documents without any facet filter applied

Everything works as expected - I see 170 documents and the count is correct.

**Color**

- Red (100)
- Blue (50)
- Green (20)

2 - Select the "red" option usi

[2021-07-12 06:04] gmourier commented on #1420
Hello @dusukang-cjj!

We are aware of the limitations you encounter when indexing. That's why version 0.21 improves the memory consumption during indexing and allows to index larger volumes of data.

We will still work on the indexing speed for version 0.22 because we have some ideas for improvement and we think we can do better.

What takes time in indexing is the calculation of proximity criteri

[2021-07-12 06:26] dusukang-cjj commented on #1420
@gmourier
Oh, thank you.That's great.

[2021-07-12 06:39] #1420 closed

[2021-07-12 07:01] qdequele commented on #1499
Hello @dorinniscu, Thanks for this report. We already spotted this issue, and I have the pleasure to announce that it's already fixed in the [last release (v0.21.0rc2)](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc2).

I will close this issue. If the problem persists in the last version (post v0.21.0rc2), do not hesitate to reopen it and leave a comment.

[2021-07-12 07:15] dorinniscu commented on #1499
Thank you, @qdequele

[2021-07-12 15:27] bidoubiwa opened #1503 "v0.21 Behavior changes with facet conditions"
⚠️ Issue is used to raise a change in behavior. The new behavior is technically correct but logic is different.

Previously results with the maximum facets hits were considered more relevant than results also correct but with less conditions that are fulfilled.

Concretetly: In v0.20 if both condition of an `OR` statement were fulfilled it was considered more relevant than a document where only on

[2021-07-13 08:01] #1497 closed

[2021-07-13 14:02] bidoubiwa opened #1504 "V0.21 facetsDistribution attributes in search response are all lowercased"
**Describe the bug**
Previously we kept the casing of filters in facetsDistribution.

Given the following dataset:
[code]

and the following query:

`/search?facetsDistribution=genres`

The return is as follows:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Index the provided dataset
2. Add `genre` in filterableAttributes
2. Search with facetsDistribution = ["genres"]
4. Casing lost

[2021-07-13 15:19] qdequele commented on #1441
Fixed with meilisearch/milli#280

[2021-07-13 15:19] #1441 closed

[2021-07-13 15:45] qdequele commented on #1395
Hello, this issue is related to version 0.19 of MeiliSearch. It seems that it does not appear anymore in the new versions. So I will close this issue.

However, there are still some highlight problems introduced with version 0.21. These are described in issue #1480.

In case you manage to reproduce this bug in version 0.21, please reopen this issue.

[2021-07-13 15:45] #1395 closed

[2021-07-13 15:49] qdequele commented on #1504
Hello @bidoubiwa, I will close this issue because it's a duplicate of https://github.com/meilisearch/MeiliSearch/issues/1452. Thanks for all your tests!

[2021-07-13 15:49] #1504 closed

[2021-07-13 16:55] bidoubiwa commented on #1495
I think this behavior may be a bit problematic. Given the following scenario:

1. Add settings `filterableAttributes: "genres"`
2. Add documents with the following fields: `id, title, genres, ..`
3. Thus the implicit value of filterableAttributes becomes `* == ["genres", "id", "title",...]`

Now given a concrete example, here is a dataset:
[code]

When doing a search on `query = S` I will receive

[2021-07-13 17:06] bidoubiwa opened #1505 "V0.21 Relevancy impacted by settings added before first document"
**Describe the bug**
related to #1495

When filters are added before the first document they will be implicitly added in the `searchableAttributes`. After which the
attributes found in new documents will be added in order of appearance.

**To Reproduce**

1. Add settings `filterableAttributes: "genres"`
2. Add documents with the following fields: `id, title, genres, ..`
3. Thus the implicit value

[2021-07-14 18:43] sandstrom commented on #1148
I read Typesense comparison between your two tools (and Algolia / Elastic).

Would still be nice if Meili would re-add an updated comparison between yourself and Typesense. Right now there is nothing at [your comparison page](https://docs.meilisearch.com/learn/what_is_meilisearch/comparison_to_alternatives.html#comparisons).

Here is typesense comparison (which I'm sure also has some bias, at leas

[2021-07-15 17:01] tpayet commented on #1148
Hey @sandstrom,

Thank you for your suggestion, I'll check with the team how we can prioritize this :)

Also, thank you for the rethinkdb inspiration!
Is there any specific area you would like to have better insight about or just a technical comparison from our POV?

[2021-07-15 22:39] sandstrom commented on #1148
Some type of feature/table comparison with ElasticSearch and Typesense would be great.

Without it, the actual process of switching e.g. from ES is unknown. It's obvious that you'll lack things (since you're a less mature product, you'll have fewer features).

If it's easy for me to scroll through a table, see that you have most of the things that we need, and then maybe 2-3 things that are lackin

[2021-07-16 18:20] danthegoodman1 opened #1514 "`meilisearch.service` file on AWS AMI using wrong Environment"
On the AWS AMI, in the `/etc/systemd/system/meilisearch.service` file, you find the following:

`Environment="MEILI_SERVER_PROVIDER=digital_ocean"`

Obviously this should be AWS

[2021-07-16 18:23] danthegoodman1 commented on #1514
To specify, it seems that this only happens when you run the `meilisearch-setup`. When you go in and don't run the setup it shows the following: `Environment="MEILI_SERVER_PROVIDER=aws"`

[2021-07-17 13:06] sanders41 commented on #1514
It looks like the issue is `digital_ocean` is hard coded [here](https://github.com/meilisearch/cloud-scripts/blob/7ac855e03ad8bb12725d42d0c38fe75793237470/scripts/first-login/001-setup-prod.sh#L42) and [here](https://github.com/meilisearch/cloud-scripts/blob/7ac855e03ad8bb12725d42d0c38fe75793237470/scripts/first-login/001-setup-prod.sh#L61). It seems like this should be set from a variable instead

[2021-07-17 20:28] jayenne opened #1516 "searching indexed arrays in the meiliesearch browser app not highlight correctly"
**Describe the bug**
When you have an index where an attribute is an array, it is returned in my laravel app but not in meilisearch's own browser.

**To Reproduce**
Create an index where at least one field is an array.
Search within the Meilisearch Browser for a string that is found within the array.
Notice it is not highlighted as as with those results where the same string in found in a non-arra

[2021-07-19 09:46] bidoubiwa opened #1517 "Update status does not return number of documents for failures"
**Describe the bug**
Previously all updates linked to documents: `documentsAddition/Partial/Deletions`  always returned the number of documents impacted in all steps of the update. In v0.21 it is only returned upon successful addition, thus status `processed`. In all other scenarios: `enqueued`, `processing` and `failed` it is not returned

v0.20
[code]

[code]

v0.21:

// enqueued
[code]

// Proc

[2021-07-19 10:26] bb commented on #1517
I prefer keeping the number (and/or other easy-to-implement metadata) because it helps identifying issues with my indexing code.

[2021-07-19 14:36] qdequele commented on #1517
Indeed I think it is a problem, thank you for pointing it out Charlotte. @gmourier I let you give your opinion and approve we want to keep the behavior on the v0.21. If it's approved, can @MarinPostma or @irevoire do it?

[2021-07-19 14:49] shyim commented on #1226
Looks better. Thanks!

[2021-07-19 14:49] #1226 closed

[2021-07-19 14:52] #1516 closed

[2021-07-19 15:17] gmourier commented on #1517
Yes! I think the 0.20 behavior is more logical and clearer, it would be great to keep it. @marin is it something complicated to fix for 0.21?

[2021-07-19 22:54] bb commented on #1517
Thanks for the inside view.
For me it's not important enough to justify a dirty hack.

[2021-07-20 06:22] Kerollmops commented on #1517
@MarinPostma milli always [returns the number of indexed documents](https://github.com/meilisearch/milli/blob/16698f714b7d9d25b1ee75deff0e0d704cf9dae1/milli/src/update/index_documents/mod.rs#L329) so you could at least display it when an update has been successfully indexed. Am I right?

[2021-07-20 06:50] bb commented on #1517
That works already 👍

[2021-07-20 07:36] gmourier commented on #1517
I think we'll have to fix it during Q3 when we implement csv / ndjson if it's not possible to do it now other than with a dirty hack. This is a regression that can be significant. We shouldn't lose this information if people are using it.

[2021-07-20 09:05] bb commented on #1517
I was just sending a rather large DocumentsAddition request, about 750000 documents at once and wondered if it would be a good addition to add the Payload size (to know if I'm close to the Limit). What do you think?

[2021-07-20 09:53] ThisIsMyFavouriteJar commented on #843
Hi @cabello, that would be great. In your example you mention 2 livestreams, any idea how this would perform if there where e.g. 1000 livestreams, with 500-5000 attendees each, and many attendees being scattered over multiple livestreams simultaneously?

In other words, how would this perform if the key array gets bigger, with e.g. > 1000 keys per record?

[2021-07-21 09:02] CaroFG commented on #1514
@alallema

[2021-07-21 09:19] alallema commented on #1514
Hi @danthegoodman1,
Thanks for the report.
@sanders41 you are right we should change the behavior of the script with a variable rather than hard code this value
I will transfer this issue to the cloud-script repo.

[2021-07-21 12:10] gmourier commented on #911
Triage update: This has been specified here https://github.com/meilisearch/specifications/pull/42

[2021-07-21 12:13] #1376 closed

[2021-07-21 12:13] gmourier commented on #1376
I'm closing this issue. The answers given seem to answer the initial problem of the user who no longer exists.

[2021-07-21 14:53] bidoubiwa commented on #1503
It is linked to the internal id's order and not due to relevancy rules.

[2021-07-21 14:53] #1503 closed

[2021-07-21 15:58] alallema opened #1522 "Update of the Date Time Format in `commitDate`"
**Describe the bug**
The DateTime format of the `commitDate` has changed from the v0.20

**To Reproduce**
Launch meilisearch and check the display or try /version route

**v0.20**
`Build date:             "2021-03-30T15:16:48.958933+00:00"`

**v0.21**
`Commit date:            "2021-07-06"`

It will impact [this PR](https://github.com/meilisearch/documentation/pull/924) on documentation [here](http

[2021-07-21 17:13] cabello commented on #843
I am using Algolia right now, this is how I structured the solution:
- single index `production_users`.
- each user record has `_tags` that include the organization canonical ID (single entry), the upcoming events canonical IDs (usually a few entries).
- when an organizer (they can search for everyone) joins an event, I generate a search key `where tags in [organizationId, eventId]`

That has been

[2021-07-22 17:48] jet10000 opened #1524 "invalid_request_error"
**Describe the bug**

[code]

**MeiliSearch version:** [e.g. v0.21.0 RC2]

[2021-07-22 18:04] sanders41 commented on #1524
Are you using the v0.21.0 RC? If so `attributesForFaceting` was renamed to `filterableAttributes`.

[2021-07-22 18:18] #1524 closed

[2021-07-22 22:29] irevoire commented on #1524
And for the next person having the same problem. Here is the new documentation for the 0.21 :grin:
https://dev.docs.meilisearch.com/

[2021-07-23 19:52] interlark commented on #1255
Add documents
[code]
Search for `Rødberg`
[code]
There's a hit. I don't know why you got nothing.

About special characters, they are translated into:
[code]
If it's really important to you to distinguish characters, you could try to customize tokenizer and exclude them from normalization or completly turn off token normalization :)
https://github.com/meilisearch/tokenizer/blob/b7a89c682b9f5d23a1d

[2021-07-24 06:48] saadj55 opened #1525 "No effect of $client->index()->updateSettings() when running on docker windows."
**Describe the bug**

When running on windows using docker, if I added my documents and then call `updateSettings` from the PHP sdk or the REST api routes, the settings don't seem to change at all. And vice versa if I call update settings on a given index before adding documents it works but when I try to add documents, it doesn't seems to work at all and shows 0 documents. Keep in my mind I have

[2021-07-24 08:31] gmourier commented on #1525
Hello @saadj55!

Can you share a sample of one of your documents?

To check the progress of adding documents, you can look at the list of updates. [Documentation here](https://docs.meilisearch.com/reference/api/updates.html#updates) The document additions are done asynchronously.

[2021-07-25 13:34] interlark opened #1527 "Incorrect match info for arrays"
1.  Add documents
[code]
2. Try to search for items inside those arrays like **sayonara** or **later** and pay attention to the **_matchesInfo**. It would not give you information about a match, only useless **start** and **length** with which you can not get what exactly was found in the array.
Here's an example for ```search?q=sayonara&matches=true```:
[code]
So you don't know to what element in

[2021-07-26 12:10] curquiza commented on #1491
This issue describes this problem: https://github.com/meilisearch/transplant/issues/203
My bad, I forgot to put the issue as "breaking"

However, the related spec still describes in detail all the behaviors: https://github.com/meilisearch/specifications/pull/39/files

[2021-07-26 14:36] curquiza commented on #1440
@MarinPostma confirmed the search and authentication tests were added!
Closing!

[2021-07-26 14:36] #1440 closed

[2021-07-26 14:37] curquiza commented on #1480
Checked with the team, this is not easy to fix for v0.21.0 and not that an emergency, I remove this issue from the v0.21.0 milestones.
However, it should not crash, if you have a crash behavior, please report it 🙂

[2021-07-26 14:45] curquiza commented on #1489
Checked with @gmourier: for the v0.21.0 we let the behavior as it is now: we only accept this syntax `attribute1,attribute2,attribute3` and not this JSON syntax `["attribute1", "attribute2", "attribute3"]`.

I ping the @meilisearch/docs-team because it will involve a tiny change in the docs: `["*"]` should be `*` [in this array](https://docs.meilisearch.com/reference/api/search.html#query-paramete

[2021-07-26 14:48] curquiza commented on #1489
I close this issue then since we keep the behavior as it is.

[2021-07-26 14:48] #1489 closed

[2021-07-26 14:53] curquiza commented on #1517
Checked with the team: unfortunately, this is not easy to fix in a clean way and we don't want to delay the v0.21.0 for this. We are aware this is not convenient for the users and we are sorry for the inconvenience, we will re-integrate it in the next versions.
FYI, the number of documents is still available if the update succeeds!

[2021-07-26 15:37] curquiza opened #1529 "Relevancy impacted by settings added before first document"
Related to https://github.com/meilisearch/milli/issues/294

This should be done on Milli's side. Once the Milli's release containing this change is out, the MeiliSearch dependency should be updated.

[2021-07-27 08:16] #1522 closed

[2021-07-27 14:10] curquiza opened #1531 "Use OBKV format"
Sub issue of https://github.com/meilisearch/MeiliSearch/issues/1593

Following: https://github.com/meilisearch/transplant/issues/142

----

To avoid 2 validations for the same input, we need to use the OBKV format on MeiliSearch's side and on Milli's side.

[2021-07-27 14:36] curquiza commented on #1148
Hello @sandstrom, thanks for your feedback, I opened an issue in the documentation side -> https://github.com/meilisearch/documentation/issues/1044

[2021-07-28 07:47] curquiza commented on #1495
Even if the order is relevant in JSON, this behavior can impact the front-end. Cf the mini-dashboard: we clearly see the switch of the fields.
Impact the front-end is not a behavior the users can expect when they update the `searchableAttributes`.

[2021-07-28 08:43] bidoubiwa commented on #1495
@curquiza Is this not fixed with this meilisearch/milli/pull/293 ?

[2021-07-28 09:00] curquiza commented on #1495
Nope, it's not in the v0.21.0 milestones. You can check it directly on the issue

I was not there when the decision of removing this from the v0.21.0 was taken, but, by reading this issue, it does not seem to be an easy fix since we don't know how to do it.

[2021-07-28 09:57] coolycow opened #1534 "Synonyms do not work for the Russian language if the letter "ь" is present."
**Describe the bug**
Synonyms do not work for the Russian language if the letter "**ь**" is present.

**To Reproduce**
Test 1:
I add an entry to the index: "Проверяем алфавит".
I add a couple of synonyms: "Проверяем алфавит" => "bbb", "bbb" => "Проверяем алфавит".
I make a search query "bbb": I get the result "Проверяем алфавит".

Test 2:
I add an entry to the index: "Проверяем ал**ь**фавит".
I ad

[2021-07-28 11:41] #1452 closed

[2021-07-28 11:41] #1529 closed

[2021-07-28 14:21] mdubus opened #1535 "Internal error on wrong document format during documents addition"
**Describe the bug**

By trying to add documents with a wrong format (object for example), I received an `Internal Error` and a non-explicit error message:

[code]

**To Reproduce**
Try to add a document instead of an array of documents:
[code]

**Expected behavior**
Not sure, but certainly a more explicit error 😀

**MeiliSearch version:**
0.21.0

[2021-07-28 14:26] curquiza commented on #1451
Closed by #1533

[2021-07-28 14:28] curquiza commented on #1441
Closed by #1471

[2021-07-28 14:29] curquiza commented on #1454
Closed by #1533

[2021-07-28 15:23] curquiza commented on #1320
Reopen because still present in the CI

[2021-07-28 15:51] curquiza commented on #1535
Hello! Thanks for the report.

The unclear sentence in `message` is already present in v0.20.0.
Guillaume is working on a new error handler and this message will be improved, but not for the v0.21.0. So @gmourier FYI.

However, to stay consistent with v0.20.0, the `errorCode` should be `bad_request` and the `errorType` should be `invalid_request_error`. This would make the error less "aggressive".

[2021-07-28 15:51] #1320 closed

[2021-07-28 16:33] bidoubiwa commented on #1021
Could not reproduce with latest v0.21 so all good for me

[2021-07-29 03:59] elonzh opened #1538 "malformed keys in web interface"
**Describe the bug**

![image](https://user-images.githubusercontent.com/8749411/127428228-8b4d11e2-e402-4d9b-ab25-c536f417154e.png)

The API response is ok.

[code]

**To Reproduce**

Follow https://github.com/meilisearch/meilisearch-go#-getting-started to create some documents.

**Expected behavior**

![image](https://user-images.githubusercontent.com/8749411/127429375-75a13937-d76b-43a0-8f82-89

[2021-07-29 05:51] montaniasystemab commented on #1196
Using v0.21.0rc1 we're no longer able to reproduce the issue from v0.20 :+1:

Thanks!

[2021-07-29 08:10] curquiza commented on #1196
Thanks a lot for your returns! 🙏 I close this issue then!! It will be released in the v0.21.0 in a few weeks

[2021-07-29 08:10] #1196 closed

[2021-07-29 08:22] curquiza commented on #1538
Hello @elonzh, thanks for the report. The next version of MeiliSearch (v0.21.0) will contain a fresh new dashboard and this issue should be fixed 🙂
You can already test the release candidate (RC) of the v0.21.0 -> https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0rc2

I close this issue then! Feel free to ask any questions.

[2021-07-29 08:22] #1538 closed

[2021-07-29 08:23] curquiza commented on #1466
I close this issue since the answer has been given!
Feel free to re-open if it's not :)

[2021-07-29 08:23] #1466 closed

[2021-07-29 12:13] curquiza commented on #1534
Hello @coolycow!

I checked with the RC of v0.21.0 and this issue seems to not be present, I get results and not an empty array with test 2 and test 3. Can you confirm?

[2021-07-29 12:20] curquiza commented on #1527
Hello @interlark!
Sorry for this inconvenience, `matches` does not work for objects and arrays, only for strings.
This is indeed not clear at all since it's not in the docs, I'm going to add this in the docs!

`match` on arrays is something we might want to handle in the future, I let @gmourier decide 🙂

[2021-07-29 12:38] CaroFG commented on #1527
Just for info, I tested this with v0.20 and I get the following response:
[code]

Instead of getting `"start": 0`, I got `"start": 7`

[2021-07-29 17:15] #1535 closed

[2021-07-30 09:14] coolycow commented on #1534
Hi @curquiza!
I have now checked version 0.21.0. Everything works perfectly!
I will wait for the release to update the production.

Thanks!!!

[2021-07-30 12:56] mishushakov opened #1542 "Strip HTML tags"
**Is your feature request related to a problem? Please describe.**

The search should ignore HTML tags

**Describe the solution you'd like**

MeiliSearch should strip HTML tags when processing search requests as [Algolia does](https://www.algolia.com/doc/guides/sending-and-managing-data/prepare-your-data/in-depth/data-sanitization/)

**Describe alternatives you've considered**

Manually stripping

[2021-07-31 10:27] gargakshit opened #1543 "[Feature Request] Provide an alternate communication channel via gRPC"
**Is your feature request related to a problem? Please describe.**
A lot of languages don't have stable client libraries. `gRPC` would allow to codegen clients for any language that has a protobuf and gRPC package. Also gRPC will have a bit less overhead as gRPC's HTTP/2 connections are long lived, saving the overhead for re-creating an HTTP connection for each request. A gRPC based communication

[2021-08-02 06:25] elonzh opened #1549 "export metrics as prometheus format"
**Is your feature request related to a problem? Please describe.**

MeiliSearch provides stats API but can't integrate with monitor system directly like prometheus.

**Describe the solution you'd like**

Provide a Prometheus metrics API out of box.

**Describe alternatives you've considered**

Write an [exporter](https://prometheus.io/docs/instrumenting/exporters/)

**Additional context**

- https

[2021-08-02 06:25] #1534 closed

[2021-08-02 06:49] gmourier commented on #1543
Hi @gargakshit! Thanks for the feedback. We thought about it a while ago but not many people are asking for it yet. Looking at the [roadmap for Q3/Q4](https://github.com/meilisearch/product/discussions/61), it's something we could consider during 2022.

We've added a card to our [product board roadmap](https://roadmap.meilisearch.com/c/101-grpc) to collect votes on it.

Do you see other advantages

[2021-08-02 09:32] gargakshit commented on #1543
Other advantages include
- Less overhead than http/1.1 as http/2 is a binary protocol, and gRPC connections are long lived preventing the overhead of re-connecting on every request. HTTP's `Keep-Alive` does solve this to some extent, but gRPC would still have less overhead
- Generating clients for languages that don't already have a package available. This would be useful as languages like `elixir

[2021-08-02 09:42] curquiza commented on #1549
@gmourier 😇

[2021-08-02 09:44] curquiza commented on #1542
Hello @mishushakov! Thanks for your report and your suggestion!

[2021-08-02 10:00] gmourier commented on #1549
Hello @elonzh! Thanks for the feedback, can you tell me more about the metrics you would like to monitor and why?

We've added a product card about [prometheus](https://roadmap.meilisearch.com/c/102-prometheus-metrics) on our public roadmap so you can vote for it!

[2021-08-02 10:04] curquiza commented on #1542
Might be related to https://github.com/meilisearch/MeiliSearch/issues/955

[2021-08-02 10:08] elonzh commented on #1549
query/update performance metrics are important for production use.

[2021-08-02 10:26] gmourier commented on #1549
Thank you, I have an additional question to better understand. Is the goal to have a general view of the good shape condition of the search engine or to perform analysis on `search` query/results to improve the behavior of the search engine to meet business criteria? I have the impression that this is the first one but maybe other needs can be expressed!

[2021-08-02 10:32] elonzh commented on #1549
Yes, you are right!

[2021-08-02 11:59] mishushakov commented on #1542
those problems are not completely related, but i'd assume, that the solution would solve both

in my case, i'd like to search a query on HTML pages, but MeiliSearch doesn't recognise XML/HTML, which not only contains text content, but also tags, that should have been stripped

[2021-08-02 12:34] curquiza commented on #843
Hello @cabello! Thanks for your feedback! It helps a lot!

FYI @gmourier

[2021-08-02 15:28] #1200 closed

[2021-08-03 07:19] CaroFG opened #1551 "v0.21.0rc3 relevancy behavior"
**Describe the bug**
Relevancy is not working as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Index the movies dataset to MS
2. Update searchableAttributes with the following order: `["title","overview","genres","release_date","poster","id"]`
3. Once the update has been processed, check the settings:
[code]
4. Perform a search with query `sha`. The first result returned is:
[cod

[2021-08-03 14:31] curquiza opened #1552 "Fix relevancy"
Related to https://github.com/meilisearch/milli/issues/299

This should be done on Milli's side. Once the Milli's release containing this change is out, the MeiliSearch dependency should be updated.

[2021-08-03 17:15] CaroFG opened #1553 "Dumps pre v0.21 aren't working on v0.21.0rc3"
**Describe the bug**
I got an error trying to import a bump into v0.21rc3
Tries both on docker image and compiled from source

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dump with an older version of MeiliSearch (in my case it's a v0.18.1 dump)
2. Launch MeiliSearch v0.21.0rc3 with the --import-dump path/to/dump option
3. Error returned:

[code]

**Expected behavior**
The dump s

[2021-08-04 08:31] MarinPostma commented on #1553
Ok found it, this came from when we changed `attributes_for_faceting` to `filterable_attributes`, it should not have been changed in the dump v1 code.

[2021-08-04 09:56] carlreid opened #1555 "Unable to add documents and endpoints timeout/unresponsive"
**Describe the bug**
Since running v0.21.0 I've been noticing that after a short while, there are no more documents being added. This is because the document endpoint simply times out (HttpTimeout of 100 seconds is hit on our backend). Also trying to call the `/stats` endpoint for an index does not respond.

However, other endpoints like `/indexes/{index_uid}` and `/indexes/{index_uid}/search` res

[2021-08-04 15:23] ar-siddiqui commented on #845
I don't see it on the roadmap

[2021-08-04 15:41] gmourier commented on #845
Hello @ar-siddiqui!

Indeed! It no longer has the same identifier, the link is broken. I added the right one to the roadmap [here](https://roadmap.meilisearch.com/c/103-delete-by-query). Sorry for the inconvenience 😇

[2021-08-04 15:58] MarinPostma commented on #1555
Have you been doing anything particular before this happens? ~ how many documents are you adding in your index? Is the index indexing at the time this happens?

[2021-08-04 16:08] curquiza commented on #1331
Hello @IbrahimKeshta!
- Which version do you use?
- How do you push your documents to MeilISearch? One by one, or in batch, I mean, several documents in the same payload of the same query?

Despite the improvements we did in v0.21.0 (you can [test a release candidate](https://github.com/meilisearch/MeiliSearch/releases)), we always recommend pushing your documents to MeiliSearch by batch and not o

[2021-08-04 16:27] carlreid commented on #1555
I'm not aware of anything particular before it happens. We're indexing a low amount of documents at a time (mostly 1 document, I know that's not ideal). The logs indicate that indexing is happening after the endpoints time out, whilst it works through the backlog of what was sent before it.

The only odd thing I noticed during investigating so far which may be somehow related was a lot of calls to

[2021-08-04 16:50] IbrahimKeshta commented on #1331
@curquiza

version: 0.18.1
size of data.ms folder: 55.3M
I insert them in batch, not one by one
Ram size: 16GB

I tested the new `0.21.0rc3` and still matching problem is not fixed, and btw I am very impressing about the new dashboard redesign

This is a good matching in version `0.18.1`
Search keyword: إرز
matched keywords: [ارز,أرز.إرز]
![image](https://user-images.githubusercontent.com/21046554

[2021-08-04 16:58] curquiza commented on #1331
Your dataset is not big at all, MeiliSearch v0.21.0 should handle it without RAM crashing... Can you share with me the dataset so that I can try to index it?

Yes, unfortunately, we did not fix this issue in v0.21.0, the issue is still open. The tokenizer is not our priority for the v0.21.0, I will talk about it for the next version! Sorry for this bug.

Glad you like the new dashboard redesign :)

[2021-08-04 17:05] IbrahimKeshta commented on #1331
unfortunately, I can't share it because it's private data of my working place :( but I will heavy test it on the new version and give you feedback keep going on releasing it soon 👏👏

[2021-08-04 19:13] MarinPostma commented on #1555
It may be related to a large amount of updates constantly being enqueued, starving the process trying to read the stats, this is worth investigating.

Not sure why the sdk needs to call getOrCreate though, @alallema who's in charge of this sdk?

[2021-08-05 06:35] carlreid commented on #1555
Don't think you need to look into this too much, I can investigate a bit more on our side because I feel that it may have been using an older package making the `GetOrCreateIndexes` call. When I looked at the code for meilisearch-dotnet it didn't look like it was making the calls and I ran a unittest on my side to see if I could catch it making two calls which it didn't. Just thought it may have b

[2021-08-05 12:29] curquiza commented on #1285
Duplication of #1495

[2021-08-05 12:29] #1285 closed

[2021-08-05 12:31] curquiza commented on #1338
Checked with @gmourier
It put it as `good_first_issue`. The expected behavior: not return an error and do not apply any filter.
A test should be added.

[2021-08-05 12:40] curquiza commented on #730
Closed in favor of a future tracking issue coming soon! :)

[2021-08-05 12:40] #730 closed

[2021-08-05 12:41] curquiza commented on #795
Closing because obsolete. Feel free to re-open if needed.

[2021-08-05 12:41] #795 closed

[2021-08-05 12:43] curquiza commented on #1144
I forgot to close it! 😅

[2021-08-05 12:43] #1144 closed

[2021-08-05 12:46] VivianSolide commented on #730
It would have been nice to get the new issue link before closing this one.
Hope you will keep us updated.

[2021-08-05 12:50] curquiza commented on #1447
Closed by #1532

[2021-08-05 12:50] #1447 closed

[2021-08-05 12:52] curquiza commented on #1383
checked with @gmourier, we are starting to explore the HA, and once this feature is out you should be able to use MeiliSearch in a cluster

[2021-08-05 12:52] #1383 closed

[2021-08-05 12:58] curquiza commented on #1347
Closed thanks to the ARMv8 image provided. Feel free to re-open if I miss understood something.

[2021-08-05 12:58] #1347 closed

[2021-08-05 13:18] curquiza commented on #730
We don't have any tracking issue ready yet, but here is most of the work done by our PM on it https://github.com/meilisearch/product/issues/43

[2021-08-05 13:25] guimachiavelli opened #1558 "v0.21: startup message states that telemetry is enabled in dev mode"
**Describe the bug**
MeiliSearch does not collect data in development mode, but this is the startup message a user gets when launching a local instance with `--env=development`:

[code]

The last line states telemetry is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch an instance with `--env=development` or `MEILI_ENV=development`

**Expected behavior**
`Anonymous telemetry`

[2021-08-05 13:31] sanders41 commented on #1558
`--no-alalytics=true` will disable it

[2021-08-05 13:46] guimachiavelli commented on #1558
Thanks for that, @sanders41, but after a quick chat with @curquiza we realised that this is actually an issue with the upcoming v0.21 docs.

On the second paragraph of https://dev.docs.meilisearch.com/learn/what_is_meilisearch/telemetry.html, we state that instances running with `--env=development` have telemetry disabled by default. It turns out this is wrong, so we'll fix it on that repo.

Closi

[2021-08-05 13:46] #1558 closed

[2021-08-05 14:57] #1552 closed

[2021-08-05 19:57] #1553 closed

[2021-08-07 15:32] CodeWithClass opened #1565 "Search just doesn't return results for some records"
**Describe the bug**
All 1 Million + records have been imported successfully but meilisearch just doesn't seem to bother searching 9/10th of the records. It searches maybe the first 100k?  I've tried increasing php memory limit but with no success. Is there some sort of limit? See screenshots.

**Expected behavior**
I expect all the indexed data to be searched

**Screenshots**
1M+ successfully imp

[2021-08-07 15:48] Kerollmops commented on #1565
Hey @CodeWithClass,

First of all thank you for the interest you put into MeiliSearch.

When you send documents to MeiliSearch the server [will process them asynchronously](https://docs.meilisearch.com/learn/advanced/asynchronous_updates.html#asynchronous-updates). Another very important thing to keep in mind is that it is **way faster** to send big batches of documents at the same time, never sen

[2021-08-08 01:36] nafkhanzam opened #1566 "Can't add documents (and not showing error) when the primary key contains non-alphanumeric"
**Describe the bug**
Can't add documents (and not showing error) when the primary key contains non-alphanumeric (tested on '?' and '.' characters). Didn't find any warning about this in the documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Use meilisearch nodejs sdk
2. Create index with primaryKey: "serial"
3. Call addDocuments to the index with `[{ "serial": "test-serial?", ...

[2021-08-09 07:17] CodeWithClass commented on #1565
I

[2021-08-09 08:19] curquiza commented on #1566
Hello @nafkhanzam!

MeiliSearch processes its tasks asynchronously. It means you will only get an `updateId` when sending your documents, but to know if the task failed or not and why, you have to check the [`GET /indexes/:uid/updates/:updateId` routes](https://docs.meilisearch.com/reference/api/updates.html#get-an-update-status).
More details here: https://docs.meilisearch.com/faq/#i-did-a-call-t

[2021-08-09 08:24] curquiza commented on #1565
Hello @CodeWithClass!

@Kerollmops asked you this because we want to be sure all the documents are added and processed by your MeiliSearch instance. The documents that are not processed cannot be retrieved during the search.
Can you check all the updates have been processed using [the `GET /indexes/:uid/updates` route](https://docs.meilisearch.com/reference/api/updates.html#get-all-update-status).

[2021-08-09 13:19] #911 closed

[2021-08-09 13:43] gmourier commented on #955
Closed in favor of the https://github.com/meilisearch/product/discussions/119 discussion.

[2021-08-09 13:43] #955 closed

[2021-08-09 13:48] gmourier commented on #728
Closed because `q` is now limited to 10 terms to limit long query processing.

[2021-08-09 13:48] #728 closed

[2021-08-09 14:01] gmourier commented on #683
Closed because it is now implemented.

[2021-08-09 14:01] #683 closed

[2021-08-09 14:21] gmourier commented on #1393
Hello @mevangelinakis!

I think you might be interested in the feature we are working on, we plan to release it in 0.22. There will be no more need to create several indexes as a workaround to the fact that the sort feature is missing at search time. 😉 https://github.com/meilisearch/product/issues/43 (If you want to know how we idealized this feature to what we specified).

Please, let me know if

[2021-08-09 14:26] gmourier commented on #1120
I'm closing this one since the main problem comes from the pagination. We have specified a finite pagination https://github.com/meilisearch/specifications/pull/42/files

Concerning the naming we will pass on it during the stabilization phase of the different API endpoints before 1.0

[2021-08-09 14:26] #1120 closed

[2021-08-09 16:05] nafkhanzam commented on #1566
Ahh, I definitely missed that, thank you

[2021-08-09 16:05] #1566 closed

[2021-08-09 16:11] mrmaxonline opened #1569 "Update nothing happend"
Since RC2 update of existen doc is not working. Doc data is old. RC2 work fine. RC3 and RC4 from git via cargo build is fail to update. Only new docs data is present.

[2021-08-09 16:27] CaroFG commented on #1569
Hi! You can find the v0.21 documentation here: https://dev.docs.meilisearch.com/ but keep in mind it's still a WIP and the search bar is not working on this one, it's only working for the stable version (v0.20) so you'll have to navigate through the menus.

[2021-08-10 08:00] curquiza commented on #1569
Hello @mrmaxonline!

I'm not sure to understand, can you detail your steps so that we can reproduce the bug and fix it?

[2021-08-10 13:00] curquiza opened #1570 "`download-latest.sh` script for Windows users"
Make the `download-latest.sh` script work for Windows users. At the moment it works only for Unix and Darwin

https://github.com/meilisearch/MeiliSearch/blob/63daa8b15ab21d40710a78dc4e09b5d0dac04711/download-latest.sh#L121-L134

[2021-08-10 13:05] curquiza commented on #1493
Impossible to reproduce at the moment. Closing due to lack of answer after more than a month, feel free to re-open!

[2021-08-10 13:06] #1493 closed

[2021-08-10 18:05] CWSpear commented on #1479
Cool, thank you!

[2021-08-10 18:52] carlreid commented on #1555
I tried bumping to the latest release candidate and that didn't help (didn't expect it to from the change log).

We didn't encounter these kind of issues before on v0.20.0. I tried creating a fresh [AKS](https://azure.microsoft.com/en-us/services/kubernetes-service/) and deploying directly to that, which didn't seem to cause the problem either. Again, just reindexing the same data as the productio

[2021-08-10 22:20] aidanhs opened #1571 "Ampersand interferes with matching"
**Describe the bug**
Searching for 'hi' in a document set with 'hi' and '&hi' only returns the one result.

**To Reproduce**
[code]

**Expected behavior**
I expect both results to be returned

**MeiliSearch version:** v0.20.0

[2021-08-10 22:24] curquiza commented on #1555
Good to know it was not present in v0.20.0! Thanks a lot for your report. We are sorry you have to switch, especially because you are one of our contributors (I remember you on the meilisearch-k8s repo 😇)

To everyone reading this issue: this bug is a real concern for the core team and a priority to fix. If you have any help/feedback to share about your MeiliSearch usage in production that corresp

[2021-08-10 22:32] aidanhs commented on #1571
Also tested this on master (63daa8b15) and it doesn't work.

[2021-08-10 23:27] aidanhs commented on #1571
The same applies for `[]<>`.

I guess this relates to https://docs.rs/unicode-segmentation/1.8.0/unicode_segmentation/trait.UnicodeSegmentation.html#tymethod.split_word_bounds which the tokeniser uses.

I'm do understand `<>`, but `&` seems like an odd choice to not have as a word boundary...

[2021-08-11 09:52] carlreid commented on #1555
I tried another change this morning during meetings. I simply set my resources for meilisearch to be:
[code]

After that, meilisearch probably performed for the longest it has since updating to v0.21 as shown below:
![image](https://user-images.githubusercontent.com/33623601/129008184-cfea7471-6c1a-4c78-b547-ecbefa59a06f.png)

Then it died all of a sudden, so I do think it's most likely related to

[2021-08-11 10:23] aidanhs commented on #1571
(I'm happy for this to be closed and re-raised as a feature request if you prefer)

[2021-08-11 15:28] curquiza commented on #1571
Hello @aidanhs!

This is indeed an expected behavior with the current search engine. `&` is not a separator (like `.` or `!`) but a character (like `b` or `c`).
So, when you type `&hi`, the search engine will only retrieve documents containing words starting with `&hi`.

This is not a bug, but indeed a feature request 🙂
@gmourier do you want to move it on your side. Not only the `&` is concerned b

[2021-08-11 15:34] curquiza commented on #1555
Thank you @carlreid for your investigation!
I'll keep you informed on the issue!

[2021-08-12 08:11] MarinPostma commented on #1555
I'm really starting to suspect a deadlock in the update store. This shouldn't be too hard to investigate. @carlreid are you also performing snapshots/dumps?

[2021-08-12 08:26] carlreid commented on #1555
@MarinPostma We were not performing any snapshots or dumps. Just adding documents and hitting /stats on the index is all that was happening

[2021-08-12 08:47] bb opened #1576 "FacetDistribution values are incomplete"
**Describe the bug**

When doing a search including facetsDistribution in 0.21.0rc4, I don't receive all values for a field, even when I'm not filtering. In earlier versions (0.20 and before) the facetDistribution was complete and correct for the same dataset.

I made sure it's not missing data by checking the values in the hits from the very same response.

My dataset contains a field `region_ids

[2021-08-12 09:50] gmourier commented on #1571
Thanks, @aidanhs and @curqui!

There are two things that seem important here.

- Adding user desired separators to the tokenizer. The `&` character for example.
- Be able to specify / modify the separators according to a use-case. Some users might consider any separator as part of a specific business nomenclature.

[2021-08-12 09:59] Kerollmops commented on #1576
Hey @bb,

What I understand is that you want the engine to return at least the facet values that are present in the returned documents in the `facetDistribution` field returned. And if that really what you want it is absolutely feasible and that will not impact performances.

@ManyTheFish What we can do to enable this behavior is that we continue to return the values from the inverted index (from

[2021-08-12 10:04] bb commented on #1576
I want *all* facet value counts for all documents (...matching the filter criteria, if any). I just took the returned documents example as a way to proof the situation.

[2021-08-12 11:33] curquiza commented on #1576
Hello @bb!
We found out we put a hard limit for the facet values. We removed it.
I created a draft branch that should fix your issue -> https://github.com/meilisearch/MeiliSearch/pull/1577 Can you confirm if you have time? 😁
It would be helpful!

[2021-08-12 11:53] mrmaxonline commented on #1569
Hi!

Build RC3 (or RC4) from git update. POST 'documents' with data but after search old data present in result. Only Add document working - Update notthing happend.

[2021-08-12 11:54] curquiza commented on #1576
However, I want to warn you: the search engine will not return the zero facet value anymore. I mean:
- v0.20.0
[code]

- v0.21.0
[code]

This is impossible for the new search engine to display ALL the facets. This is something we might never change.

Here is a workaround to display them in front-end: https://github.com/meilisearch/meilisearch-js/issues/970

FYI, Algolia does the same, here is thei

[2021-08-12 12:06] bb commented on #1576
Thanks for clearing that zero-change up. I wasn't even aware 0.20.0 returns facet values with count zero.

It looks better as the result count is higher than 100, but I still don't have the results I expected:

[code]

[2021-08-12 12:54] curquiza commented on #1569
Hello, here is the step I do with RC4

- adding with [`POST /indexes/:uid/documents`](https://docs.meilisearch.com/reference/api/documents.html#add-or-replace-documents)
[code]
-> the document is well added, I get it with [`GET /indexes/:uid/documents/2`](https://docs.meilisearch.com/reference/api/documents.html#get-one-document)

- Then I try to update with [`PUT /indexes/:uid/documents`](https:/

[2021-08-12 14:15] bb commented on #1576
Some more analysis revealed, that the `facet_numbers_distribution_from_facet_levels` algorithm (which is selected when `nbHits > 3000`) doesn't work for me while the `facet_distribution_from_documents` algorithm is fine. I rebuilt with https://github.com/meilisearch/milli/blob/remove-facet-distribution-limit/milli/src/search/facet/facet_distribution.rs#L18 changed to a number bigger than the count

[2021-08-12 15:29] curquiza commented on #1576
@bb, Many just finished the fixed, can you check again.

on the `fix-facets-distribution` branch in the MeiliSearch repository
[code]

[2021-08-12 16:30] bb commented on #1576
@curquiza, the fix looks good. Thanks a lot to @many and you!

There was only a change for string facets which ist what I reported and tested. I already chatted with Many in Slack about that, he confirmed that only fields with string arrays were affected.

[2021-08-12 16:34] bb commented on #929
I think this issue is solved when #1576 is closed, @curquiza.

[2021-08-12 16:49] curquiza commented on #929
Hello @bb, thanks for making pop this issue in my notifications: I checked with @ManyTheFish, and this issue should have been closed when we merged the new search engine 😂 I completely missed it
The new search engine has a completely different behavior compared to v0.20.0 and this issue will be solved once v0.21.0 is out!
The fix he did is also related, but is more a "finishing touch" 😄

So, closi

[2021-08-12 16:49] #929 closed

[2021-08-13 10:24] curquiza opened #1581 "Sort during query time"
### Important

This issue is based on this specification: https://github.com/meilisearch/specifications/blob/main/text/0055-sort.md
The specification gathers all the information related to this feature: the motivation, the API and technical changes, the future possibilities...

⚠️ For anything that is not clear or deeply detailed in this issue, please refer to this specification.

----

## Feature

[2021-08-13 10:29] curquiza opened #1582 "Integrate sort on Milli's side"
Sub issue of this tracking issue: https://github.com/meilisearch/MeiliSearch/issues/1581

---

To introduce this new feature, some part of the job has to be done on Milli's side.

Once the Milli's release containing the changes is out, the MeiliSearch dependency should be updated in this repository.

[2021-08-13 10:59] curquiza opened #1583 "Add `sortableAttributes` setting"
Sub issue of this tracking issue: #1581

Based on this specification: https://github.com/meilisearch/specifications/blob/main/text/0055-sort.md

---

The `sortableAttributes` setting allows the end-users to configure the sortable attributes so that the search engine is aware of them and can perform the sort at the query time.

- [ ] Add the settings.

This setting behavior should be consistent wit

[2021-08-13 11:03] curquiza opened #1584 "Add telemetry for the `sort` feature"
Sub issue of this tracking issue: #1581

Based on this specification: https://github.com/meilisearch/specifications/blob/main/text/0055-sort.md

---

We need to measure:
- [ ] Number of sorted attributes used in sort search parameter to calculate an avg per server.
- [ ] Ranking-rules setting definition to evaluate position customization.
- [ ] Number of sortableAttributes to calculate an avg per

[2021-08-13 11:05] curquiza commented on #730
Here is the new one: https://github.com/meilisearch/MeiliSearch/issues/1581

[2021-08-13 11:14] curquiza opened #1585 "Accept the `sort` parameter during search"
Sub issue of this tracking issue: #1581

Based on this specification: https://github.com/meilisearch/specifications/blob/main/text/0055-sort.md

---

⚠️ All the implementation details are available in this [section of the specification](https://github.com/meilisearch/specifications/blob/main/text/0055-sort.md#as-an-end-user-i-want-to-specify-a-sort-parameter-at-search-time-so-that-i-can-sort-searc

[2021-08-15 10:45] gmourier opened #1587 "Sending a non supported `Content-Type` should leads to a `415 Unsupported Media Type`"
**Describe the bug**

When I send a `Content-Type` different from `application/json` like `text/html`, the status code of the response is `202 Accepted`.

**To Reproduce**

- Specify a non supported `Content-Type` like `text/html`

**Expected behavior**

I expect the API to return a `415 Unsupported Media Type` when I'm specifying a non supported `Content-Type` header.

**MeiliSearch version:** [v

[2021-08-15 13:48] CodeWithClass commented on #1565
Ahhh Yes. All updates are now "processed" and it works.

For anyone reading this in the future basically: give it time to index. it may take hours/days.

Thanks guys

[2021-08-15 13:48] #1565 closed

[2021-08-16 08:27] curquiza commented on #1565
Awesome @CodeWithClass! Thanks for your feedback 😄

I would add something for people that don't see the end of their data indexation: waiting for hours can happen, days are not expected. Here is the optimized way to push data to MeiliSearch:

* We always recommend pushing your documents to MeiliSearch by batch and not one by one. The maximum payload size of MeiliSearch is 100Mb and [can be optiona

[2021-08-16 09:10] curquiza commented on #1587
Will be fixed during the implementation of new formats: CSV and NDJSON
- https://github.com/meilisearch/specifications/blob/main/text/0028-indexing-csv.md
- https://github.com/meilisearch/specifications/blob/main/text/0029-indexing-ndjson.md
🙂

[2021-08-16 12:14] ShubjeetPal opened #1589 "index binary documents such as PDF, MS Office."
How can I use MeiliSearch to index binary documents such as PDF, Open Office, MS Office in a react Static Web Application where CMS is Strapi.
Any suggestions/ plugins will be helpful

[2021-08-16 12:37] bb opened #1590 "Panicking in grenad when indexing"
**Describe the bug**
When indexing a certain dataset, I get reproducible panicks in Grenad sorter.rs.

**MeiliSearch version:** This happens in rc4, as well as in the branches fix-facets-distribution (f3e595e2) and test-new-indexer (10ac08bc). It does *not* happen in 0.20.0.

### Stacktrace from test-new-indexer

[code]

**To Reproduce**

Unfortunately, I cannot share the dataset publicly, but thi

[2021-08-16 12:47] curquiza commented on #1590
Thanks a lot for this report @bb!
If someone has the same issue and can share the dataset, it would be awesome 🙏

[2021-08-16 15:39] CodeWithClass commented on #1565
Do you know if there is a way to push by batch when using laravel scout + meilisearch? I used the php artisan scout:import command

[2021-08-16 16:04] curquiza opened #1591 "New indexer integration"
## Motivation

Due to lots of feedbacks related to indexation issues (crashes and slowness) we are building a new indexer

## TODO

- [ ] The indexer integration is done on Milli's repository. Here is the related PR https://github.com/meilisearch/milli/pull/308
  - This new indexer optimizes the threads usage
  - This integration also fixes the memory crashes issues we have (fixed in the [`grenad`

[2021-08-16 16:07] curquiza commented on #1589
Hello!

You cannot push binary files to MeiliSearch at the moment. You have to extract the text from your file and push the content into MeiliSearch!

@gmourier, for the new feature request 😇

[2021-08-16 16:12] curquiza commented on #1565
with the `-c` command of `php artisan scout:import` you can select the number of docs by batch

https://github.com/meilisearch/meilisearch-laravel-scout/issues/58#issuecomment-727102131

[2021-08-16 16:29] bb commented on #1590
Thanks a lot @curquiza. @Kerollmops released a new version of https://github.com/Kerollmops/grenad (0.3.0) but the PR https://github.com/meilisearch/MeiliSearch/pull/1588 still references 0.2.0: https://github.com/meilisearch/milli/pull/308/files#r689681516.

Currently it does not build for me.

[2021-08-16 16:38] curquiza commented on #1590
Yes! Some changes has to be done on the branch! Kero is doing them 😊

[2021-08-17 08:13] curquiza commented on #1576
fixed with #1577

[2021-08-17 08:13] #1576 closed

[2021-08-17 12:51] curquiza commented on #1591
This impacts the @meilisearch/docs-team because:

- the [memory disk usage](https://docs.meilisearch.com/reference/under_the_hood/storage.html#lmdb) will change. The core team should create the PR to give the new measures.

- no memory crash should happen anymore. If there are sections in the docs warning the users, you can remove them.
To explain it in detail: MeiliSearch detects the memory size

[2021-08-17 13:29] curquiza opened #1592 "Add basic telemetry"
### Important

This issue is based on this specification: https://github.com/meilisearch/specifications/blob/main/text/0034-telemetry-policies.md
All the spec is not implemented, we discuss together with @gmourier to decide what should be added for v0.22.0.

⚠️ For anything that is not clear or deeply detailed in this issue, please refer to this specification.

-----

TODO

- [ ] Number of indexes

[2021-08-17 14:07] curquiza opened #1593 "Handle new file formats (CSV and NDJSON)"
### Important

This issue is based on these specifications:
- [CSV spec](https://github.com/meilisearch/specifications/blob/develop/text/0028-indexing-csv.md)
- [NDJSON spec](https://github.com/meilisearch/specifications/blob/develop/text/0029-indexing-ndjson.md)

These specifications gather all the information related to these features: the motivation, the API and technical changes, the future po

[2021-08-17 14:08] lev-michael opened #1594 "Panic error when decoding"
Hello,

I am trying to update document, but it always fail.

Status of update it's always same:

[code]

Error could be caused by sending only updated fields to database not whole object, but in old version  v0.20 everything works as expected.

Working with Meilisearch in NestJS project. My code:

[code]

[2021-08-17 14:10] curquiza commented on #1593
@meilisearch/docs-team @meilisearch/integration-team: this issue is put in the v0.22.0 milestones, but we might miss time to implement all of them! I'll keep you informed on regular basis.

[2021-08-17 14:12] curquiza commented on #1594
Hello @lev-michael! Thanks for your return!
can you send us the dataset that causes the failure? Otherwise, we cannot reproduce it.

[2021-08-17 14:20] curquiza commented on #1594
Also, if you have time, could you check to import your data using our new indexer? It's available at the branch `test-new-indexer` on this PR https://github.com/meilisearch/MeiliSearch/pull/1588:

[code]
It would be very helpful!
Thanks in advance 🙂

[2021-08-17 15:55] curquiza commented on #1590
The branch is up to date now, you can test it now :)

[2021-08-17 21:52] bb commented on #1590
It wasn't compiling with Rust 1.53 on MacOS (sysinfo-0.20.0 had 31 errors, even after cargo clean) but after upgrading to 1.54 it worked fine and I verified the minimal test case via curl, the minimal test case via meilisearch-rails and a slightly bigger testcase via meilisearch-rails.

The good news is, the minimal test case worked. The bad news is, the slightly bigger test case panicked:

[code]

[2021-08-18 05:42] TiagoJacobs opened #1595 "Security issue with the _formatted attribute ( highlight )"
**Describe the bug**
When you do a search and require to highlight the terms that matched, an HTML tag `<em>` is added.
This force the applications to render the result from MailiSearch as HTML.
If a user insert a malicious HTML code, it will get executed.
MailiSearch should escape ( something similar to what php's [htmlentities](https://www.php.net/manual/en/function.htmlentities.php) function do

[2021-08-18 06:48] lev-michael commented on #1594
Sure, object I am trying to update:

[code]
With update:
[code]

Index primary key is set as '_id'.

Ok if I have time I will try it and check it.

[2021-08-18 07:36] curquiza commented on #1594
Hello @lev-michael! I'm sorry, I didn't succeed to reproduce your error with the document you gave.

Here are my steps:
- create an index with `_id` as primary key
- add the document with [this route](https://docs.meilisearch.com/reference/api/documents.html#add-or-replace-documents) :
[code]
- Update the document with [this route](https://docs.meilisearch.com/reference/api/documents.html#add-or-u

[2021-08-18 08:05] gmourier commented on #1595
Hello @TiagoJacobs 👋

For the moment we have chosen to let the sanitization work to the choice of the user on the client-side according to his use case.

Here is an issue that will give more details about that choice. https://github.com/meilisearch/MeiliSearch/issues/1409

It is possible that we will change this behavior later, I will move this issue to our product repository discussions space so

[2021-08-18 09:54] curquiza commented on #1592
@meilisearch/integration-team: checked with @gmourier, this will not be easy to add the SDK telemetry in v0.22.0, so the SDK telemetry addition is delayed! I removed the `impacts integrations` label then, the integration team is not concerned by this issue anymore 🙂

[2021-08-18 10:16] curquiza commented on #1590
I've just tested: this branch fixes the panic with both datasets (3000 and 21000) 😄 🎉
https://github.com/meilisearch/MeiliSearch/pull/1596

We hope this is the same on your side! If it is, the bug fix will be included in v0.21.0

[2021-08-18 11:06] guimachiavelli commented on #1581
FYI: link to spec is giving a 404. I believe spec 55 hasn't been merged into the main branch.

[2021-08-18 11:29] curquiza commented on #1581
Thanks! Fixed!

[2021-08-18 11:41] curquiza commented on #1594
Is your machine 32bit?
Can you give us the output of

[code]

in your terminal?

[2021-08-18 11:44] gmourier commented on #1581
Thansk @guimachiavelli. I have moved specifications that are not implemented yet to a develop branch. Basically, I imagine using gitflow to have a detailed view on the specification side of what will go into a particular release (it will also be useful to generate diffs with bump.sh on a staging branch, that's an aspect of the product they are currently working on)

[2021-08-18 11:46] guimachiavelli commented on #1581
@gmourier makes perfect sense, thanks for clarifying =)

[2021-08-18 12:02] guimachiavelli commented on #1592
Since this issue has been delayed, is it still relevant for v0.22 docs?

[2021-08-18 12:22] curquiza commented on #1592
The SDK telemetry has been delayed only. Not the rest of the issue.
The docs-team still have to document the remaining 3 points (Number of indexes per instance, Number of documents per index, CPU and RAM per machine)

[2021-08-18 12:24] guimachiavelli commented on #1592
understood, thanks!

[2021-08-18 13:16] bb commented on #1590
I confirmed the 21k case working in branch update-tokenizer-0.2.5 as well as in test-new-indexer.

[2021-08-18 14:04] CodeWithClass commented on #1565
Amazing. I was able to batches of 100,000 and my entire DB was indexed in minutes!

Follow up question. Is it possible to cancel "enqueued" operations?

[2021-08-18 14:18] curquiza commented on #1565
Not at the moment sorry! You can ask for new features here :) https://github.com/meilisearch/product/discussions/categories/feedback-feature-proposal

[2021-08-18 16:48] curquiza commented on #1590
Closed by https://github.com/meilisearch/MeiliSearch/pull/1596

[2021-08-18 16:48] #1590 closed

[2021-08-18 17:31] ChillFish8 opened #1597 "Panicked at 'Update store loop exited'"
**Describe the bug**
Meilisearch can be observed to panic after a fairly large processing of documents followed by some high load followed by dropping all docs.

Once this panic's it becomes impossible to add any more documents, all requests then go to a 500 status code.

**Full Error Message**
[code]

**Rough Steps To Reproduce**
Steps to reproduce the behaviour:
1. Upload the movies.json dataset

[2021-08-18 17:43] ChillFish8 commented on #1597
With some more digging, it seems like this is a similar re-appearance of the #1465 and #1455 however the related bug fix that was merged doesn't seem to have fixed the root cause.

[2021-08-18 18:15] ChillFish8 commented on #1597
Running in debug we get a little error message:
[code]
Even though docs had finished processing about 30 minutes ago before the benchmark

unfortunately running in debug didn't provide any more info :(

[2021-08-18 20:10] CodeWithClass commented on #1565
So how would I stop the enqueuing of the documents that are taking forever?

[2021-08-19 08:18] curquiza commented on #1565
This is really weird!

I've just tested
- add a lot of documents in an index
- before the update is processed: delete the index
- I cannot get the update status of the index: this is expected because the index does not exist anymore
- I create a new index with the same name
- I get the update status of the index: I get an empty array.

So, contrary to you the "deleting and recreating index" method

[2021-08-19 08:20] curquiza commented on #1597
Hello @ChillFish8!
`main` is not the most updated branch at the moment, please try with `release-v0.21.0` or with one of our RCs: https://github.com/meilisearch/MeiliSearch/releases

[2021-08-19 09:00] curquiza commented on #1584
@gmourier, a question from @irevoire: related to the first point, do we need to store all the sort search parameters? Because it can impact drastically the performance if the user does thousands and thousands of search requests? We indeed send the analytics to amplitude every one hour.
Tamo suggests to only keep the 1000 last ones 🙂

[2021-08-19 10:39] ChillFish8 commented on #1597
after some more testing, I do believe v0.21.0 has fixed this issue, thanks for pointing out the different branch 👌

[2021-08-19 11:15] Sembiance commented on #1103
Was this ever added into meilisearch?

The three things preventing me from adopting meilisearch are:
- sortBy
- Disable typo tolerance per field, entirely or at search time
- Delete by query

[2021-08-19 11:49] curquiza commented on #1597
Thanks for your report @ChillFish8! I close this issue then :)

[2021-08-19 11:49] #1597 closed

[2021-08-19 11:51] curquiza commented on #1103
Hello @Sembiance! Thanks for your feedback, it might interest @gmourier 😇

Also, about the SortBy, it will be implemented in v0.22.0 available in the middle of September, here is the tracking issue: https://github.com/meilisearch/MeiliSearch/issues/1581

[2021-08-19 14:13] curquiza commented on #1103
About disable the typo tolerance: there is a workaround by using the phrase search (available in v0.21.0, the official release is next week). You have to surround each query word by `"` when sending the query to MeiliSearch.
Ex: if the user types `meili search` you will have to send `"meili" "search"` to the search engine

However there are some limits to this workaround: using the `"` the search

[2021-08-19 14:21] curquiza commented on #1591
@meilisearch/docs-team we are currently doing benchmarks on the new indexer: depending on our results, the documentation can be impacted.
Ex: I said "no crashes are present anymore", the result can be a slight difference 😁
Of course, I'll keep you informed and the core team will help you create the technical pages you need!

Also, more detail about the indexation: I already talked about the RAM co

[2021-08-19 14:52] Sembiance commented on #1103
@curquiza  AWESOME workaround! That'll work great for the time being. Thanks!

[2021-08-20 01:17] Sembiance opened #1601 "Decoding failure when deleting documents"
**Describe the bug**
Attempting to delete any document from a dataset below results in an error:
[code]

**To Reproduce**
1. Run `meilisearch` `v0.21.0rc6`
2. Create the index :
`curl -X POST 'http://localhost:7700/indexes' --data '{"uid": "test", "primaryKey": "docid"}'`
`curl -X POST 'http://localhost:7700/indexes/test/settings' --data '{"filterableAttributes": ["label"]}'`
3. Populate the data:

[2021-08-20 09:31] curquiza commented on #1601
Hello @Sembiance! Thank you so much for this report and for the detailed steps! 🙏 I think this is the same bug as https://github.com/meilisearch/MeiliSearch/issues/1594 we did not succeed to reproduce!

I followed your steps and I got the same error as you report!

[2021-08-20 18:11] bnfd opened #1603 "unknown field `facetFilters`"
I'm using the latest version (v0.21.0rc6).

[code]
I get the following error:

[code]

[2021-08-20 18:34] Sembiance commented on #1603
I think `facetFilters` was removed in `0.21`.
According to the dev docs: https://dev.docs.meilisearch.com/reference/api/search.html#search-in-an-index-with-get-route
There is just `filter` now, I believe.

[2021-08-20 18:35] Sembiance commented on #1603
Ahh yes, here is a blog post that discuses how `facetFilters` has been replaced with just `filter`: https://blog.meilisearch.com/refactoring-meilisearch/

[2021-08-20 18:51] bnfd commented on #1603
Thanks @Sembiance .
Using filter results in an error:
[code]
[code]

Am I doing something wrong?

[2021-08-20 19:06] Sembiance commented on #1603
I also believe the `<term>:<match>` syntax was removed too and replaced with `<term>=<match>` Try using `"tags=selection1"`

[2021-08-20 19:12] bnfd commented on #1603
Now I'm getting `tags` is not filterable.

```{"message":" --> 1:1\n  |\n1 | tags=selection1\n  | ^--^\n  |\n  = attribute `tags` is not filterable, available filterable attributes are: ","errorCode":"invalid_filter","errorType":"invalid_request_error","errorLink":"https://docs.meilisearch.com/errors#invalid_filter"}```

[2021-08-20 19:18] Sembiance commented on #1603
Make sure you have set `tags` as a `filterableAttributes` for the index settings:
[code]

[2021-08-20 19:34] Sembiance opened #1604 "Unable to query match a document with a particular field value"
**Describe the bug**
Attempting to find the word `drawing` in a `content` field **FAILS** with `v0.21.0rc6`. Works fine in `v0.20.0`

**To Reproduce**
1. Run `meilisearch` `v0.21.0rc6`
2. Create the index :
`curl -X POST 'http://localhost:7700/indexes' --data '{"uid": "test", "primaryKey": "docid"}'`
`curl -X POST 'http://localhost:7700/indexes/test/settings' --data '{"displayedAttributes" : ["fil

[2021-08-20 19:53] bnfd commented on #1603
Thanks, that helped.

The documentation is problematic:
https://dev.docs.meilisearch.com/reference/api/filterable_attributes.html#get-filterable-attributes
The examples are missing.
https://dev.docs.meilisearch.com/reference/features/filtering_and_faceted_search.html#configuring-filters
The examples still use `attributesForFaceting` which from what I understand has been deprecated in 0.21.0.

I tr

[2021-08-20 19:55] Sembiance commented on #1603
Modifying the index settings, adding a new field to `attributesForFaceting` will cause meilisearch to re-process all the documents and this can take some time. You can check the status with: https://dev.docs.meilisearch.com/reference/api/updates.html#get-all-update-status

[2021-08-20 20:27] bnfd commented on #1603
I checked, it says it took 48 secs:
[code]
In total there are 20k documents in the index and only 2 have the tag applied..
Despite setting the filterable attributes, it erroneously reports they are not filterable when trying to query `"filter": ["tags=selection1"]` .

[2021-08-20 23:46] Sembiance commented on #1604
Ahh, so I think iI've ran into the limitation mentioned in the docs limitations: `MeiliSearch can index a maximum of 1000 words per attribute.`

The `content` field in my example has over 1,000 words for sure.

Ugh, if that's the case, that's a hard dealbreaker for me :(

[2021-08-23 05:22] mrmaxonline commented on #1569
Hi!

We are always using POST (not PUT) for update all data in document. And using ID as Guid value.

![image](https://user-images.githubusercontent.com/12570364/130394598-86931572-71b1-4b5a-a34d-eaec672bb3e4.png)

[2021-08-23 08:24] curquiza commented on #1603
Hello @bnfd!
Sorry for the confusion with this breaking change, I will open an issue in the documentation: this is a known problem but this is indeed not convenient!

Adding facets needs a re-indexation. Since v0.21.0, the re-indexation is a little bit longer since it involves more calculations to provide a better search relevancy. However, we are working right now on improving the indexation spee

[2021-08-23 11:17] curquiza commented on #1592
Checked with @gmourier, finally, this will not be present in v0.22.0. We need more time to think about what we really need :)
I close this issue!

[2021-08-23 11:17] #1592 closed

[2021-08-23 11:20] curquiza opened #1606 "Remove Sentry"
Checked with @gmourier and the approval of @qdequele

## Motivation

We want to remove Sentry since we don't use it.

## TODO

Remove the Sentry calls from the code base.
The `--no-analytics` flag only concerns Amplitude anymore.

Impacts the @meilisearch/docs-team.

[2021-08-23 11:23] curquiza commented on #1584
Checked with @gmourier, this issue is not relevant anymore.

[2021-08-23 11:23] #1584 closed

[2021-08-23 11:27] curquiza commented on #1569
Hello @mrmaxonline!
Can you give us the dataset and the steps you did to reproduce the bug, please? Otherwise we cannot help you.

[2021-08-23 11:46] curquiza commented on #1601
Closed by #1605

[2021-08-23 11:46] #1601 closed

[2021-08-23 12:24] CaroFG commented on #1569
Hi @mrmaxonline, are you sure MeiliSearch is using `DOCUMENTUID` as the primary key? You can check it by calling the [GET /indexes/:index_uid](https://dev.docs.meilisearch.com/reference/api/indexes.html#get-one-index) route, and checking the `primaryKey` in the response.

[2021-08-23 16:39] curquiza opened #1608 "Fix Docker CI for `latest` image"
The CI to push the `latest` docker image did not work despite the success of the CI.
https://github.com/meilisearch/MeiliSearch/runs/3402172543?check_suite_focus=true

[2021-08-23 17:32] curquiza commented on #1594
Hello @lev-michael[
MeiliSearch v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/v0.21.0) is out. Does this version solve your issue?

[2021-08-23 20:23] zehawki opened #1611 ""pdates route gives information" doesnt throw up any results"
**Describe the bug**
Partial word search doesnt throw up a result

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.meilisearch.com/
2. Click on the search box
3. Type in "pdates route gives information"
4. No results

**Expected behavior**
Should be the same as with "updates route gives information", or?

**Screenshots**

![image](https://user-images.githubusercontent.com/8

[2021-08-24 07:52] curquiza opened #1614 "Integration of Meilisearch with NestJs"
### Discussed in https://github.com/meilisearch/MeiliSearch/discussions/1613

<div type='discussions-op-text'>

<sup>Originally posted by **indianpix098** August 24, 2021</sup>
Can we create a specific documentation for integration.</div>

[2021-08-24 08:30] curquiza commented on #1611
Hello @zehawki!

No, you should not the same result as `updates route gives information` -> no document contain `pdates`, and `pdates` is not a prefix (the beginning of a word contained in some documents) so you cannot have any result 🙂

[2021-08-24 08:31] mrmaxonline commented on #1569
HI @CaroFG !
Result is:
{"uid":"rtea_documents_dev","name":"rtea_documents_dev","createdAt":"2021-08-11T06:22:02.659019145Z","updatedAt":"2021-08-24T08:29:50.226966702Z","primaryKey":"documentUid"}

[2021-08-24 08:32] mrmaxonline commented on #1569
Hi @curquiza !
Sorry, I can't bacause it countains closed data

[2021-08-24 08:34] curquiza commented on #1611
I would like to complete my note: MeiliSearch is typo tolerant, so `pdates` is indeed a `updates` with a typo of 1. However, MeiliSearch does not take into account typo on the first letter at the moment. This is something we might improve, see this discussion about this improvement: https://github.com/meilisearch/product/discussions/83

[2021-08-24 08:37] curquiza commented on #1569
I understand. The issue is we cannot reproduce your bug without more context. Is the new release ([v0.21.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.21.0)) fixing your issue?
Do you have the same issue with one of previous versions? [v0.20.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.20.0) for example.

[2021-08-24 08:41] mrmaxonline commented on #1569
0.20 work fine.
0.21 release testing right now. I'll send a comment

[2021-08-24 09:09] zehawki commented on #1611
Thank you for the additional detail - thats what I was thinking as well, that typo tolerancy should account for this...

[2021-08-24 11:46] irevoire commented on #1587
And once we implement that, are we supposed to refuse `application/x-www-form-urlencoded`?
Because that’s what `curl` sends us when we follow the current commands from the documentation.

[code]

[code]

[2021-08-24 12:20] #1608 closed

[2021-08-24 13:18] curquiza commented on #1611
Hello again @zehawki! I want to apologize for the confusion in this issue, my bad: the old versions (v0.20.0 and before) contain this "bug". Not v0.21.0 that we just released! The typo tolerance on the first letter is now allowed 😄

The search bar you use in the document is just an old version at the moment, we plan to change it for v0.21.0 soon 🙂

[2021-08-24 13:36] zehawki commented on #1611
Okays! I actually saw this in my own installation, then came to check on the site. I see that my install (DO droplet) is on 0.20.0.

[2021-08-24 13:41] lev-michael commented on #1594
I have 64bit machine with Ubuntu 20.04.

Yes, it does. I tried it today with new version and it runs without any problem. Unfortunately I didn't find what caused my problem before.

Thank you for your help.

[2021-08-24 14:10] curquiza commented on #1611
Yes, we only release yesterday, it might take time, but someone will answer to your post here: https://github.com/meilisearch/MeiliSearch/discussions/1617

I close this issue then! :)

[2021-08-24 14:10] #1611 closed

[2021-08-24 14:34] bakarep opened #1618 "Only Strict Search working. Lenient Search not working properly."
I have text in first title as "ABC Status LEDs for Ciyana Equipment used with XYZ Service"
And in second title there is text in between as "LED status".

When I provide search string as "LED status", only second title is returned. Why is first not returned?
When I search for "Ciyana LED" only first title is returned. Why is second not returned, even though it has LED in it?
When I search for "Ciya

[2021-08-24 16:51] Kerollmops opened #1619 "Update store loop exited while executing the tests"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the MeiliSearch repository
2. Just do a `cargo test`

**MeiliSearch version:** v0.21.0, even just main.

**Additional context**
I am on macos on an Apple M1 machine.

[2021-08-24 17:01] Kerollmops opened #1620 "Use the `Setting` enum fro milli in the Settings"
I would like to use the `Setting` enum introduced by @shekhirin in milli in MeiliSearch https://github.com/meilisearch/milli/pull/148.

It makes the code must easier to read, and it would [make this part of the code better](https://github.com/meilisearch/MeiliSearch/blob/850069af75cc79cb2809de616c322f10e914efec/meilisearch-http/src/index/updates.rs#L36-L87).

[2021-08-24 17:10] curquiza commented on #1594
Thank you for you report 😄

I close this issue then

[2021-08-24 17:10] #1594 closed

[2021-08-24 17:41] zehawki opened #1621 "No results when search string is adjoining an html tag?"
**Describe the bug**
I'm seeing a strange issue and I can't understand how something so basic can be an issue. Perhaps something on my side? But here goes: when searching for a string that I know is in the doc, I get no results. Ive tried this with multiple docs and dozens of query strings, and each time I get the same results, ie no search result.

**To Reproduce**
Here's the key and data:

` "co

[2021-08-24 18:20] shekhirin commented on #1620
Hi @Kerollmops! Long time no see 😄. I think I can work on this one, should be easy to do.

[2021-08-24 19:22] dorinniscu opened #1624 "MeiliSearch v0.21.0 unknown field `filterableAttributes`"
**PHP:** [8.0]
**Laravel:** [8.56.0]
**MeiliSearch:** [0.21.0]
**MeiliSearch PHP:** [0.19.0]

I upgraded MeiliSearch from 0.20.0 to 0.21.0.

As I understand from documentation "**attributesForFaceting**" has been renamed into "**filterableAttributes**" so I am trying to update the settings accordingly.

I receive an error: "**Invalid JSON: unknown field `filterableAttributes`, expected one of `ran

[2021-08-24 19:25] curquiza commented on #1624
Hello, can you get the `/version` route:
[code]

[2021-08-24 19:30] curquiza opened #1625 "`filterableAttributes` order changes"
Two calls to `index/:uid/settings/filtarable-attributes` can return two different orders of fields.

Example: with `genre` and `price` as `filterableAttributes` you can get
[code]

or
[code]

To be consistent with the other settings, the order of these fields should be always the same: the order given by the user during the update.

Contribution are accepted, feel free to ask any questions 🙂

[2021-08-24 19:35] dorinniscu commented on #1624
{"commitSha":"dd645e6da4f27167d34a1d7a505ad14b27c86203","commitDate":"2021-08-23T11:06:45+00:00","pkgVersion":"0.21.0"}

[2021-08-24 19:37] dorinniscu commented on #1624
Thanks @curquiza
I restarted the service and it works fine now. Probably the v0.20.0 was still running. :)

[2021-08-24 19:39] curquiza commented on #1624
Ok nice 🙂 I'm happy this is now ok for you!
I close this issue then!

[2021-08-24 19:39] #1624 closed

[2021-08-24 19:47] curquiza commented on #1621
Hello @zehawki

This is not a bug, but expected. `Things to know` is `<h2>Things to know</h2>` in the document and `<`/`>` are not considered as separator at the moment by MeiliSearch. It means, for MeiliSearch, the word `Things` does not exist but `<h2>Things` does. So MeiliSearch cannot retrieve only `Things`

This is related to both of these feature requests we have right now:
- https://github.

[2021-08-24 19:51] dorinniscu commented on #1624
@curquiza And not least, congrats for an amazing product! :)

[2021-08-24 20:05] zehawki commented on #1621
Got it. Thank you for the quick response, and apologies for posting a duplicate. I searched thru issues and didnt find similar - guess from now on I should also check product/discussion.

[2021-08-24 20:07] curquiza commented on #1621
No problem, thank you for your report 🙂
I close the issue then

[2021-08-24 20:07] #1621 closed

[2021-08-24 20:42] dorinniscu commented on #1499
@qdequele  I upgraded MeiliSearch to v0.21.0 and seems that that the possible facets (disjunctive filters) does not come at all (on v0.20.0 I received them but with count 0). Do I miss something? I send the values as before using inner arrays for "OR" conditions.

[2021-08-24 20:46] dorinniscu opened #1626 "MeiliSearch v0.21.0 missing disjunctive filters"
@qdequele  I upgraded MeiliSearch to **v0.21.0** and seems that that the possible facets (disjunctive filters) does not come at all (on **v0.20.0** I received them but with count 0). Do I miss something? I send the values as before using inner arrays for "**OR**" conditions. It behaves as "**AND**"

_Originally posted by @dorinniscu in https://github.com/meilisearch/MeiliSearch/issues/1499#issueco

[2021-08-24 20:53] zehawki commented on #1621
So I guess for now I'll send HTML stripped content into Meili.

[2021-08-25 07:24] curquiza commented on #1621
Yes :)

[2021-08-25 08:15] curquiza commented on #1499
Reopening. It might be a misunderstanding.
@Kerollmops can you confirm the disjunctive facets should be present or is it not a bug?

[2021-08-25 08:20] curquiza commented on #1626
Hello @1615!
Closing this in favor of https://github.com/meilisearch/MeiliSearch/issues/1499
Your problem is more understandable in this issue 🙂

[2021-08-25 08:20] #1626 closed

[2021-08-25 08:22] Kerollmops opened #1627 "Make the order of the sortable and filterable attributes is constant between calls"
Currently, the order of the `sortableAttributes` and `filterableAttributes` is given in are not which changes between API calls. We must return them in a constant order and the simplest solution would store them in a `BTreeSet` instead of a `HashSet`.

[2021-08-25 08:41] curquiza commented on #1604
Hello @Sembiance!

Sorry for the delay. @ManyTheFish will investigate on this issue and will come back to you 🙂

[2021-08-25 11:37] Kerollmops commented on #1499
Hey @dorinniscu,

The engine doesn't currently support the disjunctive facet distribution, it must be done by the client and is planned to be integrated and supported in [instant-meilisearch](https://github.com/meilisearch/instant-meilisearch).

On this part, I am not sure to understand correctly. The filter on arrays has been designed to do **AND** operation between the elements of the first leve

[2021-08-25 11:50] singh08prashant commented on #1570
adding 'WindowsNT' should work?
@curquiza Tell me if I'm wrong here. I would like to take up this issue.

[2021-08-25 12:04] dorinniscu commented on #1499
Thank you, @Kerollmops Probably the OR / And confusion is because I am not able to see all facets by default and possibility to select them (even with count 0). I will check the instant meilisearch solution.

Is there any plan to add disjunctive facet distribution support server side?

[2021-08-25 12:07] #1606 closed

[2021-08-25 12:11] Kerollmops commented on #1499
The instant-meilisearch client-side solution is not currently available but is planned. You can look at the latest issue I linked to understanding how you can implement it by yourself while waiting for us.

There is indeed planned for MeiliSearch to be able to compute it on its side but it surely involves a new API syntax. I will let @gmourier continue the discussion if he want to add something to

[2021-08-25 12:16] Kerollmops commented on #1620
Hey @shekhirin,

Very happy to see you ❤️ Indeed long time no see 🙈

You work so fast your 3 pull requests have hidden this notification on my Github notification feed!

[2021-08-25 12:26] Sliper959595 opened #1630 "The attribute does not work attributesToHighlight"
Hello everyone! The word highlighting function in meilisearch does not work. Please help me solve this issue.

[code]

[2021-08-25 12:56] ManyTheFish commented on #1604
Hello @Sembiance, your issue comes from the `position` limitation of words contained in an attribute.
We only keep a word if its computed position is under `1000`.

## How do we compute positions?
In meilisearch we have 2 kinds of separators:
- `soft`: only used to split 2 different words (like ` `, `-`, `=`,  `+`...)
- `hard`: use to split 2 different words that are not considered in the same con

[2021-08-25 13:02] CaroFG commented on #1630
Could you please specify which version of MeiliSearch and SDK are you using? 🙂

[2021-08-25 13:11] Sliper959595 commented on #1630
@CaroFG docker pull getmeili/meilisearch launched in docker from here image

[2021-08-25 13:12] dorinniscu commented on #1499
@Kerollmops I checked the instant-meilisearch solution (use case) but as I see it only "fills" the missing facets with count 0. (Mainly the v.0.20.0 behaviour) but not possible values (described in the main comment).

[2021-08-25 13:25] CaroFG commented on #1630
Just to be sure could you make a request to [GET /version](https://docs.meilisearch.com/reference/api/version.html#get-version-of-meilisearch)?

[2021-08-25 13:27] Sliper959595 commented on #1630
@CaroFG "pkgVersion": "0.20.0"

[2021-08-25 13:37] CaroFG commented on #1630
v0.20 doesn't highlight inside of arrays, maybe that's the problem. The latest version is now v0.21.0, a lot of issues have been solved with this new version, including highlight, could you please try it with v0.21.0 and tell us if the problem persists? 🙏  Use the `latest` tag for the docker image `getmeili/meilisearch:latest`

Note that there are some **breaking changes** in this new version (`fi

[2021-08-25 13:45] Sliper959595 commented on #1630
@CaroFG  Yes, of course. As soon as I do, I will write the result here

[2021-08-25 13:47] Sliper959595 commented on #1630
@CaroFG  getmeili/meilisearch   latest           0c64516d5478   4 months ago   321MB  / I seem to have the latest selected

[2021-08-25 13:55] CaroFG commented on #1630
Ok, my bad, the latest at the moment you downloaded it was v0.20 that's why it has this tag. Try: `docker pull getmeili/meilisearch:v0.21.0` 😁

[2021-08-25 13:57] copydepo opened #1631 "Encoding bug with accent characters"
Searching with hungarian characters (á, é, ó, ö, ő, ü, ű) doesn't work as expected. The highlight does not highlight these letters in search results. I assume it counts it as a typo also.

**Steps to reproduce**
1. Searching for keyword "nyomtató"
2. Results highlighting only "nyomtat" without the ending ó.

[2021-08-25 14:06] curquiza commented on #1631
Hello @copydepo

Which version of MeiliSearch do you use?

I've tested to add this doc:

[code]

and then search for

[code]

and I get correctly:

[code]

[2021-08-25 14:14] copydepo commented on #1631
Hello @curquiza,

thanks for fast response.

The version is 0.20.0 and here is a picture:
![image](https://user-images.githubusercontent.com/78180245/130806657-f4a0d852-0fe2-4c01-b6b5-320f7fa3e379.png)

[2021-08-25 14:16] CaroFG commented on #1631
Hi! I tried to reproduce the issue and I found out that the problem is that when using accents, MeiliSearch highlights one less character.

**Steps to reproduce the issue**
1. Add the movies dataset to MeiliSearch
2. Update the movie entitled "Lock, Stock and Two Smoking Barrels"  and change the title to "Lőck, Stóck and Two Smöking Barrels"
3. Wait for the update to be processed and search for "L

[2021-08-25 14:29] CNLHC commented on #1625
Do you consider changing `HashSet` to `BTreeSet` as a viable way to solve this problem?

[2021-08-25 14:35] ManyTheFish commented on #1631
Hey all! It's a known issue,
the prefix-highlight is not well handled when we have Unicode chars in the highlighted word 😅
#1480

[2021-08-25 14:39] curquiza commented on #1631
Ok, thanks @ManyTheFish I was not sure it was related!

Closing this issue in favor of #1480

[2021-08-25 14:39] #1631 closed

[2021-08-25 14:53] Sembiance commented on #1604
Thanks so much for the additional details! Quite informative. I hope this issue helps inform some other people in the future.

Sadly the 1,000 word limit is too restrictive for my use case (indexing millions of random documents from tons of CD-ROMs from the 90s). Splitting up into content2, content3, content4, ... requires knowing ahead of time how many content# fields I'd need and being able to a

[2021-08-25 14:53] #1604 closed

[2021-08-25 15:09] #1620 closed

[2021-08-25 15:12] Sliper959595 commented on #1630
@CaroFG In the new version, importing 40,000 records takes a very long time

[2021-08-25 15:18] CaroFG commented on #1630
Yes, we are aware of this loss of performance in some cases, you can learn more about it in this [blogpost](https://blog.meilisearch.com/refactoring-meilisearch/). But be sure our team is working to improve indexation performance

[2021-08-25 15:24] Sliper959595 commented on #1630
@CaroFG I have updated the relevance settings via insomnia, but they have not yet taken effect, is it rather because the import has not passed yet?

[2021-08-25 15:37] CaroFG commented on #1630
If I am not wrong, it is recommended to first add the settings and then the documents because when changing the settings MeiliSearch has to reindex the documents to take the new settings into account. So this can take a while...

[2021-08-25 16:02] curquiza commented on #1570
Hello @singh08prashant
Thanks for your involvement 🙂
Are you a windows user? I mean, do you have a machine to test the script?
Because we don't have Windows users at Meili and I just realized that is maybe not convenient at all to execute shell script on a Windows machine

[2021-08-25 18:43] midtur opened #1633 "Privacy policy"
You don't have a privacy policy on the docs page or touch on it at all.

[2021-08-26 09:34] #1633 closed, assigned to nobody

[2021-08-26 11:28] curquiza opened #1635 "Use `reset_sortable_fields` of milli"
⚠️ Should be done once https://github.com/meilisearch/milli/pull/330#issuecomment-906233431 is merged and released

We need to use `reset_sortable_fields` instead of the current `set_sortable_fields`.

There is no impact on the usage, only on the code base consistency 🙂

[2021-08-26 14:13] CaroFG opened #1637 "Update README with new mini-dashboard gif"

[2021-08-26 14:35] curquiza opened #1638 "Compilation panic when no `.git` are present"
**MeiliSearch version:** v0.21.0

We found out an issue when we tried to publish meilisearch v0.21 to Homebrew. Brew uses the tarball downloaded from GitHub directly which doesn't contain the .git folder.

We use the .git folder with Vergen to retrieve the commit and datetime information. Unfortunately, we were unwrapping the vergen result and it was crashing when the git folder was missing.

[2021-08-26 16:10] #1637 closed, assigned to CaroFG

[2021-08-28 10:39] Sliper959595 commented on #1630
@CaroFG  @gmourier With this, everything is clear. Thanks for the prompt help and clarification. I am glad that there is such support. Respectable.

I have one more question for you, I need to sort the returned data by the "created_at" field. But when I put "desc (created_at)" the sorting doesn't work for me. The field is in my "timestamp" database. Please help with the ranking settings.

![1](htt

[2021-08-28 20:41] Primdahl26 opened #1648 "Whitespaces in filter causing EOI error"
**Describe the bug**
After the release of v0.21.0, and the renaming of `facetsFilter` to `filter`, I am unable to filter items that include whitespaces. Adding items that do not include whitespaces, are filtered as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Search after a `filter` with a whitespace.
2. See error.

**Expected behavior**
Being able to filter with items that incl

[2021-08-28 21:00] Kerollmops commented on #1648
Hey @Primdahl26,

Thanks for this report, I will tell the documentation team about the outdated links on [the errors page](https://docs.meilisearch.com/errors/#invalid_filter), @guimachiavelli could you please update them, please? 👀

About the error returned when you try to search for `specific_provider_names=C More` it is indeed related to the new syntax that requires that you put values into dou

[2021-08-28 23:50] scampi commented on #1434
I have not been able to find the error, logs got deleted as it is too old. I got the following error on my local. Is it the error you encountered ?

- `rustc 1.55.0-beta.8 (2296b1665 2021-08-27)`
- 23ccf4429ebbaf250c5eb875d6365b7f6a85a6f9

[code]

[2021-08-29 16:26] MarinPostma commented on #1434
Yes this one I know of, but I suspect it is coming from the test itself, and not the snapshot. You can take a look at it if you're interested, but I judge this non critical.

[2021-08-30 08:22] gmourier commented on #1630
Hello @Sliper959595 👋

Custom ranking rules like `desc(created_at)` only work on numeric fields.  See https://docs.meilisearch.com/reference/features/settings.html#custom-ranking-rule

You can store an extra field so you don't have to replace all the logic that is already on `created_at` or change the format of `created_at` and the logic that goes with it.

[2021-08-30 10:29] curquiza opened #1649 "Remove dependabot"
We want to remove Dependabot: we don't use it anymore and doing our own upgrade during the pre-release week.

A guide will be created in https://github.com/meilisearch/core-team to describe in detail the core-team sprint 🙂

[2021-08-30 10:31] curquiza opened #1650 "Upgrade dependencies"
We need to upgrade the dependencies of this repo.

We could use: https://github.com/killercup/cargo-edit

⚠️ Should be done during next week = during the pre-release week of the previous version (between 06/09 and 10/09)

[2021-08-30 11:58] singh08prashant commented on #1570
uname is not recognized on Windows.
uname on Cygwin gives CYGWIN_NT.
uname on Git Bash gives MINGW64_NT.

Instead of using  `os_name=$(uname -s)` on line 123, we can use $OSTYPE which is a [Built-In Shell Variable.](https://se.ifmo.ru/~ad/Documentation/Bash_Shell/bash3-APP-B-SECT-4.html)

If this variable works correctly in all the operating systems we support then we can drop a `uname` call and p

[2021-08-30 15:55] RafaelOjedaMendes commented on #1649
A

[2021-08-30 17:03] curquiza commented on #1638
Closed by https://github.com/meilisearch/MeiliSearch/pull/1636

[2021-08-30 17:03] #1638 closed

[2021-08-30 17:18] curquiza commented on #1648
I close this issue since it seems an answer has been given 🙂

[2021-08-30 17:18] #1648 closed

[2021-08-30 17:21] curquiza commented on #1525
Closing this issue since we don't have any answer. Feel free to re-open if needed

[2021-08-30 17:21] #1525 closed

[2021-08-30 17:22] curquiza commented on #1618
Closing this issue since the answer has been given 🙂

[2021-08-30 17:22] #1618 closed

[2021-08-30 17:25] curquiza commented on #1603
Closing this issue, since
- v0.21.0 is released and the docs as well -> the examples are now are up-to-date
- an issue about pre-prod documentation has been opened

[2021-08-30 17:25] #1603 closed

[2021-08-30 17:27] guimachiavelli commented on #1648
For those monitoring this issue, the links have been fixed on the documentation site.

Thanks for notifying us!

[2021-08-31 06:02] mrmaxonline commented on #1569
Work fine.

[2021-08-31 06:02] #1569 closed

[2021-08-31 06:08] mrmaxonline opened #1653 "Double quotes in filter - no result"
Value for filter with double quotes return no result.

Filter sample: d_c6b56f17-1387-40f8-93be-b4e0f5e02ec6 = "ООО \\"ХАРДЭНЕРДЖИ\\""
Q is empty = no result.

In web simplte search result present:

![image](https://user-images.githubusercontent.com/12570364/131450757-9bde0084-fe0d-440e-9940-147d2f0364fd.png)

![image](https://user-images.githubusercontent.com/12570364/131450849-75ce3714-cf49-45c2

[2021-08-31 08:07] curquiza commented on #1653
Hello @mrmaxonline!
What is the exact request, including the `filter` parameter you send to MeiliSearch?
You need to configure and use `filter` in a specific way when filtering, see [our dedicated page on the docs](https://docs.meilisearch.com/reference/features/filtering_and_faceted_search.html#configuring-filters)

[2021-08-31 08:12] curquiza commented on #1593
Checked with the core team, this implementation will be in v0.23.0. We are too short for this version 🙂

[2021-08-31 08:16] mrmaxonline commented on #1653
Hi @curquiza !
Filter is configured and work fine wihout double quotes inside the string (value of filter).

SearchQuery: {"AttributesToCrop":null,"AttributesToHighlight":["*"],"AttributesToRetrieve":null,"CropLength":null,"FacetFilters":null,"FacetsDistribution":null,"Filter":"d_c6b56f17-1387-40f8-93be-b4e0f5e02ec6 = \"ООО \\\"ХАРДЭНЕРДЖИ\\\"\"","Limit":100,"Matches":null,"Offset":0,"Q":null}
Fil

[2021-08-31 08:20] curquiza commented on #1653
Can you give us the document please, with the whole attributes, so that I can copy/paste and try to reproduce please? :)
Plus, which SDK are you using? I'm curious since there is still the `FacetFilters` that should not be present anymore

[2021-08-31 08:23] mrmaxonline commented on #1653
`{"documentUid":"c32fe55f-cd1e-43e6-90f9-e8c956fa4118","changeTimestamp":1630396821,"typeUid":"1a8745a8-2b6e-4f4c-a7d2-ee5f175a7e8b","source":1,"direction":1,"creationDate":"2021-08-30T19:51:43+03:00","changeDate":"2021-08-31T08:00:21.7435326+03:00","status":"Документооборот завершен","author":null,"name":"Счет №1264 от 30.08.21","docType":2,"infraObjects":null,"fieldUids":["d8265ba0-8628-4d61-bb3

[2021-08-31 08:29] mrmaxonline commented on #1653
Fixed in code.

[2021-08-31 09:22] singh08prashant commented on #1570
Review for modifications, if any.

[2021-08-31 09:53] curquiza commented on #1653
Thanks a lot for sharing this!

We think there is indeed a bug when using `"` if the document already contains `"`, despite the escaping.

### Workaround

Use `'` for literal strings instead of `"`.
In your case
[code]

### Bug

To help the @meilisearch/core-team to reproduce

- Add this document:
[code]
- Set `author` as `filterableAttributes`
- Search for:
[code]
-> Ok, I get a result.
- Search

[2021-08-31 10:31] curquiza opened #1655 "Use GitHub PAT as env var for `download-latest.sh` script"
## Motivation

Since the API call to GitHub is really limited without any authentication, the [`download-latest.sh`](https://raw.githubusercontent.com/meilisearch/MeiliSearch/master/download-latest.sh) script is not usable in CIs due to the big amount of calls. We want our users to be able to use the script in CIs.

## How?

- Make the script use the `GITHUB_PAT` environment variable when calling

[2021-08-31 10:31] curquiza commented on #908
Thanks to @bidoubiwa here are the reason for the bug: this is because the script [`download-latest.sh`](https://raw.githubusercontent.com/meilisearch/MeiliSearch/master/download-latest.sh) downloads binaries from GitHub without asking for the API token of the user: thus, the download rate is really limited, and made the script failed in the CI.

This is not a bug, but an improvement to add to the

[2021-08-31 10:31] #908 closed

[2021-08-31 10:38] curquiza commented on #913
For the moment we want to enforce our users to use the latest version for security and performance reasons. We indeed only maintain only one version, until we are stable (`v1.X.Y`), so this is not something we want in our download script at the moment

Thanks for this suggestion anyway :)

[2021-08-31 10:38] #913 closed

[2021-08-31 11:10] bidoubiwa commented on #1655
Additional comments have been added to the script to find latest release version (and not to download). Maybe this comment can help as a base to the person taking charge of this issue:

[code]

[2021-08-31 12:48] mrmaxonline commented on #1653
Hm... error:

`MeilisearchApiError, Message:  --> 1:42
  |
1 | d_c6b56f17-1387-40f8-93be-b4e0f5e02ec6 = 'ООО \"ХАРДЭНЕРДЖИ\"'
  |                                          ^---
  |
  = expected word, ErrorCode: invalid_filter, ErrorType: invalid_request_error, ErrorLink: https://docs.meilisearch.com/errors#invalid_filter
`

[2021-08-31 13:14] curquiza commented on #1653
Hum, weird. With
[code]

I get:
[code]

How do you send you filter?

[2021-08-31 13:20] mrmaxonline commented on #1653
[code]

[2021-08-31 13:31] mrmaxonline commented on #1653
Fixed!

[code]
Result count: 100

[2021-08-31 14:58] #1649 closed

[2021-08-31 14:58] #1570 closed

[2021-09-01 05:40] happysalada commented on #1273
I've just made a PR to try to integrate the fix you proposed https://github.com/meilisearch/MeiliSearch/pull/1659

[2021-09-01 13:04] ferdi05 opened #1661 "Download MeiliSearch binary with cURL on a M1 Apple"
**Describe the bug**
When trying to install MeiliSearch with cURL, it failed with the following ERROR:
ERROR: MeiliSearch binary is not available for your OS distribution or your architecture yet.
Yet when I used homebrew everything worked well.

**To Reproduce**
[code]
with an Apple M1 computer

**Screenshots**
<img width="1387" alt="Capture d’écran 2021-09-01 à 14 52 20" src="https://user-imag

[2021-09-01 14:05] simanacci opened #1663 "List attributes that contain the query"
This will help in rendering search results in various styles/formats depending on the attribute where the query is found.
**Example**
[code]

**Query**
`curl 'http://localhost:7700/indexes/movies/search' --data '{ "q": "botman" }'`

**Result**
[code]
**Additionally**
The attributes can have a score rank if the query appears in multiple attributes so that you can easily pick the one with the highes

[2021-09-01 15:12] MarinPostma commented on #1619
I am working on a fix for this.

[2021-09-01 15:26] curquiza commented on #1619
Thanks Marin, this bug fix is not expected for v0.22.0 anyway but for v0.23.0, so take your time

[2021-09-01 15:52] curquiza commented on #1661
We should make the script work for Mac M1 since the binary does work for this OS and this architecture.
I put it as a `good first issue` 🙂

[2021-09-01 16:10] curquiza commented on #1410
Hello @kappa-wingman, so sorry for the delay on this issue!

Is it possible you submit a PR so that we can test? :)

[2021-09-01 17:55] curquiza opened #1665 "Enforce the `Content-Type` header for routes with payload"
Checked with @gmourier: we will not open any specification for this since the changes are minimal and make the current behavior more consistent instead of integrating a new feature.

### Goal

Make the routes accepting a payload check if a `Content-Type` header has been defined. If it's not, MeiliSearch should return a `415 Unsupported Media Type` error:

[code]

### Why?

- The current behavior o

[2021-09-01 17:56] curquiza commented on #1587
Sine the decision has been made, closing this in favor of #1665

[2021-09-01 17:56] #1587 closed

[2021-09-02 01:18] kappa-wingman commented on #1410
@curquiza , PR #1666 is created for the fix, please review :)

[2021-09-02 16:57] NAIJULU opened #1667 "Processed time for queues increases with each batch"
I installed the MeiliSearch using the guide for deployment in AWS ([https://docs.meilisearch.com/create/how_to/aws.html](https://docs.meilisearch.com/create/how_to/aws.html))

Note: but I reproduce the same issue with SO clean installation.  Because in community slack I get the recommendation of upgrade to v0.21.

I have 100K records to sync with the indexes, so I started to sync using the PHP SDK

[2021-09-06 05:39] mukul-mehta commented on #1347
I needed an Arm64 image to run on a Raspberry Pi 4. Thanks to the Armv8 binary, I created a simple image that downloads the binary and runs it. It is available on [Docker Hub](https://hub.docker.com/r/metamehta/meilisearch-arm64)

[2021-09-06 06:51] gmourier opened #1685 "Sending an attribute with a malformed syntax in `sort` at search time does not raise an invalid_sort error"
With sortable-attributes

[code]

If I send `sort` in this way at search time (missing :asc/:desc)
[code]
or if I send `sort` in this way (malformed :asc/:desc)
[code]

The API response is
[code]

As a user, I would like to receive an `invalid_sort` error indicating a syntax error in the `sort` parameter.

[2021-09-06 07:15] happysalada opened #1668 "[Security] enable secrets to be read from a file and not directly from an environment variable"
As far as I know, there is one secret to supply to meilisearch and it's the `MEILI_MASTER_KEY`. That environment variable is read directly. To fit security best practices, secrets should be read from a file. (More details below)

Whether using [docker secrets](https://docs.docker.com/engine/swarm/secrets/) or [systemd loadcredentials](https://www.freedesktop.org/software/systemd/man/systemd.exec.h

[2021-09-06 08:21] #1591 closed

[2021-09-06 11:30] curquiza commented on #1668
Hello @happysalada! Thanks for your feature request, I move this to the right repo (cf this [part in the README](https://github.com/meilisearch/MeiliSearch#feature-request)) 🙂
This might be a valuable addition!

[2021-09-06 11:43] curquiza commented on #1667
Hello @NAIJULU

The maximum payload size of MeiliSearch is 100Mb and [can be optionally increased](https://docs.meilisearch.com/reference/features/configuration.html#payload-limit-size). It means most of the dataset can be pushed with one call to the API.
I think your dataset of 100 000 documents can be pushed in one batch, or 2. If your machine is too small maybe 3 or 4 batches but no need to cre

[2021-09-06 11:50] curquiza opened #1670 "Improve error message when `sort` is malformed"
Related to this Milli's issue: https://github.com/meilisearch/milli/issues/339
Related to this spec patch: https://github.com/meilisearch/specifications/pull/68/files

Sending a wrong formatted value will lead to a `400 Bad Request - **invalid_sort**`.

[code]
`:syntaxErrorhelper` is inferred when the message is generated.

Need to be fixed and released on the Milli's side first

[2021-09-06 11:56] curquiza opened #1671 "Error message when using sort but the `sort` ranking rule is not defined"
Following this spec patch: https://github.com/meilisearch/specifications/pull/68/files

It should be implemented on Milli's side first, then released and integrated on MeiliSearch.

Expected behavior: Sending a sort parameter while the `sort` ranking rule is not specified in the ranking rules settings will lead to a `400 Bad Request - **invalid_sort** error`.

[code]

[2021-09-06 12:53] curquiza opened #1673 "Docker image should have curl binary"
### Discussed in https://github.com/meilisearch/MeiliSearch/discussions/1672

<div type='discussions-op-text'>

<sup>Originally posted by **ook** September  6, 2021</sup>
Thank you for maintaining a Docker image.
For day to day investigations, this image should keep curl: binary is only around 400kb and will ease querying the container for status from the inside, removing eventual networking issue

[2021-09-06 14:55] curquiza opened #1674 "Tests fail on windows latest"
Since the merge of #1588, the integration tests fail on `windows-latest`
https://github.com/meilisearch/MeiliSearch/runs/3504949531

[2021-09-06 14:58] curquiza opened #1675 "Dump with `sort` (migration to v0.22.0)"
- [ ] the dumps from an older version to v0.22.0 version should handle the new syntax of the custom ranking rules (from `"asc(title)"` to `"title:asc"`).

<s>- [ ] if the dump of the user contains the default ranking rules (and only in this case), the `sort` ranking rule should be added to the 5th position.</s> Not implemented. We don't want to touch on the ranking rules of the users. We don't kno

[2021-09-06 15:23] curquiza commented on #1290
Until we provide it, a user provides it here: https://github.com/meilisearch/MeiliSearch/issues/1347#issuecomment-913358145 🙂

[2021-09-06 15:25] curquiza commented on #1347
I updated the open issue about it :)
https://github.com/meilisearch/MeiliSearch/issues/1290

[2021-09-06 21:47] bb opened #1677 "MDB_BAD_VALSIZE: Unsupported size of key/DB name/data, or wrong DUPFIXED size"
**Describe the bug**

Upgrading from 0.21.1 to 0.22.0rc0, I get the following "internal error" in a status update from one of my "special" datasets. This is exactly the same dataset as from #1590 with roughly 800k docs which I'm sending all at once using meilisearch-ruby 0.15.4 and meilisearch-rails 0.2.1.

[code]

[code]

This is the docker-compose config I'm using:

[code]

There's nothing helpf

[2021-09-07 07:55] curquiza commented on #1677
Hello @bb

Thanks for your report, we will come back to you soon

[2021-09-07 11:43] curquiza opened #1678 "`sort` ranking rule is now at 5th position"
Checked with @gmourier, the `sort` ranking rule should be at 5th position, right before `exactness`

It should be updated on Milli's side before upgrading the Milli dependency in this repository.

Related to https://github.com/meilisearch/milli/issues/343

[2021-09-07 11:59] curquiza commented on #1678
Cf: https://github.com/meilisearch/specifications/pull/71

[2021-09-07 12:27] MarinPostma opened #1679 "Redesigning the update store"
# Redesigning the update store

The update store is the component of the engine that handles the asynchronous execution of updates. It has been through multiple iterations throughout the history of MeiliSearch, and flaws have started to become evident.

The goal of this issue is to brush the surface of those flaws, understand what is expected of the update store, and find a model to make it work.

[2021-09-07 14:29] sanders41 opened #1680 "Sort with string"
**Describe the bug**
Using sort does not always return the results in the expected order. This is true for both asc and desc.

**To Reproduce**
Steps to reproduce the behavior:
1. Create and index called `movies`
2. Set the sortable attributes to ["title"]
3. Index the [small moves dataset](https://github.com/meilisearch/meilisearch-python/blob/main/datasets/small_movies.json)
4. Run the search `c

[2021-09-07 14:32] curquiza commented on #1680
Hello @sanders41!

We are aware of this problem, I should have open an issue on MeiliSearch side. See the related issue https://github.com/meilisearch/milli/issues/333

We have to release Milli and integrate into this repo and this might fix this bug 🙂

[2021-09-08 13:41] curquiza commented on #1677
@bb this should be fixed in v0.22.0 😉

[2021-09-08 13:45] curquiza commented on #1674
Closed by #1676

[2021-09-08 13:46] #1674 closed

[2021-09-08 14:22] irevoire commented on #1685
One part of this issue has been fixed by https://github.com/meilisearch/milli/pull/342
But we still need to fix another part in Meilisearch.

https://github.com/meilisearch/MeiliSearch/blob/main/meilisearch-http/src/index/search.rs#L110-L114

[2021-09-08 17:35] curquiza commented on #1680
Fixed by #1686

[2021-09-08 17:35] #1680 closed

[2021-09-08 17:36] curquiza commented on #1678
Closed by #1686

[2021-09-08 17:36] #1678 closed

[2021-09-08 17:37] curquiza commented on #1675
Fixed by https://github.com/meilisearch/MeiliSearch/pull/1682

[2021-09-08 17:37] #1675 closed

[2021-09-08 17:38] curquiza commented on #1677
Fixed by #1686

[2021-09-08 17:38] #1677 closed

[2021-09-08 17:38] curquiza commented on #1671
Closed by #1686

[2021-09-08 17:38] #1671 closed

[2021-09-08 17:38] curquiza commented on #1670
Closed by #1686

[2021-09-08 17:38] #1670 closed

[2021-09-08 17:39] curquiza commented on #1685
Closed by #1686

[2021-09-08 17:39] #1685 closed

[2021-09-08 18:27] sanders41 commented on #1680
With v0.22.0rc1 The issue is still there, but it is different now. Now the results are always returning in the same order and ignoring the sort. If I search for `world` with no sort, with  the sort `title:asc`, or with the sort `title:desc` the results are all in the same order and not alphabetical. If I update the ranking rules and move `sort` back to the third position the original issue comes b

[2021-09-08 18:52] MarinPostma opened #1687 "Replacing pest with nom"
The pest dependency we use to parse the our filter expression has been unmaintained for a while, and the fix made in our dependency tree by #1659, I think we need a more long term solution for parsing our syntax. I have fiddled a bit with https://github.com/Geal/nom today and made a mvp that parse our syntax correctly. It still lacks error handling, but it is a good basis to replace pest with nom

[2021-09-08 18:57] Kerollmops commented on #1680
@sanders41 That's quite strange, as [we directly tested the @shekhirin PR with the movies dataset on MeiliSearch](https://github.com/meilisearch/milli/pull/338), with the movies dataset it was working fine.

 - Could you maybe provide the dataset and the settings you were using, please?
 - Does it work fine with a simple placeholder search? Documents should only be sorted by the `sort` rule.

[2021-09-08 19:14] sanders41 commented on #1680
@Kerollmops I'm using the [small movies dataset](https://github.com/meilisearch/meilisearch-python/blob/main/datasets/small_movies.json). I'll detail the full steps here, maybe I have something wrong.

- Set the sortable attributes:

[code]

- Check the settings:

[code]

- Index the documents. Results:

[code]

 - Search with no sort:

[code]

[code]

- Search with asc sort:

[code]

[code]

[2021-09-08 19:42] Kerollmops commented on #1680
So at first glance, it seems that it is valid. In fact, we can't be sure that the `sort` ranking rule is invalid here as the sort of the documents is completely ruled out by the `attribute` criterion which sorts documents by the `attribute` and `position` a query word is found in it.

So, according to the bucket sort system, each group generated by a rule that can't be tie broke is given to the ru

[2021-09-08 19:50] sanders41 commented on #1680
I'm not sure if this is helpful, but if you keep everything else the same but update the ranking rules first:

[code]

Then the results of the `title:asc` search becomes the following (which is what I got in v0.22.0RC0)

[code]

[2021-09-08 20:00] Kerollmops commented on #1680
Yup, if I remember correctly the `_:desc` was the thing broken and fixed in v0.22.0rc1. And yes the example you show is sort by `title:asc` and that's very visible as the `words` and `typo` ranking rules aren't important on a query like `world`, the `words` put all the documents in the same group and the `typo` working rule creates two big groups and the first group is given to the `sort` ranking

[2021-09-08 20:06] sanders41 commented on #1680
Change the ranking rules makes it almost correct. `Shazam!` should come before `The Kid Who Would Be King`. As far as I have been able to tell the order seems to get off when the value contains some kind of punctuation, ie !.

[2021-09-08 20:10] Kerollmops commented on #1680
Nope, not sure about that, `Shazam!` does not contains `world` but `word` and therefore is after all the other documents. This specific document is in the second group that the `typo` ranking rule generates.

[2021-09-08 20:14] sanders41 commented on #1680
OK, I understand now...but it makes sorting very confusing because it means the sort will rarely be in the order the end user expects :)

[2021-09-08 20:24] Kerollmops commented on #1680
Yup, that's a correct point but that's also a complex one. We will work on extensively documenting this feature.

Imagine that you move the `sort` ranking rule at the top, you will get the document exactly in the `title:asc`order but the relevancy will be impacted a lot (i.e. `Shazam!` that do not have `world`). On the other end, if you put it at the bottom or near the bottom, you will probably do

[2021-09-08 21:16] bb commented on #1677
Thanks for your support @curquiza! I can confirm the fix is working for me.

Also, I noticed an indexing speed increase of about 15% compared to version 0.21. Congratulations, great work @ManyTheFish 👏

[2021-09-09 06:04] gmourier commented on #1680
Hello @sanders41, thank you for testing it and for your feedback!

Some information about sorting. 🤓

Sort on string value is working in lexicographical order and not alphabetical.

We chose to place the ranking rule in 5th position by default to favor results that are relevant to the user's search, it is much more obvious visually.

https://user-images.githubusercontent.com/3692335/132631343-3a45

[2021-09-09 10:41] quangtam commented on #1256
I using v0.21.0 and trying to import 28M records, import is very fast but currently index still in progress and only 85K records was indexed.
At my case, my server has 8GB of RAM and 4 Cores of CPU.

Do you have any recommend for me about max payload size? I've use default value.

Thanks & Best regards,

[2021-09-09 12:19] curquiza commented on #1256
Hello @quangtam! Thank you for your feedback 😄

- You can test our new version of MeiliSearch that we will release on Monday (v0.22.0). This new version contains a new fresh indexer. At the moment you can test the release candidate versions ([v0.22.0rc1](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.22.0rc1))
- I cannot tell you what is the exact payload size we recommend for your dat

[2021-09-09 12:45] irevoire opened #3377 "Improve the geosearch"
Multiple things can / should be done to improve the geosearch:
- Currently, we need to `Deserialize` the whole `RTree` in memory before being able to do anything. This consumes a lot of RAM and thus is quite slow.
    => We should patch [rstar](https://github.com/georust/rstar) to add the possibility to parse the `RTree` part by part
- When creating an `RTree` for [the first time](https://github.c

[2021-09-09 13:06] curquiza opened #1689 "Implement GeoSearch"
### Important

This issue is based on this specification: https://github.com/meilisearch/specifications/blob/develop/text/0059-geo-search.md
The specification gathers all the information related to this feature: the motivation, the API and technical changes, the future possibilities...

⚠️ For anything that is not clear or deeply detailed in this issue, please refer to this specification.
Especial

[2021-09-09 13:12] curquiza commented on #1689
I also ping the @meilisearch/integration-team because, even if it does not impact the codebase it will involve new code samples.

[2021-09-09 14:55] quangtam commented on #1256
Hi @curquiza

I've installed v0.22.0rc1 and testing, I can see it's faster than v0.21.0 and currently after 167mins (2h47m) it's indexed for 342K records (~2000 records/min) and slowing down. Around first 100k, speed around 9000 records/min.
My hardware:

- 4 vCPUs
- 8GB RAM
- 1GB of max payload size

Also, I've faced one time crash (was killed by system) during running indexing but RAM still free

[2021-09-09 15:04] curquiza commented on #1256
Thank you for your quick report 🙂

It seems really slow for the number of documents, but maybe each document is big. What is the total size of your dataset?

Weird... We had a similar issue (killed by the OS but the RAM was not fully used) because of a lack of space on the disk. Could it be your situation?

[2021-09-09 15:10] quangtam commented on #1256
Hi @curquiza,

I have ~28M records in MySQL (5.9GB in DB). I've read your documents about virtual memory but when meilisearch crash I haven't check hard disk. But currently, I have 270GB free on the disk (total is 300GB), should I increase?

[2021-09-09 15:23] curquiza commented on #1256
Ok, I thought your dataset was 300K of documents, not 28M.

Hum, since I don't have your dataset, it's not easy to guess. Maybe increase it could solve, but I'm not sure at all.

One of our dev is currently investigating on a similar issue right now.

[2021-09-09 15:49] curquiza opened #1690 "Handle NDJSON format"
Sub issue of https://github.com/meilisearch/MeiliSearch/issues/1593

⚠️ All the implementation details are available in this [section of the specification](https://github.com/meilisearch/specifications/blob/develop/text/0029-indexing-ndjson.md). Please take a look before starting the implementation.

---

## Basic behavior

When adding or updating documents (`POST/PUT /indexes/:uid/documents`), Me

[2021-09-09 15:53] curquiza opened #1691 "Handle CSV format"
Sub issue of https://github.com/meilisearch/MeiliSearch/issues/1593

⚠️ All the implementation details are available in this [section of the specification](https://github.com/meilisearch/specifications/blob/develop/text/0028-indexing-csv.md). Please take a look before starting the implementation.

---

## Basic behavior

When adding or updating documents (`POST/PUT /indexes/:uid/documents`), Meili

[2021-09-10 01:05] quangtam commented on #1256
Hi @curquiza,

Here is my table information
<img width="284" alt="Screen Shot 2021-09-10 at 08 05 04" src="https://user-images.githubusercontent.com/6047178/132782293-0ca39229-3169-4069-9c3e-e33c16c59cbe.png">

[2021-09-10 09:48] bnfd opened #1694 "query with multiple keywords returns more records than expected"
When querying `keyword1 keyword2` it returns records that only contain one of the keywords (after returning all the ones that contain both). It is like `keyword1 AND keyword2` gets returned first and then `keyword1 OR keyword2` follows.

**MeiliSearch version:** [e.g. v0.21.0]

I'm using Ubuntu.

[2021-09-10 09:58] curquiza commented on #1694
Hello @bnfd!
What is your expected behavior? Only get results containing `keyword1 AND keyword2`? :)

[2021-09-10 11:47] bnfd commented on #1694
@curquiza Yes

[2021-09-10 12:18] curquiza commented on #1694
Ok! What you ask is a feature request since the current behavior is totally expected.
I've just opened a discussion in the product repo https://github.com/meilisearch/product/discussions/211 so that your feature request is taken into account.

I close this issue. For anyone wanting to discuss it, go the link I send :)

[2021-09-10 12:18] #1694 closed

[2021-09-13 11:37] quangtam commented on #1256
After 4 days, the MeiliSearch still in-process to indexing 2.8M rows of record (version 0.22.rc01):

- Version 0.22.rc01 4 days indexed 1.9M rows of records
- Version 0.21.1 5 days indexed 1.75M rows of records

=> new version is faster but stills too slow.

[2021-09-13 13:47] #1635 closed

[2021-09-13 13:47] #1650 closed

[2021-09-13 13:47] #1673 closed

[2021-09-13 13:49] bidoubiwa opened #1701 "Dump import crashed when dump file is created out of empty MeiliSearch"
**Describe the bug**
When creating a dump on an empty MeiliSearch instance, the dump is created correctly but when launching it using `--import-dump` the launch fails with the following error:

[code]

But the file does exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch empty MeiliSearch instance
2. Create dump
3. Wait for dump completion
4. Stop and restart meilisearch with `--i

[2021-09-13 14:07] curquiza commented on #1701
Thank you @bidoubiwa for this report!

[2021-09-14 09:48] curquiza commented on #1687
We are really welcoming to contributions for this one! :)

[2021-09-14 13:16] bidoubiwa opened #1702 "Absence of --dump-import as a environment variable makes updates complex"
**Describe the bug**
The flag `--dump-import` has no related environment variable ([see doc](https://docs.meilisearch.com/reference/features/configuration.html#import-dump)). This causes the import dump process in environments where meilisearch runs a service to be complex.

For example, if MeiliSearch runs with `systemctl` the launch command is located in the following file:
`/etc/systemd/system/

[2021-09-14 13:27] curquiza commented on #1702
Feature request and feedback are not in this repo anymore but in the `product` one :) I move it!

[2021-09-15 11:05] CNLHC commented on #1687
I have posted a WIP PR (https://github.com/meilisearch/milli/pull/358) which introduces nom parser into milli and passes all the unit tests locally.  I am still working on the better error handling.

I am interested in doing this work and will greatly appreciate it if you kindly give me some feedback

[2021-09-15 14:08] curquiza commented on #1687
Thank you very much @CNLHC, be sure we will!

[2021-09-15 14:33] #1410 closed

[2021-09-20 09:10] rubiagatra commented on #1701
Hello @curquiza, I am using Meilisearch in production and I want to start to contribute.

This is a good first issue, Any idea how I can explore this one?

[2021-09-20 09:28] irevoire commented on #1701
Hi @rubiagatra.
I think I can give you some little hints,
1. When you generate a dump, the `xxxxx-yyyyy.dump` file generated is actually a `.tar.gz` file. So if you want to see the content of a dump you can run: `tar xzf 20210920-091520164.dump` to uncompress it.
2. The file creating the dump is located here: [meilisearch-http/src/index_controller/dump_actor/actor.rs](https://github.com/meilisearc

[2021-09-20 14:39] curquiza opened #1707 "Search is long for some queries"
We noticed some slow times during the search with the [small dataset movies.json](https://raw.githubusercontent.com/meilisearch/datasets/main/datasets/movies/movies.json) containing 31944 documents.

The following searches are slow:
- `hel` -> around 250ms
- `ame` -> around 150ms

A "classic" search with this dataset is usually below 10ms (check with `a` or `amer`)

We need to investigate why we h

[2021-09-20 15:58] curquiza commented on #1619
Need a redesign of the update store to solve this issue https://github.com/meilisearch/MeiliSearch/issues/1679
I remove it from v0.23.0 Milestones

[2021-09-21 10:15] Jure-BB commented on #1555
I've encountered (probably) the same bug.

Here's a sample that tries to reproduce the bug. It doesn't always fail, but if you try to run it a few times, it should fail at least once.

[code]

I tested it using **meilisearch-dotnet** & NUnit, running inside WSL2 docker on windows

[code]

[code]

[2021-09-21 10:22] esmultivac opened #1708 "Freeze during indexation"
Sometimes Meilisearch 0.22 marks one index with isIndexing = true but there are no updates pending on that index queue. Problem is that when I send updates to that index or others it seems to be unable to process them, probably because it thinks it's already processing an update.

The workaround to this problem is to shut down Meilisearch, delete all updates, processed or not, and restart it.

[2021-09-21 10:29] Jure-BB opened #1709 "Unable to add documents that contain colon character in the id field."
If a document with a colon character ":" is added, operation succeeds without errors, but the document is not present in the index when checked with mini-dashboard.

A sample to reproduce the error:
[code]

I expect documents to be visible in the mini-dashboard, but they aren't.

**MeiliSearch version:** v0.22.0 & **meilisearch-dotnet** client.

[2021-09-21 11:06] curquiza commented on #1709
Hello @Jure-BB!

The id of your document should not contain `:` character. Only `A-Z a-z 0-9` and `-_` characters are accepted to avoid URL encoding issues. [see the related documentation](https://docs.meilisearch.com/learn/core_concepts/documents.html#document-id) 🙂

[2021-09-21 11:10] Jure-BB commented on #1709
Oh, I totally missed that. Thank you for an explanation. I'm closing this then.

[2021-09-21 11:10] #1709 closed

[2021-09-21 11:11] curquiza commented on #1708
Hello @esmultivac

Thanks for your report!

Can you detail what you mean by "unable to process them". Do you get any errors in the logs, in the updates? Does it freeze? Can you give us step to reproduce your context so that we can fix it? :)

[2021-09-21 13:11] ozgurhangisi commented on #1691
Hello,

Is it possible to add gzip compressed csv files with Content-Encoding: gzip header to increase transfer speed ? Also we can use gzip to transfer other formats like json, ndjson etc...

[2021-09-21 13:31] gmourier commented on #1691
Hello @ozgurhangisi 👋

This is something we want to add in the future 😇

We've added a discussion in our product repository https://github.com/meilisearch/product/discussions/227

[2021-09-21 13:40] ozgurhangisi commented on #1691
@gmourier Thank you so much for your fast response.

It will be great feature for us to implement Meilisearch faster. Because we store our product information in aws s3 with gzipped csv format. So we have to unzip and convert the data to json each time before we transfer the product data.

So csv+gzip features give ability to transfer product data directly to meilisearch and implement faster for l

[2021-09-22 07:38] gemini133 opened #1714 "Phrase match error in chinese"
documents. default settings.
[code]

search with phrase match "化妆". no result returned.

[code]

search with phrase match "小化妆". no result returned.

[code]

search with phrase match "化妆包". result returned.

[code]
search with phrase match "小化妆包". result returned.

[code]

**Expected behavior**
queries: "化妆", "小化妆", "化妆包", "小化妆包" all of them should return same result.
[code]

**MeiliSearch version

[2021-09-22 07:42] gemini133 commented on #1714
I did a quick test with an english document: `{"title": "adult face mask"}` and utilize phrase match: "adult", "adult face", "face mask", document is returned as expected

[2021-09-22 07:56] YikSanChan commented on #1714
@gemini133 I guess this is because meilisearch uses jieba to tokenize the search word "小化妆包" and it is understood as "化妆包".

See https://docs.meilisearch.com/reference/under_the_hood/tokenization.html

[2021-09-22 07:59] gemini133 commented on #1714
yep, I think it's related to the tokenizer too.
why does "化妆" returns nothings?
not sure how to work around this. confusing...

[2021-09-22 09:17] gemini133 commented on #1714
another test with just "包"
[code]

[2021-09-22 14:27] curquiza commented on #1555
Do you get the same error locally, I mean with a MeiliSearch running locally?

[2021-09-22 15:08] Jure-BB commented on #1555
@curquiza Like Carl pointed out, timeout is 100 seconds, not ms.

I only tested with docker.

Maybe. I'll try running it without `restart: always`

[2021-09-22 16:50] curquiza commented on #1555
Oops! I indeed miss read, sorry 😅

If you can share (in private) your dataset and the steps @Jure-BB it would be awesome. We desperately try to reproduce this bug

[2021-09-22 18:21] carlreid commented on #1555
The steps provided should be sufficient to encounter a timeout problem. However I am not sure it is related to what I was seeing.

When I run the reproduce steps, I get a timeout if I ran the code from Windows -> WSL/Docker. Though when I run the example after it was compiled for Linux from inside WSL; I don't seem to get the problem so far. So this timeout issue could be related to some WSL netwo

[2021-09-22 20:51] philippeauriach opened #1716 "Duplicate IDs when indexing"
**Describe the bug**
Uploading several batches of the same content result in duplicates ids in meilisearch. Objects are coming from a Strapi service, and sent to a meilisearch instance (local docker latest image : 0.22.0) via the meilisearch nodejs package.

Full reproduction project available at : https://github.com/philippeauriach/meilisearch-dup-id

**To Reproduce**
- clone https://github.com/p

[2021-09-23 08:19] esmultivac commented on #1708
It freezes. Nothing seems to be happening. RAM consumption is lower after we restart, but I don't know if it means something.

I can't help you reproduce the error because it happens in our production environment with LOTS of documents in the indexes. We have four indexes, the two bigger ones having 1 million a 600.000 documents.

[2021-09-23 09:22] Jure-BB commented on #1555
No, it doesn't freeze.

It seems to be some kind of resource exhaustion, possibly related to Windows -> WSL -> Docker stack. I tried increasing the timeout to 15 minutes and it didn't help. Requests seems to get swallowed somewhere along the way when the load is high.

If I implement status pooling after each `AddDocuments` call and wait until status is completed (i.e. `"processed"` or `"failed"`)

[2021-09-23 12:28] curquiza commented on #1716
Thank you so much for the report!
@ManyTheFish is investigation on it 🙂

[2021-09-23 13:10] curquiza commented on #1667
Closing this. Feel free to ask for re-opening if someone need some clarification

[2021-09-23 13:10] #1667 closed

[2021-09-23 13:11] curquiza commented on #1708
Hum, ok! Might be related to this https://github.com/meilisearch/MeiliSearch/issues/1555
I hope 🤞

[2021-09-23 14:44] ManyTheFish commented on #1716
Hello @philippeauriach! Thanks for your bug report, this should be fixed in the next version of Meilisearch.

The bug occurs because a Document addition of `0` documents is made between other document addition.
To fix the bug in your application, you can change a bit your code in order to avoid empty document addition:

https://github.com/philippeauriach/meilisearch-dup-id/pull/1

[2021-09-23 15:44] curquiza commented on #1630
Closing this since we cannot reproduce the bug. Of course feel free to re open if needed :)

[2021-09-23 15:44] #1630 closed

[2021-09-23 15:45] curquiza commented on #1337
Closed in favor of #1442

[2021-09-23 15:45] #1337 closed

[2021-09-27 10:18] ferdi05 opened #1723 "Missing link in CONTRIBUTING.md"
**Describe the bug**
In the [CONTRIBUTING.md](https://github.com/meilisearch/MeiliSearch/blob/main/CONTRIBUTING.md) file, there is a link to [#workflow](https://github.com/meilisearch/MeiliSearch/blob/main/CONTRIBUTING.md#workflow).
But the link does not work.

[2021-09-27 12:16] ManyTheFish commented on #1714
Hello @gemini133, it seems that you are [using phrase search in your queries](https://docs.meilisearch.com/learn/what_is_meilisearch/features.html#phrase-search) putting the `"` around your word.
If you remove `"` do you have the expected behavior?

[2021-09-27 13:45] #1723 closed

[2021-09-27 15:27] esmultivac commented on #1708
I know. Just wanted you to be alert. If it helps, I found out that after banning our users from searching with a big offset option, the problem hasn't happened again. I suspect that it happened in the first time because Meilisearch was too busy attending hard and slow queries, but of course you are the ones that know if that makes sense or not.

[2021-09-27 21:46] sepisoltani commented on #1195
Is there any new docker image available for apple M1 chip ?

[2021-09-27 22:03] curquiza commented on #1195
This related issue is here: https://github.com/meilisearch/MeiliSearch/issues/1290 🙂
A user provides an ARM image, see this comment: https://github.com/meilisearch/MeiliSearch/issues/1347#issuecomment-913358145

[2021-09-28 08:09] ManyTheFish commented on #1714
@gemini133, I can't speak any Chinese language, sorry if I don't understand the complete problem.

But, if I'm right, only the second request gets an irrelevant response, because  `Ipad 包` should never be returned for `化妆包`.

Am I right?

[2021-09-28 08:23] gemini133 commented on #1714
sorry, and you are right. `Ipad 包` should never be returned for `化妆包`. is it related to ranking rules?  I've tweaked it a couple times but still not what I want. So, I then go to phrase search

[2021-09-28 08:42] ManyTheFish commented on #1714
I will investigate,
thank you @gemini133 for your report. 👍

[2021-09-28 12:13] khash commented on #1716
FWIW, I've come across this issue with a pure Ruby client. Now I don't know if it is the same issue or not, but there is how you can recreate it:

(in this example `index = client.index('acme')`)

1. Add some docs `index.add_documents([{id: "foo"}, {id: "bar"}])`
2. Add an empty array `index.add_documents([])`

This will break the index in a way that while the API returns the documents correctly w

[2021-09-28 12:20] khash opened #1728 "Adding an empty array of documents, breaks the index primaryKey"
I've come across this issue with a pure Ruby client but please see below for a CURL reproduction steps.

(in this example `index = client.index('acme')`)

1. Add some docs `index.add_documents([{id: "foo"}, {id: "bar"}])`
2. Add an empty array `index.add_documents([])`

This will break the index in a way that while the API returns the documents correctly with `/indexes/acme/documents`, doing a `GE

[2021-09-28 12:33] ManyTheFish commented on #1728
This bug seems to be related to #1716, this should be fixed in the next release of Meilisearch.
If your bug is not fixed by the next release, don't hesitate to reopen it, Thanks @khash for your report 👍

Closing in favor of #1716.

[2021-09-28 12:33] #1728 closed

[2021-09-29 00:36] ciaranmccaughey opened #1730 "Setting custom ranking rules not working"
When I try to update ranking rules through postman for ordering a custom field it returns with a 202 Accepted and an updated. However, when I run a get ranking rules, the field I added is not there.

If however, if change the order of the default fields it and do a get request, it works fine.

Curl Request:

`curl --location --request POST 'http://search.mysearchurl//indexes/myindex/settings/ranki

[2021-09-29 07:56] gmourier commented on #1730
Hello @ciaranmccaughey 👋

The change of the ranking rules is asynchronous, that's why you receive a `202 Accepted` HTTP response.  You see the change after the asynchronous task is actually finished.

It is possible that the first GET call was made before the change of your ranking rules was completed. The reordering is much faster than adding a custom ranking rule like `rank:desc` if it does not

[2021-09-29 14:17] curquiza commented on #1716
Hello @khash! Your bug should not be present in the next version. I did not succeed to reproduce your issue on our branch that will be merged into `main` soon :)

[2021-09-29 14:37] Sick14 opened #1733 "Duplicating records when using filters"
Hello,
When using MeiliSearch, with limit and offset and filters in query, meili will return duplicating records on "next page". But when I'm using it without filters results are OK. I compared data and thay its same records.
Here are picutures with examples:
 Not returning correctly:
![image](https://user-images.githubusercontent.com/25160906/135290598-e5356a2f-9e4f-48fb-b640-3b9adf37163d.png)

R

[2021-09-29 15:10] #1531 closed

[2021-09-29 15:24] curquiza commented on #1733
Hello @Sick14

Which MeiliSearch version are you using?

Can you give us a detailed example so that we can reproduce: which document have you added? Which query have you sent?

[2021-09-29 15:30] curquiza commented on #1707
Closed by https://github.com/meilisearch/MeiliSearch/pull/1711 containing [milli v0.17.0](https://github.com/meilisearch/milli/releases/tag/v0.17.0)

[2021-09-29 15:30] #1707 closed

[2021-09-29 15:31] curquiza commented on #1714
Closed by https://github.com/meilisearch/MeiliSearch/pull/1711 containing [milli v0.17.0](https://github.com/meilisearch/milli/releases/tag/v0.17.0)

[2021-09-29 15:31] #1714 closed

[2021-09-29 15:31] #1716 closed

[2021-09-29 15:31] curquiza commented on #1689
Closed by https://github.com/meilisearch/MeiliSearch/pull/1711

[2021-09-29 15:31] #1689 closed

[2021-09-29 15:48] curquiza opened #1734 "Expecting error when using `_geoPoint` with `filter`"
According to [the spec](https://github.com/meilisearch/specifications/blob/develop/text/0059-geo-search.md#post-search-indexesindexuidsearch):

When I send

[code]

or

[code]

I don't get this error.

[2021-09-29 16:28] curquiza opened #1735 "Add documents with wrong primaryKey parameter should not add the primary key to the index"
Steps

- Add these documents with the primary key parameter `title`
[code]
- Check the update: the update fails -> expected ✅
- Get the index: the primary key is added -> unexpected ❌
[code]
The primary key should not be added.

TLDR; When the first document addition does not work, the primary key passed as parameter should not be added to the index.

⚠️ Add tests

[2021-09-29 16:33] curquiza opened #1736 "Too many open files error"
When running the SDK tests, we get "too many open files" error

Steps

- Run MeiliSearch with a master key:
[code]

- Clone the meilisearch-js repo and run the tests
[code]

On macOS
The bug was not present in v0.22.0

[2021-09-29 16:53] curquiza commented on #1736
Some investigation: doing the same test with MeiliSearch in docker does not fail

Can someone do the test on Linux?

[2021-09-29 17:09] MarinPostma commented on #1736
I have the same issue on linux, I set `ulimit -Sn 10000`, and it works.

[2021-09-29 19:48] Tabbbbs opened #1741 "TAB ALL CAPP"

[2021-09-29 19:49] #1741 closed

[2021-09-30 08:26] MarinPostma commented on #1691
@gmourier, @curquiza I have just noticed that the error payloads are using a new umimplemented format. The actual error payloads will look like this:

[code]

[2021-09-30 08:33] gmourier commented on #1691
@MarinPostma Yes, this format will come with https://github.com/meilisearch/specifications/pull/61 in the future. I've kept the next format for the example. This is expected to have the format you describe here for v0.23!

[2021-09-30 11:48] #1661 closed

[2021-09-30 13:58] #1735 closed

[2021-09-30 15:31] #1690 closed

[2021-09-30 15:31] #1691 closed

[2021-09-30 21:15] irevoire opened #1750 "The mini-dashboard does not work anymore"
**Describe the bug**
The mini dashboard does not work anymore.

**To Reproduce**
Steps to reproduce the behaviour:
1. `cargo run`
2. Open your browser on `localhost:7700`

**Expected behaviour**
It works

**Screenshots**
![image](https://user-images.githubusercontent.com/7032172/135531091-5ce938ef-5ebf-485e-8c18-2beec258e1b6.png)

**MeiliSearch version:** main

[2021-09-30 23:11] ciaranmccaughey commented on #1730
Hi @gmourier, thank you for your prompt response. So I have checked the update to see if it worked but it has failed. Below is the response:

`{
    "status": "failed",
    "updateId": 81981,
    "type": {
        "name": "Settings",
        "settings": {
            "rankingRules": [
                "words",
                "typo",
                "proximity",
                "attribute",

[2021-09-30 23:51] ppamorim commented on #1750
I have the same issue.

[2021-10-01 03:19] diazsasak opened #1751 "SSL certificate problem: certificate has expired"
**Describe the bug**
Hi, i deploy meilisearch from digitalocean provided droplet. I am facing problem saying that SSL certificate expired. how to update the SSL? i try to rerun meilisearch-setup and being asked to use ssl i choose "y". But still got this error. Some help would be appreciated, i got this error in production.

**Screenshots**
`"class": "GuzzleHttp\\Exception\\RequestException",

[2021-10-01 11:17] quangtam commented on #1751
You should force renew certificate, the Let's Encrypt has been change root certificate, more detail: https://community.letsencrypt.org/t/r3-intermediate-certificate-has-expired/160797/2

[2021-10-01 14:13] anirudhRowjee commented on #1750
Hi! I'd love to give this issue a shot.

[2021-10-01 14:42] curquiza commented on #1750
Hello @anirudhRowjee! Thank you 😊

[2021-10-01 18:16] Flodur871 commented on #1655
Can I work on this?

[2021-10-02 03:06] gemini133 commented on #1714
here is the feedback of 0.23. Build it from the master brach

[code]

[2021-10-02 03:18] gemini133 commented on #1714
@curquiza @ManyTheFish

[2021-10-02 05:18] anirudhRowjee commented on #1750
Alright! I appear to have a fix at hand, but I've got no clue why it works as it does.
Here's how I investigated it -
1. Ran the test suite, all of which passed once I changed the file limit.
2. Investigated the debug built output at `/meilisearch-http/target/rls/debug/build/meilisearch-http-a6e2793cb../out/mini-dashboard/`. At this point, I used the npm package `serve` to run a temporary web serv

[2021-10-02 06:10] anirudhRowjee commented on #1750
Running `cargo test` passes in `meilisearch-http`, but running it outside of that in the main folder leads to the following errors. Do I need to switch to Nightly for it to compile?
![Screenshot from 2021-10-02 11-37-25](https://user-images.githubusercontent.com/42117791/135705715-f2c09158-7461-489e-8c59-eb904cf28b4f.png)

[2021-10-02 08:46] Kerollmops commented on #1750
Hey @anirudhRowjee,

Thank you very much for this detailed debugging, I will let @MarinPostma look at your PR as I am not familiar with Actix either. For the compilation error, you can just `rustup update` as the [`array::map`](https://doc.rust-lang.org/stable/std/primitive.array.html#method.map) has been stabilized in 1.55 🚀

Thank you again!

[2021-10-02 09:54] rishit-khandelwal commented on #1750
Is this issue fixed? If not can i work on it?

[2021-10-02 10:09] anirudhRowjee commented on #1750
I've opened a PR! Thank you for your patience.

[2021-10-02 13:57] curquiza opened #1757 "Provide Docker image as non root"
### Discussed in https://github.com/meilisearch/MeiliSearch/discussions/1756

<div type='discussions-op-text'>

<sup>Originally posted by **igaul** October  1, 2021</sup>
Hi,
I'd like to request the official docker image run with a non root user, so the final image of Dockerfile would be something like this (what I am using)

`# Run
FROM    alpine:3.14

ARG     USER=meiliuser
ENV     HOME /home/$U

[2021-10-02 14:04] curquiza commented on #1655
Hello @Flodur871! Yes you can feel free to open a PR, thank you 🙂

[2021-10-02 14:32] curquiza commented on #1751
Hello @diazsasak!
Moving this issue in the meilisearch-digitalocean repository. @alallema will help you with this! :)

[2021-10-02 14:47] curquiza opened #1758 "Apply highlight tags on numbers (not only strings)"
Check with our PR @gmourier, this addition can be implemented by the community 🎉

-----

Currently, the search engine does not highlight the number in `_formatted` because it's impossible to add `<em>` tag around a number (not a string) in JSON.

What we expect?
Return the raw document (so the number) but the "transformed" document (so with the number surrounded of the tag in a string) in `_format

[2021-10-02 21:09] spinales commented on #1757
@curquiza  I'll do, please assign it to me.

[2021-10-02 22:55] spinales commented on #1758
@curquiza I'll do, please assign it to me.

[2021-10-03 08:21] curquiza commented on #1758
Hello @spinales, you are assigned! 🙂

[2021-10-03 23:58] spinales commented on #1758
Hello @curquiza  I'm beginner with rust, can you give a hand, what function process the JSON files?

[2021-10-04 10:08] ManyTheFish commented on #1714
Hello @gemini133!
In your last comment, we have different reasons to "why Meilisearch doesn't return the good response?":

### Tokenization & Phrase search

// wrong, must return 小化妆包
{
  "exhaustiveNbHits": false,
  "hits": [],
  "limit": 20,
  "nbHits": 0,
  "offset": 0,
  "processingTimeMs": 1,
  "query": "\"小化妆\""
}

In Meilisearch we can only store 1 variation of a tokenized text, and this va

[2021-10-04 10:32] #1750 closed

[2021-10-04 12:43] ManyTheFish commented on #1736
Hello @curquiza, I don't manage to reproduce the failure, I'm trying it on` Meilisearch/main`, `meilisearch-js/main`, and `node v16.10.0`.

[code]

[2021-10-04 14:54] curquiza commented on #1758
@MarinPostma or @irevoire can maybe give you some clarification about the issue 🙂

[2021-10-04 15:19] irevoire commented on #1758
Hello @spinales, I think all your work will be in the [`meilisearch-lib/src/index/search.rs`](https://github.com/meilisearch/MeiliSearch/blob/main/meilisearch-lib/src/index/search.rs) file.

You should notice that the big [`perform_search`](https://github.com/meilisearch/MeiliSearch/blob/main/meilisearch-lib/src/index/search.rs#L92-L250) function is executed for every search.
And that at the end o

[2021-10-04 16:26] curquiza opened #1767 "Add test to check mini-dashboard is up"
MeiliSearch integrates an interface so that the users can search in a friendly user interface we call the Mini Dashboard.

When launching MeiliSearch locally, the mini dashboard is accessible at `http://localhost:7700`

We need to add a test that checks the mini-dashabord is up when compiling and running MeiliSearch.

@MarinPostma will add some mentoring steps to guide you through this issue :)

[2021-10-04 16:38] MarinPostma commented on #1767
So, I think a relatively easy way to test that the mini-dashboard loads correctly is to check that all the assets are served correctly.

To do so, we can take some inspiration from the [method that creates the routes for the assets](https://github.com/meilisearch/MeiliSearch/blob/main/meilisearch-http/src/lib.rs#L140-L169). We simply get the route path, and `GET` that path to the test server to se

[2021-10-04 16:43] vaibhav135 commented on #1767
hii, @curquiza and @MarinPostma  can I work on this issue

[2021-10-04 16:46] MarinPostma commented on #1767
@vaibhav135, sure, I'm assigning you. Don't hesitate if you need more guidance.

[2021-10-04 16:55] vaibhav135 commented on #1767
@MarinPostma Thanks, I'll let you know about my progress and will ask for the further guidance that I may need.

[2021-10-05 02:49] gemini133 commented on #1714
Thanks for your detailed explanation! It's very helpful.
Honestly, I'm sort of disappointed as compared to the past experience with elasticsearch.

[2021-10-05 06:06] ciaranmccaughey commented on #1730
Hi @MarinPostma, where are the logs located? I don't see anywhere in the documentation where the log path is.

[2021-10-05 07:06] MarinPostma commented on #1730
It depends on how you started meilisearch. If you are runining it through `systemd`, then the logs can be found in in `journalctl`. Otherwise, if you simply launched the binary, the logs are printed to stdout.

[2021-10-05 07:53] ManyTheFish commented on #1714
I'm sorry for that.
But I have some questions.

## is it really relevant to respond `Ipad 包` to the query `化妆包`?
I used a traduction tool, and it said that `化妆包` seems to be a `Cosmetic bag`. I don't personally find that an `Ipad bag` is a good response to a `Cosmetic bag`. 🤔
Is there another traduction to `化妆包` that makes `Ipad 包` relevant?

## What is the most disappointing thing in the response

[2021-10-05 08:59] curquiza commented on #1730
Hello @ciaranmccaughey, also, what is your MeiliSearch version?

[code]

You might want to change `http://127.0.0.1:7700` but your MeiliSearch server address if you don't use MeiliSearch locally

[2021-10-05 14:34] vaibhav135 commented on #1767
Hi, @MarinPostma, I've compiled the project from source locally. I've already ran it on localhost:7700. But the problem is I can't search for anything as it is not showing any result. I suppose since I am in development mode I don't necessarily need the master key or any key as a matter of fact.
The picture below shows my problem. Is it really a problem or is it suppose to happen currently I am re

[2021-10-05 14:40] MarinPostma commented on #1767
Hey @vaibhav135 , have you added any documents to your db?

[2021-10-05 15:27] curquiza opened #1770 "Increase limit: number of postitions (~ words) per attribute"
The current number of positions per attribute is currently 1000.

See the [docs page](https://docs.meilisearch.com/reference/features/known_limitations.html#maximum-words-per-attribute)

This limit will be increased to 65 535.

@meilisearch/docs-team. The whole explanation remains unchanged, only the `1000` word should be replaced by `65 535`.

----

TODO:
- Merge this PR: https://github.com/meili

[2021-10-05 15:35] curquiza commented on #1770
⚠️ @meilisearch/docs-team
A warning must be added to the changelogs (release and article) to say the disk space can be increased between v0.23.0 and v0.24.0 due to this change!
This addition is considered as breaking for the users

[2021-10-05 16:35] vaibhav135 commented on #1767
@MarinPostma  there is already a sample document in datasets/movies/movies.json but how do I add it to the DB. Do I create a node.js file then use MongoDB or something like that. I am a little bit confused

[2021-10-05 16:38] vaibhav135 commented on #1767
@MarinPostma Do i need to execute a curl request
[code]

[2021-10-05 17:04] MarinPostma commented on #1767
Yes you can pass `--data @datasets/movies.json`

[2021-10-05 17:34] vaibhav135 commented on #1767
@MarinPostma  thanks finally, added documents to the DB that worked.

[2021-10-05 18:14] curquiza commented on #1767
Hello @vaibhav135 and @MarinPostma, the movie.json dataset is going to be removed, see the draft PR: https://github.com/meilisearch/MeiliSearch/pull/1693
This PR waits for the docs approval before being merged, but it will.

You can pass the document you planned to pass at first @vaibhav135 :)

[2021-10-06 00:44] ciaranmccaughey commented on #1730
@MarinPostma Here are the logs from systemd

`
Oct  6 00:35:11 ip-172-31-42-220 meilisearch[561]: [2021-10-06T00:35:11Z INFO  actix_web::middleware::logger] 127.0.0.1:35734 "POST /indexes/drives/settings/ranking-rules HTTP/1.0" 202 18 "-" "PostmanRuntime/7.26.8" 0.001933
Oct  6 00:35:34 ip-172-31-42-220 meilisearch[561]: [2021-10-06T00:35:34Z INFO  actix_web::middleware::logger] 127.0.0.1:35736 "G

[2021-10-06 01:36] gemini133 commented on #1714
no, no, no. `Ipad 包` is not relevant to `化妆包`, but when you search for "包", they both should be returned, right?

[2021-10-06 08:54] curquiza opened #1773 "Improve `attribute` criterion"
FYI @gmourier

Many is working on an optimization of the `attribute` criterion
- improving the indexation time: a complete internal DB we used for this criterion is simplified. @ManyTheFish will share some metrics about it
- the search is more performant on search taking several ms or seconds. Metrics are available in the [PR description](https://github.com/meilisearch/milli/pull/382)

----

TODO

[2021-10-06 12:25] curquiza commented on #1734
Fixed by #1764

[2021-10-06 16:02] #1593 closed

[2021-10-07 03:15] spinales commented on #1758
@irevoire  Hi, how can test the changes i did?
i did a change, i want to do test, how can generate JSON file with field _formatted, how showed the first comment on this issue?

[2021-10-07 08:29] MarinPostma opened #1780 "Update store rewrite and new task API"
This tracking issue follows the development of the update store rewrite of the update store and the introduction of the new task API.

## Goals

The goals for this project are:
- re-designing the update store with the insights from #1679
- introduce the task API
- Making all write operation asynchronous
- Preparing for HA
- Preparing for auto-batching

## Steps

Since this is a large task, I have

[2021-10-07 10:23] irevoire opened #1782 "Reduce binary size"
We have really large binary (~300MB), with #1781 we'll reduce our binary size to ~50MB. And I was thinking we could also use [`upx`](https://upx.github.io/) to reduce our binary size even more.
Basically, what `upx` is compressing your binary and shipping an “uncompressor” with it.
And here is what happens when you execute your binary:
1. The binary gets loaded in the RAM by the OS
2. `upx` uncomp

[2021-10-07 10:25] MarinPostma commented on #1782
Have you any idea how much that would shave off?

[2021-10-07 11:59] irevoire commented on #1782
Oops look like upx is _always_ stripping the binary even with the option `strip-relocs=0`. So it's a no-go for us actually.

[2021-10-07 11:59] #1782 closed, assigned to nobody

[2021-10-07 15:25] curquiza opened #1784 "Improve the way of handling analytics"
We currently send the analytics directly to Amplitude.
The alternative we want to implement is to push our analytics into [Segment](https://segment.com/?ref=nav) instead so that any other analytics tools like Amplitude can be plugged.

@meilisearch/docs-team: thanks to @gmourier, this issue will be updated with the related changes introduced with this PR, for instance, the exhaustive list of the d

[2021-10-07 15:45] curquiza opened #1785 "Improve the errors and test them"
### Important

This issue is based on this specification: https://github.com/meilisearch/specifications/pull/61
The specification gathers all the information related to this feature: the motivation, the API and technical changes, the future possibilities...

⚠️ For anything that is not clear or deeply detailed in this issue, please refer to this specification.
Especially, for the @meilisearch/docs

[2021-10-07 15:45] curquiza commented on #758
Closed in favor of #1785

[2021-10-07 15:45] #758 closed

[2021-10-07 15:56] gmourier commented on #1784
One of the major advantages is that we can control what happens with a vigilance layer to guarantee the privacy of ours users. That is, if someone makes a mistake one day and sends data deemed personal, we are alerted and we can purge this data very easily.

The processes put in place to decide and implement a new metric should prevent this from happening, but prevention is better than cure.

More

[2021-10-07 16:11] curquiza opened #1786 "Create, update and delete an index are now asynchronous"
Checked with @gmourier, this implementation does not need a spec. Let us know, no matter what is your team at Meili, if you need one.

----

### Motivation

Currently, the creation, update, and deletion of an index are synchronous: it is performed immediately after the API call, contrary to all the other "modification" tasks (on documents and settings) that are asynchronous.
This inconsistency lea

[2021-10-07 16:14] curquiza commented on #1780
This issue follows this spec: [Refashion the Updat API](https://github.com/meilisearch/specifications/blob/develop/text/0060-refashion-updates-apis.md)
It impacts the @meilisearch/docs-team and the @meilisearch/integration-team

[2021-10-07 16:25] curquiza commented on #1736
Closed by #1783

[2021-10-07 16:25] #1736 closed

[2021-10-08 15:43] bb opened #1788 "Internal error when indexing"
**Describe the bug**

TLDR: I found a trivial json with two docs which triggers a panic, see section "To Reproduce".

I got this error in MeiliSearch 0.23.0rc2:

[code]

The ruby client reports this:

[code]

What I was doing:
[code]
Nothing showed up in the updates queue.

With meilisearch 0.22.0 this was still working, resulting in an update entry like this:
[code]
and a log entry like this
[cod

[2021-10-08 22:08] igaul commented on #1767
Hi @vaibhav135, it sounds like you might be over thinking this :)
You want to just check that MS successfully serves the mini-dashboard, not actually test its searching abilities (that would belong in the mini-dashboard repo), so it shouldn't be crazy lifetime rust. Feel free to post your branch if you want help, I think most people end up liking rust.

[2021-10-09 13:19] MarinPostma commented on #1767
Yes, just open a draft pr and I'll take a look at it 😉

[2021-10-09 13:20] MarinPostma commented on #1788
@curquiza we may want to issue a fix on Monday before releasing?

[2021-10-10 19:48] curquiza opened #1791 "Bad `Content-type` consistency"
MeiliSearch v0.23.0

When sending documents or creating an index, the `Content-type` requirements are not the same

- Creating an index
[code]
-> The index is created

- Sending documents
[code]
-> The documents are not added

[code]

Also, I would add the following command works (i.e. the index is created), but should not:

[code]

-----

@gmourier
Should we make all the routes consistent and onl

[2021-10-10 21:36] palfrey opened #1792 "Deps.rs flags security vulnerability in memmap"
**Describe the bug**
meilisearch depends on memmap, which [is unmaintained](https://github.com/danburkert/memmap-rs/issues/90) and has a [resulting security issue](https://rustsec.org/advisories/RUSTSEC-2020-0077.html)

**MeiliSearch version:** current master

[2021-10-11 02:30] gemini133 commented on #1714
@ManyTheFish  unfortunately, didn't find a way to tweak jieba except for `load_dict` loading our own dictionary.

https://github.com/messense/jieba-rs/issues/77

[2021-10-11 10:07] curquiza commented on #1791
Checked with @gmourier!

All the routes accepting a payload should ONLY accept `Content-Type: application/json` (and `text/csv` or `application/x-ndjson` for the document routes).
`Content-type: application/json; charset=utf-8` must not be accepted.

[2021-10-11 12:45] alexchuin opened #1794 "Server does not start anymore"
**Describe the bug**
At server startup, i have the following error :
`/home/bas/.cargo/git/checkouts/lmdb-rs-97af4d460cf53f67/d0b50d0/lmdb-sys/lmdb/libraries/liblmdb/mdb.:2417: Assertion 'rc == 0' failed in mdb_page_dirty()`

**To Reproduce**
I have inserted 100 000 "simple" documents and Meili goes away

**MeiliSearch version:**
0.21.0

**Additional context**
Last logs :
`2021-10-11T14:23:17+02:0

[2021-10-11 15:04] #1788 closed, assigned to ManyTheFish, MarinPostma

[2021-10-11 22:10] bb opened #1798 "Automatic ID inference issue"
**Describe the bug**

After #1788 was fixed, I gave my dataset another try and it's failing again.
It looks like it's related to reordering the keys which was introduced for #1788.

However, when trying to create a reproduction document, I observed some strange behavior which I don't understand yet: It seems like there's a chance the below either works or not, even without (knowingly) changing any

[2021-10-12 13:29] MarinPostma commented on #1798
So the first issue shoud be adressed by https://github.com/meilisearch/milli/pull/388.

The performance issue, on the other hand doesn't come from where I expected. I though it might be coming from the document formats transformations. This is a 2 phases process:
- The documents are transformed from a textual format (json, jsonl, csv) to a binary format (obkv). This is done synchronously so payloa

[2021-10-12 14:26] Bjornftw opened #1802 "Can't add _geo as filterable attribute"
**Describe the bug**
With the release of 0.23 we can use the new Geo Search feature. I tried to add `_geo` as a filterable attribute but it's not working. With the MeiliSearch API I can add all other attributes but `_geo` is not working. Seems the API is blocking underscores.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a post call to `/indexes/:index_uid/settings/filterable-attrib

[2021-10-12 16:02] curquiza commented on #1798
Fixed with #1801 and v0.23.1 release

[2021-10-12 16:02] #1798 closed, assigned to MarinPostma

[2021-10-12 16:05] curquiza opened #1804 "Not-expected loss of performance during indexation (between v0.22.0 and v0.23.0)"
Following: https://github.com/meilisearch/MeiliSearch/issues/1798

Seems like there is a loss of performance during indexation between v0.22.0 and v0.23.0

We need to investigate and fix this
@MarinPostma already started a first investigation about the part he updated between v0.22.0 and v0.23.0: https://github.com/meilisearch/MeiliSearch/issues/1798#issuecomment-941014601

[2021-10-12 17:56] curquiza commented on #1804
Hello @VinceG! This is not normal it takes that amount of time of 100K records
Do you push your documents one by one?

We always recommend pushing your documents to MeiliSearch by batch and not one by one. The maximum payload size of MeiliSearch is 100Mb and [can be optionally increased](https://docs.meilisearch.com/reference/features/configuration.html#payload-limit-size). It means most of the da

[2021-10-12 18:01] VinceG commented on #1804
@curquiza we have more, but right now we just tried to index 100K and its still going.

we use Laravel, and Laravel Scout
https://laravel.com/docs/8.x/scout#batch-import

it seems like it does batching but since we only have 550 updates enqueued

it does send over 200 records at a time but i don't think it reaches 100MB

any idea what i can do to troubleshoot?

thank you.

[2021-10-12 18:11] sanders41 opened #1805 "Incorrect error message for content-type error"
**Describe the bug**
When an invalid content-type header is sent the the error message that is returned says: `Error message: The Content-Type "applicaiton/csv" is invalid. Accepted values for the Content-Type header are: "application/json", "application/x-ndjson", "application/csv".`, however for `csv` files it should be `text/csv` instead of `applicaiton/csv`.

**To Reproduce**
Send documents to

[2021-10-13 08:22] alexchuin commented on #1794
Follow-up :

I now have this error on startup :
[code]

I insert by batch of 100k documents (id, name and two dates)
I had to change my server because the indexing was consuming a lot of RAM and was crashing the server (?)

If you need any info or an access to the database, i'm here :)

[2021-10-13 08:53] irevoire commented on #1802
Hello, what was the issue? 👀

[2021-10-13 10:51] bb commented on #1804
Thanks for transferring this here, @curquiza.

Looking at the comments above, there seem to be multiple discussions ongoing. I think the primary goal here is preventing regressions, i.e. making sure that in newer versions, things stay at least as fast as they were in an older version.

Here's some overview from my data. It's not really comparable except within a row due specific machines, OS, etc.

[2021-10-13 11:16] #1805 closed

[2021-10-13 13:17] #1794 closed, assigned to nobody

[2021-10-13 20:55] bb commented on #1804
I just provided @ManyTheFish with my test dataset and my settings via Slack.

The test is a fresh db folder, Meilisearch running in Docker for Mac and three calls:

1. settings
2. delete_all_documents
3. add_documents (all at once)

In the last runs comparing 0.22.0 vs 0.23.1, I had on this specific dataset, I had 14 times slower indexing (1.6 s → 22.7 s) and 3x slower uploads (5 s → 17s).

The in

[2021-10-13 23:58] chamby opened #1809 "Deleted documents are still in search results"
**Describe the bug**
Deleted documents are still in search results even after a deletion request and the update queue is fully processed.

**To Reproduce**
I will try to get something reproducible. The state of my index is such that requesting the document by id returns `404` but a search that would include the document does in fact have a document with the deleted id.

Additional deletion request

[2021-10-14 01:59] chamby commented on #1809
I created a dump and imported the dump to v.0.23.1 on my local machine. The document exists when I request it via id. I will try to import the dump on my production machine in order to fix my issue.

[2021-10-14 12:39] curquiza commented on #1809
Hello @chamby! Thanks for your report, this is indeed really weird...
I close this issue because we cannot reproduce it, but feel totally free to re open if you have this issue again, or if someone can provide detailed steps to reproduce it.

[2021-10-14 12:39] #1809 closed

[2021-10-14 12:56] #1757 closed

[2021-10-14 13:06] #1230 closed

[2021-10-14 14:25] soolace opened #1810 "Sort not working with searchquery in POST search"
**Describe the bug**
When the Searchquery has a Value, the sort doesn't work correctly.
{
    "q": "invest",
    "sort": ["company:asc"]
}

But when it's empty, it works.
{
    "q": "",
    "sort": ["company:asc"]
}

**To Reproduce**
Visible with postman or in the application

**Expected behavior**
The Sorting should work, regardless if a searchquery is sent or not.
I can't see any error or someth

[2021-10-14 15:37] curquiza opened #1812 "Reducing ArmV8 binary build time with action-rs"
### Discussed in https://github.com/meilisearch/MeiliSearch/discussions/1790

<div type='discussions-op-text'>

<sup>Originally posted by **patrickdung** October  9, 2021</sup>
The GitHub action is called [action-rs](https://actions-rs.github.io/)
It supports cross platform build (ArmV8, MUSL and etc.) of Rust programs.

I have tested it and it could build the aarch64 Arm binary in about 15 minute

[2021-10-14 15:46] curquiza commented on #1758
Hello @spinales, I will remove the assignation since we did not get any PR from you, we can understand this is not an easy PR and you may not have the time to do it 🙂

In general, and from now, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the other volunteers contributors to open a PR to fix this issue.
We will acce

[2021-10-14 16:31] curquiza commented on #1733
I close this issue due to the lack of answer, feel free to reopen if needed 🙂

[2021-10-14 16:32] curquiza commented on #1767
Hello @ vaibhav135, I will remove the assignation since we did not get any PR from you, we can understand this is not an easy PR and you may not have the time to do it 🙂

In general, and from now, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the other volunteers contributors to open a PR to fix this issue.
We will a

[2021-10-15 04:09] CNLHC commented on #1767
May

Will this policy apply to those issues that already have an assignee before you claim this new policy?

[2021-10-15 14:11] slightfoot opened #1816 "Meilisearch fails to parse Content-Type header with charset field."
**Describe the bug**
Previous version 0.20.0 of Meilisearch would accept content-type `application/json; charset=utf-8` where as new version 0.23.1 only accepts `application/json`. This was problematic for us because our http library would inject the charset in our request.

This has been "worked-around" however our requests are still being sent as utf-8 and we see this as a failure of Meilisearch

[2021-10-16 05:15] bhavya-cloudaeye opened #1818 "Certificate expired error on Digital Ocean"
**Describe the bug**

I hosted Meilisearch on digital ocean using the `one-click` app from the marketplace. I followed the instructions on the ssh console and quickly set up domain name and SSL in minutes. Thanks for that !

However within few days (around a week), some of my app users started running into the **certificate expired** issue. When I login into my droplet and check for renewal usign

[2021-10-16 13:20] foremtehan opened #1820 "Meilisearch on 20 million records"
Hi there, I'm using your wonderful app with laravel scout, I imported 20 million records to test it out and i faced some issues.

My table contains transcript lines, The problem is it doesnt scan the whole table to get the appropriated results.

For example i searched for `Leela kicked` which is inserted in the end of the table:

![image](https://user-images.githubusercontent.com/53290883/13758890

[2021-10-16 13:20] curquiza commented on #1767
Hello @CNLHC and @vaibhav135!

@CNLHC, actually here is our policy about Hacktoberfest, and about contribution in general, and we never mention the issue assignation: https://github.com/meilisearch/MeiliSearch/blob/main/CONTRIBUTING.md#hacktoberfest
But you're right the fact is, it's not really clear. We should note something about assignation!
We are trying to do our best with Hacktoberfest and t

[2021-10-16 13:25] #1655 closed

[2021-10-16 13:26] slightfoot commented on #1816
No. But really this is a bug in your code not correctly parsing the content type header.

[2021-10-16 13:34] curquiza commented on #1816
This is not a bug but an expected behavior on our side.
See this issue that describes we want to make this behavior consistent everywhere: https://github.com/meilisearch/MeiliSearch/issues/1791

We want the user to be aware of what there are sending as `Content-Type`, that's why we restrict it 🙂 Using one of our SDK will remove this problem for you since they take care of the Content-Type for you.

[2021-10-16 13:40] curquiza commented on #1818
Hello @bhavya-cloudaeye
I'm moving the issue to the meilisearch-digitalocean repository :)

[2021-10-16 13:45] curquiza commented on #1820
Hello @foremtehan
The upload of documents into MeiliSearch leads to a complex indexation that might take time.
When adding your documents into MeiliSearch you get an `updateId` related to your action. This [answer in the FAQ](https://docs.meilisearch.com/faq.html#i-did-a-call-to-an-api-route-and-i-only-got-an-updateid-as-a-response-what-does-it-mean) can make you better understand.

However, 20M o

[2021-10-16 13:48] curquiza commented on #1810
Yes it is! 🙂 Glad the doc helps you find the solution!

@gmourier since it's a user feedback, I ping you! 😇

Closing the issue then!

[2021-10-16 13:48] #1810 closed, assigned to nobody

[2021-10-16 15:06] curquiza commented on #1784
Here is the current re-work of the spec related to this issue: https://github.com/meilisearch/specifications/pull/84/files

[2021-10-16 15:26] Aniket-IN opened #1823 "Cannot spawn Arbiter's thread: "actix-rt|system:0|arbiter:56""
### Discussed in https://github.com/meilisearch/MeiliSearch/discussions/1821

<div type='discussions-op-text'>

<sup>Originally posted by **Aniket-IN** October 16, 2021</sup>
Hi, I'm new to MeiliSearch,
I got MeiliSearch up and running on my local machine, it works great.

[code]
But when I tried to setup on the server (Linux), its returning this error.
[code]

I have no clue, What's wrong, I have

[2021-10-16 23:55] CNLHC commented on #1687
Since https://github.com/meilisearch/milli/pull/358 is merged, I believe this issue can be closed.

[2021-10-17 10:10] irevoire commented on #1687
Not now !
We still need to create a new release of milli and use it in MeiliSearch. And since https://github.com/meilisearch/milli/pull/358 was breaking we still have a bit of works 😁

[2021-10-17 18:37] vaibhav135 commented on #1791
@curquiza  is this problem related to this area of the  [code-section](https://github.com/meilisearch/MeiliSearch/blob/main/meilisearch-http/src/lib.rs#L99-L125)?

[2021-10-18 00:11] tacoelho commented on #1791
would you like me to give the user a message stating that? or just block without throwing an error?

[2021-10-18 03:24] vaibhav135 commented on #1791
@tacoelho I think you have to block and state the message both. Because it doesn't make sense to state the error and then accept the content type right. So probably both maybe @curquiza  what do you think?

[2021-10-18 08:39] #1820 closed

[2021-10-18 08:58] curquiza commented on #900
@guy4261  It means, by default, the size of your payload (not the number of documents) can by maximum 100Mb, so 100Mb or less :)

[2021-10-18 12:16] irevoire commented on #1687
@CNLHC, the release is done. Do you want to bump milli from meilisearch?

[2021-10-18 16:43] curquiza commented on #1758
Nope, `matches` still do not work with numerical values.

But maybe it could now work... I have to check with the dev team if it's doable. In any case, it will be another issue if `matches` finally works with numerical value, so you will know it 🙂

[2021-10-18 21:47] curquiza commented on #1770
Milli 0.18.0 is out containing this change 🎉
https://github.com/meilisearch/milli/releases/tag/v0.18.0

[2021-10-18 21:57] curquiza commented on #1393
Closing this issue since it's a feature request and it's not handle on this repo :)

[2021-10-18 21:57] #1393 closed

[2021-10-19 15:56] remram44 opened #1825 "Empty _matchesInfo if attribute is not retrieved"
**Describe the bug**
`"matches": true` doesn't work if the attribute is not included in `"attributesToRetrieve"`

The documentation for `"attributesToHighlight"` mentions:

However there is little control if I am forced to retrieve the full document from MeiliSearch before I can discard it and do my own highlighting.

**To Reproduce**
Steps to reproduce the behavior:
1. Do any search with `"attrib

[2021-10-19 21:28] stefkes opened #1831 "Error when deleting index: DirectoryNotEmpty"
**Description**
When deleting an index using `$client->deleteIndex('Posts')` I see in the MeiliSearch output the error below. However, the index does seem to be deleted in the sense that `$client->getAllIndexes()` no longer shows the one I just tried to delete.

`ERROR meilisearch_lib::index_controller::index_resolver] Error while deleting index: Internal(Os { code: 39, kind: DirectoryNotEmpty, me

[2021-10-20 13:15] curquiza commented on #1825
Hello @remram44

The `attributesToRetrieve` list is the attributes you want to display, so to retrieve, in your search result.
`matches` is an option to inform about the matching part in the attribute.

What is your use case if you don't want to retrieve the attribute but you want to get the matching part? 🙂

[2021-10-20 14:26] curquiza commented on #1825
Thanks for opening this issue then! :)

I've created a discussion in the `product` repository where our product team works: https://github.com/meilisearch/product/discussions/280

We are sorry you encountered bugs with MeiliSearch! We would appreciate reading the other issues or feedback you have regarding MeiliSearch.

In the meantime, the current problem of this issue can be solved by adding the

[2021-10-20 16:34] happysalada commented on #1273
That PR is nice! Yeah nom makes much more sense!
I don't think this will influence packaging, but it's nice to know!

[2021-10-21 02:59] OathMoon opened #1833 "Import dumps in docker instance got os error 16"
**Describe the bug**
when use MeiliSearch docker instance with data volumes to import dumps get os error 16:
[code]

and if without data volumes is works well:
[code]
but it is not convenient to direct import dump to db path while db path is a volume, needs docker cp data to local directory.

is this just as designed?

**MeiliSearch version:** [v0.23.1]

[2021-10-21 10:18] bidoubiwa opened #1834 "`/indexes` broken after forgeting to add content-type on document addition + unclear error"
**Describe the bug**
I try to add documents without adding the `content-type: application/json` .
After doing so, I requested `/indexes` and not `/indexes/:myindex`. Resulting in the following error:

[code]

After successfully adding document with the header `/indexes` still throws the same error BUT `/indexes/:myindex` does not
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Index wh

[2021-10-21 14:24] #1834 closed, assigned to nobody

[2021-10-21 16:03] agentabstract opened #1839 "Cannot update settings against meilisearch v0.23.1"
**Describe the bug**
When I update settings the way I did v0.20 the settings do not actually update on the server or give me an error.

**To Reproduce**
[code]

**Expected behavior**
The settings would update.

The result I get is:
[code]

**MeiliSearch version:** [e.g. v0.23.1]

[2021-10-21 16:29] agentabstract commented on #1839
Yes.  I just did that,  after I found the issue.  It is saying status: failed,  but no error message. What I realized after submitting the ticket was that the ranking rules aren't the same anymore.  I had:
`settings.RankingRules = []string{"exactness","words", "attribute","desc(boost)","desc(date)","wordsPosition","proximity", "typo"}`

and the new format is:
`settings.RankingRules = []string{"exa

[2021-10-21 16:35] curquiza commented on #1839
So, Is it ok now for you? 🙂

The error message is visible using the update status route I linked, MeiliSearch processes settings and documents asynchronous:
- https://docs.meilisearch.com/learn/advanced/asynchronous_updates.html#which-operations-are-async
- https://docs.meilisearch.com/faq.html#i-did-a-call-to-an-api-route-and-i-only-got-an-updateid-as-a-response-what-does-it-mean

[2021-10-21 16:43] #1839 closed, assigned to nobody

[2021-10-21 17:00] curquiza opened #1840 "MeiliSearch removes indexes when `data.ms` is not compatible"
Steps to reproduce
- Start MeiliSearch v0.22.0
- Add documents
- Stop MeiliSearch v0.22.0 and run MeiliSearch v0.23.0 using the same `data.ms`

-> MeiliSearch starts without any error, but should not, and remove the indexes in `data.ms`

MeiliSearch should display the following error
[code]
at it was before, and should not start if data.ms is not compatible without removing the indexes

[2021-10-22 00:03] Aniket-IN commented on #1823
Hi @curquiza ,
That is the first thing I tried but no luck :(

[2021-10-22 13:09] neylsongularte opened #1841 "Cannot allocate memory when creating indexes"
I'm trying to create 10000+ indexes with 500+ documents and I get this error on a machine with 16GB of ram:

[code]

![image](https://user-images.githubusercontent.com/4109823/138458881-08b247de-6587-4428-9a48-fccc64ee5106.png)

MeiliSearch version: 0.23.1

**Additional context**
Amazon Linux 2 - x86_64 - 16GB ram - With 10GB of ram free

1,1G	data.ms/

[2021-10-24 12:48] #1812 closed, assigned to nobody

[2021-10-29 03:53] Totsamji13 opened #1856 "> Leave a comment"
_Originally posted by @Totsamji13 in https://github.com/webcompat/webcompat.com/issues/3631#issuecomment-954407021_

[2021-10-29 08:51] #1856 closed, assigned to nobody

[2021-10-29 16:01] yashiroiori opened #1858 "How update meilisearch SDK into meilisearch/meilisearch-laravel-scout 0.17 -> 0.19.2"
Recently work with app maded few months in Laravel 8, meilisearch are change facet with filterable attributes, when I try update meili index to set filterable attributes meilisearch/meilisearch-laravel-scout work with meilisearch api version 0.17 and not work filterable attributes, how do to update to version ^0.19.2 in meilisearch/meilisearch-laravel-scout to work fine with new changes on meili A

[2021-10-29 16:43] #1784 closed, assigned to irevoire

[2021-10-30 07:47] Totsamji13 commented on #1856
Leave a comment

[2021-10-30 07:49] Totsamji13 commented on #1856
Leave a comment

[2021-10-30 07:52] Totsamji13 commented on #1856
Leave a comment

[2021-10-31 18:23] alexisvisco opened #1861 "Error catch of type unknown throw error with tsc"
Hi,

Just a little advice, while compiling in typescript  4.4.4, there is some errors :

[code]

My tsconfig (which has been specially modified to pass Request requirements ... :-1: )
[code]

Using useUnknownInCatchVariables will allow you to compile, however, it should be in the meilisearch tsconfig not in mine.

How you are considering adding this property.

[2021-10-31 18:55] MarinPostma commented on #1861
Hey! I think this belongs there: https://github.com/meilisearch/meilisearch-js

[2021-11-01 07:38] OathMoon commented on #1833
Hi @curquiza
`-v /Users/curquiza/Documents/MeiliSearch/data.ms:/data.ms` mount host path `data.ms` for container and arguments `--db-path /data` makes `/data` as db path, the db path is still in container, and host path did not used for importing, is this the different can not reproduce issue?

[2021-11-01 16:06] mskyttner opened #1862 "Configuring MEILI_HTTP_ADDR does not allow using a subpath which could simplify reverse proxying into a subpath without "giving up the webroot""
Looking at https://docs.meilisearch.com/reference/features/configuration.html#http-address-port-binding and setting the MEILI_HTTP_ADDR to include a subpath ie instead of the default HTTP address and port "127.0.0.1:7700" I instead use "127.0.0.1:7700/mysubpath", the server refuses to start with an error "Error: invalid port value".

**To Reproduce**
Steps to reproduce the behavior:
1. Use a docke

[2021-11-02 08:03] Thearas opened #1864 "non searchable field appears in _matchesInfo"
**Describe the bug**

I don't know if it's a bug or a feature. The field `tags` (see the index setting below) is in `filterableAttributes` but not in `searchableAttributes`, but it may appear in `_matchesInfo` in search result.

**To Reproduce**

Here is my index setting:
[code]
and document:
[code]
Search with `curl  -X POST 'http://localhost:7700/indexes/mydoc/search'  -H 'Content-Type: applicat

[2021-11-02 09:33] curquiza commented on #1861
Hello @alexisvisco
Indeed, I think it's not in the right repo. Moving this to meilisearch-js

@bidoubiwa, feel free let us know if it's not related to meilisearch-js

[2021-11-02 15:03] curquiza opened #1866 "Accept `charset` in `Content-Type` header"
Replaces https://github.com/meilisearch/MeiliSearch/issues/1791

After discussion with the team, we want to permit `charset` in the `Content-Type` header for the routes requiring a body, so a `Content-Type` header.

### Reminder

The following routes should only accept `application/json` in this header and not `text/csv` or `application/x-ndjson`
- `POST indexes/`
- `PUT indexes/:uid`
- `POST inde

[2021-11-02 15:04] curquiza commented on #1791
After discussion with the @meilisearch/core-team, I close this in favor of #1866

[2021-11-02 15:07] curquiza opened #1867 "Adds management of API Keys and their permissions"
# Summary

The goal of this issue is to improve the way of handling API keys by following the related specification: https://github.com/meilisearch/specifications/pull/85
(Still a WIP)

# Implementation
## [Actions](https://github.com/meilisearch/specifications/blob/dbefc66902b4c71388020c1e3a2e5cd023c3a0d3/text/0085-api-keys-scoped-api-keys.md#actions-list-definition)
- [x] `search`  Provides acce

[2021-11-02 15:09] curquiza commented on #1867
@meilisearch/integration-team @meilisearch/docs-team
This issue will impact you, more information in the spec and coming in this issue.

[2021-11-02 19:00] #1858 closed

[2021-11-02 19:15] curquiza commented on #1833
Hello again @OathMoon
I realized I might have missed the right command, I should have typed `--db-path /data.ms` instead of `--db-path /data`, sorry for that.

Now I get:

[code]

Do you have the same error?

[2021-11-03 09:24] curquiza opened #1871 "Windows: MeiliSearch tries to allocate 100Gb of disk space"
Following https://github.com/meilisearch/MeiliSearch/discussions/1869

This bug should have been removed since v0.21.0 which works with the version of lmdb that should remove this hard memory allocation.

@Kerollmops can you check the correct version of lmdb is used?

Is there anyone having the same issue with a MeiliSearch version >= v0.21.0?

[2021-11-03 09:56] otuerk opened #1872 "_geoPoint sorting not working"
**Describe the bug**
The result is not sorted by distance to the given lat/lng when using _geoPoint sorting function

**To Reproduce**
Use the following data

[code]

When using the _geoPoint sort function

`curl -X POST 'http://localhost:7700/indexes/test/search' -H 'Content-type:application/json' --data-binary '{ "sort": ["_geoPoint(48.2342154, 16.4205687):asc"] }'`

You get the following result

[2021-11-03 13:03] Kerollmops commented on #1871
I checked the versions of LMDB we use in both MeiliSearch and milli, [we use the v0.12.1 of heed](https://github.com/meilisearch/MeiliSearch/blob/c32f13a9091afe0b6de6cc8fc063ca806dcd976f/meilisearch-http/Cargo.toml#L42) which [uses the version 0.9.70 of LMDB](https://github.com/meilisearch/lmdb/blob/780761f5c0fee69ef4a91c96d0fe2b8cd9e90b3b/libraries/liblmdb/lmdb.h#L227-L232). The issue with [the w

[2021-11-03 14:03] curquiza commented on #1871
Thanks @Kerollmops
I let the issue open in case someone has the same issue with Windows. I will close it after some time if we don't get any other feedback

[2021-11-03 14:11] curquiza commented on #1872
Hello @otuerk

Thanks for your report!
This is a known issue, sorry to not have reported it publically. This problem is due to the lack of accuracy of the RTree, the structure we use to implement the geo-search. RTrees work in a 2D map, we use them to apply the sort, and then we re-calculate the real distance to make them work on a spherical map (the Earth). These lead to imprecisions, sorry for t

[2021-11-03 14:22] curquiza commented on #1864
Hello @Thearas

Thanks for your interest in the project :)
This is indeed an expected behavior. However I opened a feature request in the dedicated repository so that your point of view is also taken into account. See: https://github.com/meilisearch/product/discussions/296

Thanks again for your report, I close this issue since it's now on the product side :)

[2021-11-03 14:22] #1864 closed

[2021-11-03 15:02] otuerk commented on #1872
Thanks for the explanation @curquiza!

Is it planned to make the sort more accurate in a future release?

[2021-11-03 15:14] curquiza commented on #1872
@meilisearch/product-team can tell you more about what we plan in the future :)

[2021-11-04 15:38] curquiza opened #1877 "Add `error` object to the update response in case of failure"
Currently, we face an issue in the update response with `v0.24.0rc0` in case of failure, we have two `type` fields:

[code]

What we decide is to have an `error` field containing the information about the error

[code]

⚠️ This only concerns the update response, not the response when we get a synchronous error.

[2021-11-04 15:40] curquiza commented on #1877
FYI this changed is based on the "task API' specification: https://github.com/meilisearch/specifications/blob/develop/text/0060-refashion-updates-apis.md#fully-qualified-task-object

[2021-11-04 16:08] curquiza commented on #1785
Closed thanks to https://github.com/meilisearch/MeiliSearch/pull/1873 and https://github.com/meilisearch/MeiliSearch/pull/1873

[2021-11-04 16:08] #1785 closed

[2021-11-04 17:33] curquiza commented on #1877
Closed by #1878

[2021-11-04 17:33] #1877 closed

[2021-11-06 12:31] mhhakim commented on #1833
I am having the same issue in container. I imported the dump in the host machine successfully then used than data to create container.

[2021-11-08 13:19] curquiza commented on #1687
I updated the issue, a new PR and a new release of Milli are needed

[2021-11-09 12:28] curquiza opened #1883 "Make `matches` work with numerical value"
Since v0.24.0, and since this issue is done (https://github.com/meilisearch/MeiliSearch/issues/1758) MeiliSearch can apply highlight on numerical fields.

But this does not work when using `matches`.

Example

- With this document:

[code]

- And this search

[code]

Current behavior:

[code]

Expected behavior:

[code]

This change should be done in this file: https://github.com/meilisearch/Meili

[2021-11-09 15:24] Samyak2 commented on #1480
Now that meilisearch/tokenizer#54 is closed, this should be possible to fix. Can I take a shot at this?

[2021-11-10 06:01] Thearas commented on #1883
Hi @curquiza, I‘’m interested in Meilisearch and I'd like to take this issue if no one else is currently working on it.

[2021-11-10 07:09] OathMoon commented on #1833
@curquiza Yes, the same error.

[2021-11-10 10:03] veerendrapolepalli commented on #1831
I am also getting same kind of error , we have persisted the data.ms folder in the server , when there is new update we are trying to delete the existing index and create a new index with same name , logs are attached below

[2021-11-10T09:45:12Z INFO  actix_web::middleware::logger] 10.0.5.213:47334 "DELETE /indexes/price HTTP/1.1" 204 0 "-" "python-requests/2.25.1" 0.056508
[2021-11-10T09:45:12Z

[2021-11-10 10:32] veerendrapolepalli commented on #1831
We are facing the same issue , we have persisted the data.ms folder in the server , we are trying to delete the index and re create index when there is update in the document , logs i have attached below , we have done the docker installation based on the https://docs.meilisearch.com/learn/getting_started/installation.html#download-and-launch

[2021-11-10T09:45:12Z INFO  actix_web::middleware::log

[2021-11-10 13:34] curquiza commented on #1831
Thanks for the report. Seems related to https://github.com/meilisearch/MeiliSearch/issues/1833

Could you test @stefkes and @veerendrapolepalli if you get the same error using an old docker image, I mean v0.22.0 or v0.21.0, since v0.23.1 seems to have this bug?
Thanks a lot for your help

[2021-11-10 13:41] curquiza opened #1888 "Improve Hangul tokenization"
Steps:
- [x] Merge https://github.com/meilisearch/tokenizer/pull/60 (thanks @datamaker 🎉)
- [x] Release the [tokenizer](https://github.com/meilisearch/tokenizer) -> [v0.2.6](https://github.com/meilisearch/tokenizer/releases/tag/v0.2.6) is out
- [x] Update the tokenizer dependency in [milli](https://github.com/meilisearch/milli)
- [ ] Release milli
- [ ] Update milli dependency in this repo (MeiliS

[2021-11-10 13:43] ManyTheFish commented on #1480
Hey @Samyak2!
Yes, you can, I would be glad to help you if you have any questions, we will soon make a release of the tokenizer allowing you to work on this. 🚀

[2021-11-10 13:44] curquiza commented on #1883
Hello @Thearas

Thanks for your interest in this project :)

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://github.com

[2021-11-10 13:48] Samyak2 commented on #1480
Great! Thank you

[2021-11-10 14:06] curquiza commented on #1833
Hello @mhhakim and @OathMoon
This is indeed not expected, we are investigating on it. SOrry for the issue.

What is the machine on which you are using docker? Is it MacOs?

[2021-11-10 14:08] curquiza commented on #1480
@Samyak2 tokenizer [v0.2.6](https://github.com/meilisearch/tokenizer/releases/tag/v0.2.6) is out

[2021-11-10 15:50] veerendrapolepalli commented on #1831
hi @curquiza
i have tried with version 0.22.0 i am seeing same kind of error in the delete index api

[2021-11-10T15:34:35Z INFO  actix_web::middleware::logger]  :52470 "DELETE /indexes/performance HTTP/1.1" 204 0 "-" "python-requests/2.25.1" 0.019816
[2021-11-10T15:34:35Z ERROR ::index_controller] Error while deleting index: update store was shut down due to a fatal error, please check your logs

[2021-11-10 16:33] MarinPostma commented on #1434
I have not seen this occuring again, i am closing this. If we see it happening again, we'll reopen.

[2021-11-10 16:33] #1434 closed

[2021-11-10 16:58] Thearas commented on #1758
It changes the json data type of `_formatted.id` from `Number` to `String`? Is this going to be a problem? @curquiza

Before (on v0.23.1):

[code]

After:

[code]

[2021-11-10 18:41] Sembiance commented on #1770
Very excited for this enhancement! It allows me to come back to MeiliSearch (I've been using typesense since I encountered the 1,000 word limit)

One suggestion:
I think it's important for MeiliSearch to notify the user whenever it drops data. Silently dropping data is bad :)

I spent half a day debugging my search queries to try and figure out why I couldn't find a document, turned out it was bec

[2021-11-11 05:54] mayel commented on #1290
Any chance you're planning to support this soon? Many more people are starting to use M1...

[2021-11-11 11:47] robsontenorio commented on #1290
Here is how I build mutiarch docker images through GitHub Actions.

https://github.com/robsontenorio/laravel-docker/blob/master/.github/workflows/docker-publish.yml

[2021-11-11 13:04] curquiza commented on #1770
Hello @Sembiance!
Welcome back then 😄
Have you tried v0.24.0rc2? Does it work for you?

I opened a ticket in the `product` repo so that the product team could take your suggestion of warning into account: https://github.com/meilisearch/product/discussions/305

[2021-11-11 13:13] Sembiance commented on #1770
Not yet. Currently working on another project, might be a month or so before I can circle back to MeiliSearch.

Thanks :)

[2021-11-11 13:30] curquiza commented on #1831
Thanks @veerendrapolepalli

In which machine do you run your docker? MacOs, Windows or Linux? If it's on MacOs or Windows, can you check using docker on Linux?

Not easy to find where the problem comes from, to be honest.

[2021-11-11 14:25] curquiza commented on #1195
Hello @jaydrogers

sorry for the delay
I don't understand why it works with MySQL since they do not seem to provide an arm image for docker: https://hub.docker.com/_/mysql
Pretty sure I miss something!
Thanks for your help

[2021-11-11 14:34] jaydrogers commented on #1195
This is because setting `platform: linux/x86_64` for MySQL allows it to be emulated.

### Moving forward
Maybe a contributor from Melisearch could guide us in a better direction here (possibly @MarinPostma)?

Should we create a new issue for this so we're not tracking something on a closed issue?

Someone with repository & docker image access will need to make the image "multi-arch": https://www.d

[2021-11-11 15:43] curquiza commented on #1195
There is this already existing issue https://github.com/meilisearch/MeiliSearch/issues/1290
Also, I've just started the work related to this issue: https://github.com/meilisearch/MeiliSearch/pull/1897

Will your problem be solved once #1290 is solved? Or is there another need?

[2021-11-11 15:49] jaydrogers commented on #1195
Sweet! Sorry for the confusion 😅 I didn't know you had something rolling already. This looks very promising!

Once it available to test, I will definitely check that out.

For the sake of people arriving here via Google:

# 👉 If you're looking for a Meilisearch ARM Image
* See this issue: https://github.com/meilisearch/MeiliSearch/issues/1290
* Active PR is located here:  https://github.com/meilis

[2021-11-12 07:01] mhhakim commented on #1833
@curquiza mine is Linux arm64

[2021-11-12 08:39] mzperix opened #1898 "Cannot set API key on development UI"
**Describe the bug**
I run the the v0.24.0rc2 docker image and go to `/` (the default ui for testing the indexes) and I cannot set the API key, and hence cannot see any indexes, cannot search, etc. (With normal curl requests, the image does work, it just seems the UI doesn't understand a key should be set -- see screenshots).

**To Reproduce**
[code]
On the UI (at `localhost:7700`) I cannot set th

[2021-11-12 12:38] monaheinz opened #1899 "Windows: error on adding documents to MeiliSearch"
**Describe the bug**
On document creation the error `'tokio-runtime-worker' panicked at 'the allocator is unable to allocate that much memory'` occurs.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. make sure that more than 1/3 of your total memory is used
2. run meilisearch v0.22.0 or 0.23.1 on windows (I used `--max-index-size 2684354560 --max-udb-size 2684354560 --db-path ".\meili

[2021-11-12 17:20] curquiza commented on #1898
Hello @mzperix

thanks a lot for this report! We will change this before the official release!

[2021-11-14 20:02] shivaylamba commented on #426
@qdequele Geo Search is live in the latest release : https://github.com/meilisearch/MeiliSearch/releases/tag/v0.23.1

[2021-11-15 12:14] curquiza opened #1901 "Refactoring: have one file for docker image CI instead of two"
⚠️ Should be done once https://github.com/meilisearch/MeiliSearch/pull/1897 is merged

We should find a way to have only one file related to the docker image CI instead of two, for maintenance reasons.

Here are the current files:
- https://github.com/meilisearch/MeiliSearch/blob/main/.github/workflows/publish-docker-latest.yml: publish the git tag as docker tag
- https://github.com/meilisearch/Me

[2021-11-15 12:25] curquiza commented on #1899
Hello @monaheinz

Thanks for the report and the investigation

I just opened a ticket on the product's side to take your feature request into account, I mean, adding a new setting to set the maximum memory allocated, see https://github.com/meilisearch/product/discussions/306

Here are some current workaround since you cannot use MeiliSearch perfectly on Windows:
- use Docker, see [this link](https

[2021-11-15 16:43] #1290 closed

[2021-11-15 18:52] curquiza commented on #1898
Fixed by #1904

[2021-11-15 18:52] #1898 closed

[2021-11-15 21:15] veerendrapolepalli commented on #1831
i am running the docker in linux machine