[2022-07-18 06:24] curquiza commented on #2612
Hello @MathiasWeisheit and @faisalalidev

This behavior is expected. Indeed Meilisearch is designed currently to perform a search-as-you-type experience, so using the prefix-search.
More information about the [prefix search](https://docs.meilisearch.com/learn/advanced/prefix.html#prefix-search) in our documentation

However, we have opened a [discussion in our product repo](https://github.com/meil

[2022-07-18 06:24] #2612 closed

[2022-07-18 06:27] curquiza commented on #1841
For information, related issues: https://github.com/meilisearch/meilisearch/issues/1841
And it does not seem to be a huge amount of indexes

[2022-07-18 06:28] curquiza commented on #2616
hello @dmitriid

Seems like a duplication of https://github.com/meilisearch/meilisearch/issues/1841

Let me know if I'm wrong! 😊

[2022-07-18 06:37] dmitriid commented on #2616
@curquiza Is possible. The difference being 4 indexes vs. 10000 :) And the reason why I completely glanced over that issue.

[2022-07-18 06:38] dmitriid commented on #1841
@curquiza I think you mean issue #2616 👍

[2022-07-18 06:50] curquiza commented on #2616
We think there are related, if we are wrong, we will open a separated one, thanks for reporting, this is helpful!

[2022-07-18 06:50] #2616 closed

[2022-07-18 06:55] oluademola commented on #2597
Hi @greevesh

Sorry for the inconvenience. I've been unable to reproduce the problem, and I'll try again later and get back to you. In the meantime, I suggest using [docker](https://docs.meilisearch.com/learn/getting_started/quick_start.html#setup-and-installation). Thank you.

[2022-07-18 10:06] eskombro commented on #2558
Would it be too much work, and would it be interesting, to support both YAML and TOML?

YAML is the most widely used format on cloud-native applications. But TOML is indeed way easier to parse, and we don't need to handle the whitespace hell of YAML files. Just wondering if being able to handle both would make life easier for many, or if it would introduce unnecessary complexity for the developmen

[2022-07-18 10:29] curquiza commented on #2558
Hello @eskombro
We want to gather discussion about the product decision in the product repository. Here is the [dedicated discussion about it](https://github.com/meilisearch/product/discussions/85)

[2022-07-18 11:47] oluademola commented on #2613
Hi @theowenyoung. I ran a quick test and cannot reproduce the problem. It seems to work fine. What version of meilisearch was installed? Did you encounter any errors? See result of my test below:

<img width="664" alt="Screenshot 2022-07-18 at 08 00 12" src="https://user-images.githubusercontent.com/101267639/179504658-68ec63a1-214a-4506-b22f-51a3ba5dfd05.png">

[2022-07-18 20:00] theowenyoung commented on #2613
For me, it's like this:

[code]

[2022-07-18 20:10] theowenyoung commented on #2613
[code]

it seems this line does not work for me...

But this line works:

[code]

[2022-07-19 05:59] oluademola commented on #2619
Hi @Calemy. That is a bit strange. I ran a test from my end and was unable to reproduce the problem. Have you tried restarting the server? Does the problem persist?

<img width="883" alt="Screenshot 2022-07-19 at 06 56 30" src="https://user-images.githubusercontent.com/101267639/179676182-27dcef42-9e7c-437e-99e9-f91d530b9b99.png">

[2022-07-19 06:17] Calemy commented on #2619
I've tried troubleshooting pretty much everything that came up to my mind. I'm really not sure what could cause this since this is the first time i run into this issue

[2022-07-19 07:15] oluademola commented on #2619
Hi @Calemy

The index `uid` is required to perform a search request. Your route should be in this format `/indexes/{index_uid}/search` and not `/indexes//search`

Hope this helps. Thanka.

[2022-07-19 07:16] Calemy commented on #2619
Trying to create an index does not work either because that also errors to 405 like every other post request

[2022-07-19 07:27] oluademola commented on #2619
Hi @Calemy. How are you creating the index? Have you indexed any data to your meilisearch server? You might want to have a look at the [quick start guide](https://docs.meilisearch.com/learn/getting_started/quick_start.html#setup-and-installation) to get started.

[2022-07-19 07:29] Calemy commented on #2619
I'm using the javascript wrapper and tried to update the filter attributes. When i try that i get the 405

[2022-07-19 07:34] oluademola commented on #2619
Could you show me how you're implementing this?

[2022-07-19 07:49] Calemy commented on #2619
![grafik](https://user-images.githubusercontent.com/45440100/179696334-63de660c-befc-4286-b208-4eadafe47288.png)

[2022-07-19 09:08] oluademola commented on #2619
Hi @Calemy

With respect to the screenshot above. There is a great chance that you are using Meilisearch v0.28.0 with a JS client that is older. The HTTP methods changed from POST -> PUT in v0.28.0. You must make sure that you use a JS package (v0.27.0) that is compatible with v0.28 to resolve this.

Let me know if this resolves the problem. Thanks.

[2022-07-19 10:15] davelarkan opened #2624 "Incorrect link to register to the Cloud waitlist in this project's README"
**Describe the bug**
We have recently changed the way users sign up to register for the cloud beta. As a result, the Typeform a user is asked to fill out has been changed.

The [landing page has been updated](https://github.com/meilisearch/landing/issues/400) to reference the new Typeform already

**To Reproduce**
Within this project's README.md there is a link to the old Typeform to register for

[2022-07-19 11:40] #2624 closed

[2022-07-19 18:30] erichk4 opened #2627 "Highlighting only for the first occurance of a searchterm"
Hi, if the "cropLength", "attributesToHighlight" and "attributesToCrop" search attributes are set **only the first occurance** of the searchterm is highlighted/marked with "highlightPreTag" and "highlightPostTag" in the "_formatted" output...is this by design or is it a bug?

{
    "q": "test",
    "attributesToHighlight": ["content"],
    "attributesToCrop":["content"],
    "cropLength": 50,

[2022-07-19 18:33] mmachatschek opened #2628 "Task DB is not automatically cleared and takes up a lot of space for frequent updates to indexes"
**Describe the bug**

I discovered an issue with our self hosted meilisearch instance that had limited resources to a 1GB disk. Our indexes are fairly small (5 indexes with 100-15.000 documents each) so updates to the index are very fast. We have very frequent updates to the indexes and are happy with the performance of both the search and processing of the task backlog.
After a few (3) weeks of r

[2022-07-19 18:39] mmachatschek commented on #2255
The crash happened when using the v0.27.2 version. Tasks are returned as soon as I use v0.28.0

The updates folder in `data.ms` was only 10MB big, I had problems with the `data.ms/data.mdb` file. I created an issue report here: https://github.com/meilisearch/meilisearch/issues/2628

[2022-07-20 09:18] loiclec opened #3361 "Make grenads strongly typed"
We use a lot of `grenad::Reader/Writer/Sorter` throughout `milli`, and it can be a challenge to ensure that the data we put into them is encoded and decoded consistently.

Sometimes we encode data into them manually:
https://github.com/meilisearch/milli/blob/5704235521259945a09b8156ee7b3478e05028dc/milli/src/update/index_documents/extract/extract_fid_docid_facet_values.rs#L60-L75

And sometimes we

[2022-07-20 11:07] curquiza commented on #2582
FYI, I've just created the spec: https://github.com/meilisearch/specifications/pull/162

[2022-07-20 11:20] curquiza commented on #2627
Hello @erichk4 thanks a lot for this report!! This is indeed a bug, we are fixing it and we are releasing a new version of Meilisearch fixing this bug asap!
@ManyTheFish is working on it 💪

[2022-07-20 11:39] curquiza opened #2629 "Upgrade mini-dashboard version"
We take the opportunity of doing a Meilisearch hotfix (v0.28.1) to update the mini-dashboard version and integrate this fix: https://github.com/meilisearch/mini-dashboard/pull/296

[2022-07-20 15:36] derbl4ck commented on #2619
Hi @Calemy

i also have the feeling that this problem is triggered with the version jump from v0.27 to v0.28. Using `getmeili/docs-scraper:v0.12.2` with v0.28 also results in HTTP 405 (e.g. on `POST /indexes/docs/settings`).

We should introduce a compatibility table.

[2022-07-21 06:10] kipp01 opened #2632 "Chinese word segmentation is not very good"
Chinese word segmentation is not very good

[2022-07-21 06:27] curquiza commented on #2632
Hello @kipp01

Could you please detail it a little bit more? What do you mean by "is not very good"? What do you get? What would you expect instead?

Plus, what is your Meilisearch version?

[2022-07-21 09:26] curquiza commented on #2629
Closed by #2631

[2022-07-21 09:26] #2629 closed

[2022-07-21 09:29] curquiza commented on #2580
FYI, the corresponding spec has been opened by @loiclec 🎉  -> https://github.com/meilisearch/specifications/pull/163

[2022-07-21 11:40] curquiza commented on #2627
Closed by #2633
Will be released in v0.28.1

[2022-07-21 11:40] #2627 closed

[2022-07-21 13:00] curquiza commented on #2627
[v0.28.1](https://github.com/meilisearch/meilisearch/releases/tag/v0.28.1) has been released, should be ok now @erichk4
thanks again for the report! 🙏

[2022-07-21 13:03] loiclec commented on #2516
Fixed by https://github.com/meilisearch/milli/pull/568

[2022-07-21 13:16] oluademola commented on #2619
Hello @derbl4ck

Yes, it is. For now, docs-scraper is only compatible with v0.27 and we are sorry for all the breaking changes. You can have a look at the breaking changes introduced with the new version [here](https://github.com/meilisearch/meilisearch/releases/tag/v0.28.1). Also, I suggest you check the compatibility section of your tools or SDK on the repos when considering updating your meilis

[2022-07-21 13:22] oluademola commented on #2613
Hello @theowenyoung

Indeed it's probably related to your local environment. On macOS with zsh, I still couldn't reproduce the problem. Do you mean you've been able to fix this with the changes above?

[2022-07-21 14:01] loiclec opened #3360 "Write snapshot tests"

[2022-07-21 17:14] erichk4 commented on #2627
Works like a charm now!

Many thanks to you and the whole team!! :thumbsup:

[2022-07-22 02:39] kipp01 commented on #2632
For example: 测试工具箱，我想要分词出，测试，工具箱，工具。But only the word test kit came up。
Chinese word segmentation is not very good word segmentation。
latest version

[2022-07-22 02:39] kipp01 commented on #2632
@curquiza
For example: 测试工具箱，我想要分词出，测试，工具箱，工具。But only the word test kit came up。
Chinese word segmentation is not very good word segmentation。
latest version

[2022-07-22 03:27] liaohongxing commented on #2632
Meilisearch uses jieba-rs, which is mediocre. In retrospect, nothing written by pure rust is better than jieba-rs

[2022-07-22 15:14] hiepxanh commented on #2600
How you know that document changed, should you hash it then compare?

[2022-07-22 15:19] theowenyoung commented on #2613
yes, I have fixed it by this.

[2022-07-22 16:22] irevoire commented on #2600
Hey @hiepxanh, when we detect that a primary-key is already present in the database, we need the old version of the document to merge it with the new version.
Basically, I added a simple condition at this spot where, if the old document is exactly equal to the new one (bytes by bytes), then I do nothing.

You can see it here on line 288; https://github.com/meilisearch/milli/pull/579/files#diff-5a1

[2022-07-26 09:46] ManyTheFish commented on #2632
Hello @kipp01 and @liaohongxing,

Chinese word segmentation is not very good word segmentation。
latest version

Sorry, we don't have any native Chinese in the team, so what do you expect from Meilisearch?
1) do you expect to find documents containing `测试工具箱` by searching `测试`, `工具箱`, or `工具`? Meaning that we should cut our words differently.
2) do you expect the typo tolerance to work differently?

[2022-07-26 12:53] ManyTheFish commented on #764
Hello @ghodouss!
We are working on improving pagination in Meilisearch and we just released a first prototype that makes creating numbered pagination way easier! :fire:
It would be super helpful if you could let us know if this helps with your issue.
To know more about the prototype and how to use it, take a look at [the dedicated discussion](https://github.com/meilisearch/meilisearch/discussions/

[2022-07-27 06:57] smell-iron opened #2638 "The generated Tenant Token cannot be used"
**Describe the bug**
The generated Tenant Token cannot be used

**To Reproduce**
Steps to reproduce the behavior:
1. Use the existing APIkey UID which complies with UUIDV4 standard '12718d4f-b2f7......'
2. Generate the token using the client.generateTenantToken method
3. The token is: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZWFyY2hSdWxlcyI6eyJhbGxfcHJpdmF0ZSI6eyJmaWx0ZXIiOiJ1c2VyaWQgPSBhZG1pbiJ9f

[2022-07-27 12:44] curquiza opened #2640 "Document id should not allow spaces"
Following: https://github.com/meilisearch/milli/issues/593

## Steps to reproduce
- Add this document
[code]

- Then add this document
[code]

- Check the task statuses: all tasks have been `succeeded`

- But only one document is present in Meilisearch
[code]

## Expected behavior

Get an `invalid_document_id` when sending a document with a space in the document id.

## Version

Tested on main on

[2022-07-27 13:23] ManyTheFish commented on #2436
Hello @jordyw-exsited!
We are working on improving pagination in Meilisearch and we just released a first prototype that makes creating numbered pagination way easier! 🔥
It would be super helpful if you could let us know if this helps with your issue.
To know more about the prototype and how to use it, take a look at https://github.com/meilisearch/meilisearch/discussions/2635.

[2022-07-27 15:26] SenojLuap opened #2642 "Missing Search Results"
**Describe the bug**
When performing a search, results are missing for certain searches

**To Reproduce**
Steps to reproduce the behavior:
1. Create an index with the documents available here: [PasteBin](https://pastebin.com/AtkM8DfF)
2. Update searchable attributes to ["change", "module", "version", "release"] (I'm not actually sure this step is required)
3. Update ranking rules to ["version:desc

[2022-07-28 02:58] makoy71692 opened #2645 "Index not found when Laravel Scout ShouldBeSearchable is False"
**Describe the bug**
When i am creating a data from my Model with scout searchable trait and whenever the function shouldBeSearchable returns a false value i am encountering an error that the INDEX of the model is not found... this particular error appears when my meilisearch is fresh or no index yet...

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh Meilisearch instance
2. Create a da

[2022-07-28 06:38] curquiza commented on #2198
Hello @sagar2911 and everyone here! 👋

We are working on introducing the relevancy customization during the search with Meilisearch, and we just released a first prototype that allows you, for example, only to return documents containing ALL the query words! :fire:

It would be super helpful if you could let us know if this helps with your issue.
To know more about the prototype and how to use it,

[2022-07-28 06:39] curquiza commented on #2420
Hello @KariUs123 and everyone here! 👋

We are working on introducing the relevancy customization during the search with Meilisearch, and we just released a first prototype that allows you, for example, only to return documents containing ALL the query words! :fire:

It would be super helpful if you could let us know if this helps with your issue.
To know more about the prototype and how to use it,

[2022-07-28 07:14] curquiza commented on #2613
Hello @theowenyoung

Thanks for the investigation! However, I'm very confused because your fix creates a bug on my machine...
Can you tell us a little bit more about your machine, your environment...etc? It would be really helpful
Thanks in advance! 🙏

[2022-07-28 11:11] kalpeshtreesha opened #2646 "Different result when search keyword having 2 words and change order."
**Describe the bug**
When search keyword have 2 words and I change the order it result different result and also consider the first word in search.

**To Reproduce**
As shown in image if I do search keywords Planet Apes and Apes Planet  it's having different result as well as. It's not searhing for Plant or Apes it's searching for First work of keyword.

![image](https://user-images.githubusercont

[2022-07-28 13:25] oluademola commented on #2638
Hi @smell-iron.  What function or endpoint are you trying to access with this tenant token?

[2022-07-28 13:49] curquiza commented on #2577
The prototype is now available, more details [here](https://github.com/meilisearch/meilisearch/discussions/2635), please, feel free to give your feedback

[2022-07-28 13:50] curquiza commented on #2578
The prototype is now available, more details [here](https://github.com/meilisearch/meilisearch/discussions/2639), please, feel free to give your feedback

[2022-07-28 13:51] curquiza commented on #2580
Better late than never, a prototype is available, see how to use this issue description

[2022-07-28 14:29] ManyTheFish commented on #2646
Hello @kalpeshtreesha!
Meilisearch behaves differently depending the order of the words in your query.
There are 3 [ranking rules](https://docs.meilisearch.com/learn/core_concepts/relevancy.html#ranking-rules) that take into account the position of the word in the query and the main one is `words` which removes the last query words if there is not enough results returned.

However! If you want to

[2022-07-29 00:33] irevoire opened #2648 "Can’t search: MDB_READERS_FULL"
**Describe the bug**
Hello, I was running a bunch of requests in parallel and then meilisearch throwed a few hundred times this error:
[code]

I would like to know how many connection we can do at the same time?
And also this limit should be specified in the [known limits](https://docs.meilisearch.com/learn/advanced/known_limitations.html) documentation page.

**To Reproduce**
Steps to reproduce t

[2022-07-29 03:24] smell-iron commented on #2638
Thank you very much! I just want to use Tenant Token to filter the search results. The API key I used earlier to generate Tenant tokens contains an [API action](https://docs.meilisearch.com/reference/api/keys.html#actions-2) other than **search**, and it works fine when I use the new token which generated with an API key contains only **search** action.

[2022-07-30 05:08] theowenyoung commented on #2613
@curquiza sorry, I mean I fixed the  github api json parsing by this, I just tried to figure out the whole bash, it seems that I also need to change the loop order:

[code]

The whole script is [here](https://pastebin.com/0g6XaJ4C)

[2022-07-30 16:57] Avey777 opened #2651 "OSS image display bug"
第一张是OOS 图片链接时，Meilisearch 不会正常展示OSS图片；若第一张为  .png、.jpeg  等格式的图片时，下方的OSS图片可以正常展示
![image](https://user-images.githubusercontent.com/35259040/181933847-a9178ee7-239e-43cc-a36e-79cd4467e2a8.png)

![image](https://user-images.githubusercontent.com/35259040/181933847-a9178ee7-239e-43cc-a36e-79cd4467e2a8.png)

[2022-07-31 03:40] cseblog opened #2652 "Too many open files (os error 24)"
**Describe the bug**
        {
            "uid": 0,
            "indexUid": "post_history",
            "status": "failed",
            "type": "documentAdditionOrUpdate",
            "details": {
                "receivedDocuments": 360461,
                "indexedDocuments": 0
            },
            "error": {
                "message": "Too many open files (os error 24)",
                "

[2022-07-31 04:10] cseblog commented on #2652
I split the data set into 100K chunks of documents, then the injection is okay. Any way to have Meilisearch inject 1 million documents?

[2022-07-31 20:36] oluademola commented on #2597
Hi @greevesh

I am not able to reproduce this error. This error is most likely not related to meilisearch but rather a configuration issue on your machine, as indicated by the error message. The reason for this error could be a wrong Windows configuration or a corrupted user account that is blocking you from having the rights. There are some easy fixes that you can try out, to fix this issue in th

[2022-08-01 07:19] oluademola commented on #2642
Hi @SenojLuap

I am not sure this is a bug. I received a hit containing the search term in the search result in my test. I'd like to know your specific expectation to assist you better.
<img width="1066" alt="Screenshot 2022-08-01 at 08 18 16" src="https://user-images.githubusercontent.com/101267639/182094023-2bbf7844-420b-46d0-b3bf-c6114f270987.png">

[2022-08-01 07:48] curquiza commented on #2648
Thanks @irevoire

Is it something we also had in the previous versions? (v0.27.0 or v0.28.0)

[2022-08-01 13:25] gmourier commented on #2638
Hey @smell-iron,

A tenant token is only usable for search requests; thus, the API Key generating them must have at least the `search` action defined. Note that: `*` also works since it defines all possible actions.

Using the meilisearch-js SDK in the latest version

[code]

The generated token work at search time while the signing API Key has another added action than the `search` one.

Not sure

[2022-08-02 07:40] oluademola commented on #2652
Hi @cseblog

Regarding the error, the default setting for the maximum number of open files might be too low, as is usually the case on most machines. Here is an [article](http://woshub.com/too-many-open-files-error-linux/) to help you better understand the problem and implement the solution to fix it. To index 1M records, I'd advise updating the default `searchableAttributes `list to only contain

[2022-08-02 09:57] oluademola commented on #2645
Hi @makoy71692. What version of the PHP package is installed on your application?

[2022-08-02 23:40] makoy71692 commented on #2645
hello @oluademola heres the package
PHP v7.4.3
Laravel framework v7.28.4
Laravel Lumen Framework v7.2.1

[2022-08-03 01:13] cseblog commented on #2652
Thanks for your nice reply. I will check it out.

[2022-08-03 08:47] gmourier commented on #2583
Hey everyone,

We met with @irevoire and myself to discuss the progress of this optimization for v0.29.

[It was brought up some time ago that there were criticisms about the implementation based on the number of documents](https://github.com/meilisearch/milli/issues/570). Indeed, this way of doing things could be problematic in some cases; here are the drawbacks we have determined and wanted to s

[2022-08-03 09:11] ManyTheFish commented on #2632
Hello @kipp01 and @liaohongxing,

I'm closing this issue in favor of a [mutualized discussion on the product repository (product#503)](https://github.com/meilisearch/product/discussions/503).

Don't hesitate to give some feedbacks on upper discussion.

[2022-08-03 09:11] #2632 closed

[2022-08-03 10:20] oluademola commented on #2645
Hi @makoy71692. Sorry for the confusion. I meant the version of `meilisearch/meilisearch-php` SDK

[2022-08-03 17:33] taiganowdev opened #2656 "Meilisearch does not processs enqueued tasks"
**Describe the bug**
Meilisearch does not process "enqueued" tasks

**To Reproduce**
I honestly don't know how this happens. Running the `{{url}}/indexes/{{indexUID}}/tasks` API , I get over 100k enqueued tasks. Restart Meilisearch with `systemctl restart meilisearch.service` does not work. Reboot AWS instance and Stop/Start AWS instance also does not work.

**Expected behavior**
MeiliSearch shoul

[2022-08-04 19:37] SenojLuap commented on #2642
When I run the test on the provided data, I don't get a single result, though there should be at least 2.
You can do a quick search through the sample data to see that there are multiple hits, so even your result is incorrect.

[2022-08-05 00:09] makoy71692 commented on #2645
Hello @oluademola im using this versions

[2022-08-07 00:39] agucova opened #2659 "Internal error when index size is not set to a multiple of page size"
**Describe the bug**
When `--max-index-size` is set to a size which is not a multiple of 4096, the API returns:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start meilisearch with ```meilisearch --max-index-size 201Gb```
2. Attempt a search to an existing index
[code]

**Expected behavior**
Normal search results.

**Meilisearch version:** 0.28.1

**Additional context**
This is unde

[2022-08-08 23:15] miagg commented on #2198
OMG that would be awesome! I've been looking for this for a while. I use Meilisearch from a backend to match product titles from parsed documents where I expect ONLY a single hit as a result and I often get many results which is useless for me since the code can't decide which one is the right one. That is because of large differentiation in product titles among retailers. This prototype would hel

[2022-08-09 08:35] svenbw opened #2660 "Address in the launch resume is always http (even if https is used)"
**Describe the bug**
When starting you get an resume on how Meilisearch is started. The contains always contains http even if the https certificates are configured AND the webservers listens to https.

**To Reproduce**
Steps to reproduce the behavior:
1. Start with: `meilisearch --http-addr=127.0.0.1:7700 --ssl-cert-path ./127.0.0.1.pem --ssl-key-path ./127.0.0.1-key.pem`
2. "Server listening on:

[2022-08-09 08:49] CaroFG commented on #2656
Hi @taiganowdev,
Tasks are processed one by one, are you sending your documents in batches or one by one? They should be sent in batches. The bigger, the better. Are you sure tasks are not being processed at all?

I encourage you to try  [auto-batching ](https://docs.meilisearch.com/learn/experimental/auto-batching.html#enable-auto-batching). When auto-batching is enabled, consecutive document add

[2022-08-11 07:30] ManyTheFish commented on #2659
Hello @agucova!
This issue will be fixed in the next version of Meilisearch, before the release, I suggest setting your sizes in GibiBytes instead of GigaBytes using `201GiB` instead of `201GB`.

Thank you a lot for your report! 🙂

[2022-08-11 09:21] #2659 closed

[2022-08-12 13:56] tesla-cat opened #2666 ""浙江大学" works but "浙大" doesn't"
- when I search "浙江大学", the result is good:

<img width="631" alt="image" src="https://user-images.githubusercontent.com/28215638/184368034-250ea153-fa3b-4e27-8745-b4077fd0805a.png">

- but when I search "浙大", no result:

<img width="320" alt="image" src="https://user-images.githubusercontent.com/28215638/184368220-84130a12-4638-45e2-803f-ecdd8d12b57b.png">

[2022-08-12 14:47] julesrenaud commented on #2656
I'm having the same issue, my meilisearch AWS EC2 instance was rendered completely useless. Had to terminate it and start from scratch. Also, unrelated, but the current version isn't available in the EC2 AMI listing.

[2022-08-15 08:42] Thearas commented on #2666
Hi @tesla-cat, you may want [synonyms](https://docs.meilisearch.com/learn/configuration/synonyms.html#normalization).

[2022-08-16 09:49] oluademola commented on #2645
Hi @makoy71692

I observed you're using a meilisearch/meilisearch-php package that is incompatible with v0.23. It is worth noting that meilisearch v0.23 is only compatible with the meilisearch/meilisearch-php v0.19.2. Probably this could be related to the problem. I suggest you ensure the compatibility of the engine and SDK.

Let me know if that helps.

[2022-08-16 12:49] irevoire opened #2671 "can't index a single json"
**Describe the bug**
When I try to send a json document to meilisearch it doesn’t works

**To Reproduce**
Steps to reproduce the behavior:
1. Send a json document to meilisearch: `echo '{ "id": 1 }' | mieli d a`
2.
[code]

**Expected behavior**
It works.

**Screenshots**
<img width="1244" alt="image" src="https://user-images.githubusercontent.com/7032172/184883362-07768529-f414-481a-94ef-69563d191

[2022-08-16 13:45] oluademola commented on #2656
Hello @julesrenaud

Sorry for the trouble. We understand the ability to cancel or abort enqueued tasks would be helpful in such scenarios, and the only workaround is to start afresh. However, I'm happy to let you know the feature is in the works, as seen on the [roadmap page](https://roadmap.meilisearch.com/c/71-abort-enqueued-updates). Regarding the meilisearch version in the EC2 AMI listing, v0.

[2022-08-16 14:40] #2478 closed, assigned to Kerollmops

[2022-08-16 14:58] #2660 closed

[2022-08-16 19:40] knidarkness commented on #2558
Hello guys,

I've been experimenting with the Meilisearch in several projects and really liked the experience, thus I want to contribute to this project.

I was wondering if @YJDoc2 is still working on this feature, and if not I'd like to pick it up and use the discussion above as a foundation.

[2022-08-17 09:45] ManyTheFish opened #2672 "Updating documents delete unexpected documents"
**Describe the bug**
After using the documents update route, some documents disappear from `GET /indexes/:index/documents` and `GET /indexes/:index/search`

**To Reproduce**
Steps to reproduce the behavior:
1. POST some documents:
[code]
2. inspect `http://localhost:7700/indexes/movies/search` and `http://localhost:7700/indexes/movies/documents` and see that all the 7 documents are returned
3. UPD

[2022-08-17 13:08] krisztianpinter opened #2673 "paging affects faceting"
it appears that _limit_ and _offset_ parameters affect the facet counting.

the following results are in my (not public) database, but just to get the point across:

SEARCH: {"q": "...", "facets":["flags.gluten.code"], "limit":30}
RESPONSE: "estimatedTotalHits":30, "facetDistribution":{"flags.gluten.code":{"BAD":27,"GOOD":3}}

SEARCH: {"q": "...", "facets":["flags.gluten.code"], "limit":31}
RESPON

[2022-08-17 15:32] sabamohammadali opened #2675 "400 bad request"
Hi,

I am using meilisearch and I am getting an error:
httpx.HTTPStatusError: Client error '400 Bad Request' for url 'http://dc6cgw.qc.bell.ca:7700/indexes/gk/search'

The version I have installed on pycharm is 0.19.1 and on the server it is v0.26.1

How can I fix this issue? As my search API is working on the browser but from the code it is giving a 400 bad request.

Thank you.

[2022-08-18 04:54] YJDoc2 commented on #2558
Hey @knidarkness , if the Meilisearch team is fine with it, you can go ahead. Unfortunately, I wasn't able to do much progress on this due to some personal reasons :sweat:
Apologies to Meilisearch team for not being able to contribute, I should have done better :sweat:

[2022-08-18 08:50] Kerollmops commented on #2648
Hey,

I had an idea that maybe we could send a [429 Too Many Requests](http://web.archive.org/web/20210812043115/https://httpstatuses.com/429) instead of an internal error. But we could find more and better ideas by looking [at the Retry-After guide by Mozilla](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After).

[2022-08-18 08:58] irevoire commented on #2648
Maybe we could create a « search service » that holds **ONE** read transaction and make every search goes through.
And every 2s, it could drop it and open a new one to get the latest version of the DB?

[2022-08-18 09:02] irevoire commented on #2558
Hey, @YJDoc2, that's not an issue at all, and you helped us to think more of what we wanted to do; thanks for spending time on the project! ❤️

And thus, @knidarkness, welcome to the team 😁

[2022-08-18 09:19] Kerollmops opened #2676 "Hide the `batch_uid` field from the tasks route"
This PR hides the `batch_uid` field from the task route. It is not possible to filter on `batch_uid` and the auto-batching feature is now enabled by default, therefore, there is no point in exposing it. Auto-batching must be transparent.

[2022-08-18 09:56] loiclec opened #2679 "Filters should not accept unquoted reserved keywords as field names/values"
Currently, the following filters are valid:
[code]
because the `AND` is interpreted as a field name or the value of a field.
This can confuse Meilisearch's filter parser in its effort to return helpful error messages, and I also personally find it confusing to read. For example, the following filter is difficult to understand:
[code]
We should disallow all filter keywords to be used as field name/

[2022-08-18 10:00] Kerollmops commented on #2648
Why not but I find it a little bit more complex as there is more synchronization to do between thread and workers, also doing so forces us to share the read transaction between thread (`Sync`) and enable the related cargo feature of heed.

[2022-08-18 10:16] #2676 closed

[2022-08-18 10:16] gmourier commented on #2679
Thanks, @loiclec!

I directly see this as a drawback when expressing filters. I believe it may negatively impacts the user experience, and from my personal exp I find it weird to have to quote operators.

It's also a significant breaking change without being sure of the final gain.

Today, users don't necessarily complain about a query being not understood. I suspect that most of the user's querie

[2022-08-18 10:31] loiclec commented on #2679
Hi @gmourier ,

My guess is that, at the moment, there is almost zero user using a keyword as a field name, so that fixing this issue would not impact anybody. And even then:

1. In the case where someone did use filters such as `AND = 2`, then we can return an error message saying "`AND` is a keyword and thus must be quoted to be used as a field name or a value".
2. In the case where someone writ

[2022-08-18 10:34] oluademola commented on #2642
Hi @SenojLuap,

I am not sure I completely understand the issue. The data you have provided on Pastebin appears to be replicated in 2 places, a set appears as JSON and another under the section Raw Paste Data. A quick search (command f) for `"Data symbol"`  through either of the datasets returns a single document with the `"id" : "12_5-major-runtime_behavior-cm_abstract_dataSymbol"`. MeiliSearch i

[2022-08-18 10:38] irevoire commented on #2679
I suspect that no one actually uses `AND`, `OR`, or `TO` as their field name, and that’s why we never had any issue 😂

Also, I’m not sure but I _think_ you misunderstood something here;

It's the opposite, the operators are not quoted; what is quoted is the field name **in the case** your field name is the same as an operator 🤔
You can still write `color = blue AND price < 20`, but when you write

[2022-08-18 10:50] oluademola commented on #2675
Hello @sabamohammadali

This is because your Python SDK package is incompatible with v0.26.1. The meilisearch-python SDK v0.19.1 only guarantees compatibility with the latest version of meilisearch (v0.28). The issue could be resolved by using a compatible version.

I hope this helps. Many thanks 🙂

[2022-08-18 10:54] oluademola commented on #2656
Hello @julesrenaud. Meilisearch v0.28.1 is now available in the EC2 AMI listing 😄

[2022-08-18 11:04] irevoire commented on #2648
Yeah, that's sure, but it does fix the issue instead of letting the user handle it.

Do you think it would solve the issue to have one read transaction _by thread_ instead of one for everyone?
But I'm afraid some people will have more than 126 threads and thus will get the error right away 😬

[2022-08-18 11:12] ManyTheFish commented on #2673
Hello @krisztianpinter!
Your issue is due to the fact that Meilisearch lazily computes the ranking algorithms in order to return the best results as fast as possible, the drawback is that Meilisearch will not compute exhaustively all the candidates and will only return estimations that will be more and more precise if you force Meilisearch to dig deeper in the results.

However, we are working on

[2022-08-18 11:13] #2673 closed

[2022-08-18 11:43] gmourier commented on #2679
Sorry!  I misunderstood it. My bad 🥲 It's much more clear with your explanations.

[2022-08-18 12:11] Kerollmops commented on #2648
What I worry about is that it is not recommended to keep a read transaction for too long as [it can block write transactions](https://pijul.org/posts/2021-01-15-sanakirja-locks/) (as there can only be 1 read transaction and 1 write transaction at the same time) and keeping a read transaction for too long can force the database to grow in size.

Therefore, I am worried about how will you make sure

[2022-08-18 12:18] irevoire commented on #2648
Huum, I don't think we'll need such a complex system, but I'm not sure yet; I think before choosing any solution, it would be good to make a POC of this one since it's the only one really solving the issue instead of making it appear later.

[2022-08-18 12:25] Kerollmops commented on #2648
Another solution could simply be to either:
 - Let the user specify how many parallel readers he wants to allow using a CLI argument.
 - Or multiply the number of available CPUs by the current default value of 126 (allowing 126 readers **by** thread).

[2022-08-18 13:53] irevoire commented on #2648
But why is there a limit in the beginning? Will it throw an error if we ask for too many readers?

[2022-08-18 14:17] Kerollmops commented on #2648
So after reading a little bit more about [the consequences of setting this parameter to a high value](https://web.archive.org/web/20200112155415/https://twitter.com/armon/status/534867803426533376), we can as it doesn't impact performances.

[2022-08-18 14:18] irevoire opened #2680 "Improve the error message when adding documents"
Currently, when adding json documents to meilisearch, you can either add them as a single document;
[code]
Or as an array of documents;
[code]

That's cool, but the error messages are not explicit at all;
[code]
For example, with this request we get this error message;
[code]

I would like to improve this message and get rids entirely of the notion of « untagget enum » and « Either ».

[2022-08-18 14:19] #2671 closed

[2022-08-18 16:12] sabamohammadali commented on #2675
Thank you :) It worked. I installed meilisearch_python_async version 0.23.1 which works with the version on the server v0.26.1, any version above this is not compatible and the API doesn't work

[2022-08-18 16:12] #2675 closed

[2022-08-18 21:01] julesrenaud commented on #2656
@oluademola thank you!

[2022-08-19 01:06] miiton commented on #2403
Yes, this is a problem with "Kanji-only strings" and I know [whatlang-rs](https://github.com/greyblake/whatlang-rs) needs to do something about it.
However, I don't have an idea to completely distinguish between Kanji and Simplified Chinese.

[2022-08-19 15:02] SenojLuap commented on #2642
As for the paste bin thing: that's just how paste bin works. It will show you a syntax highlighted/formatted version of the paste, as well as a raw version. But it is the same data.

As for the prefix thing: I didn't know about that; that's pretty disappointing. However, it does answer the question so I _guess_ the issue is closed? Maybe I'll hunt down a ticket with a feature request for more comp

[2022-08-19 15:02] #2642 closed

[2022-08-22 11:26] irevoire opened #2684 "Add analytics on the stats route"
Add analytics on the stats route according to [this spec](https://github.com/meilisearch/specifications/pull/169).

[2022-08-22 11:27] irevoire commented on #2684
Fixed by #2674

[2022-08-22 11:27] #2684 closed

[2022-08-22 11:48] curquiza commented on #2582
FYI, the `batchUid` fields has been removed, see this issue: https://github.com/meilisearch/meilisearch/issues/2676

[2022-08-22 12:47] abhay187 opened #2685 "Crashing when creating index on railway.app"
Hello,
I am trying to deploy meilisearch on the railway.app. I have followed all the step in the documentation but when I try to add an index it crashes. I am on the free tier of 512MB RAM plan.
Is 512MB enough or not?

[2022-08-22 13:46] curquiza commented on #2593
This issue will be fixed at the same time we fix this one: https://github.com/meilisearch/meilisearch/issues/2325, I mean the Jayson integration to improve the Meilisearch's error messages.

I updated the issue with the requirements

[2022-08-22 13:52] ManyTheFish commented on #2685
Hello @abhay187,

unfortunately, 512MB is a bit tiny for the memory size, I suggest reserving at least 1GB for a small dataset (under ~300 000 documents) and at least 2GB for bigger ones.

[2022-08-22 13:56] abhay187 commented on #2685
thanks, @ManyTheFish  for the clarification.

[2022-08-22 13:58] ManyTheFish opened #2686 "Add Thai Language support in Meilisearch"
Officially support the Thai language in Meilisearch:

- [x] Implement Thai in Charabia
- [x] Integrate Charabia in milli
- [ ] Integrate the new version of milli into Meilisearch

See more on [crates.io/crates/charabia](https://crates.io/crates/charabia)

[2022-08-22 14:23] curquiza commented on #2666
Hello @tesla-cat
Have you solved your issue?

[2022-08-22 14:23] curquiza commented on #2685
Closing this issue then, thanks @ManyTheFish for the explanations

[2022-08-22 14:23] #2685 closed

[2022-08-22 14:38] curquiza commented on #2679
Just something to add: enforcing the users to add quotes when using filters is a huge breaking, something we want to avoid before v2 (so I don't know when yet).
However, we can maybe prevent the users from doing it by improving the error message, for example, if possible.
I let this issue open because this is indeed a limit to Meilisearch, but we will not accept breaking PRs 😇

[2022-08-22 15:28] ManyTheFish commented on #2685
Hello @abhay187,

After some investigations, your issue could come from a bad estimation of the accessible memory, I suggest setting manually the [max-indexing-memory](https://docs.meilisearch.com/learn/configuration/instance_options.html#max-indexing-memory) between 192MB and 256MB for a total accessible memory of 512MB. 🤔

[2022-08-22 15:59] curquiza commented on #2577
Due to the lack of feedback we remove this feature from v0.29.0, sorry for this

[2022-08-22 16:01] curquiza commented on #2686
Pinging @meilisearch/docs-team 🎉

[2022-08-22 16:04] curquiza commented on #2590
As discussed with the @meilisearch/core-team, this is something we cannot implement for v0.29.0 and we need to think more before doing anything, the stabilization is not an easy choice!

[2022-08-22 16:25] ms300 commented on #2091
Sorry i don't have a Rust runtime. But when i run jieba original version (python) it works as expected.

![image](https://user-images.githubusercontent.com/3821012/185970811-5041ca1e-faec-4bae-894d-0f66f8a4a22b.png)

[2022-08-22 16:42] ms300 commented on #2091
@curquiza

Hi, it works well in jieba-rs too. could you tell which function or command is called when using jieba as a tokenizer?

testing code:
[code]

[2022-08-22 20:17] abhay187 commented on #2685
Thanks a lot @ManyTheFish it works.
Since I am testing meilisearch for my project. I did not want to buy large paid servers.

Also, is there a way to find index-size? so that I can know when to buy more ram size.

[2022-08-23 06:17] chenbimo opened #2687 "“灯”not works，but "大灯" works."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubuse

[2022-08-23 06:20] chenbimo commented on #2499
yes it is.but how to resolve it?

[2022-08-23 08:44] abhay187 commented on #2656
@julesrenaud and @ManyTheFish
I am facing the same issue where the task failed and the server crashed but restarting again starts the same task and the server crashes again. We need a way to terminate a task. Let me know if there is a way to terminate a enqueue task.

Thank you

[2022-08-23 09:14] oluademola commented on #2656
Hello @abhay187

Sorry for the inconvenience. Sadly there is no way to cancel enqueued task at the moment. However, an abort feature is in the works, as seen on the [roadmap page](https://roadmap.meilisearch.com/c/71-abort-enqueued-updates). The only workaround, for now, is to stop the meilisearch server, delete the `data.ms`, and restart it.

[2022-08-23 09:29] curquiza commented on #2499
Hello @chenbimo
Since we use Jieba, there is no way to solve this exact problem.

You can help us by reading [this discussion](https://github.com/meilisearch/product/discussions/503), especially the "Contribute" section where you will know how to help us. Since we are not Chinese it's not easy for us to know the different alternatives and to make the best decision. You already found the discussion

[2022-08-23 09:48] ManyTheFish commented on #2687
Hello @chenbimo,
As you saw, there is a dedicated discussion about [Chinese Language support](https://github.com/meilisearch/product/discussions/503), could you explain your problem in this discussion instead? Add some examples of what is relevant in your point of view, and if you can, some search engine example that has better support.

This will help me to centralize all the feedback in order to

[2022-08-23 09:48] #2687 closed

[2022-08-23 10:03] abhay187 opened #2688 "restrictSearchableAttributes feature missing."
There is no way to restrictSearchableAttributes per query.
For detail you can refer to algolia documentation [restrictSearchableAttributes](https://www.algolia.com/doc/api-reference/api-parameters/restrictSearchableAttributes/)

[2022-08-23 10:14] curquiza commented on #2091
Thanks for your comment @ms300

It can interest @ManyTheFish!

[2022-08-23 10:18] ManyTheFish commented on #2685
@abhay187,
It's hard to estimate the optimized amount of RAM for a defined data size and I suggest you to try Meilisearch on your environment and with a dataset that is the most similar to your expected use case.
However, you don't need to scale your RAM as you would scale your Disk space, so, you shouldn't have to upgrade your RAM frequently. 🤔

What is the data size you would use with a 512MB in

[2022-08-23 10:24] abhay187 commented on #2685
I am trying to index movie.json which is 15-16 MB. Max index size is set at 256.

[2022-08-23 10:27] ManyTheFish commented on #2091
Hello @ms300,
below is [the code used by Meilisearch to segment Chinese](https://github.com/meilisearch/charabia/blob/faafb12257eb6b534264981414a2eed1e66f8f6b/src/segmenter/chinese.rs#L14), we may probably deactivate the HMM feature: 🤔
[code]

don't hesitate to make a [pull request on the dedicated repo: Charabia](https://github.com/meilisearch/charabia) if you think that we should change somethin

[2022-08-23 11:18] curquiza commented on #2679
Fixed in milli https://github.com/meilisearch/milli/pull/596
Needs to be integrated to meilisearch so I let this issue opened until we merged the new version of Milli

[2022-08-23 11:48] curquiza commented on #2490
Sorry, some date changes again! Due to an internal seminary at Meili, we chose to increase the pre-release phase.
The ore-release phase still starts on 29th August but will end on 3rd October, meaning the official v0.30.0 release will be on the 3rd of October
I updated this issue description accordingly 😊

[2022-08-23 11:49] ManyTheFish commented on #2685
@abhay187, did you mean [max-indexing-memory](https://docs.meilisearch.com/learn/configuration/instance_options.html#max-indexing-memory) instead of [max-index-size](https://docs.meilisearch.com/learn/configuration/instance_options.html#max-index-size)? Otherwise, it is max-indexing-memory that should be set to 256MB and not max-index-size because max-index-size is the maximum size an index can ta

[2022-08-23 12:01] oluademola commented on #2688
Hello @abhay187

Indeed we do not provide support for this feature at the moment. I suggest you start a new discussion on the [product repo](https://github.com/meilisearch/product/discussions) for feature requests.

Many thanks 🙂

[2022-08-23 12:01] curquiza commented on #2597
I close this issue due to a lack of answers. Nothing is definitive of course, feel free to ask to re-open if needed 😊

[2022-08-23 12:01] #2597 closed

[2022-08-23 12:02] curquiza commented on #2619
I close this issue due to a lack of answers. Nothing is definitive of course, feel free to ask to re-open if needed 😊

[2022-08-23 12:02] #2619 closed

[2022-08-23 12:02] curquiza commented on #2638
I close this issue then. Nothing is definitive of course, feel free to ask to re-open if needed 😊

[2022-08-23 12:02] #2638 closed

[2022-08-23 12:02] curquiza commented on #2652
I close this issue due to a lack of answers. Nothing is definitive of course, feel free to ask to re-open if needed 😊

[2022-08-23 12:02] #2652 closed

[2022-08-23 12:04] abhay187 commented on #2685
@ManyTheFish my bad I have set MEILI_MAX_INDEXING_MEMORY.

[2022-08-23 13:22] curquiza commented on #2578
The spec is available here: https://github.com/meilisearch/specifications/pull/162

[2022-08-23 13:23] curquiza commented on #2583
The spec is available here: https://github.com/meilisearch/specifications/pull/168

[2022-08-23 17:11] #2479 closed

[2022-08-23 17:11] #2484 closed

[2022-08-23 17:11] #2486 closed

[2022-08-23 17:11] #2516 closed

[2022-08-23 17:11] #2578 closed

[2022-08-23 17:11] #2580 closed

[2022-08-23 17:11] #2583 closed

[2022-08-23 17:11] #2600 closed

[2022-08-23 17:11] #2640 closed, assigned to nobody

[2022-08-23 17:11] #2672 closed

[2022-08-23 17:11] #2679 closed

[2022-08-23 17:11] #2686 closed

[2022-08-24 08:46] gmourier opened #2695 "`/metrics` do not return `http_requests_total` and `http_response_time_seconds`"
**Describe the bug**

`/metrics` do not return `http_requests_total` and `http_response_time_seconds`

**To Reproduce**
Steps to reproduce the behavior:
1. Use `main` branch
2. Launch Meilisearch with `--enable-metrics-route`
3. Make some search requests (Ps: `processingTimeMs` seems to be always 0)
4. GET `/metrics`

**Expected behavior**
Seems that `http_response_total` and `http_response_time_s

[2022-08-24 10:09] Kerollmops commented on #2695
Hey,

We found the bug this morning with @gmourier and we decided that it is not a bug on the Meilisearch but rather on the Postman/cURL side. The URL that was used to call the `/metrics` routes was containing two slashes i.e. `localhost:7700//metrics`, and was therefore breaking the stats collector.

https://github.com/meilisearch/meilisearch/blob/c4453340707f0b8ed6168118dff2e4d2ae634f8d/meilisea

[2022-08-24 10:09] #2695 closed

[2022-08-24 14:58] lebadapetru commented on #2152
Hey there, facing the same issue here, any updates on the fix?

[2022-08-24 15:25] curquiza commented on #2152
Hello @lebadapetru
what is your version? if it's v0.28.1, can you open another issue with detailed steps so that we can reproduce it? We fixed this specific problem some months ago.

[2022-08-24 15:33] curquiza commented on #2578
I've added the spec (https://github.com/meilisearch/specifications/pull/173) and the finally dediced API changes

[2022-08-24 15:53] curquiza opened #2698 "v0.30.0 ROADMAP"
The purpose of this roadmap is to let anyone know about the different steps in the Meilisearch release.

# Draft phase (weeks 1-4)

Start: 2022-08-29
End: 2022-10-03

- [x] Planification of the next release content (features, improvements, bug fixes). Meeting with the whole core team to discuss and agree on what we are going to put in the next release.
- [x] The core manager quickly shares the nex

[2022-08-24 16:21] #2266 closed

[2022-08-24 16:42] Mcdostone opened #2700 "Number of indexed documents decrease during indexing"
I noticed a strange behavior when I index 500 000 documents.
At some point during the indexing, the number of documents is decreasing:
- [meilisearch.log](https://github.com/meilisearch/meilisearch/files/9417827/meilisearch.log)
- [ram.log](https://github.com/meilisearch/meilisearch/files/9417829/ram.log)

[code]

## Workaround
 - Disable `--enable-auto-batching` but it takes ages to index all doc

[2022-08-24 16:44] irevoire opened #2701 "Relevancy bug: find words separated with `-`"
**Describe the bug**
I was trying out the new [movies](https://where2watch.meilisearch.com/) demo available on the README and I noticed when you search for « spiderman » you get no results back because it's actually written « spider-man ».
That's not ideal, maybe we could improve it somehow?

[2022-08-24 16:51] curquiza opened #2703 "The "document addition done" should appear once indexing is over"
**Describe the bug**
Logs appear before the indexation is over

**To Reproduce**
- Run Meilisearch on `main`
- Add documents (a complete dataset, not only 10 or 100 documents)
- Check the logs; you will see the logs saying "indexation is done" arrives immediately after the beginning of the indexing despite the fact that indexing is not over.
[code]

**Expected behavior**
The "document addition don

[2022-08-24 17:44] Kerollmops commented on #2701
This is obviously a bug that was probably introduced with the changes made with the query tree, maybe @ManyTheFish knows the reason why?

[2022-08-24 17:46] curquiza commented on #2132
I've updated the issue description with the incoming changes in v0.29.0, this is a big positive step 🔥

[2022-08-24 17:51] curquiza commented on #2701
I checked on v0.28.1, we don't have the bug

<img width="1351" alt="Capture d’écran 2022-08-24 à 19 50 44" src="https://user-images.githubusercontent.com/20380692/186488642-3b7e7a8a-58bb-484a-b4c6-bca4ef21952c.png">

[2022-08-24 17:54] curquiza commented on #2701
Same on v0.28.0 but the mini-dashboard is supposed to be in v0.28.0, I don't understand why it fails 😱

<img width="1303" alt="Capture d’écran 2022-08-24 à 19 53 15" src="https://user-images.githubusercontent.com/20380692/186489150-765439c5-bdf3-4088-9c8d-5012b0028f7e.png">

[2022-08-24 17:54] curquiza commented on #2701
@mdubus maybe do you have an idea, is the mini-dasboard on v0.28.0? Did you add any settings?

[2022-08-25 08:02] curquiza commented on #2613
Hello @theowenyoung, sorry for the late answer, I've opened a PR trying to fix this. I have to ensure it works as expected for every machine.
Thanks for sharing your script!!

[2022-08-25 08:57] mdubus commented on #2701
Hello 👋

The demo-movies is indeed in v0.28.0:
<img width="407" alt="Capture d’écran 2022-08-25 à 10 50 53" src="https://user-images.githubusercontent.com/30866152/186621362-bde4ef65-d4c4-45d3-ac00-833ff7e33060.png">

Here are the settings, do you see anything that may cause this to happen?
<img width="389" alt="Capture d’écran 2022-08-25 à 10 51 26" src="https://user-images.githubusercontent.

[2022-08-25 09:31] mech commented on #2580
If I use the docker for pagination like **getmeili/meilisearch:v0.29.0-pagination.beta.3**, does it also contain this filtering prototype. Or I need to use 2 different dockers to experiment?

[2022-08-25 09:47] ManyTheFish commented on #2701
@curquiza I'm on it

[2022-08-25 10:08] ManyTheFish commented on #2701
@mdubus, can I have a text version of your settings? Copy-pasting a screenshot is a bit more laborious 😊

[2022-08-25 10:21] curquiza commented on #2580
Hello @mech

Sorry, only this docker image put in the issue description work for filter: `getmeili/meilisearch:v0.29.0-filter.beta.0`
However, the first RC of v0.29.0 is out next Monday, you will be able to test the full v0.29.0 release. But it does not contain the pagination feature we delayed due to a [lack of feedback on it](https://github.com/meilisearch/meilisearch/discussions/2635); we want

[2022-08-25 12:43] mdubus commented on #2701
@ManyTheFish sure!

Here you go:

[code]

[2022-08-25 12:55] curquiza opened #2704 "Add `/metrics` route - BETA"
Related specs: https://github.com/meilisearch/specifications/pull/174
Related product issue: https://github.com/meilisearch/product/issues/496

This feature is a beta feature because the first step of a bigger [issue "Ease observability"](https://github.com/meilisearch/product/issues/496): we need to ensure the current metrics we provide are useful before making it stable.

This issue integrates a

[2022-08-25 12:57] curquiza commented on #2704
Closing this immediatly thanks to #2692 and #2657

[2022-08-25 12:57] #2704 closed

[2022-08-25 14:02] bidoubiwa opened #2705 "In the payload of a tenant token the searchRule `[]` changed behavior from v0.27 to v0.28"
**Describe the bug**
In v0.27 the `searchRules` in the payload, when the value was set to `[]`, gave the token access to search on all indexes on which the parent API key also has access.

In `v0.28`, when searchRules is set to `[]`, the token receive no rights at all on any index and thus throw an `invalid_api_key` error.

**To Reproduce**
Steps to reproduce the behavior:
1. use the admin key to

[2022-08-25 14:03] curquiza commented on #2080
@meilisearch/docs-team

[2022-08-25 14:10] curquiza commented on #2705
Hello @bidoubiwa

Thanks for the report, I was not aware of this breaking change, sorry for the trouble in debugging 😅

@gmourier would you rather come back to the old behavior (`[]` = access to all indexes) or the current one (`[]` = no access at all)?

[2022-08-25 14:17] curquiza opened #2706 "Polish the `/metrics` route feature"
Due to the quick introduction of the `/metrics` route, we absolutely need to polish it before releasing v0.29.0

Here are some works to do:
- [ ] Find and adopt a naming convention. Then, apply it to the metric names.
- [ ] Add analytics, refer to [the spec](https://github.com/meilisearch/specifications/pull/174)
- [ ] Try the feature concretely with Prometheus.

[2022-08-25 14:22] curquiza opened #2707 "Add new error `code`: `invalid_geo_field`"
Related spec: https://github.com/meilisearch/specifications/pull/161

We have introduced a new type of `code` for an error

@meilisearch/docs-team, at least [this page](https://docs.meilisearch.com/reference/api/error_codes.html#errors) should be updated. You might want to check you don't display code samples showing geosearch error to check if it's not this specific case

@meilisearch/integration

[2022-08-25 14:25] curquiza commented on #2707
Closed by https://github.com/meilisearch/milli/pull/561 and then https://github.com/meilisearch/meilisearch/pull/2523

[2022-08-25 14:25] #2707 closed

[2022-08-25 14:34] ManyTheFish commented on #2701
Re all, I managed to reproduce the bug but only on previous versions of Meilisearch v0.28.1, the bug does not appear on the main branch

## Reproduce

Take the v0.28.1 version of Meilisearch

1) Run it on movies dataset with previous settings:
[code]

2) try a simple search:
[code]

3) no documents

4) retry with the main branch, documents are returned properly 😮‍💨

## What fixing it in the next v

[2022-08-25 14:34] #2701 closed

[2022-08-25 14:43] Mcdostone commented on #2700
Hi @curquiza,
You're absolutely right, my bad. I had issues with Meilisearch a week ago, the indexing crashed the machine, I suspect Meilisearch to eat all the RAM memory.

I reindexed all the documents this morning and it works.
`indexed_documents` is not important to me. I was a bit confused with the term `index_documents` and `number_of_documents`.

Sorry for the inconvenience.

[2022-08-25 14:58] curquiza commented on #2700
Not a problem at all 😄

Sorry for this, Meilisearch indeed has issues with RAM consumption. We are doing our best to improve this!
Could you give your usecase (machine + dataset size + auto-batching or not) and how you got this crash on [this issue](https://github.com/meilisearch/meilisearch/issues/2132)? It would be really helpful 🙏

Do you still have the crash now?

[2022-08-25 15:06] bidoubiwa commented on #2705
Just to give my two cents, if prefer

[2022-08-25 15:15] Mcdostone commented on #2700
Unfortunately, I was not able to reproduce the crash and I don't have the logs anymore.

[2022-08-25 15:27] #2700 closed

[2022-08-25 15:57] ManyTheFish commented on #2705
Hello @bidoubiwa @curquiza,
this behavior doesn't seem to be [defined in the spec](https://github.com/meilisearch/specifications/blob/main/text/0085-api-keys.md#3241-api-key-resource-representation) nor [in the documentation](https://docs.meilisearch.com/reference/api/keys.html#indexes). So I honestly think that the previous behavior (v0.27) was a bug.

[2022-08-25 20:49] gmourier commented on #2705
That made me think about something:

What is the point of generating a tenant token without access to anything on the SDK side?

The same question can go for the API key with the `actions` field, but there may be a case where you may want to remove any action for an API key without expiring it or deleting it 🤔

[2022-08-29 11:56] curquiza commented on #2704
@meilisearch/docs-team
Sorry for the last-minute change; we finally decided not to make this feature available. We need more time (on the product side) before releasing this. We accepted to quickly this contribution addition. We indeed need to really reconsider its utility in Meilisearch, and how to make this feature fit the user needs.

[2022-08-29 11:56] curquiza commented on #2706
Not implemented, see this comment: https://github.com/meilisearch/meilisearch/issues/2704#issuecomment-1230185768

[2022-08-29 12:05] #2706 closed

[2022-08-29 12:23] curquiza commented on #2705
Ok, following the discussion, this was an old bug fixed in v0.28.0, I will update the v0.28.0 changelog with this bug fix.
@ManyTheFish if you know the PR where this has been fixed, it would be even perfect! 👌

I close this issue in the meantime and associated it to v0.28.0 Milestone

[2022-08-29 12:23] #2705 closed

[2022-08-29 12:24] curquiza commented on #2705
I don't know honestly, maybe @bidoubiwa can help on it

[2022-08-29 12:36] curquiza commented on #2645
I close this issue due to a lack of answers. Nothing is definitive of course, feel free to ask to re-open if needed 😊

[2022-08-29 12:36] #2645 closed

[2022-08-29 12:36] curquiza commented on #2646
I close this issue due to a lack of answers. Nothing is definitive of course, feel free to ask to re-open if needed 😊

[2022-08-29 12:36] #2646 closed

[2022-08-29 12:54] curquiza opened #2714 "Update to the latest lmdb version"
Meilisearch uses LMDB as an internal DB. We would like to use the latest version of LMDB to ensure better maintenance, security, but also the availability to encrypt the whole DB in the future.

Discussed with @Kerollmops: it's probably not easy and tedious. We add this issue in the v0.30.0 Milestones, but we maybe won't be able to solve it for v0.30.0 release.

⚠️ If this issue is not solved in v

[2022-08-29 14:18] ManyTheFish commented on #2705
@bidoubiwa I don't manage to reproduce your case in v0.27.0, are you sure that you had exactly `searchRules: []` in your tests?

[2022-08-29 14:41] curquiza opened #2716 "Update mini-dashboard version"
Checked with @mdubus, we would like to update mini-dashboard version to the latest one to get the last bug fixes.

⚠️ @mdubus, you have to open a PR changing the mini-dashboard version pointing to `release-v0.29.0`, not to `main`

[2022-08-29 15:53] brunoocasali commented on #2486
@curquiza I'm creating the integrations team issue for v0.29, and I'm questioning myself about whether this issue is a breaking change or not for us.

But I think it is breaking since this behavior changed, do you agree with that?

[2022-08-29 15:55] curquiza opened #2718 "Enable LTO again"
We first enable LTO in this PR https://github.com/meilisearch/meilisearch/pull/2690 to improve the performance of the search engine.
Then, we had to disable LTO in this PR https://github.com/meilisearch/meilisearch/pull/2717 because we were not able to compile the `aarch64` binary anymore.

We would introduce LTO again and prevent using it when compiling the `aarch64` binary.
Some beginning of sol

[2022-08-29 15:58] curquiza commented on #2486
It's a change regarding the original behavior but will not break the code of the user using the `NOT`. The final `hits` returned will not be the same but the code will not break. In the changelogs, I wrote this under the "behavior changes ⚠️" section

[2022-08-29 16:14] brunoocasali commented on #2486
It will not be a compile-time-breaking change indeed, but if someone wants to keep the behavior (the same `hits` returned), they will have to change their query.
For the Meilisearch engine side, I think this is ok since you are compliant with semver, but for us, I think we will have to release as breaking-change. What do you think?

[2022-08-29 19:25] shamsmosowi opened #2720 "unable to add documents on (cloud run + cloud storage) meilisearch"
**Disclaimer**
I know this isn't an intended usecase😅, however would love to get it to work!
**Describe the bug**
I'm trying to deploy meilisearch on GCP Cloud Run and Cloud Storage using [gcsfuse](https://github.com/GoogleCloudPlatform/gcsfuse). I am able to get an instance url that loads meilisearch UI [here](https://serverless-meilisearch-qtcobgiyyq-uc.a.run.app/) and it seems to have successfu

[2022-08-30 09:30] curquiza commented on #2486
Sorry I forgot to mention something I should have mentioned first haha, sorry I answered too quickly and I forgot my old main reason.
The main reason why I’m not sure I want to consider this as a real breaking is: the PM, some users (and me) consider this change as a bug since it did not take ALL the documents before (see the example that conter-intuitive for some users).
I hesitated to put the `b

[2022-08-30 10:58] bidoubiwa commented on #2705
Mmh that's weird, we made multiple tests with @irevoire and there was a change in behavior. But I'm not able to reproduce it either. Well! That fixes the issue then 😊

[2022-08-30 11:29] bidoubiwa commented on #2705
@gmourier would you suggest returning an `invalid_api_key` error ?

[2022-08-30 11:49] curquiza commented on #2686
Hello everyone watching this issue!

We have just released v0.29.0rc1, which is a release candidate of v0.29.0 🔥
It means you can test the just-introduced Thai language support! Binaries are attached to the release, or you can you the docker image:
[code]

Let us know about any bugs or feedback! 😄 It would be really helpful.

FYI, the official v0.29.0 release will be available on 3rd October.

[2022-08-30 11:50] curquiza commented on #2578
Hello everyone watching this issue!

We have just released [v0.29.0rc1](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1), which is a release candidate of v0.29.0 🔥
It means you can test the just-introduced `matchingStrategy` parameter during the search! Binaries are attached to [the release](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1), or you can you the

[2022-08-30 11:52] curquiza commented on #2580
Hello everyone watching this issue!

We have just released [v0.29.0rc1](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1), which is a release candidate of v0.29.0 🔥
It means you can test the just-introduced `EXISTS` and `IN` filtering operators! [Binaries](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1) are attached to the release, or you can you the docker im

[2022-08-30 11:54] curquiza commented on #2582
Hello everyone watching this issue!

We have just released [v0.29.0rc1](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1), which is a release candidate of v0.29.0 🔥
It means you can test the auto-batching working by default in this RC! [Binaries](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1) are attached to the release, or you can you the docker image:
[code

[2022-08-30 11:55] curquiza commented on #2560
Hello everyone watching this issue!

We have just released [v0.29.0rc1](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1), which is a release candidate of v0.29.0 🔥
It means you can test the just-introduced `*` helper when using the `actions` of tenant tokens! [Binaries](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1) are attached to the release, or you can yo

[2022-08-30 11:55] curquiza commented on #2080
Hello everyone watching this issue!

We have just released [v0.29.0rc1](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1), which is a release candidate of v0.29.0 🔥
It means you can test the just-introduced `*` helper when using the `actions` of tenant tokens! [Binaries](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1) are attached to the release, or you can yo

[2022-08-30 12:29] mech commented on #2580
If I am not wrong, this RC1 release is only having the filtering prototype right, without the pagination prototype.

[2022-08-30 14:03] curquiza commented on #2558
Hello @YJDoc2 and @knidarkness, just to let you know we are planning to release this feature in v0.30.0. It means the core team will start the implementation of the feature on 3rd October if no one has made it before.
It also means you have until the end of September to do it if you are still motivated to contribute 😉 Thank again for your involvement!

[2022-08-30 14:38] curquiza commented on #2198
Hello @sagar2911, @miagg and everyone here  👋

We have just released [v0.29.0rc1](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1), which is a release candidate of v0.29.0 🔥

It introduces a new search parameter named `matchingStrategy` which allows you to change the default Meilisearch behavior about retrieving documents.

For now, it accepts 2 strategies:

- `last`: _the defau

[2022-08-30 14:39] curquiza commented on #2420
Hello @KariUs123  👋

We have just released [v0.29.0rc1](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc1), which is a release candidate of v0.29.0 🔥

It introduces a new search parameter named `matchingStrategy` which allows you to change the default Meilisearch behavior about retrieving documents.

For now, it accepts 2 strategies:

- `last`: _the default strategy_. If no docume

[2022-08-30 14:50] curquiza commented on #2583
Some clarification following questions I got internally
- When doing a dump: soft-deleted documents are not included, so if you import the dump, the soft-deleted documents will not be present in the DB
- When we are talking about "checking the available space before definitely removing the soft-deleted documents": we look at the [index size](https://docs.meilisearch.com/learn/configuration/instanc

[2022-08-30 18:25] nicolasvienot opened #2721 "Add missing instance options environment variables"
There are some missing environment variables in [the instance options](https://docs.meilisearch.com/learn/configuration/instance_options.html#all-instance-options), and it would be really helpful if you could add them 🙏

I'm thinking of the one corresponding to the following CLI options:
- `--import-dump` -> `MEILI_IMPORT_DUMP`
- `--ignore-missing-dump` -> `MEILI_IGNORE_MISSING_DUMP`
- `--ignore-d

[2022-08-30 18:54] brunoocasali commented on #2486
Since we discussed that privately, I'll just say that I agree with your decision. Deciding between breaking is not easy.

I'll be happy to help thinking about that, and maybe the integrations team can help mitigate some of them. In any case, since the semver is not explicitly what should be done in that case, let's come up with our interpretation of that rule.

[2022-08-30 20:39] brunoocasali opened #2722 "Unexpected response in a simple search"
**Describe the bug**
Working to add support in the Meilisearch Ruby SDK to v0.29 I found the following situation:

**To Reproduce**
Steps to reproduce the behavior:
With this database:
[code]

When I do a phrase search request `index.search('coco "harry"')`

It returns nothing.

[code]

**Expected behavior**

On version 0.28 the results are:

[code]

**Meilisearch version:** v0.29.0rc1, docker.

[2022-08-30 21:07] brunoocasali opened #2723 "CSV document indexing is not working properly when the id is a number"
**Describe the bug**
Working on adding support in the Meilisearch Ruby SDK to v0.29, I found the following situation:

**To Reproduce**
Steps to reproduce the behavior:

When I try to add these documents using the CSV (`'Content-Type' => 'text/csv'`):

[code]

**Expected behavior**
Successfully index the documents.

**Current behavior**

I receive an error:

[code]

But my encoded body has the sam

[2022-08-31 07:39] curquiza commented on #2723
Hello @brunoocasali

Did you succeed in indexing your documents in v0.28.0?

If I'm correct, it should not have been possible since the document identifier contains a dot (`.`), or is considered a float, which should have been forbidden by the search engine:

[code]

[2022-08-31 07:46] Kerollmops commented on #2723
It doesn't seem that the original CSV documents contain dots, it looks like the engine converted the ids (specified as numbers) and returned this error.

[2022-08-31 09:03] Kerollmops commented on #2723
Thank you @brunoocasali for the report, I fixed it on the milli side https://github.com/meilisearch/milli/pull/617 🎉

[2022-08-31 09:32] irevoire commented on #2721
is this for v0.29? @gmourier @curquiza

[2022-08-31 10:25] curquiza commented on #2721
Nope, we don't add new features to v0.29.0, it's for v0.30.0 or later. I put it for v0.30.0 for the moment, it's fast to implement if I'm correct, should be ok for v0.30.0

[2022-08-31 12:34] brunoocasali commented on #2723
I saw the PR, sweet fix! 🥖 (tradition) haha

[2022-08-31 12:42] gmourier commented on #2705
If the syntax `"searchRules": []` is not described as an acceptable behavior in the specification. The resulting tenant token is therefore invalid, and the API must return an `invalid_api_key` error.

A discussion to improve this can be created on the product side for future consideration.

[2022-08-31 13:44] curquiza commented on #2590
I close this issue since it's not planned to be implemented in the next 6 months.

[2022-08-31 13:44] #2590 closed

[2022-08-31 13:47] curquiza commented on #2703
Closed by #2724

[2022-08-31 13:47] #2703 closed

[2022-08-31 13:52] curquiza commented on #783
Hello, just noticed this really old request should have been in the product repository, not here.
If someone is interested by this, can you open a [discussion in the product repo](https://github.com/meilisearch/product/discussions/new). If we have enough person asking for it, this is something we can consider 😄

Sorry for the late triage

[2022-08-31 13:52] #783 closed

[2022-08-31 14:12] bidoubiwa commented on #2705
If you are refering to the error messages, I think there is already a discussion about it [here](https://github.com/meilisearch/product/discussions/398)

If you are referring to the accepted format, I don't think there is indeed!

[2022-08-31 15:09] Kerollmops opened #2725 "Refactoring the task queue and scheduler"
In this issue, we simply list the requirements for a new task queue. The current one is pretty complex and adding new functionalities is cumbersome. We would like to design a new scheduler system that fixes and improves over the current one.

For that, we must evaluate the time we need to take to develop most of the features below:

- [x] Durability of the tasks once an answer has been sent to the

[2022-08-31 15:29] guimachiavelli commented on #2583
FYI, we have discussed this internally in the @meilisearch/docs-team and felt it was good to mention it somewhere in the docs as it might have implications for applications that need to be GDPR-compliant.

[2022-08-31 15:37] curquiza commented on #2583
Until we don't detail how it works exactly since we can break it at every moment, I'm not against this decision. People know what "soft-deletion" is since it's really common.

[2022-09-01 08:08] ManyTheFish commented on #2722
Hello @Kerollmops and @brunoocasali, here we are facing an undefined behavior, the `word` ranking rule removes words from the left to the right, but, because there is a phrase query, we don't remove it. Instead, we remove the next "non-phrased word".

However, as you said the behavior has changed when we only have one "non-phrased word". The previous behavior seemed to always keep the first writte

[2022-09-01 09:41] irevoire opened #2729 "Improve the stat route"
Currently, the stats route returns the sum of the used map size of each index without any information on the task queue.
That's pretty useless, IMO.

I would like the stats route to return;
- Per index
    - The size used by each index (without the free pages)
    - The _REAL_ size used by each index on the disk
- The size used by the whole `data.ms` (including the task queue and the updates store

[2022-09-01 09:53] curquiza commented on #2729
Closing this in favor of https://github.com/meilisearch/product/discussions/527
Feature requests should be done in the product repository 😄

[2022-09-01 09:53] #2729 closed

[2022-09-01 11:00] bidoubiwa opened #2730 "v0.29.0 wildcards in key actions does not seem to work properly"
**Describe the bug**
For example the wildcard `documents.*` does not work to create documents, while `documents.create` does.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a key with `actions: ['documents.*']
2. Use this key to add documents
3. `invalid_api_key`

**Expected behavior**
Should be able to add documents

**Screenshots**
/

**Meilisearch version:**
v.0.29.1

If you have

[2022-09-01 11:16] bidoubiwa opened #2731 "v0.29.1 recieving a throw on get task when fetching a task of an index creation"
**Describe the bug**

When I dont have the rights to create a specific key, but I create it anyway, the returned taskUid is considered not existing.

The task of the index creation is the following

Key:

[code]

[code]

Returned task
[code]

When making a query on
[code]

I receive the following error:

[code]

Meilisearch log

[code]

**To Reproduce**
- Create an index on which the key has no ri

[2022-09-01 11:25] onyxcherry commented on #2680
Have you encountered any other meaningless messages?

That issue doesn't seem to will be resolved by the serde team (as they have a low priority on it).

Although the message could be improved by implementing own `Deserialize` for `ArrayOrSingleObject`, isn't it better to simply replace the message:

[code]
?

[2022-09-01 12:00] curquiza commented on #2722
Closed by #2732

[2022-09-01 12:00] #2722 closed

[2022-09-01 12:00] curquiza commented on #2723
Closed by #2732, will be in v0.29.0rc2

[2022-09-01 12:00] #2723 closed

[2022-09-01 13:34] ManyTheFish commented on #2731
I managed to reproduce this bug, it will be fixed in the v0.29.0rc3

[2022-09-01 13:37] ManyTheFish commented on #2730
Hello @bidoubiwa, does the index `xxx` is accessible by the key?
[code]

[2022-09-01 14:57] ManyTheFish commented on #2730
I managed to reproduce this bug, it will be fixed in the v0.29.0rc3.

[2022-09-01 16:06] oluademola commented on #2720
Hi @shamsmosowi,

As explained on the Slack thread. I am not sure this is a problem with Meilisearch, but we found that it could be related to an issue when reading something from an IO stream (file or network), as discussed in this [thread](https://www.reddit.com/r/rust/comments/b095ag/failed_to_fill_whole_buffer_error_with_bufreader/).

Hope it helps. Many thanks 🙂

[2022-09-02 08:43] Kerollmops commented on #2725
We have done a meeting yesterday (@irevoire, @loiclec, and myself) to evaluate the time it would take to design the new scheduler designed to support all of the features listed above and with the less code complexity possible.

We decided that we will use LMDB as the task and index name mapper store. The task ids are incremental `u32`s. As a value, we have all the information about the task (see b

[2022-09-03 06:11] inkss commented on #2680
I encountered the same file upload error, how can I fix it?

[code]

[code]

[2022-09-03 12:37] onyxcherry commented on #2680
Add `@` sign before the file name.
So use `--data-binary "@path/to/file"` flag

[2022-09-03 12:50] inkss commented on #2680
Thank you!!!!! 😂

[2022-09-04 18:50] Northn opened #2743 "MDB_BAD_VALSIZE: Unsupported size of key/DB name/data, or wrong DUPFIXED size."
**Describe the bug**
When we decided to test a new version of MeiliSearch on our forum (XenForo CMS with custom addon) we have began importing all documents to it. So, when the indexation has began, we have ran into some MeiliSearch internal error: MDB_BAD_VALSIZE.

**To Reproduce**
I really have no idea why it happens. We don't have such issue on MeiliSearch 0.28.1, but have in any 0.29 versions.

[2022-09-05 07:40] mlemesle commented on #2558
Hello everyone !

I’d like to contribute to Meilisearch and this seems to be a good first issue ! May I ask if @knidarkness is still working on it to avoid duplicate the work ?

[2022-09-05 08:38] curquiza commented on #2721
Pinging @meilisearch/docs-team

[2022-09-05 08:47] curquiza commented on #2743
Hello @Northn

Thanks for this report!
Can you try launching Meilisearch with the `--disable-auto-batching` flag? This way we will know if it's auto-batching

Also, with only this information, we can't reproduce the issue and thus fix this bug.

Could you share your dataset or a piece of your dataset where the issue is visible?
You can share it privately by email, of course.
We know sharing datase

[2022-09-05 11:39] #2721 closed

[2022-09-05 16:00] Kerollmops commented on #2725
We have done a follow-up meeting today with @irevoire, @loiclec, and @gmourier on the index scheduler (the new name ✨).

### How do we give access to the indexes

We need to provide the indexes of milli to the HTTP handler, and for that, we must keep them open in the scheduler. We thought that a simple `RwLock<HashMap<IndexUuid, Index>>` would do the job.

The swap operation would not even touch t

[2022-09-06 10:06] curquiza commented on #2558
Hello @mlemesle, as far as I know, no one has started to work on it. So we are really happy to review your future PR. Ping us on your PR once it's ready to be reviewed! 😄

Thanks a lot for your contribution!

[2022-09-06 13:04] mlemesle commented on #2558
Hey @curquiza ! Thanks for letting me contribute, this is a great opportunity !

I got an issue though. The toml config file shown as an example is partial, all the mandatory informations needed to setup Meilisearch are not present. From the cli, this isn’t a problem because clap can default their value. However, reading the file and deserializing it directly raise an error because some fields are

[2022-09-06 13:17] Kerollmops commented on #2558
Hey @mlemesle,

We didn't think about this issue indeed. I have two ideas:
 - Why is that not possible [to use `#[serde(default = "path")]`](https://serde.rs/field-attrs.html)?
 - I am not sure it would be a good idea to force all of the fields as mandatory:
     1. We must synchronize the `Opt` struct clap values with the default config file every time we change the default values.
     2. It can

[2022-09-06 13:34] curquiza commented on #2731
Fix by #2734 will be released in v0.29.0rc3

[2022-09-06 13:34] #2731 closed

[2022-09-06 13:59] mlemesle commented on #2558
Hi @Kerollmops ! Thanks for your quick answer !

I think #[serde(default = "path")] might be relevant, however it’s the path to a function, not a value, so I’ll have to find a way to do it cleanly.

I agree that forcing all fields as mandatory isn’t my favorite choice either, just wanted to run it by you to be clear about the needs !

[2022-09-06 14:26] curquiza opened #2749 "Cancelling tasks"
The goal of this issue is to reduce the users' friction with task management by allowing them to cancel a `processing` or an `enqueued` task.
Indeed, the indexing time is sometimes really long, and the users want to cancel them to prioritize the others tasks in the queue.

## TODO

- [ ] Work on [PRD](https://www.notion.so/meilisearch/Solve-workflow-blockages-when-managing-a-running-Meilisearch-in

[2022-09-06 14:34] curquiza opened #2750 "Index swap"
The goal of this issue is to make Meilisearch more production-ready by allowing the swap of indexes.
Indeed, this feature should remove the possible downtimes: the users will be able to index on a temporary index and then, swap the index names.

## TODO

- [x] Work on PRD
- [ ] Create a prototype if needed
- [ ] Create the spec
- [ ] Implement the final version in the code and merge it into `main`

[2022-09-06 14:37] curquiza opened #2751 "Delete old processed tasks"
The goal of this issue is to reduce the users' friction with disk size management by allowing them to delete the old processed tasks.
Indeed, when accumulating a huge amount of tasks, the available size of the disk can be impacted drastically.
Deleting old tasks will allow the users to save some space again.

Related product discussion: https://github.com/meilisearch/product/discussions/517
Relate

[2022-09-06 14:39] curquiza opened #2752 "Stabilize the CLI"
The goal of this issue is to stabilize the CLI in order to provide a stable v1.

## TODO

- [ ] Follow related discussions and make final decision about them, see [central discussion](https://github.com/meilisearch/product/discussions/536)
- [ ] Solve each sub issues below

⚠️ Depends on scheduler refactoring https://github.com/meilisearch/meilisearch/issues/2725

## Changes

By order of prioritiz

[2022-09-06 14:58] curquiza opened #2753 "Internal tool: add the `/metrics` route"
We made a `metrics` route available as an internal tool only. Indeed the current route is not polished enough to be exposed to the users.

See this comment: https://github.com/meilisearch/meilisearch/pull/2657#issuecomment-1230112432

How to use it anyway?

[code]

Call the `GET /metrics` route.

By default (without the `all-features` flag) cargo compiles Meilisearch without the `enable-metrics-ro

[2022-09-06 14:59] curquiza commented on #2753
Closing immediately this thanks to https://github.com/meilisearch/meilisearch/pull/2657 and https://github.com/meilisearch/meilisearch/pull/2713 already present in every v0.29.0 RCs

[2022-09-06 14:59] #2753 closed

[2022-09-06 15:16] curquiza opened #2754 "Benchmark some usecases and find a way to measure the team's performance"
_This implementation is only for our internal usage and does not impact the users._

Following this issue: https://github.com/meilisearch/devrel/issues/334

We need to implement benchmark tools to be able to measure our performance improvements. Currently, we have benchmarks on the [milli library](https://github.com/meilisearch/milli/actions/workflows/manual_benchmarks.yml), but it does not corres

[2022-09-06 16:19] Northn commented on #2743
Hello,
Sorry for delay, I've sent the required data to your mail. Thanks for attention.

[2022-09-06 17:13] curquiza commented on #2656
I close this issue due to a lack of answers. Nothing is definitive of course, feel free to ask to re-open if needed 😊

[2022-09-06 17:13] #2656 closed

[2022-09-06 17:14] curquiza commented on #2688
I close this issue then. Feel free to ask to re-open if needed 😊

[2022-09-06 17:14] #2688 closed

[2022-09-06 17:15] curquiza commented on #2666
I close this issue due to a lack of answers. Nothing is definitive of course, feel free to ask to re-open if needed 😊

[2022-09-07 08:16] #2666 closed

[2022-09-07 10:12] mlemesle commented on #2558
Hey !

I finished setting all the default values for serde. The config file now works just fine :)

However, I'm not sure about the sections in the config file. It will imply to flatten with clap (which is fine), but we won't be able to flatten with serde because it will flatten for deserialization and serialization. So, in order to have sections, we can't flatten with serde. Doing so, this will c

[2022-09-07 10:53] LevyDeng opened #2756 "synonyms behavior strange with chinese"
**Describe the bug**
Just find this amazing search egine, but I found an issue when adding chinese synonyms, seems meilisearch automaticly add spaces to words:

**To Reproduce**
Steps to reproduce the behavior:
[code]
`{'推进 之王': ['王维 娜']}`
**Expected behavior**
should not have spaces between words.

**Meilisearch version:**
0.28.1

[2022-09-07 14:56] mlemesle opened #2757 "Improving geo-search: bounding box"
Hey ! I was wondering if this discussion is still up to date https://github.com/meilisearch/product/discussions/431 ?

If so, may I implement this feature ? 🙂

[2022-09-07 15:05] ManyTheFish commented on #2756
Hello @LevyDeng,

This behavior only occurs when displaying the synonyms, internally, due to the segmentation your synonyms are stored as:
[code]
Because we can't have an array as a key in json, we chose to format it with spaces.

We should store the original version of the synonyms in addition of the internal representation 🤔

However, this should not impact the relevancy of the search.

Thank yo

[2022-09-07 15:16] curquiza commented on #2757
Hello @mlemesle! Thanks a lot for your involvement, this is really appreciated! 😄 🎉

I asked our PM directly in the discussion! If we want to add it, I will open a dedicated issue with the API and behavior expectations! Indeed we need to do some works on the product side before starting the implementation (e.g. how the API should look like)

Thanks again for working with us!! ❤️

Closing this in f

[2022-09-07 15:16] #2757 closed

[2022-09-07 15:20] ManyTheFish commented on #2091
Hello,
I don't manage to reproduce the issue with [v0.29.0rc2](https://github.com/meilisearch/meilisearch/releases/tag/v0.29.0rc2).

This bug can be considered fixed.

I close this issue, don't hesitate to reopen it if I'm wrong.

[2022-09-07 15:20] #2091 closed

[2022-09-07 15:20] mlemesle commented on #2757
Thanks for allowing me to contribute!
I'll try to follow the discussion and catch the issue when it'll be prioritized then!
Thanks again!

[2022-09-07 15:39] curquiza commented on #2222
Hello everyone
We are going to close this issue in favor of https://github.com/meilisearch/product/discussions/503
Anyone having inputs on this discussion will be more than welcome to comment!

We plan to open different issues on the [tokenizer repo](https://github.com/meilisearch/charabia) during hacktoberfest to let people contribute and improve Chinese support in Meilisearch.

Thanks in advance

[2022-09-07 15:39] #2222 closed

[2022-09-07 15:59] curquiza commented on #964
I check with v0.28.1, searching for `cáse` is not finding documents with `holder`!

Closing this

[2022-09-07 15:59] #964 closed

[2022-09-07 16:18] mlemesle commented on #2558
Hey !

PR is ready for review ! 🙂

[2022-09-07 17:29] gmourier commented on #2558
Hi @mlemesle 👋

Thanks for the contribution; this is hugely appreciated 🙏

Regarding the section, I had a quick talk with @irevoire and @Kerollmops.

As it forces us to lose the history on the analytics side because we have no way to merge properties for the moment on our side, it seems smart to me not to introduce them.

However, I would like to have the opinion of the cloud team.

Initially, we

[2022-09-07 17:31] gmourier commented on #2558
It would be nice to introduce a config.yml containing each config with its default value for newcomers. It might help someone to get to know the configuration variables by reading the file provided as a starter. We could even insert a comment header to the documentation with a [link](https://docs.meilisearch.com/learn/configuration/instance_options.htm).

WDYT?

[2022-09-08 02:27] LevyDeng commented on #2756
@ManyTheFish Thank you and I just find that the real problem is I need to reverse the synonyms key:value, because I want to search for '推进之王' with '王维娜', and it doesn't work at first. Maybe I haven't read the docs carefully and sorry for that.
Anyway thank you again and I'll close this issue.

[2022-09-08 02:27] #2756 closed

[2022-09-08 07:48] curquiza commented on #2716
Closed by #2755, will be available in v0.29.0rc3 toda

[2022-09-08 07:48] #2716 closed

[2022-09-08 07:49] curquiza commented on #2743
Closed by #2759 and meilisearch/milli#628, will be available in v0.29.0rc3 today

[2022-09-08 08:53] curquiza commented on #2558
I agree
- comments instead of sections is a good idea
- having a default config file with links to the docs is even better
I'll update the issue description

[2022-09-08 09:35] ManyTheFish opened #2760 "Internal representation of synonyms shouldn't be showed when displaying settings"
## current behavior

When setting synonyms on the settings route:
[code]
Synonyms are segmented and normalized before being stored in Meilisearch and the original value is dropped.
[code]

When getting the settings (GET `/indexes/:uid/settings`) the displayed version of synonyms is the normalized one with 1 space between each segmented part.
[code]

## drawback

This behavior leads to confusion be

[2022-09-08 09:43] curquiza commented on #2398
Fix with the auto-batching integration by default 🎉

[2022-09-08 09:43] #2398 closed

[2022-09-08 11:19] curquiza commented on #2628
Hello everyone following this issue.

We indeed plan to add a feature to flush old tasks in v0.30.0, see the current issue: https://github.com/meilisearch/meilisearch/issues/2751

No automation for deleting tasks are planned so far, however we are currently working on it to know if we will add it or not.
Everyone can let their opinions and feedback on the corresponding product discussion https://g

[2022-09-08 11:19] #2628 closed

[2022-09-08 11:48] curquiza opened #2761 "Improve geo-search: introduction of `_geoBoundingBox`"
Following this product discussion: https://github.com/meilisearch/product/discussions/431
Specification: https://github.com/meilisearch/specifications/pull/197

## API

`_geoBoundingBox((lat, lng), (lat, lng))` using the [`filter` search parameter](https://docs.meilisearch.com/reference/api/search.html#filter)

`{lat, lng}` <- Top left corner,
`{lat, lng}` <- Bottom right corner

## Implementation

[2022-09-08 15:39] curquiza commented on #2255
Hello here! Some updated after discussing with @Kerollmops, indeed a PR has been open for a long time for this issue on Milli side: https://github.com/meilisearch/milli/pull/580

What this PR do: the code error 5 and 28, will be returned the following Meilisearch error
[code]
instead of the error code `internal`
According to [the spec](https://github.com/meilisearch/specifications/blob/main/text/0

[2022-09-09 07:40] mlemesle commented on #2558
Hey @curquiza !
I just added a default toml file with "comment sections".
Everything is commented so it’s less prone to errors for clients, they just need to uncomment the desired key and replace the value.
I put the link to the documentation at the very top of the file and added the documentation to each key of the file.

Hope that helps !

[2022-09-09 08:11] mlemesle commented on #2761
Starting the implementation. @curquiza Is there an issue on Milli’s repository that I can link the upcoming PR to ?
If not I can do it but it won’t be as descriptive as yours 😄

[2022-09-09 09:55] gmourier opened #2764 "0 documents returned when `q` is specified"
**Describe the bug**

0 documents are matched when I specify in `q` terms that exist; built-in settings are set (`searchableAttributes = *`)

When `q` is not specified, the documents are retrieved.

I have indexed 2231142 (2.2M) **CSV** documents;.

**To Reproduce**
Steps to reproduce the behavior:
1. [Download the dataset](http://file.mie.li/z8LqD6)
1.1 [Download debug level logs](http://file.mie

[2022-09-09 12:11] irevoire opened #2765 "No space left on device except there is space left on device"
Doubling down on @gmourier with #2764, when I try to index his dataset, I get a « no space left on device ».
Except that... There is space on the device.
I have ~120Go available, and when I monitor the disk usage of meilisearch, on multiple datasets I noticed it was always crashing around 10Go of index size used. (here, the dataset takes 2Go).
![image](https://user-images.githubusercontent.com/703

[2022-09-12 04:14] securisec commented on #549
@Kerollmops I came across this ask also. I am having the same issue as the OP where the returned responses contains both the `_formatted` object along with a large amount of data. I looked through the docs, but could not figure out what to set to return only the `_formatted` results and not the whole body. Using version 0.23.1

Any suggestions on how to get only the `_formatted` hits?

[2022-09-12 08:14] curquiza commented on #549
Hello @securisec

The last version is v0.28.1, I'm not sure what I will explain will work with v0.23.1.
You can set up only the attributes you want to hilhight and crop in `attributesToHighliht` and `attributesToCrop`, and only the attributes you want to retrieve (cropped/highlighted or not) in `atttributesToRetrieve`. Avoid using `*` if you have a lot of data
More info about the search parameters

[2022-09-12 08:22] curquiza commented on #2761
Hello @mlemesle
No need to open an issue on milli side, you can mention this one (only in the PR description not adding it in the `Development` section on the right)
However if you would rather work with an issue on Milli's side, you can open one of course, but it's not mandatory for our synchronisation 😄

[2022-09-12 08:27] curquiza commented on #2472
Hello @phdavis1027 sorry for the huuuuuuge delay, I missed your message, I'm sorry for that!

Our team is currently working on refactoring this part of the code base, because too complicated, as you have seen!
I will remove the `contribution accepted` flag since it's not appropriate anymore.

Sorry for the confusion, and thanks for your involvement!

[2022-09-12 09:24] curquiza commented on #2765
Discussed with the team, not a bug on Meilisearch file, @irevoire needs to complete with the solution to fix this

[2022-09-12 12:54] curquiza opened #2769 "Improve language support by upgrading Charabia"
Following the following changes in the Meilisearch tokenizer ([charabia](https://github.com/meilisearch/charabia)), we need to ensure the latest version of Charabia is included in Meilisearch v0.30.0
- https://github.com/meilisearch/charabia/pull/126
- Improve the language support by integrating milli v0.38.0

# TODO

- [x] Implement changes in [Charabia](https://github.com/meilisearch/charabia/)

[2022-09-12 13:01] securisec commented on #549
Thank you for the response @curquiza . Here is a screenshot that explains the issue I am having. I updated to 0.28.1 before attempting.

In the screenshot, you can see that I am interested in the `data` attribute. But in the response, I get back both `data` and `_formatted.data`. Now imagine data was much larger then this small text. Say it was 500kb. It would send back a ton of data to the client

[2022-09-12 13:54] irevoire commented on #2765
Ah, but I don't know the solution; it's @Kerollmops that knows

[2022-09-12 16:19] curquiza opened #2810 "Update the "internal" CLI Meilisearch documentation"
The current "internal" documentation of Meilisearch (when doing `cargo run -- --help`) is not always accurate. We would like to make it up-to-date with the official Meilisearch documentation.

Using this [link](https://docs.meilisearch.com/learn/configuration/instance_options.html#all-instance-options), update the comments in the following lines to make them correspond to the documentation descrip

[2022-09-14 07:07] curquiza commented on #2764
Closed by https://github.com/meilisearch/meilisearch/pull/2770

Will be released in v0.29.0rc4 today!

[2022-09-14 07:08] #2764 closed

[2022-09-14 15:23] miiton commented on #2403
I write about what I have found out.

- Why do these problems occur?
  - Indexing phase
    1. When we try to index `東京のお寿司` into Meilisearch.
    2. Since this contains "Hiragana", [whatlang](https://github.com/greyblake/whatlang-rs) judges it as "Japanese".
    3. It is separated into `["東京", "の", "お", "寿司"]` by [Lindera](https://github.com/lindera-morphology/lindera), and indexed.
  - Search ph

[2022-09-14 19:29] jirutka opened #2774 "Reduce size of the meilisearch binary"
Meilisearch binary has over 100 MiB, which is quite huge. About 90% (!) of the size is made up of specialized tokenizations for Chinese, Hebrew, Japanese, and Thai – they bundle large dictionaries. Many Meilisearch users don’t need support for these languages, so it would make sense to make them optional.

[2022-09-15 10:03] ManyTheFish commented on #2403
Hello @miiton, you're right!
The issue comes from the normalization process.
Currently, we are discussing the redesign of the Chinese normalization to be phonologically oriented.
Because Chinese Languages and Japanese shares some characters making it difficult to detect the Language when the provided string is short (like a query), we could think of unifying the normalization for these Languages t

[2022-09-15 11:27] curquiza commented on #2558
Hello @mlemesle, but also @gmourier and @irevoire

I've discussed with the team, and we realized we had a quiproquo: we want Meilisearch to read `./config.toml` as default behavior, even if the flag `--config-file-path` is not passed

We also want the following display

[code]

If the users do not pass any config file and no `./config.toml` exists, we must display `none` instead of `"./config.toml

[2022-09-15 14:05] curquiza commented on #2714
Discussed with @Kerollmops, too risky to integrate it before v1, so will be done in v1 or later

[2022-09-15 14:50] curquiza opened #2776 "Re-introducting dumps v1 support for Meilisearch v1?"
Following the discussion with @Kerollmops but can interest any people in the core team to have your opinion

What we want when releasing v1 is to ensure most people will use it. One of the issue is the migration: currently, someone using Meilisearch v0.20.0 cannot migrate to v0.28.0 (so future meilisearch v1)
See the following table in the specs: https://github.com/meilisearch/specifications/blob/

[2022-09-15 18:01] mlemesle commented on #2558
Hey @curquiza !

It's ok, I'll try to do it before next week ! Thanks for allowing me to improve my contribution !

[2022-09-16 00:24] miiton commented on #2403
@ManyTheFish

Thank you, I'll watch that discussion 😊

[2022-09-18 00:28] jeremylynch opened #2781 "Meilisearch tasks instance is frozen - Stuck on a single document"
My meilisearch instance is "stuck" processing a single document. Over the last 24 hours the queue has built up to ~ 500,000 tasks. I cannot find any way to "reset" the tasks list or deal with this issue except for completely re-configuring Meilisearch. Any suggestions?

I was able to solve this issue only by completely re-launching meilisearch. Hopefully in future there might be an easier way to a

[2022-09-18 22:01] derhuerst opened #2782 "bind to ::1 (ipv6) as well by default"
**Describe the bug**

By default, Meilisearch will bind to `127.0.0.1:7700`, which makes it IPv4-only. I think nowadays, any networked software should handle IPv6 by default.

[code]

**Expected behavior**

I expect Meilisearch to bind both on `127.0.0.1` and `::1` by default, unless you specifically specify an (different) address via `--http-addr`.

[code]
**Meilisearch version:** [e.g. v0.20.0]

[2022-09-19 09:24] curquiza commented on #2782
Hello @derhuerst

I think this is something we could consider in our CLI stabilization work (https://github.com/meilisearch/meilisearch/issues/2752) @gmourier, if we want to change this or not

[2022-09-19 09:42] curquiza commented on #2781
Hello @jeremylynch

Thanks for using Meilisearch

Can you provide more information so that we can help you? 😊

- What is your Meilisearch version?
- Is your CPU working, and how?
- Can you check your [task list](https://docs.meilisearch.com/reference/api/tasks.html#get-tasks), and check the exact same task is processing for 24h or not? It can indeed be long to achieve all the tasks, but Meilisearc

[2022-09-19 09:49] amab8901 opened #2783 "Pretty Print Isn't Working"
**Describe the bug**
I write the following in my terminal:
[code]
I get the following output:
[code]
But I want the output to be pretty-printed instead, like below:
[code]
The pretty-printed version above is taken from this instruction (https://docs.meilisearch.com/learn/getting_started/filtering_and_sorting.html#filtering), according to which the pretty-print is expected to be in the output, yet

[2022-09-19 11:40] ahtinurme commented on #2783
@curquiza curious question is that how do you expect the pretty print to work in bash as this is something that can be done on the client side (you), not on the server side (Meilisearch)?

[2022-09-19 11:53] amab8901 commented on #2783
I don't know how it's supposed to work in Bash. I haven't figured out how to do pretty-print in bash. I looked it up and apparently I'm supposed to use the `-i` tag after the `curl` to get pretty print, but even then the pretty print doesn't come.

I'm copying+pasting the command proposed in the documentation, and it gives a non-pretty print unlike the pretty print that the docs suggest should be

[2022-09-19 12:16] amab8901 commented on #2783
oh, I figured out how to do it. Here's how.

Here is how I typed previously, and it failed to pretty-print the JSON string:
`curl   -X POST 'http://localhost:7700/indexes/meteorites/search'   -H 'Content-Type: application/json'   --data-binary '{ "filter": "mass < 200" }' `

And here's how I'm typing now, and it successfully pretty-prints the JSON string:
`curl   -X POST 'http://localhost:7700/ind

[2022-09-19 12:16] #2783 closed

[2022-09-19 14:35] sojeda opened #2784 "Corrupted data during search/documents meilisearch"
**Describe the bug**
On Friday I had 50 thousand records indexed, and at the time of searching everything worked fine. On Sunday it indexes 150 thousand documents, and now when using the endpoint the JSON the returned json is cut (o is cut short)

I couldn't figure out what it was, or if I have to configure anything extra because it used to work with fewer documents before.

**To Reproduce**
Steps

[2022-09-19 15:01] curquiza commented on #2783
Hello everyone, indeed this is something you should handle on your side 😄

Thanks for answering @ahtinurme

[2022-09-19 15:25] curquiza opened #2785 "Create `too_many_open files` errors"
When Meilisearch opens too many FDs, you get the following error

[code]

We want to replace
- the code (not type) `internal` by `too_many_open_files`
- the link `#internal` by #too_many_open_files

## TODO

- [ ] Implement changes in [Milli](https://github.com/meilisearch/milli/)
- [ ] Release a Milli version containing these changes
- [ ] Bump this new Milli version in Meilisearch and merge it i

[2022-09-19 15:29] irevoire opened #2786 "Increase the number of concurrent reader on the indexes"
In order to fix #2648 you need to find every time we open an index and update the [`EnvOpenOptions`](https://docs.rs/heed/latest/heed/struct.EnvOpenOptions.html) to add the `max_readers` option to 1024.

[2022-09-19 15:39] curquiza commented on #2786
As far as I understand, the number of readers will now be 1024 and not 126 anymore

Pinging @meilisearch/docs-team: it's related to this issue I opened: https://github.com/meilisearch/documentation/issues/1870

[2022-09-19 15:40] curquiza commented on #2648
Closing this in favor of https://github.com/meilisearch/meilisearch/issues/2786

[2022-09-19 15:40] #2648 closed

[2022-09-19 16:12] curquiza opened #2787 "Delete documents by query parameters (with `filter`)"
Related to this product issue: https://github.com/meilisearch/product/issues/283

## Goals

Delete some documents based on a `filter` query string

## How it works?

When calling `DELETE /indexes/:uid/documents` the user should be able to pass a query parameter `filter`. The syntax of `filter` is exactly the same as we can use on the search side (with `POST/GET /indexes/:uid/search`), see the [ass

[2022-09-19 16:20] curquiza opened #2788 "Use wildcard (`*`) at the end of the index names when creating API keys"
Following
- this product discussion: https://github.com/meilisearch/product/discussions/491
- this spec: https://github.com/meilisearch/specifications/pull/189

## Goal

Allow using the wildcard `*` at the end of the index name (in `indexes` field) when creating API keys

## How does it work?

When [creating an API key](https://docs.meilisearch.com/reference/api/keys.html#create-a-key), the `*` sh

[2022-09-20 08:34] amab8901 commented on #2787
I think this issue is interesting, I'll try fixing it!

[2022-09-20 10:06] curquiza commented on #2787
Hello @amab8901,
thanks for your involvement, looking forward to reviewing your PR ❤️

[2022-09-21 05:06] amab8901 commented on #2787
I noticed that `filter` query string works only for POST request currently, and not GET request. When you search, you don't use GET request. You only use POST request, and you're deciding what you want to create in the search results list. GET can only give you the entire database rather than selected parts of it, as of this writing.

[2022-09-21 08:14] curquiza commented on #2787
@amab8901 FYI even if you have found how to do it, it's currently possible with Meilisearch to do a search with `GET` and thus, having `filter` as query parameter (in the URL)

[2022-09-21 09:48] gmourier commented on #2782
Hey @derhuerst

I'm not sure to understand. Why are you trying to reach Meilisearch with `7701` and not `7700`?

[2022-09-21 10:09] derhuerst commented on #2782
Sorry, that is a mistake, I meant `7700`. The point of the `curl -6` command under *Expected behavior* is to show that it should work IPv6-only.

[2022-09-21 10:12] derhuerst commented on #2782
I have edited the Issue to reflect what I'm asking for.

[2022-09-21 11:29] #2774 closed

[2022-09-21 11:53] anthonycook opened #2791 "Selecting multiple of the same facet not working"
When I select a facet I can't select more than one as they disappear, see the example video below where I can not select another brand as it they disappear when applying the filter.

[Video Here](https://drive.google.com/file/d/1s0oPtGWL7CI4VhJFFcZ6aMefq7uavilU/view?usp=sharing)

That example is using instant search but even when writing a raw query it happens:

Example query:
[code]

Example resp

[2022-09-21 12:13] gmourier commented on #2791
Hi, @anthonycook

This is related to how facets are computed; you will find more information [here](https://github.com/meilisearch/product/discussions/187#discussioncomment-3631390). There is something we want to solve, but we do not know how/when exactly (It could be solved by emitting multiple requests from instant-meilisearch (for a first iteration) or Meilisearch API could accept an array of r

[2022-09-21 12:20] anthonycook commented on #2791
Hi @gmourier,

Thanks for the reply, when checking out the demos repo I can see that it has this functionally and it works as I would expect (you can select multiple genres for example). How does the demo achieve this?

Demo:
[https://codesandbox.io/s/ms-is-mese9?fontsize=14&hidenavigation=1&theme=dark](url)

[2022-09-21 12:29] gmourier commented on #2791
I think this is because you may only have one brand per document, right?

So Meilisearch will filter out every other documents that are branded by `Games Workshop`. In the demo that you shared, documents have multiple genres.

[2022-09-21 12:37] anthonycook commented on #2791
That makes sense, thank you for taking the time to explain it to me. Hopefully there will be a solution for this in the future.

[2022-09-21 12:39] #2791 closed

[2022-09-21 12:48] gmourier commented on #2791
https://github.com/meilisearch/product/discussions/187#discussioncomment-3699746

We will try to fix this from the instant-meilisearch side as a first iteration!

[2022-09-21 15:14] curquiza opened #2792 "Add CI job to create a silicon macos binary"
Following this product discussion: https://github.com/meilisearch/product/discussions/518

## Goal

For each release, we run a CI creating binaries corresponding to the new release.
Currently, we don't provide any binaries natively compatible with Apple Silicon computers

## How?

In this file: https://github.com/meilisearch/meilisearch/blob/main/.github/workflows/publish-binaries.yml
- create a n

[2022-09-21 15:33] #2720 closed

[2022-09-21 18:08] amab8901 commented on #2787
I managed to reproduce the error in my Client API, and also managed to narrow down the relevant code to a handful of files in a single folder. This is my first open-source contribution so please excuse me if it takes a while to get it done.

[2022-09-21 22:21] mohitsaxenaknoldus commented on #2792
Hey, can I work on this one?

[2022-09-22 00:16] sojeda commented on #2784
When I have few records it does not happen to me, but when it exceeds 20000, yes.

Could it be the server? I have task enqueued for a long time
[code]

[2022-09-22 07:56] curquiza commented on #2792
Hello @mohitsaxenaknoldus

yes you can! 😄
Thanks for your interest in this project :)

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guid

[2022-09-22 10:11] curquiza commented on #2787
So cool you make your first contribution with us then! 😄
Feel free to ask any question you need

[2022-09-22 10:28] gmourier commented on #2782
Thanks, @derhuerst.

I've asked for confirmation about ipv6 support from the technical team. I will keep you informed, in the meantime you could maybe help us to understand a bit more about your issue.

I'm not sure I understand, my knowledge of the differences with ipv4 and ipv6 is limited.

Tell me if I'm wrong:

- If Meilisearch is mounted on the local loop address in ipv4 format.
- That the se

[2022-09-22 11:03] derhuerst commented on #2782
Sorry for being pedantic here, but I feel like it clarifies the situation: It doesn't have to "pass" the request on. Meilisearch can handle the IPv6 request directly, just like it handles IPv4 requests. In fact, letting Meilisearch listen on the IPv6 loopback interface (`::1`) *already works*!

`meilisearch --http-addr '[::1]:7700'` works already.

What I want is that, if a *hostname* (or domain,

[2022-09-22 13:05] mech commented on #2484
I am curious, if my field got value `null`, does this `EXISTS` work? I am trying to do a filter UI with the operator option named "Is empty" and "Is not empty" sort of like Notion filter. But it seems like this is not possible.

<img width="459" alt="82kex_21_04_27" src="https://user-images.githubusercontent.com/5850/191754576-ef23795b-f8bb-42a1-b9b6-c450b34e98fb.png">

Will there be any support i

[2022-09-22 13:23] irevoire commented on #2484
Hey @mech,
Currently, the `exists` filter matches the documents where the field _exists_.
Existing means the field in the JSON being equal to `null` doesn't change anything about its existence.

What you're asking for would be another feature we've already thought about. It's not planned currently, but I'm going to open a discussion on our product repository, and it would be nice if you could answ

[2022-09-22 14:28] curquiza commented on #2782
I discussed with @Kerollmops and @gmourier, this is an improvement we would indeed see in our engine. Since we don't really know how to do it and it's not one of our priorities so far, we are really open to contributions!
I've updated the issue description accordingly

[2022-09-22 15:16] curquiza commented on #2787
For everyone watching this issue, I've updated the issue to return the `filter` string in the task body!

[2022-09-22 19:09] amab8901 commented on #2787
`meilisearch/meilisearch-http/tests/documents` seems to be the place where I should be editing, but I'm not really sure since this belongs to the `tests` folder rather than `src` folder. Can you confirm?

[2022-09-23 10:11] oluademola commented on #2784
Hello @sojeda

It is difficult to ascertain what is wrong as I cannot reproduce the problem. I have tried with an index containing over 100k records, but I do not experience the JSON cut. If your data contains sensitive information, perhaps you could assist prepare non-sensitive data we could use for troubleshooting.

Regarding indexing speed, it depends on many factors like your server resource (

[2022-09-23 13:18] sojeda commented on #2784
No problem, thank u!
Solved!

the problem was that the server had very little disk space left, I leave the comment here in case it helps

[2022-09-23 13:18] #2784 closed

[2022-09-23 15:57] amab8901 commented on #2787
`let (response, code) = index.get_document(0, None).await;`

I need to put `Option<GetDocumentOptions>` instead of `None` above. I'm trying to figure out how to put those options in there.

[2022-09-24 09:17] semi-infiknight commented on #2785
please assign me this issue

[2022-09-26 08:47] curquiza commented on #2785
Hello @semi-infiknight

Thanks for your interest in this project 🔥

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors from opening a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https:

[2022-09-26 09:20] curquiza commented on #2776
@meilisearch/core-team I would like to have your opinion on this 😇

[2022-09-26 09:22] irevoire commented on #2300
Everything has been tested

[2022-09-26 11:08] irevoire commented on #2776
If someone wants to do it, I think he'll be happier with a one-step process and then fix your settings than a two or three steps process to fix your settings in the exact same way finally.
Also, we're emitting warnings when something changes or a setting has been renamed. To me, it's way easier to follow a one-step process with every warning happening at the same time than aggregating everything o

[2022-09-26 12:45] curquiza opened #2799 "Rename `receivedDocumentIds` into `matchedDocuments`"
In the case Meilisearch is doing a deletion by batch using the following route `POST /indexes/{{indexUID}}/documents/delete-batch`, the task information retrieve when getting `GET /tasks/{{taskUID}}` are as following:

[code]

We need to replace `receivedDocumentIds` by `matchedDocuments`

## TODO

- [ ] Implement the changes and merge to the `main` branch (this part is available for external cont

[2022-09-26 13:55] gmourier commented on #2784
Thanks, @sojeda!

DId you find that information by looking at the asynchronous `tasks` resources?

[2022-09-26 16:59] YashPimple commented on #2799
@curquiza can you assign it to me would like to work on it?

[2022-09-27 08:59] Kerollmops commented on #2765
Hey everyone!

This error is triggered in the indexation process when there is no more available disk space, it can be strange that this issue is triggered as there looks like there is available space, but the engine uses a lot of temporary file in the process. @irevoire is on a linux platform that uses another disk partition for the temporary files, and this partition was filled during the indexi

[2022-09-27 10:12] curquiza commented on #2765
I close this issue then! Thanks @Kerollmops for the answer

[2022-09-27 10:12] #2765 closed

[2022-09-27 11:14] curquiza commented on #2799
Hello @YashPimple

Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors from opening a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements t

[2022-09-27 11:47] curquiza opened #2800 "Add environement variable `MEILI_CONFIG_FILE_PATH` to define the config file path"
Should be done once this PR is merge: https://github.com/meilisearch/meilisearch/pull/2745
This issue is a sub issue of https://github.com/meilisearch/meilisearch/issues/2558

Once https://github.com/meilisearch/meilisearch/pull/2745 is merged, it will be possible to pass a config file by using `--config-file-path` flag. We need to create the associated env variable `MEILI_CONFIG_FILE_PATH`

[2022-09-27 11:56] curquiza opened #2801 "Return error when `config_file_path` is put in the config file"
It should be done once this PR is merged: https://github.com/meilisearch/meilisearch/pull/2745
This issue is a sub-issue of https://github.com/meilisearch/meilisearch/issues/2558

Once https://github.com/meilisearch/meilisearch/pull/2745 is merged, it will be possible to pass a config file to Meilisearch. When using a key that is not known by Meilisearch in the config file (for instance, "no_analy

[2022-09-27 13:17] choznerol commented on #2800
If both `--config-file-path` and `MEILI_CONFIG_FILE_PATH` are present, which one should take precedence?

[2022-09-27 13:32] Kerollmops opened #2802 "Support gzip, brotli, and deflate in requests and responses"
We would like Meilisearch to accept user queries that are `content-encoded` in `gzip`, `br`, and `deflate`. This way, users will be able to send their payloads directly in gzip, brotli, or deflate to the engine, and the engine should be able to receive it blindly.

We are using actix-web for our HTTP engine. There already is [a middleware that is made explicitly for that](https://docs.rs/actix-web

[2022-09-27 14:40] Kerollmops opened #3359 "Indexing progress ratio"
This issue describes the work we must do to expose a progressing status number on a task's status. The HTTP front page probably wants an always-increasing number from 0% to 100%. The milli progression system will output a number between 0.0 and 1.0.

## Technical approach in Milli

### Transform

This process converts, validate the documents and merge duplicated documents.

It is possible to call

[2022-09-27 14:56] ManyTheFish commented on #2787
Hello @amab8901,
While trying to make suggestions about the implementation of the feature, we figured out that this would impact a lot of parts in the code, including:
- the HTTP server
- the task scheduler, which is currently completely rewritten by the core team that will imply painful merge conflicts
- the dumps, which is a "protected" part where we avoid external contributions

Moreover, speak

[2022-09-27 14:56] #2787 closed

[2022-09-27 15:01] amab8901 commented on #2787
no worries! If you're going to implement this kind of change though, I think you should first have a ticket that instruct people to add a test for the filtering of GET requests. I couldn't find any tests for filtering GET requests, and i'm surprised at this. I think you should add this and I really don't know how it's supposed to look like because I couldn't find any examples of filter option actu

[2022-09-27 15:20] amab8901 commented on #2802
I'll try solving this!

[2022-09-27 15:51] curquiza commented on #2787
Thanks @ManyTheFish, for the answer

And @amab8901, sorry for the confusion, indeed we were too optimistic.

[2022-09-27 16:06] curquiza commented on #2802
Hello @amab8901

Thanks for your involvement 😇

[2022-09-27 16:37] irevoire commented on #2680
Hey @onyxcherry sorry for the huge delay!

I don't like to match on a string that could change at any time if serde decides to update their errors. But I like your message I think we could use it in any case. Do you think we want to let the original serde message sometimes?
Or maybe we could look for the `untagged` word in the error message and only override it in this case. Because that's the mai

[2022-09-27 17:43] amab8901 commented on #2802
that makes sense. Also if someone finishes it before me, then I can use their solution as feedback on what I missed in my own attempts

[2022-09-27 19:55] onyxcherry commented on #2680
0. `untagged` attribute which - as you say - causes the issue appears only once in the meilisearch code so perhaps the error message provided by serde should be (completely) changed only there,
1. User data are validated against untagged enum in the _whichever matches first, we return_ (from a parsing function) way,
2. So the best, explanatory and helpful error messages are these listing all the o

[2022-09-27 20:27] MixusMinimax opened #2806 "Enable the client to specify a custom csv delimiter for parsing documents"
Relates to [meilisearch/product#535](https://github.com/meilisearch/product/discussions/535)

Currently, a default `csv::Reader` is created to parse documents that are passed as csv. I think it would be nice if the user could specify the delimiter, because very often, we have tons of documents from other sources that don't use commas.

[2022-09-27 20:52] justinslud opened #2807 "error when uploading: "message": "internal: number is not a valid finite number.""
I have a script that runs a database query, receives the response at json, then uploads that json to meilisearch (v0.28.1, running bare-metal on debian). The first few times I ran the script there were no errors, then I suddenly got this message from the `/tasks` endpoint:

[code]

Any ideas what this could be? Thank you!

[2022-09-28 10:47] warmwhisky opened #2879 "Idle timeout reached on the `/search` endpoint"
I keep getting the following error even though cpu and memory are not at 100 percent.

[code]

I have 73,000 documents in the index `guitar_tunings_posts`

I found this issue https://github.com/meilisearch/meilisearch-php/issues/262 however I was not able to figure out how to do the following in Laravel

Do you have any ideas on a solution?

Meilisearch Search version : 0.27.1
meilisearch-php vers

[2022-09-28 11:40] curquiza opened #2808 "Better error when setting a wrong key in the config file"
It should be done once this PR is merged: https://github.com/meilisearch/meilisearch/pull/2745

Once https://github.com/meilisearch/meilisearch/pull/2745 is merged, it will be possible to pass a config file to Meilisearch. When using a key that is not known by Meilisearch in the config file (for instance, "no_analytic" instead of `no_analytics"), Meilisearch returns an error when trying to read th

[2022-09-28 14:07] amab8901 commented on #2787
@curquiza I still think that there needs to be a test for the filtering feature on the GET document requests, so I'm working on figuring it out until I got it solved. I finally overcame the primary obstacle I had where I struggled to instantiate a struct. I finally figured out how to do it. Wow. Unbelievable.

[2022-09-28 14:19] amab8901 opened #2809 "Missing Test for Filtering of GET Requests"
**Describe the bug**
You can send GET request to get filtered documents, but this functionality isn't covered in the tests. We need this scenario to be covered in the tests to increase robustness and not leave anything to chance. Otherwise it could be a blindspot for bugs and other types of issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Send API request to `http://localhost:7700/ind

[2022-09-28 14:59] amab8901 commented on #2809
Here's what I wrote so far:

[code]

The biggest challenge for me is this row:
`fields: Some(vec![""]),`

No matter what I insert as argument in `vec![]`, it returns only an empty object (and consequently the test fails

[2022-09-28 16:54] curquiza commented on #2787
Just to be sure there is no lack of communication and no confusion: this is not a feature we want to develop now, so we won't accept any PR for this. We need to discuss it with the product team deeper. However, we don't give up on it, it's just we don't know yet HOW we want to provide the feature. So I don't recommend working on this issue because we don't expect what I described in the descriptio

[2022-09-28 18:12] suselunarwolf commented on #2788
Hi ,is the issue is still open.how can i contribute on this issue.

[2022-09-28 22:19] jirutka opened #2811 "Add support for logging to local syslog"
Meilisearch HTTP currently logs all messages to the stderr output. When Meilisearch is run as a system service, users usually want to aggregate logs from all system services and reroute them as needed (to different files, remote log servers etc.). Unix systems typically use syslog for this.

[2022-09-28 23:43] jirutka opened #2813 "Integration tests fail to build when mini-dashboard is disabled"
**Describe the bug**
Integration tests fail to build when `mini-dashboard` feature is disabled.

**To Reproduce**
[code]

**Expected behavior**
It shall pass.

**Meilisearch version:** [e.g. v0.20.0]
v0.29.0rc4

[2022-09-29 00:10] irevoire commented on #2809
Hey, @amab8901, thanks for your enthusiasm!

Meilisearch does not execute the filters; that's why there is not much test in this repository.
The actual filtering happens in [milli](https://github.com/meilisearch/milli), and there is a bunch of tests that cover a different part of the filtering process;
- [The parsing tests](https://github.com/meilisearch/milli/blob/main/filter-parser/src/lib.rs#L4

[2022-09-29 11:24] curquiza commented on #2813
Hello @jirutka thanks for the report and the PR!

We will review it asap! 😄

[2022-09-29 11:28] curquiza commented on #2788
Hello @suselunarwolf

Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!
Our contributing guidelines are available [here](../blob/main/CONTRIBUTING.md) and will guide you through your contribution. If you have any question you can also ask them here!

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned an

[2022-09-29 11:30] curquiza commented on #2809
Hello @amab8901!
Thanks @irevoire, for having answered

I close this issue then since the answer has been given, and the tests exist on milli's side! 😊

[2022-09-29 11:30] #2809 closed

[2022-09-29 11:38] irevoire commented on #2680
Hoy @onyxcherry!

I didn't know this existed; it's perfect for us. Thanks for finding that out!
Do you want to implement it?

[2022-09-29 11:42] curquiza commented on #2806
Hello @MixusMinimax!

Thanks again for this suggestion, I discussed it with our PM, and we think it could be indeed useful. However, as I told you already in the PR, this impacts the user interface and the product team need more time to really think about the suggestion.

So I will close this issue in favor of this discussion in the product repo https://github.com/meilisearch/product/discussions/5

[2022-09-29 11:42] #2806 closed

[2022-09-29 11:50] curquiza commented on #2811
Hello @MixusMinimax!

Thanks again for this suggestion, I discussed it with our PM, and we think it could be indeed useful. However, this impacts the user interface, and the product team needs more time to really think about the suggestion. Unfortunately, this feature is not the one we want to prioritize right now, we have other features to work on before this one, so I cannot give you any precise

[2022-09-29 11:51] #2811 closed

[2022-09-29 11:55] jirutka commented on #2811
Not to a specific file, but to [syslog](https://en.wikipedia.org/wiki/Syslog), the standard for message logging on unix systems.

[2022-09-29 12:33] curquiza opened #2816 "Suggestion: sign releases"
From @sbrl in https://github.com/meilisearch/product/discussions/540

[2022-09-30 12:27] greensea opened #2820 "Filter "id > xxx" returns incorrect result"
**Describe the bug**
I like to fetch some data that the id is greater than 69, so I send the request:
[code]
The filter is `"id > 69"`, expecting the result do not contains item with id 69.  However, the result contains item of id 69:
[code]
This is not correct, the #69 item should not be returned. Only the #70 item should be returned.

If I send the request asking for id > 68, then the result is

[2022-09-30 14:25] roshammar opened #2821 "Quoted search breaks when adding a custom ranking rule"
**Describe the bug**

I want to add a custom ranking rule, so that higher rated items are ranked better.

Everything works as expected if I add a custom ranking rule *at the end of the list* as shown here (using the python client):

[code]

However, I wanted my custom ranking rule to have a bigger impact and moved it towards the start of the ranking rules list.

[code]

Doing this produces no erro

[2022-10-01 00:12] meili-bot opened #2822 "Upgrade dependencies"
We need to update the dependencies of the Meilisearch repository, and, if possible, the dependencies of all the core-team repositories that Meilisearch depends on (milli, charabia, heed...).

⚠️ This issue should only be done at the beginning of the sprint!

[2022-10-01 04:56] hwittenborn opened #2823 "`Try me...` search button on homepage not working"
Sorry if this is the wrong repository to post this in, I couldn't find a repository called `meilisearch.com` or anything like that in this organization.

**Describe the bug**
The search bar on the Meilisearch homepage isn't working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the search bar in the screenshot below.
2. Type in any text.
3. See no responses.

**Expected behavior**
So

[2022-10-01 12:06] irevoire commented on #2823
Same, it doesn't work for me either :grimacing:

[2022-10-01 14:08] irevoire commented on #2820
Hey @greensea, it's strange that you can't reproduce the issue, is the production running the same version of meilisearch as you?

[2022-10-01 21:00] Ugzuzg commented on #2788
- Can the wildcard be at the start of the pattern? `*_end`
- Can it be in the middle of the pattern? `start_*_end`
- Can there be multiple wildcards in a single pattern? `start_*_middle_*_end`

[2022-10-01 21:54] Rutam21 commented on #2785
@curquiza Can you help me with finding the place where this change needs to be done? Thanks.

[2022-10-01 22:01] Fall1ngStar commented on #2782
According to [actix doc](https://actix.rs/actix-web/actix_web/struct.HttpServer.html#hostname-resolution), the bind is made for both IPv4 and IPv6 when a hostname is specified (localhost or any FQND). The issue here is that meilisearch binds by default to `127.0.0.1:7700` instead of `localhost:7700`, which limits the bind to the IPv4 address.

The simple fix would then be to change the default bin

[2022-10-02 00:31] ishani-1255 commented on #2810
Hi , If this issue is open I would love to work on it.

[2022-10-02 05:00] Ln11211 commented on #1966
Hey there,
What exactly should one do to tackle/close this issue successfully? Do I need to test for the same error and post the logs somewhere?

[2022-10-02 05:01] Ln11211 commented on #1966
I'm interested, but I want to know more about it before I commit. Any help @curquiza :)?

[2022-10-02 12:04] irevoire commented on #2810
Hello @ishani-1255,

Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!
If everything goes well, we're going to merge #2745 on Monday, it would be nice if you could sync the comments between the default config file and the cli. I'll update the issue to mention it.

Our contributing guidelines are available [here](../blob/main/CONTRIBUTING.md) and

[2022-10-02 12:10] irevoire commented on #2788
From what I understand of the product discussion, what we want here is;

This means we only accept API keys that end with a wildcard and nothing more.
Thus only `start_*` and none of your examples.

Just to be absolutely sure, can you confirm @gmourier?

[2022-10-02 13:05] Enforcer007 commented on #2788
I've started working on this feature. Will let you give a PR shortly.

[2022-10-02 18:16] psvnlsaikumar commented on #2802
I have run the below cURL and the index did seem to have created.

`echo '{"uid": "sai-test-temp","primaryKey": "id"}' | gzip | curl -v -i --data-binary @- -H "Content-Encoding: gzip"  -H "Content-Type: application/json" http://localhost:7700/indexes`

Below is the full verbose mode of this cURL

` $ echo '{"uid": "sai-test-temp","primaryKey": "id"}' | gzip | curl -v -i --data-binary @- -H "Conten

[2022-10-03 04:02] Celeo commented on #2801
Is this the only key that would prompt such an error, or is / would there be a list of these such keys?

[2022-10-03 07:16] greensea commented on #2820
Yes, I have the same version between local and production.
I think this is a very odd issue, some operations in the production environment trigger this issue. Any idea about how to investigate further?

[2022-10-03 08:41] curquiza commented on #2801
Hello @Celeo
So far, it's the only key with this specificity 😊

[2022-10-03 08:50] curquiza commented on #2820
Hello @greensea
Sorry for the bug in the production.

It's indeed really complicated to fix the bug if we cannot reproduce it 😕
What is the difference between your local environment and your production one (machine, dataset, settings...)?

Do you still have the issue in production right now?

[2022-10-03 10:24] #2558 closed

[2022-10-03 10:24] #2799 closed

[2022-10-03 10:24] #2813 closed

[2022-10-03 10:45] bidoubiwa opened #2832 "Cannot allocate memory (os error 32) when there is memory left"
**Describe the bug**
I created 1200 indexes, for that I updated my `ulimit` to 2000. Then I opened the mini-dashboard and received the following error:

[code]

After checking with my ram consumption this is where I am:
<img width="851" alt="Screenshot 2022-10-03 at 12 44 07" src="https://user-images.githubusercontent.com/33010418/193558991-e0212496-2a46-4cf0-8f39-eba312baf209.png">

<img width="6

[2022-10-03 10:56] irevoire opened #2833 "File not included in the project"
We dropped the support for dump v1 and forgot to delete this file.

https://github.com/meilisearch/meilisearch/blob/main/meilisearch-lib/src/dump/loaders/v1.rs

[2022-10-03 11:00] Utkarsh212 commented on #2833
Please assign this to me so I can work on it.

[2022-10-03 11:35] bidoubiwa commented on #2832
It is not linked to the minidashboard. I tried it on a different browser configuration

[2022-10-03 11:37] curquiza commented on #2832
Hello @bidoubiwa
Isn't it the same issue as https://github.com/meilisearch/meilisearch/issues/1841?

[2022-10-03 11:44] #2833 closed

[2022-10-03 12:18] Enforcer007 commented on #2788
What's the idea behind using (uid, action, index_name) as key for action_keyid_index_expiration database ?

Can just use (UID,) as the key 🗝️.

[2022-10-03 12:56] bidoubiwa commented on #2832
Indeed it is a duplicate!

[2022-10-03 12:59] curquiza commented on #2832
Closing then!

[2022-10-03 12:59] #2832 closed

[2022-10-03 13:37] greensea commented on #2820
The issue still exists. If the issue can be reproduced by copying the data file, is it helpful to debug it? If so, I can copy the data file to local to see if the issue could be reproduced.

[2022-10-03 13:54] greensea commented on #2820
The production environment is docker at AWS. The local environment is Debian.
I think the most difference is the data, the production env is real product data, and the local env is arbitrary testing data.

[2022-10-03 13:57] curquiza commented on #2820
It would be awesome if you succeeded in reproducing the issue locally so that we can reproduce it! 🙏
In this case, please, could you send the dataset by email and the detailed steps to reproduce it? It would really help us! Be sure we will only use it for test purposes, and we will delete it once we have fixed it. We already did it with some users to fix tricky bugs with private datasets.

[2022-10-03 14:18] curquiza commented on #2801
FYI https://github.com/meilisearch/meilisearch/pull/2745 has been merged and is ready to be implemented! 🎉

[2022-10-03 15:38] AnirudhDaya opened #2840 "Broken Link in CONTRIBUTING.md"
**Describe the bug**
A broken link to the hacktoberfest contributing guidelines.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to [contributing.md](https://github.com/meilisearch/meilisearch/blob/main/CONTRIBUTING.md#hacktoberfest-2022)
2. Click on the hyperlink 'website'
3. See error.

**Expected behaviour**
Should redirect to I suppose this [website](https://hacktoberfest.com/partici

[2022-10-03 15:39] AnirudhDaya commented on #2840
If this is valid can you assign this issue to me?

[2022-10-03 15:43] curquiza commented on #2801
Not exactly.
Meilisearch accepts a config file since https://github.com/meilisearch/meilisearch/pull/2745 was merged.
To let Meilisearch know you have a config file, either your file is `./config.toml`, or your file is passed via the `--config-file-path` flag.

But in the config file itself, we don't want to let the users define the path of the config file: it makes no sense, like a "loop", since

[2022-10-03 15:44] curquiza commented on #2840
Hello, yes you can fix it 👍 thank you very much

[2022-10-03 15:50] Kerollmops commented on #2802
Hey @psvnlsaikumar,

It is strange indeed as we never changed anything on our side to accept compressed requests. This issue was raised because we wanted our users to be able to send documents, e.g. CSV, JSON, JSON-lines, in a compressed manner. On the other hand, we would also like to compress a server answer if it is possible.

Don't you think that it would be possible that cURL would do a prefl

[2022-10-03 15:53] gmourier commented on #2788
Hi everyone 👋

Answering to https://github.com/meilisearch/meilisearch/issues/2788#issuecomment-1264628190 and https://github.com/meilisearch/meilisearch/issues/2788#issuecomment-1264478468

Thus only start_* and none of your examples.

What do you think of making it more versatile without enforcing a specific indexes name format? Do we see issues by doing that?

Listing @Ugzuzg ideas here:

- Can

[2022-10-03 15:53] gmourier commented on #2788
Can just use (UID,) as the key 🗝️.

Not sure to understand your question @Enforcer007! I'm sorry.

[2022-10-03 15:55] Ugzuzg commented on #2788
Not really. I wanted to start working on this, so tried to clear up the requirements.

[2022-10-03 16:04] Fall1ngStar commented on #2782
I was fiddling with binding to multiple addresses before finding that this issue can be addressed with the change to `localhost`. I'm not sure about your question, maybe the original author (@derhuerst) have the answer. The bind to multiple addresses can be useful if one wants to bind to multiple domain name (for instance `foo.com` and `bar.com`). I can submit a PR for either change

[2022-10-03 16:14] AnirudhDaya commented on #2840
Hey, @curquiza I have a few questions:
1. Is [this](https://hacktoberfest.com/participation/) the correct website the link should be redirected to?
2. Is this a valid contribution towards hacktober fest 2022? If yes could you add the corresponding label?
3.  Could you please assign this issue to me?

[2022-10-03 17:27] psvnlsaikumar commented on #2802
@Kerollmops
if the cURL would do a preflight call, and then uncompress it before sending the request, the content-encoding header of the request would have been changed is what I am expecting
I am not sure if it would uncompress the requests while in transit though. or maybe there is some change in the actix?
Were there any logs that we can look at when the request failed from the time when we cre

[2022-10-03 17:52] irevoire commented on #1966
Hey @Ln11211, basically, we don't know; the first thing you should do is enable these tests and try to run a `cargo test` on windows.
If it doesn't work, it's nice; you'll be able to debug it from your machine.
If it works, you should fork our repo and let the CI crashes for you.

Sorry, we don't know why it's failing or how to fix the issue. We don't even have a windows machine to reproduce the i

[2022-10-03 17:57] #2786 closed

[2022-10-03 17:59] irevoire commented on #2785
Hey @Rutam21,

I think you'll need to add a variant in the [`Code`](https://github.com/meilisearch/meilisearch/blob/main/meilisearch-types/src/error.rs#L116-L173) to represent the error.
And then in the [`MilliError`](https://github.com/meilisearch/meilisearch/blob/main/meilisearch-lib/src/error.rs#L18-L55) enum you should look for every variant that can output a `TooManyOpenFiles` error and map i

[2022-10-03 18:32] #2680 closed

[2022-10-03 18:43] Enforcer007 commented on #2788
I've got it, keys are hashed with respect to uid ,index_name, and action. For every request, uid, index_name and action are extracted and then compared with the hashed keys of action_keyid_index_expiration database.

For implementing the index pattern, I think we need to take out the index_name from the key and put into value as series of indexes. i.e, `uid, action` will be key  and `all indexes,

[2022-10-03 18:59] irevoire commented on #2788
@gmourier

Personally I don't mind, maybe someone else from the core-team will have something to say though @ManyTheFish, @loiclec or @Kerollmops (answer fast please so we don't block the contributors).

BUT;
1. We should not try to handle anything more than what is provided in the regex crate of rust.
2. We should put some limit on the regex engine to be sure nothing can DOS us. See https://docs.

[2022-10-03 21:10] kuchaguangjie opened #2842 "POST & PUT are not used in restful style?"
In `Restful` API:
- `POST` should always create a new entity.
- `PUT` should replace the entity entirely.
- `PATCH` is the one used to update entity partially.

But in `meilisearch`:
- `POST` `/indexes/{index_uid}/documents` add or replace documents.
  So, it's like a combination of restful's `POST` and `PUT`.
- `PUT` `/indexes/{index_uid}/documents` add or update documents.
  So, it's like a comb

[2022-10-03 22:20] herlon214 commented on #1195
Looks like this issue started to happen again with release v0.20.0 MacOS M1 here

[2022-10-03 23:01] herlon214 opened #2843 "Rust SDK not working with v0.20.0"
**Describe the bug**
I'm using meilisearch-rust v0.20.0 but when I try to create an index it shows error 404. I will post here because I'm not sure if it's a rust sdk issue or some endpoint was left behind in the meilisearch deploy.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a rust sdk
2. Try to create an index using `client.create_index("my_index", Some("id")).await`
3. Check on me

[2022-10-03 23:09] herlon214 commented on #2843
Closing here, I was using the wrong version.

[2022-10-03 23:09] #2843 closed

[2022-10-04 07:45] curquiza commented on #1195
@herlon214 what do you mean? Meilisearch v0.20.0? or one of the SDK v0.20.0?

[2022-10-04 07:48] curquiza commented on #2842
Hello @kuchaguangjie

@gmourier will be the best to answer this 😇

[2022-10-04 07:58] groentebroer opened #2844 "Meilisearch auto-batching uses a lot of space on /tmp, "out of space" error"
**Describe the bug**
When adding new sets of documents to the index through the API, the indexer stops indexing after a certain amount of time. The `/tasks`
API endpoints shows "No space left on device (os error 28)". The partition where the index should be placed has plenty of space available. The `/tmp` has limited amount of space, because that was not needed (until now maybe?)...

Adding `--dis

[2022-10-04 08:00] curquiza commented on #2840
1. Here is the [correct link](https://hacktoberfest.com/participation/#spam) we want. Thanks for asking
2. Yes it's valid. No need to add any label since the repo has the `hacktoberfest` topic on it: any merged PR in the repo is considered as valid, see the [Hacktoberfest rules](https://hacktoberfest.com/participation/#pr-mr-details)
3. we prefer not assigning people to our issues because sometime

[2022-10-04 08:07] roshammar commented on #2821
Update: It looks like the quoting bug is also triggered by stopwords.

If I do the following in my setup, then quoting also stops working:
[code]

Unfortunately I have not yet been able to create a small code sample to reproduce this. Everything works as expected if I just update `test_ranking()` above and add stopwords, but in my real-world project it breaks.

[2022-10-04 08:41] herlon214 commented on #1195
@curquiza nevermind, I got confused with the rust sdk version and the meilisearch version. Looks like I was trying to use meili v0.20.0 instead of the v0.29.0.
Sorry, my bad.

[2022-10-04 09:23] curquiza commented on #1195
No problem! Feel free to ask your questions [here](https://github.com/meilisearch/meilisearch/discussions) or in our [Slack](https://slack.meilisearch.com/) if you don't know where you can ask 😄

[2022-10-04 09:34] gmourier commented on #2788
Thanks, @irevoire and @Ugzuzg!

In my opinion, these patterns can be adapted to most cases.

- *_end
- start_*_end
- start_*

I think it should also be integrated into the `searchRules` of the tenant tokens.

[2022-10-04 09:38] curquiza commented on #2788
For contributors: please only open a PR for the actions when creating indexes, I will open another issue (+ PR) for the tenant token

[2022-10-04 10:12] loiclec opened #2846 "Upgrade `clap` dependency to 4.0"
Currently `meilisearch-http` and `meilisearch-lib` depend on `clap 3.1.6`. We would like to upgrade it to `clap 4.0.9`. The changelog/migration guide with the list of breaking changes is available here: https://github.com/clap-rs/clap/blob/master/CHANGELOG.md#400---2022-09-28

Ideally the behaviour and format of the meilisearch command line would not change by upgrading `clap`.

---
Feel free to a

[2022-10-04 10:38] #2840 closed

[2022-10-04 11:58] curquiza opened #2849 "Upgrade alpine from 3.14 to 3.16 in Docker image"
We've updated alpine from 3.14 to 3.16 in https://github.com/meilisearch/meilisearch/pull/2827

I open this issue only to let the @meilisearch/cloud-team team know about this change

So closing immediately after open since https://github.com/meilisearch/meilisearch/pull/2827 is merged

[2022-10-04 11:59] #2849 closed

[2022-10-04 12:18] curquiza opened #2850 "v0.29.0 does not work with Debian 10 because of glibc"
Use Meilisearch v0.29.0 freshly new released will lead to this following error

[code]

Reported by @alallema, impacts @meilisearch/integration-team

[2022-10-04 14:17] yenwel commented on #2846
I'm attempting this for hacktoberfest

[2022-10-04 14:21] curquiza commented on #2490
Released done!

[2022-10-04 14:21] #2490 closed

[2022-10-04 14:31] choznerol commented on #2846
Hi @yenwel not sure why it doesn't show up in the `Development` section of right panel, but earlier I have submit #2851 for this issue 😅

[2022-10-04 16:16] curquiza commented on #2846
Don't know why but sometime GitHub fails to link the issue to the PR when you write "fixes #..." in the PR description, but you can add it manually on your PR @choznerol 😉

Indeed @yenwel someone already submitted a PR, if it follows the quality standard and what we expect, we will merge this one! Thanks for your interest, we still have plenty of issues to solve: https://github.com/search?q=org%3A

[2022-10-04 16:46] curquiza commented on #2850
@loiclec @Kerollmops the fix should be done in a branch starting from `release-v0.29.1` and that will be merged into `release-v0.29.1`.
`release-v0.29.1` is already created and starts from `stable`

[2022-10-04 17:58] yenwel commented on #2846
Ok thx good then that I commented. Got it compiling anyway so far I'll if there is any low hanging fruit remaining

[2022-10-04 19:38] Mcdostone commented on #2850
Hi, is there a minimum requirement for the glibc version?

[2022-10-04 20:37] derhuerst commented on #2782
👍

For example, I might want to bind to a specific network interface that has both (an) IPv4 address(es) as well as (an) IPv6 addresses(es).

[2022-10-05 08:12] #2792 closed

[2022-10-05 08:51] gmourier commented on #2842
Hi everyone 👋

I understand it can be a bit weird at first but it seems there is no direct solution to that.

The **resource** being manipulated is not a document but the documents in an index.

If we wanted to be fully compliant with the HTTP Verbs RFC, we would have to update the documents directly via an `indexes/:indexUid/documents/:documentId` resource. Doing that could be dramatic for the DX

[2022-10-05 09:24] gmourier commented on #2782
Thanks, @Fall1ngStar, and @derhuerst.

Let's change the default binding address to `localhost`. 🚀

Wouldn't the convention, in this case, be to give a hostname to the addresses of this network interface within the host file and then use that hostname at launch with `--http-addr`?

[2022-10-05 12:25] Fall1ngStar commented on #2782
Perfect, I’ll make the PR in the day

[2022-10-05 12:59] choznerol commented on #2846
Turn out it was me accidentally write `fixes #2847` instead of `fixes #2846` 😂

[2022-10-05 14:23] groentebroer commented on #2844
Thanks @curquiza for your response. Looks like we are running into the same sort of problem indeed.
For me the trigger is that it behaves much more different compared to v0.28.1, because of the auto-batching feature.
I know how to overcome the issue and can create a larger /tmp partition, (after doing so I am indeed very happy with the indexing speed improvements, which are related!).

But maybe:

[2022-10-05 14:35] Mcdostone commented on #2850
Do you think it could be interesting to have have CI tests to detect this issue?

I was planning to update meilisearch from `0.28.1` to `0.29.0` and I had to rollback to `0.28.1` because of my glibc version:
[code]

[2022-10-05 15:41] curquiza commented on #2850
Sorry for the issue on your side

This is something we want to avoid in the future, definitely. We supposed it's due to our CI upgrade from ubuntu-18.04 to ubunto-20.04 because GitHub is deprecated ubuntu-18.04 soon...

[2022-10-05 15:43] oluademola commented on #2821
Hello @roshammar. Thank you for the detailed information. I'd take a look at this tomorrow and revert to you.

[2022-10-05 16:30] curquiza opened #2859 "Help us improve Meilisearch's language support!"
Hello everyone,

I know a lot of you are watching this repository and are coming from different countries, speaking different languages, and you might want Meilisearch to improve regarding your own language. It could be possible thanks to you!
However, the issues are not available in this repository since another repository handles the language: [charabia](https://github.com/meilisearch/charabia),

[2022-10-05 16:33] Ln11211 commented on #1966
Hey how do I enable tests? could please tell how to begin, I have read about cargo test( in Rust docs and also installed the cargo package today)

[2022-10-05 16:35] curquiza opened #2860 "Help us improve the engine for Hacktoberfest!"
Hello everyone,

I know a lot of you are watching this repository, and if you read our [contributing guidelines](../blob/main/CONTRIBUTING.md), you might see the core-search-engine is not in this repository but in the [Milli](https://github.com/meilisearch/milli) one, that handle the indexation and the search of one single index.

This means, a lot of issues you might want to do are present in the

[2022-10-05 18:11] kuchaguangjie commented on #2842
If u r going to change that some way later, don't forget that: **user api capability has higher priority than obey some standards.** (aka. don't break user's code).

[2022-10-06 07:33] curquiza commented on #2842
Thanks @kuchaguangjie for your feeedback, I personally completely agree with you.

I close this issue then. Feel free to ask to re-open if needed 😊

[2022-10-06 07:33] #2842 closed

[2022-10-06 09:24] gmourier commented on #2750
To be precise, we don't know if it will be swapping or aliasing. There's a good chance it will be swapping, but I'd rather make that clear from the name of the issue 😇

I'll have more information next week.

[2022-10-06 09:27] gmourier commented on #2842
Thanks, @kuchaguangjie. That's exactly our mantra about it.  If it has to happen someday we will consider it twice before doing it.

[2022-10-06 12:18] #2801 closed

[2022-10-06 12:57] curquiza commented on #1966
Hello @Ln11211
I cannot say more about this issue, as you can see, it's not an issue where we can give you information about how to begin: it's definitely not a "good first issue", but a "help wanted" one. We really don't know why it happens and how to fix it.
We have this test failing on a Windows machine, and if someone could help us with it, for example by running the test on their side and see

[2022-10-06 13:16] curquiza opened #2864 "Cache in GitHub CI - temporarelly commented"
We had weird issue with our CI to be able to merge our PR:

<img width="1905" alt="Capture d’écran 2022-10-06 à 15 14 24" src="https://user-images.githubusercontent.com/20380692/194322335-87400673-f5d1-44df-a548-691c05fd8c45.png">

[Detailed logs](https://github.com/meilisearch/meilisearch/actions/runs/3196622099/jobs/5218796961) (will disappear in 90 days)

To fix this, we had to comment the jo

[2022-10-06 13:36] curquiza commented on #2850
📣 The minimal glibc required by Meilisearch 2.27 (on v0.29.1)

We plan to discuss this with the team to provide clear and transparent information about this in the future, and in the official documentation.

[2022-10-06 13:36] curquiza commented on #2850
Closed by #2862

[2022-10-06 13:36] #2850 closed

[2022-10-06 14:14] #2810 closed

[2022-10-06 14:40] curquiza commented on #2864
Some additional information: the issue never happened when using ubuntu-20.04, it's maybe related. In any case, we cannot use ubuntu-20.04 for the moment.

[2022-10-06 15:25] AntoniosBarotsis commented on #2864
Not entirely sure but with some googling it seems that this might be an issue with GH Runners.

See [here](https://github.com/community/community/discussions/26321?sort=new).

[2022-10-06 17:10] AM1TB commented on #2864
Looking at this error:
[code]
![image](https://user-images.githubusercontent.com/6761018/194375539-4f98df1f-1a24-4597-93f6-54f8e7f09272.png)
And going through the issue reported here https://github.com/actions/checkout/issues/948 this seems related to the [incident](https://www.githubstatus.com/incidents/gq1x0j8bv67v) linked above.

Since Github has marked the incident as resolved, I'll try to rer

[2022-10-07 08:10] leottk opened #2870 "Internal Error : Failed to fill whole buffer"
**Describe the bug**
Hello,

I got this errors when indexing with Meillisearch v0.25.2

[code]

**To Reproduce**

This is the first time i use Meilisearch so i don't know how to reproduce, i just checked the Meilisearch documentation to see the Error code and open this issue.

 Pls help me to resolve this bug.

**Meilisearch version:** [v0.25.2]

[2022-10-07 08:14] leottk opened #2871 "Internal Error: Decoding failed"
**Describe the bug**

Hello,

I open the second issue because i'm not sure that is the same type of error

[code]

**To Reproduce**

This is the first time i use Meilisearch so i don't know how to reproduce, i just checked the Meilisearch documentation to see the Error code and open this issue.

Pls help me to resolve this bug.

**Meilisearch version:** [v0.25.2]

[2022-10-07 11:44] devAndrejM opened #2872 "Search query with some special characters returns all from index"
Meilisearch plugin with Strapi

Bug occurs when search query consist of some special characters like * + - / # etc. The result of search will return everything within the index that is searched but for example when search query has % it won't happen.

[2022-10-07 13:48] amab8901 commented on #2802
Why do you have to write `--data-binary` on the curl? Isn't the data already binary from the gzip?

[2022-10-07 14:16] amab8901 commented on #2802
Oh! I found how to reproduce the problem for POST method (inserting docs into the database):
[code]
Here is the output:
[code]
That looks about right!

[2022-10-07 20:29] #2782 closed

[2022-10-08 10:16] kaermorchen opened #2874 "Tasks request with type `dumpCreation` is always empty"
**Describe the bug**
Tasks request with type `dumpCreation` is always empty

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dump
2. Get request `http://127.0.0.1:7700/tasks?limit=20&type=dumpCreation`
3. Check the response, it will be `{"results":[],"limit":20,"from":null,"next":null}`

**Expected behavior**
The request should contain a task with the type `dumpCreation`

**Meilisear

[2022-10-09 04:27] greensea commented on #2820
@curquiza I reproduce the issue in my local environment with the dataset in production. I have send the dataset to you via email.

[2022-10-09 13:23] sbleh opened #2875 "OOM error only for new indexes despite low resource consumption and even after restart."
**Describe the bug**
After adding around 1300 indices (sometimes 800) I get an "Out of memory (os error 12)" error for every new index I create. Resources were never even close to being exhausted. Adding documents to old indexes works without any problems. Even after restarting the container and adding a single index, I get the same error.

- I run Meilisearch as a docker image in a docker-compose

[2022-10-09 14:07] beheradibas commented on #2864
I would like to fix this issue.
But prior to that if you want me to go through some documentation, I would love to.
I am new to this project and point me in the right direction keeping that in mind.

[2022-10-09 20:25] mou commented on #2802
The reason why some requests support various content-encodings and others do not lie in structures representing requests. Most of the bodies are represented by actix built-in JSON-related structs, which utilize decompression logic (via Payload wrapping). Still, API for documents uses custom-implemented stream-like structures (I think to avoid huge instant allocations).

[2022-10-09 23:59] waveywaves opened #2877 "Investigate increasing developer productivity with pull requests environments"
I would like to make life easier for existing and new Meilisearch contributors including maintainers by implementing [Uffizzi](https://uffizzi.com/) previews.
Disclaimer: I work on Uffizzi
Uffizzi is a Open Source full stack previews engine and is free for Meilisearch. This will provide newcomers with previews of their PRs in the cloud, allowing them iterate faster, without having to first set up

[2022-10-10 06:03] sbleh commented on #2875
Some additional observations:
- Tasks are always OOM after 1307 indexes created
- Going back to v0.28.0 does not solve the issue
- After creating 4000 indexes (1307 successful) the database uses already 63 MB storage (without any documents being added).

[2022-10-10 07:55] curquiza commented on #2820
Thank you very much it will be definitely helpful @greensea

We will try to investigate asap!

[2022-10-10 09:20] Fronix opened #2878 "Importing dumps on Windows giving os error 32"
**Describe the bug**
After the recent update (0.29) I decided to try using dumps when upgrading.
I'm running into an issue where I get this error `Error: The process cannot access the file because it is being used by another process. (os error 32)`  when using `--import-dump`

I've verified that the file is read and writeable and it's still giving me the error.

**To Reproduce**
Steps to reproduce

[2022-10-10 09:42] brunoocasali commented on #2879
Discussing internally with @oluademola we understand that this issue is more related to the engine than the PHP integration ;)

[2022-10-10 09:56] curquiza commented on #2822
Reopening because not done on milli's side
Will be done on charabia side with https://github.com/meilisearch/meilisearch/issues/2769

[2022-10-10 10:14] davelarkan commented on #2648
Hi @Kerollmops and @curquiza 👋
I was just wondering if I could get some clarification on this one.
What exactly do we mean by "at the same time"?

I'm trying to understand what the implication is for the cloud team.
Is this, "126 requests started within the same millisecond"? Or do we mean that 126 is the maximum number of requests that can be in a "processing state" by Meilisearch concurrently?

[2022-10-10 11:06] curquiza commented on #2648
This one, this is the number of readers, so the number of "queued" request that Meilisearch can have

#2786 is closed so now it's not 126 but 1024 😇 (released in v0.30.0)

[2022-10-10 11:31] AM1TB commented on #2864
Looks like the CI builds linked to #2868 are passing along with the cache steps after uncommenting them:
![image](https://user-images.githubusercontent.com/6761018/194856346-8c8a70e9-54db-4553-af5d-35957765607c.png)

![image](https://user-images.githubusercontent.com/6761018/194856544-ff17f1be-9305-417b-8ad0-212beb8b7e00.jpeg)

@curquiza can we pl run the CI builds again to check if the cache is b

[2022-10-10 11:41] loiclec commented on #2820
Hi @greensea :)
I looked into this issue today, and could reproduce it very easily thanks to your dataset, thank you!

We have done a lot of work in the past months on optimising the indexing of datasets with filterable attributes. As part of that work, we have had to reimplement many of the filter algorithms. Fortunately, the rewritten version of these algorithms will fix this bug 🙂 (if you're cu

[2022-10-10 12:16] #2864 closed

[2022-10-10 13:31] oluademola commented on #2872
Hello @devAndrejM

I am not sure I completely understand your question. It'd be fantastic if you could provide examples of your search queries and results for more context. However, Meilisearch might ignore or convert some special characters in your search queries to whitespace. You can find the list of affected characters [here](https://docs.meilisearch.com/learn/advanced/datatypes.html#string).

[2022-10-10 13:59] oluademola commented on #2871
Hello @leottk

Sorry for the inconvenience and thank you for using Meilisearch! Since this is your first time, I'd encourage you always install or run on the latest version of Meilisearch so that you have the best service experience (meaning you'll enjoy the latest performance improvements of the search engine and bug fixes). Regarding the error, to better assist you and for more context, what for

[2022-10-10 14:07] oluademola commented on #2870
Hello @leottk

Again, sorry for the inconvenience and thank you for using Meilisearch! While the error message appears to be different it seems it's also related to #2871  due to the fact that you are not able to successfully index your data to Meilisearch. Once again, I'd like to confirm if the format of your dataset is a valid JSON, CSV, or NDJSON.

Looking forward to your response. Thanks 🙂

[2022-10-10 15:38] oluademola commented on #2874
Hello @kaermorchen

Sorry for the inconvenience. Indeed this appears to be a bug. I was able to reproduce this on Windows 11 - WSL2 - Ubuntu 20.04.2 LTS and macOS. Thank you for bringing this to our notice.

<img width="829" alt="Screenshot 2022-10-10 at 16 15 42" src="https://user-images.githubusercontent.com/101267639/194903805-882112d6-2381-400f-ad76-6ad469d10a67.png">

Escalating to the @meili

[2022-10-10 19:25] warmwhisky commented on #2879
@gmourier I have considered caching. Though Laravel caching is something I have never used. I thought about caching the results to html files, but I wanted to see if I could resolve the issue first before making any plans for it.

I have drastically reduced the response time by blocking a large list of bots. Now I am only getting the idle timeout every 24 hours or so.

[2022-10-10 20:44] warmwhisky commented on #2879
I can see what is causing this now. The tokenizer is creating spaces on my `#` as per the documentation
[code]

I'm pretty sure that this is the cause.

There are also cases where guitar players will write a guitar tuning with spaces; E A D G B E instead of EADGBE.

Am I able to bypass a soft space separator? I couldn't find anything in the docs about it. however I did find this issue https://gith

[2022-10-11 09:12] strssdout opened #2889 "Not all documents added after processing"
**Describe the bug**
Meilisearch for some reason skips some of the documents when processing tasks in batches of 300000. All the documents i have doesn't duplicate, so i'm sure that there is problem in meilisearch

**To Reproduce**
Steps to reproduce the behavior:
1. Get 3.5 million documents, without duplicates (1 document have 30 fields)
2. Start adding them by batches of 300000 documents
3. Wai

[2022-10-11 09:44] curquiza commented on #2874
Thanks @kaermorchen for the report and @oluademola for the support side

This is something we will fix in the next version (v0.30.0)! Thanks

[2022-10-11 10:07] Kerollmops commented on #2874
To fix this issue, I think a simple change to this function [in the tasks route](https://github.com/meilisearch/meilisearch/blob/0f024e7d97568d3763c2817cbea67008e90dfa2d/meilisearch-http/src/routes/tasks.rs#L39-L48) would make everything work as expected.

[2022-10-11 10:56] amab8901 commented on #2802
so what is left to do, now that a commit has been submitted?

[2022-10-11 11:29] curquiza commented on #2802
Hello @amab8901 we will review the PR soon, and we'll let you know if something is missing and still need to be implemented 😄

[2022-10-11 11:44] curquiza commented on #2761
Hello @mlemesle! Do you plan to continue your work on https://github.com/meilisearch/milli/pull/640? Since we are in Hacktoberfest, and we would love to see this new feature in the engine, do you think it's possible to open this issue to anyone else? 😄 We would totally understand you don't have the time anymore to work on it

[2022-10-11 13:56] washbin commented on #2874
I have create a pr for this issue at #2890 ,

had to add one whole line. thanks @Kerollmops  :see_no_evil:

[2022-10-11 14:51] curquiza opened #2891 "Improve GitHub CI manifest: remove useless `matrix`?"
In this [manifest file](https://github.com/meilisearch/meilisearch/blob/main/.github/workflows/publish-binaries.yml), we have two jobs we could maybe refactor
- `publish-aarch64` -> https://github.com/meilisearch/meilisearch/blob/0f024e7d97568d3763c2817cbea67008e90dfa2d/.github/workflows/publish-binaries.yml#L108-L176
- `publish-macos-apple-silicon` -> https://github.com/meilisearch/meilisearch/bl

[2022-10-11 14:57] leottk commented on #2871
Hello @oluademola,

Thank you for your advices,

To answer your question, we used JSON format to index to Meilisearch

[2022-10-11 16:39] oluademola commented on #2871
Hello @leottk

Thank you for your response. Unfortunately, I am unable to reproduce this problem even with v0.25. Also, this is a really old version of Meilisearch and does not qualify for bug fixes. I encourage you to try indexing your dataset with the latest version of the engine (v0.29), and if this issue persists, we'd be more than happy to request a sample of your dataset to investigate furth

[2022-10-11 16:56] AlexNDRmac commented on #2891
Without `matrix` this workflow will be same, but with hardcoded arguments. This is the first way :)
Next variant is to use some `json` manifest for each configuration (like a template) and convert json vars to env vars and use it as the step parameters.
OOP/DRY-like variant - is to move some isolated parts of workflow to own single action inside your repository. It's allows you to reuse complex wo

[2022-10-11 19:34] #2874 closed

[2022-10-12 07:18] oluademola commented on #2821
Hello! After giving the stop word scenario a closer look. It indeed appears to impact phrase searches. Using the [movies.json](https://docs.meilisearch.com/movies.json) dataset, I could reproduce it by adding "the" as a stopword and phrase search "the endless", a title of a movie, and it returns an empty hit. When the stop word is removed, the movie is returned, which is the expected result.

<img

[2022-10-12 08:23] meili-bot opened #2897 "v1.0.0 ROADMAP"
The purpose of this roadmap is to let anyone know about the different steps in the future Meilisearch release: `v1.0.0`.

# Draft phase (weeks 1-4)

Starts: 2022-10-31
Ends: 2022-11-28

- [x] The core manager creates a new Milestone.
- [x] In the Milestone, the core manager add the release date, but also the pre-release phase dates, and the sprint dates to the [Milestone](https://github.com/meilis

[2022-10-12 08:23] meili-bot opened #2898 "Create release changelogs for v1.0.0"
This issue is the entry point regarding the release changelog we must prepare before the first RC of `v1.0.0`.

The changelog will be available as a PR in the [core-team repository](https://github.com/meilisearch/core-team). Once the PR is ready to be reviewed, the link will be shared in this issue.

📚 @meilisearch/docs-team we need you to review the PR, if possible, before the first RC of v1.0.0.

[2022-10-12 08:24] curquiza commented on #2325
Lack of time for this release, delayed to next one

[2022-10-12 08:30] curquiza opened #2899 "Create release changelogs for v0.30.0"
This issue is the entry point regarding the release changelog we must prepare before the first RC of `v0.30.0`.

The changelog will be available as a PR in the [core-team repository](https://github.com/meilisearch/core-team). Once the PR is ready to be reviewed, the link will be shared in this issue.

📚 @meilisearch/docs-team we need you to review the PR, if possible, before the first RC of v0.30.

[2022-10-12 08:32] conanchen commented on #952
I am also trying to use millisearch in a https://tauri.studio/en/ app.

the doc says milli core engine only handle one store and without update/multiple stores, it is not easy to embedded milli engine in a desktop applicaiton to take full function.

Will it be nice to have an millisearch embeddable library to support belows?
- with managing multiple indexes, and handling the update store
- without

[2022-10-12 08:38] ManyTheFish commented on #2821
Hello @oluademola and @roshammar!
This bug should be fixed since the `v0.29` with https://github.com/meilisearch/milli/pull/594,
if you keep having the bug with the last version don't hesitate to notify us, and we will investigate deeper to fix the bug!

[2022-10-12 08:45] leottk commented on #2871
Hello @oluademola,

Thank you for your response,

At this moment, its hard for us to update the new version of Meilisearch because its linked to many changes in our products so i would like to demand you if we can retrieve the failed files in which contains the update_ids above to verify if we got some errors in the data set.

I checked the logs file and i got this report below:

[code]
If we have

[2022-10-12 09:01] Avey777 opened #2900 "Compilation failed V0.29.1"
![image](https://user-images.githubusercontent.com/35259040/195299276-911f549c-e9e1-4498-80da-a27c6b75d78c.png)

os：win10

[2022-10-12 09:12] oluademola commented on #2821
Hi @ManyTheFish

Thank you very much. Indeed the first scenario is fixed in v0.29. However, I can replicate the stop word issue even in the latest version (v0.29). I still get an empty hit when I phrase search with stopword configured (`"the"`) using the same dataset and search query above.

Thank you.

[2022-10-12 10:16] asypost commented on #2889
I encounted the same issue.The import data count is 20048186 and the stats result says there are only 13348186.
Version: 0.29.1
OS: Windows 11

[2022-10-12 10:44] curquiza commented on #2875
Hello @sbleh

Thanks for the detailed explanation.

I think unfortunately it is related to this issue: https://github.com/meilisearch/meilisearch/issues/1841. WDYT?

However, I would like to know why do you have so many indexes.

[2022-10-12 11:00] curquiza commented on #2891
Hello @AlexNDRmac

Thanks for the reactivity and the help!

This is exactly what I don't want, I mean, the hard coded part haha

OOP/DRY-like variant - is to move some isolated parts of workflow to own single action inside your repository. It's allows you to reuse complex workflow part and simplify main workflow.

I'm not sure to get exactly what it means concretely in a CI. Do you have examples o

[2022-10-12 13:17] curquiza commented on #2875
I will close it then

Maybe multi-tenancy can help you: https://docs.meilisearch.com/learn/security/tenant_tokens.html#what-is-multitenancy
All your data in the same index, but depending on the user, they can only access to their own data without accessing to the other user data.

[2022-10-12 13:51] Kerollmops opened #2901 "Bringing milli into the Meilisearch repository"
We talked about bringing milli into the Meilisearch repository, this has different implications, good and bad effects.

First thing first, should we keep the name of _milli_? Shouldn't it be more explicit in what it does? As is: managing one single index at a time. If we publish it on crates.io one day, shouldn't it be prefixed by _meilisearch_, like _meilisearch-index_? We haven't done that for _

[2022-10-12 13:51] ManyTheFish commented on #2821
Indeed! There is a bug with stop words, I've created an [issue for this specific case](https://github.com/meilisearch/milli/issues/661).
Closing this issue in favor of https://github.com/meilisearch/milli/issues/661

Thank you for finding this bug in Meilisearch! 👍

[2022-10-12 13:51] #2821 closed

[2022-10-12 14:00] irevoire commented on #2901
But currently, if we want to share dependencies between `meilisearch` and `milli` like the `json-pointer-thingy` we wanted to use in milli or the `snapshot-thingy` of milli we wanted to use in meilisearch we either have to move everything to milli and then re-export it or publish it to crates.io and then sync it between the two repo (even if it's really tied to our use case).

In the end, to me, i

[2022-10-12 14:12] Kerollmops commented on #952
Hey @conanchen,

I just created [an issue about what publishing Meilisearch and milli on crates.io](https://github.com/meilisearch/meilisearch/issues/2901) would bring us. Please comment on this specific issue if you have different concerns than ours.

We are [currently rewriting the index scheduler](https://github.com/meilisearch/meilisearch/pull/2763), which is the main system that manages the t

[2022-10-12 16:07] ManyTheFish commented on #2901
# Pros & Cons
## Pros
1) All the issues will be centralized in the same repository making issue management easier for us and clearer for the community
2) The release process will be easier and the CIs should be easier to mutualize and maintain
3) Sometimes, a feature in Meilisearch needs a small change in milli like implementing  `Debug` or `Serialize` on a struct, what a painful process today to

[2022-10-12 17:00] curquiza opened #2905 "Phrase search containing stop words never retrieve any documents"
Following: https://github.com/meilisearch/meilisearch/issues/2821

If an index has `stop_words` set in the settings, then, any Phrase search containing at least one stop word will return an empty response.

More information on this issue about how to fix it: https://github.com/meilisearch/milli/issues/661

## TODO

- [x] Implement changes in [Milli](https://github.com/meilisearch/milli/) -> Open t

[2022-10-12 17:01] curquiza commented on #2821
FYI, I've created this issue on Meilisearch's side for the traceability, but the fix should be indeed done on milli's side
https://github.com/meilisearch/meilisearch/issues/2905

[2022-10-12 17:21] LeSuisse commented on #2179
Hello,

Would you be open to a PR signing your Docker image using Cosign with the keyless mode?
https://github.com/sigstore/cosign/blob/main/KEYLESS.md

It is still marked as experimental since the Sigstore Public Good instance is not yet considered GA (should happen soon(ish), Rekor is currently at the 1.0 RC). That does not prevent you to use a key you manage afterwards, it will be a one line ad

[2022-10-12 18:40] washbin commented on #2891
I don't know if I fully understand the issue, but if we don't want the hard coded part than maybe we could simply use [env](https://docs.github.com/en/actions/learn-github-actions/environment-variables) in the `publish-binaries.yaml` ?

[2022-10-12 18:44] roshammar commented on #2821
Thank you @oluademola, @ManyTheFish, and @curquiza for your support!

[2022-10-12 19:21] AlexNDRmac commented on #2891
@curquiza - workflow with reusable action example [here](https://github.com/zephir-lang/zephir/blob/development/.github/workflows/main.yml#L137), the main idea of this approach is to keep main workflow as simple as possible and move all the platform specific steps behind simple public interface - reusable action with params.

About using ENV vars in the `publish-binaries.yaml` - it's a good idea,

[2022-10-13 08:56] gmourier commented on #2879
Hi @warmwhisky!

Thanks for the details. That's an interesting use case. We cannot yet define the soft/hard separators, but we have a [product discussion](https://github.com/meilisearch/product/discussions/160) for that particular subject.

I would like to see your feedback on that discussion. I can copy/paste your message and ping you on it if you prefer. It also seems to be a problem for searchi

[2022-10-13 09:59] curquiza commented on #2788
Discussed with the team: this issue is finally not about "globing" but only allowing the `*` character at the END of the `indexes` field when creating API key. I've clarify the issue accordingly.

The other patterns described in this issue are still relevant but lead to
- more product discussion: it means creating a real globing, and so, which globbing RFC do we want to follow? Bash? Another?
- ho

[2022-10-13 11:31] curquiza opened #2908 "Allow wildcard (`*`) at the end of the index names when creating tenant tokens"
Following this product discussion: https://github.com/meilisearch/product/discussions/491#discussioncomment-3048342
Related to this spec: https://github.com/meilisearch/specifications/pull/189

## Goal

Allow using the wildcard `*` at the end of the index name (in `searchRules` field) when creating tenant tokens.

## How does it work?

To create a tenant token, you need to provide a `searchRules`

[2022-10-13 12:48] curquiza commented on #2781
I close this issue due to a lack of answers. Nothing is definitive of course, feel free to ask to re-open if needed 😊

[2022-10-13 12:48] #2781 closed

[2022-10-13 13:38] warmwhisky commented on #2879
Thank you @gmourier

I'm pleased to have now figured out what the cause is. And hopefully look forward to 2023 for a fix.

I would appreciate you copying me into the discussion. However, all I can offer is my use case and how my results are split into single letters.

You say it should be possible to customize the separators my end. Would I be able to do that in meilisearch/meilisearch-php vendor

[2022-10-13 14:44] oluademola commented on #2878
Hello @Fronix,

Indeed this appears to be a bug. I was able to reproduce the same problem on windows 11. Additionally, I can confirm there is no problem with the rights, and I even tried disabling any antivirus that might be attempting to scan the process. I couldn't get any helpful info about what could be wrong checking with the windows process explorer as well.  Thank you for bringing this to o

[2022-10-13 15:16] curquiza commented on #2878
Thanks @oluademola for the investigation, passing this from `support` to `bug`

Thanks @Fronix for the report 🙏

FYI, we have a lot on our plate now and Windows bugs are not the priority due to all the changes we have to implement. However we will try to do our best to fix this!

Anyone in the community, we would love to have your help on this if you are available ❤️

[2022-10-13 15:22] oluademola opened #2909 "The total number of indexed documents shown in the task route differs from the actual total number of documents in an index"
**Describe the bug**
Sometimes, the total number of indexed documents shown in the task route differs from the actual total number of documents in an index. For example, I indexed the movies.json dataset, confirmed the task was completed, and immediately checked the stats route.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the [movies.json](https://docs.meilisearch.com/movies.jso

[2022-10-13 15:56] #2802 closed

[2022-10-14 10:26] leottk commented on #2871
Hello @oluademola,

We found the dataset in which contains errors.

[update_to_update_03_2022-08-13.zip](https://github.com/meilisearch/meilisearch/files/9785018/update_to_update_03_2022-08-13.zip)

And this one work without error:
[update_to_update_9015_2022-10-08.zip](https://github.com/meilisearch/meilisearch/files/9785136/update_to_update_9015_2022-10-08.zip)

Hope you can help us to resolve t

[2022-10-14 20:34] Thenitesh143 commented on #2860
Can you please assign me this project

[2022-10-16 17:33] mou commented on #1495
I created a draft PR not only to declare my intention to fix this issue but also to provide a reproduction case to anyone who decided to make their own attempt.

[2022-10-17 04:02] fangaofeng opened #2916 "not change filterable attributes."
python client:
![image](https://user-images.githubusercontent.com/15919475/196085703-9c67863a-99b1-48d2-bf84-3b3d13067855.png)

![1665979106376](https://user-images.githubusercontent.com/15919475/196086301-75795f19-9411-4cae-937e-57a4fc9bc987.png)
not change filterable attributes.

but when delete all documents  `client.index('photoes').delete_all_documents()`,it can change  filterable attributes.

[2022-10-17 08:45] curquiza commented on #2844
Hello again!

I updated my previous point, but people following this issue do not receive notification for this: the doc team already opened an issue for this. https://github.com/meilisearch/documentation/issues/1903

I discussed this with the team, and FYI we already tried to avoid using `tmp` for our temporary files, but this drastically impacted the performance during indexation for people usin

[2022-10-17 08:45] #2844 closed

[2022-10-17 10:10] curquiza commented on #2785
Moving this to v1 milestones, we will not have the time to fix it for v0.30.0

[2022-10-17 10:18] curquiza commented on #2761
Due to lack of answer this issue is open to anyone wanting to contribute 😇
A work has already been started at https://github.com/meilisearch/milli/pull/640 (thank you for this)! Someone can take it and start from this point, if useful.

[2022-10-17 10:20] curquiza commented on #2255
We investigate how to fix this, this is not an easy improvement to do; we will try to do it for v1, but impossible for v0.30.0, sorry! 😢

[2022-10-17 10:28] curquiza opened #2918 "Add new error when using `/keys` without having set a master-key before (`missing_master_key`)"
Following
- this product discussion: https://github.com/meilisearch/product/discussions/552
- this specification: https://github.com/meilisearch/specifications/pull/179

We want to create a new type of issue informing the users they are trying to reach a route (i.e `/keys`) that requires a master-key to be set when launching Meilisearch.

The new error
- return the HTTP code `401`
- has the `missi

[2022-10-17 10:40] #2846 closed

[2022-10-17 11:04] #2800 closed

[2022-10-17 11:44] #2822 closed

[2022-10-17 14:16] curquiza commented on #2901
To complete this issue, if we decide to migrate milli into Meilisearch, here is some migration work I see:
- We need to define if Milli will keep the same version as Meilisearch or not: if not, it will complexify our workflow, but it's not impossible -> I guess milli would not the only crate concerned by this discussion.
- About [the CIs files](https://github.com/meilisearch/milli/tree/main/.githu

[2022-10-17 14:55] aaron5670 commented on #2750
I'll follow this topic. I'm waiting for this functionality for long time. :)

[2022-10-17 14:58] curquiza commented on #2750
Hello @aaron5670
Glad to know this! We are working on it right now, should be release in v0.30.0 release
- first RC at the beginning of November
- official release is at the end of November!

[2022-10-17 19:25] mlemesle commented on #2761
So sorry @curquiza !
Unfortunately I don't think I'll manage to do this before the end of Hacktoberfest. A lot of work came up recently.
Apologies for not answering earlier

[2022-10-18 07:49] curquiza commented on #2761
That's ok @mlemesle thanks for letting us know 😄 we completely understand

[2022-10-18 08:13] strssdout commented on #2889
Hello @oluademola

I think yes, but i can't be sure about it :)

[2022-10-18 08:31] asypost commented on #2889
Maybe yes.

[2022-10-18 08:57] oluademola commented on #2916
Hello @fangaofeng

Did you check the [task route](https://docs.meilisearch.com/reference/api/tasks.html#get-one-task) later to confirm the status of the `settingsUpdate` task? It appears the task is in `enqueued` status from the screenshot. The `settingsUpdate` task is [asynchronous](https://docs.meilisearch.com/learn/advanced/asynchronous_operations.html#asynchronous-operations) in Meilisearch, m

[2022-10-18 12:06] gmourier opened #2924 "Wrong variant returned for `invalid_api_key_indexes` error when creating an API key."
It should have been solved by https://github.com/meilisearch/meilisearch/issues/2158, but I did not get the new variant testing on the latest version.

[code]

while I should receive

[code]

Relates to that catch-up specification https://github.com/meilisearch/specifications/pull/181 (The original one was never merged 🤔 So it makes me doubt if it was solved)

[2022-10-18 12:12] curquiza commented on #2891
Thanks a lot for your insight @AlexNDRmac, I learned a lot thanks to you

I don't have the time to decide on the best solution before the end of hacktoberfest. I'm not sure keeping the same (so reusable) workflow is possible when I see the difference of steps btw `publish-aarch64` and `publish-macos-apple-silicon`.

Since you have contributed to our project, the Meilisearch team considers you have

[2022-10-18 12:16] curquiza commented on #2909
Thanks @oluademola for the report 🙏

[2022-10-18 13:20] oluademola commented on #2889
Hello @strssdout and @asypost

Can you confirm if you have the correct number of documents displayed in the [tasks object](https://docs.meilisearch.com/reference/api/tasks.html#tasks)? I want to be sure this is an issue with Meilisearch not indexing all documents and isn't related to this #2909  or a bug on the [stats route](https://docs.meilisearch.com/reference/api/stats.html#stats).

Thanks.

[2022-10-18 13:41] strssdout commented on #2889
@oluademola

I have 11 tasks with 300000 documents and 1 task with 153489 documents, with the total number of documents of 3453489, so yes, i can confirm. But i cant be sure if its bug on the stats route or on documents indexing.

[2022-10-18 13:46] curquiza commented on #2889
Thanks @strssdout, this is indeed a bug on the `/stats` route, the source of truth is the answer in the task object.

I close this issue in favor of #2909!

Thanks everyone, for the report, and sorry for the inconvenience. The most important is all your documents are indexed at the end, if it's not, please open a new issue!

[2022-10-18 13:46] #2889 closed

[2022-10-18 14:18] bidoubiwa opened #2929 "Some settings can recieve `null` as a value while they shouln't"
**Describe the bug**
Some settings, I only have two examples but there are probably more, can receive the value `null` during an update while it should raise an error.

Example: [See spec](https://github.com/meilisearch/specifications/blob/main/text/0117-typo-tolerance-setting-api.md#32222-errors)

Upon receiving `null` as a value, they are reset to their default value

**To Reproduce**
Steps to r

[2022-10-18 15:07] AlexNDRmac commented on #2891
Thank you @curquiza :) This case with CI matrix optimisation is very interesting and I can help with it even after hacktoberfest is over. So when you'll be ready to continue with CI - just ping me any time and I'll help you with the best suitable decision.

[2022-10-19 08:27] curquiza commented on #2799
Spec added to the issue description https://github.com/meilisearch/specifications/pull/188

[2022-10-19 08:29] curquiza commented on #2721
The spec has been updated and has been added to the issue description
https://github.com/meilisearch/specifications/pull/190

[2022-10-19 08:32] curquiza commented on #2788
For meili team: the related spec has been updated and added to the issue description: https://github.com/meilisearch/specifications/pull/189

[2022-10-19 08:48] curquiza commented on #2802
For meili teams: I've added the spec freshly opened to the issue description
https://github.com/meilisearch/specifications/pull/178

[2022-10-20 10:13] curquiza commented on #2558
Related to the following spec: https://github.com/meilisearch/specifications/pull/185

[2022-10-20 13:20] curquiza commented on #2929
Thanks for the report @bidoubiwa
Will try to fix this for v0.30.0 (during pre-release) or for v1 if too risky to fix this during a pre-release phase

[2022-10-20 15:09] gmourier opened #2939 "`invalid_task_type` is never raised on `GET /tasks`"
**Describe the bug**

Sending an inexistent status returns a `bad_request` error while it should be `invalid_task_type`.

**To reproduce**

`curl 'http://127.0.0.1:7700/tasks?type=1`

[code]

**Expected behavior**
[A clear and concise description of what you expected to happen.](https://github.com/meilisearch/specifications/blob/main/text/0061-error-format-and-definitions.md#invalid_task_type)

[c

[2022-10-20 15:13] gmourier opened #2940 "`invalid_task_status` is never raised on `GET /tasks`"
**Describe the bug**

Sending an inexistent status returns a `bad_request` error while it should be `invalid_task_status`.

**To reproduce**

`curl 'http://127.0.0.1:7700/tasks?status=1`

[code]

**Expected behavior**
[A clear and concise description of what you expected to happen.](https://github.com/meilisearch/specifications/blob/main/text/0061-error-format-and-definitions.md#invalid_task_statu

[2022-10-20 18:20] oluademola commented on #2900
Hello @Avey777

Unfortunately, I could not reproduce the problem using a windows machine (windows 11). I am not sure what went wrong, but did you try with rustc 1.64.0?

<img width="761" alt="Screenshot 2022-10-20 190511" src="https://user-images.githubusercontent.com/101267639/197027421-be7cc9c7-c44f-4767-98d3-ebbc7ec5d53e.png">

[2022-10-21 12:44] oluademola commented on #2871
Hi @leottk,

The JSON dataset provided above is not a valid JSON. You can confirm this with a JSON validator (such as https://jsonlint.com/). The screenshot below shows your dataset validation result on the JSONLint validator, indicating the missing syntax.

<img width="362" alt="Screenshot 2022-10-21 at 12 55 18" src="https://user-images.githubusercontent.com/101267639/197198457-f4d2ef63-e06d-4c4

[2022-10-21 14:59] leottk commented on #2871
Hello @oluademola ,

Thank you for your response.

This file is a raw file. Before indexing, I have already corrected this error and wrapping the object in a square bracket and separating the objects with à comma. But when indexing we always have this error.

[2022-10-21 15:20] oluademola commented on #2871
Hello @leottk

Could you please share the valid JSON dataset you're indexing?

Thanks.

[2022-10-21 20:16] m00nh3ck opened #2944 "Meilisearch in docker swarm expose incorrect port despite saying that it should be 80"
Any ideas ?

![image](https://user-images.githubusercontent.com/854403/197281309-8b9538e0-37e3-4e57-b2f3-c0f3ddd353cb.png)

![image](https://user-images.githubusercontent.com/854403/197281386-9a571ed7-6b1f-4399-9b23-436b6930f1ff.png)

[2022-10-21 20:33] m00nh3ck commented on #2944
To test run:
docker run -it -p 80:80 --rm -e MEILI_HTTP_ADDR="127.0.0.1:80" getmeili/meilisearch

then the site also can't be accesible

[2022-10-21 22:13] m00nh3ck commented on #2944
incorrect address
docker run -it -p 80:80 --rm -e MEILI_HTTP_ADDR="0.0.0.0:80" getmeili/meilisearch

[2022-10-21 22:13] #2944 closed

[2022-10-22 03:55] shogohida commented on #2939
@gmourier
Can I work on this? I would like to tackle this with [another similar issue](https://github.com/meilisearch/meilisearch/issues/2940)

[2022-10-22 03:57] shogohida commented on #2940
@gmourier
Can I work on this? I would like to tackle this with [another similar issue](https://github.com/meilisearch/meilisearch/issues/2939)

[2022-10-22 08:36] thijndehaas opened #2945 "internal: Missing key in the documents database"
**Describe the bug**
After a while we get this message for all tasks: `internal: Missing key in the documents database..`.

**Meilisearch version:** v0.29.1

Current tasks counts:
Failed: 5.412 | Succeeded: 2.363`

I can clear the entire data.ms folder and run my indexation script multiple times with 0 failed tasks but then this error starts after a while.

This happens with delete and update task

[2022-10-22 14:17] irevoire commented on #2939
Hey @shogohida, yes you can work on both issues

[2022-10-23 12:23] romilpunetha commented on #2908
I'll try this.

[2022-10-23 14:39] shogohida commented on #2939
Hi @irevoire, thanks for your comment!

I started from invalid_task_status and created [a draft pull request](https://github.com/meilisearch/meilisearch/pull/2948/files). I spent time to write code but I got stuck...

Am I going to a right direction? In any case, I got stuck so please give me some advice after checking my implementation. I really appreciate your support 🙏

[2022-10-23 20:17] mou commented on #1495
Oh, This is a tricky one. I spent quite some time locating the cause and still could not figure out the best approach to fix it. So let me explain the logic that leads to undesirable output first:

- order of field names in `searchableAttributes` determines the order of fields `FieldsIdsMap`
- when we set `searchableAttributes`, it triggers reindex
- new representation of the document is created (

[2022-10-23 20:19] mou commented on #1495
@curquiza please, take a look at the previous comment. I believe this issue requires an additional round of triage.

[2022-10-23 20:26] mou commented on #1495
Reordering of fields occurs in `milli/src/update/index_documents/transform.rs:545` `remap_index_documents`, which is called from `milli/src/update/settings.rs:269` `reindex`.

[2022-10-23 20:29] mou commented on #1495
Here are the reproduction steps for the scenario I mentioned:
[code]

[2022-10-24 00:52] murilohns commented on #2807
I'm with the same problem.

I'm indexing this kind of document, under the "sues" index:
[code]

Then, I'm trying to add "sueId" and "description" as filterableAttributes.

[code]

Response:

[code]

Then, when the task finishes, i got this result:

[code]

[2022-10-24 00:58] murilohns commented on #2807
When I try to PATCH the filterableAttributes without indexed documents, it works perfectly, but then, when I try to index these documents, it fails.

FilterableAttributes task:
[code]

Index Task:
[code]

[2022-10-24 01:18] murilohns commented on #2807
Update: I just created the filterableAttribute for sueId, and indexed the documents only with `id and sueId` properties, and it works!

Probably it's a problem with the value of my description field 😬

[2022-10-24 01:33] murilohns commented on #2807
Updated: Maybe it's a problem with special characters 🤔
I have indexed the `description` field removing the special characters `let description = fullDescription.replace(/[^\w\s\d]/gm, "")` and it worked.

[2022-10-24 08:35] curquiza commented on #2908
Hello @romilpunetha

Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors from opening a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements

[2022-10-24 08:41] curquiza commented on #2940
Hello @shogohida

Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!
I saw you already opened one, thank you for this 😊

For your information, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors from opening a PR to fix this issue.
We will accep

[2022-10-24 12:13] curquiza commented on #2897
FYI @meilisearch/integration-team @meilisearch/cloud-team @meilisearch/docs-team

[2022-10-24 14:12] devAndrejM commented on #2872
That's it. Didn't know about the list of affected characters. Thank you for the reply. I'll close the issue

[2022-10-24 14:12] #2872 closed

[2022-10-24 14:32] guimachiavelli commented on #2929
We will probably want to clarify the behaviour when assigning `null` to settings in the docs. I took the liberty to add the `impacts-docs` myself, if that's alright.