[2020-08-19 07:58] LegendreM commented on #862
hello @deshetti do you use meilisearch directly via HTTP or are you using an SDK? If you are using an SDK could you give us which SDK you are using?

[2020-08-19 08:19] #896 closed

[2020-08-19 10:00] elgalu commented on #421
@Immortalin did you write the JWT integration?

[2020-08-19 13:41] curquiza opened #921 "Is highlight applied on a large field value?"
I search on:

[code]
<details><summary>Public Key</summary>
<p>

[code]
</p>
</details>

with these parameter:

[code]

And I get:
[code]

=> `description` is not highlighted.

[2020-08-19 14:13] curquiza commented on #921
It's because `description` was not in `searchableAttributes`, makes sense! Sorryyyyy 😇

[2020-08-19 14:13] #921 closed

[2020-08-19 15:05] Immortalin commented on #421
@elgalu nope I switched to Algolia.

[2020-08-20 07:12] curquiza opened #922 "Cleaner crop"
Currently, the crop is done by char, and does not cut a word in the middle, which is **really** convenient 🙂

But would it be possible to remove the punctuation char (and the following space of course) that are at the beginning of the cropped string?

<img width="790" alt="Capture d’écran 2020-08-20 à 09 07 52" src="https://user-images.githubusercontent.com/20380692/90728344-0ba4b600-e2c5-11ea-9

[2020-08-20 08:47] curquiza opened #923 "Add ... during the crop"
It would be nice that MeiliSearch returns the cropped value with `...` at the end/beginning of the string if the cropped string is not at the beginning/end of the **document field value**.

The `...` could be the default behavior.
The users could change this value by passing a parameter during the search:
[code]
or if they want nothing:
[code]

Here is the [`SnippetEllipsisText`](https://www.algol

[2020-08-20 14:06] JayDijkstra commented on #880
@LegendreM Hello LegendreM, same as what @roelvanmeer mentioned, my Meilisearch also hangs when trying to build search indexes within a Jenkins docker container. You already mentioned that there will be a renewed core engine, which will resolve this bug (which is awesome!)

In the meantime .. Is there something which we can be do to tackle this "hanging" issue (provide more logs, information of in

[2020-08-20 16:57] anborg commented on #907
Perhaps adding "env override" to specs may be of help.

### Override
Override props specific to one instance
### meilistart-mysitesearch.sh

[code]

### To put common defaults in a toml file
Encourages org wide standard setting, while individual instance can use.

### common-config.toml
[code]

[2020-08-24 09:43] Kerollmops commented on #880
Hello @JayDijkstra, @roelvanmeer we would to have more information on what you were doing before the engine "hang".

Were you deleting, creating and adding documents to the engine as fast as possible?
I think that there likely is a problem with some mutexes internally, but I am not sure, it is hard to debug and would be could to have a repro.

Thank you for your help!

[2020-08-24 09:47] arkste opened #925 "Getting slower the longer the query is"
**Describe the bug**
While MeiliSearch is instant with 1-3 words, its getting way slower the longer the query is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://crates.meilisearch.com
2. Type in _"this is a test to see if meilisearch is getting slower the more words i use, yep, its getting slower and slower"_
3. Never receive a result, because there will be a timeout after 30

[2020-08-24 10:56] roelvanmeer commented on #880
Hi @Kerollmops , we're running this as part of our CI tests. This is at a point where we take our test database and add a document to the index for every object in the database. These are at most a couple of hundred records. It's easy to reproduce inside the CI but I didn't yet manage to get one outside of the CI suite.

I can report that it doesn't matter whether we use the meilisearch/getmeili D

[2020-08-24 12:43] #867 closed

[2020-08-24 13:05] bidoubiwa commented on #840
Instead of having a subroute `/backup/:backup_uid/status/` to get status updates of the process could we not imagine a more global `/updates/:updateId` routes that will be linked to the MeiliSearch instance and not to a specific `index` ?

That way if we want to add more asynchronous processes on the instance later one we will not have to create an additional sub-route just for status updates.

[2020-08-25 12:02] lerouxrgd opened #929 "`facetsDistribution` counts don't take into account filters"
**Describe the bug**
The `facetsDistribution` counts don't take into account `filters`.

**To Reproduce**
Compare the `facetsDistribution` of a query with and without `filters`.

**Expected behavior**
The `facetsDistribution` counts should change based on the `filters`.

[2020-08-25 13:26] MarinPostma commented on #929
Hello @lerouxrgd, we are aware of this. In fact there is already an open pr that tries to partially address this issue (#849).

There are also two fields in the search response (`exhaustiveNbHits` and `exhaustiveFacetsCount`), whose intent is to tell  you if the returned count are approximate of not. Let me explain a bit further:
When you perform a search  a search, a collection of relevant docume

[2020-08-25 13:30] MarinPostma opened #930 "Deprecate /health route"
We are considering deprecating this route. It's original intent was to mark an instance unhealthy for the loadbalancers, but we can't really find a use for it now.

[2020-08-25 15:17] eskombro commented on #930
I think it is quite useful for any automated deployment, and it is simple, clear, and straight forward. For example, the sandbox uses it to asynchronously check if the instance has been deployed before activating it for the user. Also, it doesn't seem to add any maintenance workload.

What would we gain by deprecating it?

[2020-08-25 16:05] MarinPostma commented on #930
well it seems that you are using it as a dummy route, therefore not for the usage it was meant for. You could use pretty much any route for that purpose. Actually, you are the one setting the health of the server, so it doesn't even notify you on the actual health of the instance.

[2020-08-26 09:35] LegendreM commented on #930
an health route is useful in several production environments when you want 100% availability,
in kubernetes, for example, this route may be used:
- at deploy time when you need to know when the previous version can be dropped
- at running time this route is triggered every sec

A good health route:
- NEEDS to ensure that service is completely up if it returns `201`
_ DOES NOT block service process

[2020-08-26 10:18] jiminy-billy-bob commented on #730
Any ETA on this?
I'm considering building a temporary solution with duplicated indexes, but if this feature is due soon I will avoid the extra work and just wait.

[2020-08-26 15:57] MarinPostma commented on #930
Thanks for the details @LegendreM. A couple of questions:
- What should be triggering a change in health?
- should this state be persistant?

[2020-08-26 22:33] thebitbrine opened #932 "CentOS 7 - MeiliSearch uses only 1 core"
**Describe the bug**
I'm trying to add more than 5,000,000 documents to MeiliSearch but it indexes so slowly and it only uses 1 out of 64 cores available. Each document has around 10,000 chars.

**To Reproduce**
Steps to reproduce the behavior:
1. Add more than 100,000 documents
2. ???

**Expected behavior**
It should utilize all 64 core or at least more than one core to speed up the indexing proc

[2020-08-27 09:35] LegendreM commented on #930
I don't see any use of changing healthiness via an http route, `set_healthy` and `set_unhealthy`are useless (for me).
the `/health` route could just return `201` any time, but if we have a kind of checklist to know if we consider meilisearch up or not, the `/health` route should make the checks and respond depending them.

[2020-08-27 10:06] Kerollmops commented on #932
Hi @thebitbrine,

This is a known issue that I already fixed in [the futur version of the engine](https://twitter.com/Kerollmops/status/1291808680934019073?s=20), it is able to use the 32 cores of the machine to index more than half a billion document in _only_ 2h.

The only advice I can give to you is to send a little bit more documents in your batches (by maybe increasing the max-request-size pa

[2020-08-27 10:07] #932 closed

[2020-08-28 15:11] jessebradley817 opened #934 "H"
# Summary

One paragraph to explain the feature.

# Motivations

Why are we doing this? What use cases does it support? What is the expected outcome?

# Explanation

Explain the proposal like it was the final documentation of this proposal.

- What is changing for end-users.
- How it works.
- What is breaking?
- Examples.

# Implementation

Explain the technical specificities that will need to be

[2020-08-28 16:16] #934 closed

[2020-08-29 04:27] tommy-tab opened #936 "不知道是什么"
# Summary

One paragraph to explain the feature.

# Motivations

Why are we doing this? What use cases does it support? What is the expected outcome?

# Explanation

Explain the proposal like it was the final documentation of this proposal.

- What is changing for end-users.
- How it works.
- What is breaking?
- Examples.

# Implementation

Explain the technical specificities that will need to be

[2020-08-29 04:37] NRS12 commented on #936
NRS

[2020-08-29 05:11] konradoo4343 opened #937 "129"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-29 05:11] konradoo4343 commented on #937
Cv

[2020-08-29 05:12] konradoo4343 commented on #937
3

[2020-08-29 06:32] NRS12 opened #938 "NRS"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-29 06:33] #937 closed

[2020-08-29 06:35] #938 closed

[2020-08-29 06:36] #936 closed

[2020-08-30 13:45] jcohlmeyer opened #939 "Support for UUIDs"
**Is your feature request related to a problem? Please describe.**
I am trying to index some content but the id of the content (as set by the CMS) is a UUID (it has letters and dashes in it). Therefore it is not working as IDs need to be integers.

**Describe the solution you'd like**
I would like the indexing system to support UUIDs (or string IDs).

**Describe alternatives you've considered**
A

[2020-08-31 09:56] hadjedjvincent commented on #929
Hi @MarinPostma I’ve a question regarding the facets distributions. It looks like that the count for each criterions is missing except for the one that are currently selected.
Is it a known bug or is there something I have not configured correctly ?
It looks like after at least one criterion is selected, the group is being calculated as "AND" rules between criterions. Whereas most of the time, we

[2020-08-31 10:13] MarinPostma commented on #929
Hello @hadjedjvincent, I am not completely sure to understand what you mean by "currently selected criterion", but the only thing that facet distribution does is returning an approximation of the number of documents that belong to each variant of the facet categories you used in your facet filter. If a document belongs to 2 categories, then it will be counted twice, one for each category.

[2020-08-31 10:19] hadjedjvincent commented on #929
@MarinPostma

Yes, i perfectly understand this :)
BTW, this could the case for a hierarchical component, like a category tree.

However, if I want to look for all dresses that are available in Red or in Blue, it looks like it's not possible at the time.
When we are selecting the first Red facet, all others colors count are set to 0 in this facets.
This is why i'm talking about the OR and AND opera

[2020-08-31 10:35] jcohlmeyer commented on #939
UUIDs work as long as they are in a string, and they seem to be as a string by default in JSON.

[2020-08-31 10:35] #939 closed

[2020-08-31 12:55] bidoubiwa commented on #930
I discovered that even when you set health to false it still let you use the API normally. Is this something we want it that futur route?

[2020-08-31 13:09] MarinPostma commented on #806
closed by #915

[2020-08-31 13:09] #806 closed

[2020-08-31 13:15] Kerollmops commented on #880
Hi @roelvanmeer, are you able to do queries on the engine? For example doing some simple search;

[2020-08-31 13:24] #687 closed

[2020-08-31 13:28] #655 closed

[2020-08-31 14:03] LegendreM opened #940 "Refactor `/health` route"
# Summary

Change `/health` route behaviors to fit more the common use.
Related to this [discussion](https://github.com/meilisearch/MeiliSearch/issues/930).

# Motivations

`health` route in meilisearch was used to inform about service maintainances, which is not the idomatic use of it.
The health route should only inform about the [availability of meilisearch](https://github.com/meilisearch/Meili

[2020-08-31 14:04] roelvanmeer commented on #880
@Kerollmops Usually yes - until it locks up. After that, any connection to meilisearch just hangs and sits there, waiting. Are you helped by a section of strace output of the meilisearch process when that happens?

[2020-08-31 14:05] LegendreM commented on #930
@bidoubiwa `set_healthy` and `set_unhealthy` should be removed

[2020-08-31 14:06] LegendreM commented on #930
related to tracking-issue #940

[2020-08-31 14:23] LegendreM opened #941 "Allow user to limit the max number of words in a query"
# Summary

Be able to limit the number of word accepted in a query.

# Motivations

meilisearch is getting slower the longer the query is (#925), which induce several issues:
- a common user may not be interested by a request which the response time is long
- a malicious user could flood long request to make meilisearch hang

# Explanation

add a `max_query_word` settings to choose it

# Related

[2020-08-31 14:28] LegendreM commented on #925
hello @arkste we are continually working on performances improvement, and this limit will be pushed back in a engine refacto we are working on.
An other thing is to provide a `max_query_word` setting (#941) to allow user to choose the number of words accepted in a query.

thanks for your issue BTW

[2020-08-31 14:58] Kerollmops commented on #880
Ok, thank you,

So I would just say that it means that the MeiliSearch server has just been killed by being out of memory while indexing.

Until you prove to mean that the search engine is still up and running by maybe calling the `/health` route I would say that the engine has simply been killed.

This would also explain that you are unable to trigger this bug on your machine, just have more memo

[2020-08-31 16:22] LegendreM opened #942 "Some Settings seem to be overwritten when documents are pushed after updating settings"
**Describe the bug**
Some settings seem to be overwritten when documents are pushed after updating settings:
- `searchableAttributes`
- `displayedAttributes`

**To Reproduce**
I made a test on this branch:
https://github.com/LegendreM/MeiliSearch/commit/2d109cabbc798003f705a1f02d03ba0e6973f22e

**Expected behavior**
`searchableAttributes` and `displayedAttributes`should be unchanged.

**Additional

[2020-08-31 16:30] LegendreM commented on #891
this issue is now split in 2 children issues:
- a bug report #942
- a feature tracking issue #918

I close this issue, don't hesitate to reopen it if children issues are not exhaustives.

[2020-08-31 16:30] #891 closed

[2020-09-01 07:48] ManyTheFish opened #943 "Sort fields without consistency in lexicographical order"
# Summary

Some fields like:
- `displayedAttributes` in `GET /index/:uid:/settings` and `GET /index/:uid:/settings/displayed-attributes` routes
- `facetsDistribution`  in a search query `/indexes/test/search?facetsDistribution=%5B%22color%22%5D`

are never consitently sorted between same requests.

# Motivations

Same request should respond same results in the same order.

# Implementation

`displ

[2020-09-01 07:50] LegendreM commented on #890
will be fixed by #943.

don't hesitate to reopen it if #943 is not exhaustive.

[2020-09-01 07:50] #890 closed

[2020-09-01 08:01] roelvanmeer commented on #880
@Kerollmops No, the process hasn't been killed. It is still running. It seems there's a deadlock somewhere.

I noticed something very unusual though. If, while in this hanging state, I do a request to the server, I can do three requests succesfully, and the fourth one hangs.

So three times I get:

    root@360ccfc92b95:/# curl -i http://meilisearch:7700/health
    HTTP/1.1 200 OK
    content-leng

[2020-09-01 08:07] #930 closed

[2020-09-01 08:32] MarinPostma commented on #929
@hadjedjvincent thanks for reporting this bug, this is fixed with #944.

[2020-09-01 12:52] hadjedjvincent commented on #929
@MarinPostma thank you for your fix. I've made a try, it works fine for the current facet.
However, for the others facets, the count does not reflect the current applied facets.

Following my previous example. If i select Red & Blue facets, i have all my dresses that have Red OR Blue color.
Now, i would want to filter by Size, only for Red & blue colors.
If i provide the right facets while searchi

[2020-09-01 13:53] lerouxrgd commented on #929
@hadjedjvincent  I observed the same issue as you and it is related to the original issue, that is, filters are not taken into account for the facetsDistribution counts (whether you apply a facetFilter or not)

[2020-09-01 14:08] MarinPostma commented on #929
@hadjedjvincent Can you open another issue, this is unreal yes to this issue, we'll continue discussing there, thanks!

[2020-09-01 14:32] hadjedjvincent opened #945 "facetsDistribution does not take others filters & facets in consideration"
**Describe the bug**

As discussed into #929 , `facetsDistribution` doesn't take into consideration others applied facets.
Let's assume that we have a catalog of Dresses and we are using two facets (Color & Size).

If I select Red & Blue facets, i have all my dresses that have Red **OR** Blue color.
Now, I would want to filter theses dresses by Size, but only for Red **OR** blue colors.

If I prov

[2020-09-01 15:39] LegendreM commented on #945
Sorry I don't understand your need.

Lets imagine that we sell t-shirts. I have different colors (red, blue, green) and several sizes (S, M, L). the global distribution would be:
- S
  - red: 7
  - blue: 12
  - green: 5
- M
  - red: 17
  - blue: 32
  - green: 15
- L
  - red: 3
  - blue: 1
  - green: 4

now I make several request:

1) `/search?facetFilters=[["color:red", "color:blue"]]` (OR)
2) `/s

[2020-09-01 16:03] hadjedjvincent commented on #945
`facetsDistribution` for Size facet should be:
But, we have to take in consideration the primary key of a product, this is just an example, assuming each variant as a different ID here:

case 1:
Red = 7 + 17 + 3 = 27
Blue = 12 + 32 + 1 = 45

S = 7 + 12 = 19
M = 17 + 32 = 49
L = 3 + 1 = 4

case 2 (if we assume that a t-shirt can only have one color):
Red = 0
Blue = 0
S = 0
M = 0
L = 0

case 3:
Red

[2020-09-02 08:20] LegendreM commented on #945
hello @hadjedjvincent why in your example you always consider all sizes but not all colors (I assume that not distributed fields = 0)?

Between case 3 and case 4 the same request is made but in one case `right hand facets` ([_, ["color:red", "color:blue"]]) are partially distributed (no green) and in the second case it's `left hand facets`["color:red", _]` which are partially distributed (only red

[2020-09-02 09:52] LegendreM commented on #945
hello @hadjedjvincent behind the algolia example there are 4 requests made by the client to retrieve each facets count:
[code]

[2020-09-02 13:18] niemannd opened #947 "offset queries return wrong number of hits"
**Describe the bug**
The number of hits returned for a query with limit, offset and filter does not return an expected number of hits.
Lets say you run a query with limit 2000, offset 0 and a filter (dont know yet if that plays a role in this bug) and meilisearch returns 688 hits (as in items in the "hits" array). Running the same query with offset 10 should now return only 678 hits, offset 20 ret

[2020-09-02 14:49] mzperix opened #948 ""Words" ranking rule"
Currently it is a problem that many searches end up with very short result list (or even empty) because of over-specified user queries. (Context: I am testing our search logs against meilisearch results, current search engine shows results with partial matches also but meilisearch doesn't which leads to meilisearch not showing correct results that the users previously have clicked).

[Documentatio

[2020-09-02 15:03] mzperix opened #949 "Typo tolerance on synonyms"
Synonyms are great but if there is a typo in the query for the synonym, it is not matched like it is when the original word has typo error.

While this may lead to unwanted symmetric relationship in some cases (like the one in the documentation with phone => iphone), if the synonym matching is lower ranked anyway, this should not be problem in my opinion.

[2020-09-02 15:28] LegendreM commented on #947
Hello @niemannd,

does your bug only occurs with `filters` ?

[2020-09-02 15:37] LegendreM commented on #949
Hello @mzperix,

Could you please give us an example, we are not sure about the current and expected behavior?

[2020-09-02 15:43] LegendreM commented on #948
Hello @mzperix,

as you can see we plan to develop it, there is no due date for the moment.

It should be released before 2021

[2020-09-02 15:44] #948 closed

[2020-09-02 15:44] niemannd commented on #947
i don't know if it _only_ occurs with filters, but i haven't found a way to reproduce it without one.

Another Example with the same dataset as above:

[code]
Without a filter it returns the expected hit count, with filter the error starts at offset 20.
I asume it has something to do with filters.

[2020-09-03 11:51] mzperix commented on #949
Hello @LegendreM,

Sticking to the example in the docs, suppose I have these docs:

{name: Samsung, type: phone}
{name: iPhone, type: phone}
{name: iPhone case, type: accessory}

synonyms: phone => iphone

Then for these queries:

- phone: get all three
- phoen: get only first two (not all three!) -- typo tolerance recognizes phone in the type field, but the synonym is not triggered

Having all th

[2020-09-03 21:56] JohnatanNorman opened #950 "Cyrillic support?"
**Is your feature request related to a problem? Please describe.**
First of all, I wanted to say thank you, for this incredible search-engine. I am looking forward to be using it, but I have one problem: while most of my projects are using Latin-based languages, I would've loved to have Cyrillic support for this awesome engine.

**Describe the solution you'd like**
I didn't see Cyrillic support me

[2020-09-04 03:39] frank-io opened #957 "Aggregate capability"
Hi there,

I'm new to Meilisearch and looking at the documentation.

Not sure if this is a proper place to ask ... But anyway, I haven't found much information about aggregations (similar to `agg` in Elasticsearch) for Meilisearch in either this repo or the documentation. Could anyone advise me how does Meilisearch query with aggregations or point me to the aggregation chapter of Meilisearch.

Che

[2020-09-04 09:36] Fefke opened #951 "WebSocket Streams for (near) **Real-Time** data access."
**Is your feature request related to a problem? Please describe.**
Not an practical problem, but an theoretical in order to reach the "real-time" requirement.

**Describe the solution you'd like**
To handle data-streams from user-/ or backend-side it would be nice to implement an WSS (WebSocket Stream)
feature, that allows an data-flow in and out of the DBMS and up to the user/ another machine.
It

[2020-09-04 16:37] trevyn opened #952 "Publish meilisearch-core and friends on crates.io?"
Curious if there's a reason this hasn't been done! It's certainly embeddable...

[2020-09-04 18:29] Skillkiller opened #953 "Movies.json not public available"
**Describe the bug**
Hello,
The readme file contains a Movies.json which is no longer publicly available. Notion blocks the access to the file. Therefore the curl command below in the readme file is no longer valid.
**To Reproduce**
Steps to reproduce the behavior:
1. Open README.md
2. Scroll to "Create an Index and Upload Some Documents"
3. Click on "this movie database" **OR** Use the curl downl

[2020-09-04 18:36] MarinPostma commented on #952
Hello @trevyn !
This is certainly something we have in mind, and plan to do in a short future. In it's current form, Meilisearch core is not as embeddable as it may seem. It's interface have not been thought to be used without as a lib, and without http (and tokenizer, schema, etc...).

That being said, we are currently working on a new engine, that will make meilisearch a lot faster, and plan to

[2020-09-04 18:40] MarinPostma commented on #953
Thank you for finding this one out :)

[2020-09-04 18:46] qdequele commented on #953
Hello @Skillkiller, sorry for the disappointment, the link is back online. Thanks for the report.

[2020-09-05 00:49] trevyn commented on #952
Awesome, looking forward to it!!

[2020-09-05 05:34] huzaifahj opened #955 "Highlighting doesn't work if HTML tag precedes word already"
**Describe the bug**
If there is a HTML tag before (only before) the search query word, <em> tags are not placed around the word and I'm not sure if it even recognises the word when searching.

**To Reproduce**
1. Attribute value is `<p>test hello</p>`
2. Search query word is `test`
3. Under _formatted value is INCORRECTLY `<p>test hello</p>`
4. Search query word is `hello`
5. Under _formatted val

[2020-09-05 07:35] #952 closed

[2020-09-05 07:37] MarinPostma commented on #955
Hello @huzaifahj,
this appears to be a tokenizer bug, my guess is that it is not able to correctly split `<p>` and `test`. Thank you for reporting the issue!

[2020-09-05 07:41] huzaifahj commented on #955
![image](https://user-images.githubusercontent.com/52999758/92300527-7e639180-ef53-11ea-9e30-40d2dd7ac3d1.png)

Think you're right, it does!

[2020-09-05 07:54] MarinPostma commented on #955
thanks! we'll work on this :)

[2020-09-05 08:10] huzaifahj commented on #955
Thanks for your time on this.

[2020-09-06 11:58] appa1303 opened #956 "Incorrect highlighting"
When using Unicode language (e.g. Cyrillic, Hebrew or Arabic) highlighting is not calculated correctly

Steps to reproduce the behavior:
1. create a new index, with a text field
2. fill the text with "גלידת ווניל"
2. using the web UI of meilisearch, search for "גלידת"
3. the highlight is not calculated correctly
See the JSON (I have marked the fields bold):
{
    "hits": [{
            "id": "2",

[2020-09-07 08:55] LegendreM commented on #956
Hello @appa1303, thanks for your report,
it's a known issue, I link it to #894 and #790

[2020-09-07 09:49] curquiza commented on #940
Hello! Why does this route returns a `201`? `201` is used when a resource is created.

[2020-09-07 11:05] bidoubiwa commented on #957
Hello @frank-io
What we have closest to this are [facets and facetsDistribution](https://docs.meilisearch.com/guides/advanced_guides/faceted_search.html). This is also the name that [elasticSearch used to give to the aggregations](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-facets.html).

Good luck!

[2020-09-07 11:07] bidoubiwa commented on #953
It should be updated with the new movies.json that has the genre field.

[2020-09-07 11:17] JamieDixon commented on #595
For what it's worth I ran into an issue today where bulk adding records crashed Meilisearch. Here are our batches that all ran at around about the same time:

[code]

Totalling `4182` records.

When we put a 3 second delay between each batch so that the most that was being processed in one go was `1387` records, everything worked alright.

[2020-09-07 12:00] eskombro commented on #940
I agree, I think we should use 200

[2020-09-07 12:46] LegendreM commented on #949
Understood @mzperix thanks for the explanation!
your feature is interesting and could be useful,

BUT this feature could impact search performances, for example:
if you have synonyms:
peck => [bite, nip, strike, hit, tap, rap, jab, poke, prick]
pack => [packet, container, package, box, crate, carton, parcel, group, herd, troop]
dock => [harbour, marina, waterfront, port, anchorage, wharf, quay, pi

[2020-09-07 13:18] curquiza opened #958 "Impossible to load snapshot"
## Steps

In an empty directory only containing the MeiliSearch binary (v0.14.0)

1. I launch MeiliSearch with a snapshot creation every 10 secondes

[code]

2. I create an index and I add documents. But the bug is also present even if I do not do any action with MeiliSearch.

3. After one snapshot was created, I stop MeiliSearch. Two folders are present: `data.ms` and `mySnapShots/` (containing `

[2020-09-07 13:24] bidoubiwa commented on #958
I confirm this bug as I did not work for me aswell.
[code]

[2020-09-07 13:40] LegendreM commented on #940
sorry for the typo, I wanted `204`

[2020-09-07 13:51] #957 closed

[2020-09-07 22:20] frank-io commented on #957
Awesome! Thanks @curquiza @bidoubiwa

[2020-09-08 10:54] MarinPostma commented on #958
There is nothing much we can do right now. This is the expected behavior from `clap` apparently https://github.com/TeXitoi/structopt/issues/428#event-3739844591

There is a conflict with the fact that the flag is also fetched from the environment, and expecting a value (`true`/ `false`).

We have to rethink our option system, I suggest this be part of #907, as we'll have to re-define setting prece

[2020-09-08 12:04] curquiza commented on #958
Ok, good to know, we need to change the docs then 🙂 @bidoubiwa

[2020-09-08 12:47] bidoubiwa commented on #840
- `--backup <path>`: Start meilisearch with a backup file

I'm suggesting a more specific name `--import-backup <path>`.

[2020-09-08 13:00] MarinPostma commented on #907
As stated in #958, clap (therefore structopt) fails to correctly parse  flags when used with an env variable. This force the user to input `true` to flags to activate them. We need to parse env another way, and merge the config from file/env/args with the correct precedence (and default values).

[2020-09-08 13:01] qdequele commented on #918
**Edited**

[2020-09-08 20:02] Kerollmops commented on #958
There is an issue [that has been added to the 3.0 milestone of clap on 11 of july](https://github.com/clap-rs/clap/issues/1476#event-3536418605), maybe that will be fixed one day.

[2020-09-09 18:13] Cannonb4ll opened #961 "Running in the background with Supervisor"
So I've created a simple script to run MeiliSearch with which is installed via APT, the script looks like this:

*meilisearch-service.sh*
[code]

If I run this script manually it is all fine, when I run it with supervisor, it is also fine, however, when I stop or remove the supervisor config and reload, there's still a process running for some reason in the background.

*Supervisor configuration*

[2020-09-10 06:17] lbischof commented on #843
It would also be awesome if Meilisearch could be integrated into an existing SSO setup (e.g. Keycloak). This would make it easier to integrate in enterprise environments.

[2020-09-10 12:43] qdequele commented on #950
Hello Johnatan, did you tried the tokenizer we already have? Or did you ask because you didn't talk about the Cyrilic language support?

[2020-09-11 09:04] rhzs commented on #657
I don't know what is the metric for "enough traction". I am currently evaluating Meilisearch as an alternative for Elasticsearch (as other would be). And this is clearly one the biggest drawback against Elasticsearch.

I am not sure how we can proceed without the Facet filtering though flattening is the proposed approach. I don't see it is as enough solution that works for most use cases.

[2020-09-11 10:08] #958 closed

[2020-09-11 15:50] SirWindfield opened #962 "Question: smart datetime search"
Is it somehow possible to build an index that allows one to search by datetime efficiently? I'm thinking of ranges, specific dates and times like a year, a weekday or something similar.

Even more useful for my case would be search functionality like "last week" or "two days ago".

I took a closer look at the project and it seems that this is not supported right now nor does it actually seem to fi

[2020-09-11 21:19] MarinPostma commented on #962
this could be sugar on top of range facets (#919), after all this could be desugared into timestamps

[2020-09-11 21:21] MarinPostma commented on #958
closed in favor of #907

[2020-09-14 04:44] FridgeSeal commented on #845
Oooh I have one 😃
At the moment I'm indexing a lot of documents that are in the order of 10's to 100's of pages long. I'm pre-emptively splitting them up so that they're under the maximum size limit and adding an attribute with the original document id. When my application gets told a given document needs to be deleted I'm currently doing what @aeriksson described.

[2020-09-14 12:24] mzperix opened #964 "Accents work strangely with synonyms"
**Describe the bug**
I had some issues with some of the synonyms working and some not and it seems I managed to identify a bug.
It seems words with **accents** are not used from the synonym table (and/or the query is deaccentized before looking up synonyms (?))

**To Reproduce**
Steps to reproduce the behavior:
Add synonyms:

["case"]: ["holder"] --> works (searches for holder with queries both "c

[2020-09-15 10:12] kristiandupont opened #965 "Use in-process?"
I am wondering if it's possible to use MeiliSearch as a statically linked library that runs in-process? I would like to release a single binary, built in Rust, that basically exposes an alternative (more specialized) version of the web server that comes with the current binary, plus a few other things.

The Rust SDK accesses an external process, and I can't find any hints that this is possible.

[2020-09-15 12:37] JohnatanNorman commented on #950
Hi, @qdequele, thanks for the reply! I'll try your tokenizer and get back to you. If it will work, I think it'll make sense to update the docs, so they won't scare anyone, who would want to use your search-engine for their Cyrillic projects.

[2020-09-17 09:04] filipemaco opened #966 "Search has a strange behavior"
![Screenshot 2020-09-17 at 09 36 36](https://user-images.githubusercontent.com/38740033/93447655-8f54c100-f8ca-11ea-8cb4-86518c9b4d29.png)
![Screenshot 2020-09-17 at 09 36 48](https://user-images.githubusercontent.com/38740033/93447665-92e84800-f8ca-11ea-9044-88ff4a3c4d77.png)

I was testing the meilisearch search and I came across with this strange behavior, where I was waiting to get 3 hits when

[2020-09-21 09:11] LegendreM commented on #965
Hello @kristiandupont, we are currently working on an independent rust library but for now you can't use meilisearch as a rust library.

[2020-09-21 09:59] Kerollmops commented on #966
Hey @filipemaco,

Could you give us the three documents that are shown in these pictures (14001, 14002, 409)?
This way we will be able to debug and help you :)

Thank you very much!

[2020-09-21 10:02] Kerollmops commented on #965
Hey @kristiandupont,

Could you provide more information on waht you would like to expose with your HTTP front-end?
It will help us know what we will need to expose with the next Rust library we are working on.

Thank you very much :)

[2020-09-21 10:10] Kerollmops commented on #964
Hey @mzperix,

I just looked into the code base and it seems like we forgot to unidecode (standardize: remove accents and lowercase words) therefore words in the query doesn't match the non-standardized synonyms.

I advise you to do that by hand: remove accents and lowercase the words on both sides, until we fix that.

We will fix that in the next release, thank you for this bug report :)

[2020-09-21 12:34] eskombro commented on #961
Hi @Cannonb4ll

isn't this related to your `autorestart` policy?

[code]

What command are you using to stop th supervisor service?

[2020-09-21 12:48] HelmutLety commented on #947
I do have the same issue, found any workaround?

[2020-09-21 12:58] niemannd commented on #947
@HelmutLety we simply pull a big chunk of results at once (limit 1000 at the moment) with offset 0 and paginate over the array via javascript. The data is small enough that it doesn't have that much of an impact. its not pretty but it works for us.

[2020-09-21 13:03] olimart opened #969 "Raspberry Pi Support"
**Describe the bug**

Cannot install Meilisearch on a Raspberry Pi (4)

**To Reproduce**
Steps to reproduce the behavior:

**From Source**

this step fails `$ cargo build --release`

**From APT**

This step `apt update && apt install meilisearch-http`
returns package not found `meilisearch-http`

**Expected behavior**

It should let me install Meilisearch on Raspbian Lite

**Desktop (please comple

[2020-09-21 13:12] zaherg commented on #969
If I am not mistaken you will have to download the binary file and use it (if you are using docker you can use my image https://github.com/users/zaherg/packages/container/package/meilisearch ).

you can download the binary from the releases page https://github.com/meilisearch/MeiliSearch/releases and download the `armv8` file

[2020-09-21 13:13] HelmutLety commented on #947
thanks @niemannd !
I can confirm that it occurs only with filters for us

[2020-09-21 14:15] nikolasj opened #970 "Is it possible to connect a search engine to https://docusaurus.io/?"
I would like a description of the possibility of adding a search to https://docusaurus.io/

[2020-09-21 14:32] olimart commented on #969
yeah, I should have mentioned that I'd rather not use Docker if possible

the installer script returns something along "platform not supported"

Once the `armv8` binary is downloaded, what's the next step?
Launch? `./meilisearch-linux-armv8` ?

[2020-09-21 15:35] kristiandupont commented on #965
Sounds good!
I am making a tiny app that uses Meilisearch for indexing source code on my hard drive. I have a little web frontend for it and will make a vscode extension as well. So in terms of indexing, it currently scans raw text but I imagine I will introduce a parsing stage to get better results. As for the frontend, it's similar to the one built into Meilisearch except it doesn't show a dropd

[2020-09-21 15:49] eskombro commented on #970
Indeed it would be possible, and great!

We provide a few tools for this. Especially the [Docs search bar](https://github.com/meilisearch/docs-searchbar.js), a customizable [docs scrapper](https://github.com/meilisearch/docs-scraper), and front-end tools like [instant-meilisearch](https://github.com/meilisearch/instant-meilisearch).

Those tools are also provided to complement, of course several S

[2020-09-21 17:30] zaherg commented on #969
@olimart do you use 32bit or 64bit?

if the installer says the platform is not supported, so mostly even if you downloaded the binary it wont work, but you wont lost anything from trying

once you downloaded the file you need to change the permission

[code]
then run it

[code]

[2020-09-21 18:29] qdequele commented on #918
EDIT: **Be careful, once the update has gone into the asynchronous queue it is then no longer possible to automatically update the index in case of an error**. If it was the case then in the case of an error the user could not know why the update failed.

[2020-09-22 10:26] HelmutLety commented on #947
Some update, we don't have this bug with version v0.13.0

[2020-09-23 01:41] Skillkiller opened #972 "Allow filters search for null values"
**Is your feature request related to a problem? Please describe.**
For my project I need the possibility to filter for zero fields. This is currently not possible. If I pass "field = null" as filter, the search is done for a string with the value null. At the moment I get all documents from Meili and filter again with an extra backend over it which is completely disproportionate from a performance

[2020-09-23 07:46] appa1303 opened #973 "Please return indication to the quality of each result"
Hi,
Is it possible that to provide the score for each result ?
Something like 0 for "exact match" ...  to 1 for "sparse words with spelling typos".
It will be useful to give the end user some indication of each result quality.

Thanks

[2020-09-23 10:09] MCOfficer opened #974 "Distributed index processing"
**Is your feature request related to a problem? Please describe.**
Indexing as of now is pretty slow on cheap hardware, at least if you have millions of links.  Apparently [it's being worked on](https://github.com/meilisearch/MeiliSearch/discussions/872#discussioncomment-39994), but there's always room for improvement :wink:

**Describe the solution you'd like**
Create an API that allows clients t

[2020-09-23 21:57] vird opened #975 "delete all documents doesn't always delete all documents"
**Describe the bug**
delete all documents doesn't always delete all documents\
Bug reproduced in 100% of cases with same output

**To Reproduce**
Steps to reproduce the behavior:
1. Get latest release `wget https://github.com/meilisearch/MeiliSearch/releases/download/v0.14.1/meilisearch-linux-amd64`
2. Ensure you don't have db from previous experiments `rm -rf data.ms/`
3. Get this script https://

[2020-09-23 22:34] MarinPostma commented on #975
I don't know how meili-js sdk works exactly and @curquiza may tell me wrong, but from a core perspective, the deletetion and addition request are enqueued and processed asynchronously. Therefore, if you send a delete request, and immediately after a read request, chances are that the deletion request was not yet completed, and you're not seing it. The `deleteDocument` method should return an `upda

[2020-09-23 23:19] vird commented on #975
Even after stop and relaunch this script bug is instantly reproduced (on 0 iteration). So previous deletion has enough time to be completed

[2020-09-24 00:35] MarinPostma commented on #975
You're adding a lot of documents at the same time without checking if the query has been processed.
If you add synchronization, you will see that indexing the documents actually takes time
[code]
checking `"http://localhost:7700/indexes/bug/updates"` will also demonstrate that many queries are still "enqueued" and not "processed" even after your script finishes. This is definitely a timing problem

[2020-09-24 00:35] #975 closed

[2020-09-24 13:18] Kerollmops commented on #974
Hey @MCOfficer,

I think this is not the intended use case of MeiliSearch, but maybe you can use the snapshots to do that. Maybe you can use a bigger machine to do the indexing. Note that the indexing process is improving a lot and you will maybe be able to index this massive number of documents on your cheap server, in the next version of the engine.

Thank you anyway for the feedback.

[2020-09-24 13:18] #974 closed

[2020-09-24 13:26] bidoubiwa commented on #943
Are `attributesForFaceting` also impacted by this PR ?

[2020-09-24 13:29] Kerollmops commented on #972
Hey @Skillkiller,

As I understand what you want is something like "Give me all the documents that doesn't contain any company"?
If this is the case there is maybe an alternative way where you can just create a dummy company name (e.g. "company = null") and filter by that dummy value. By the way it is always better, because faster, to use facets than filter.

Would it be possible to know your spec

[2020-09-24 13:29] #970 closed

[2020-09-24 13:30] MCOfficer commented on #974
This was to be expected, but it can't hurt to ask. I will look into snapshots, and i'm eagerly awaiting  the indexing overhaul ;)

[2020-09-24 13:31] Kerollmops commented on #969
Hey @olimart and @zaherg,

Were you able to make it work on your rapsberry pi? Thank you @zaherg for your precious time :)

Thank you for your interrest in the project

[2020-09-24 13:42] Kerollmops commented on #965
Closing because it will be done in the future.

[2020-09-24 13:42] #965 closed

[2020-09-24 13:43] Kerollmops commented on #962
Hey @SirWindfield,

It is a good idea but it should be handled by the front-end apps as it will lighten the core engine.

[2020-09-24 13:45] #962 closed

[2020-09-24 13:45] #961 closed

[2020-09-24 13:47] #956 closed

[2020-09-24 13:47] qdequele commented on #956
The tracking issue for that is https://github.com/meilisearch/MeiliSearch/issues/624

[2020-09-24 13:50] qdequele commented on #955
The tracking issue for that is https://github.com/meilisearch/MeiliSearch/issues/624

[2020-09-24 13:52] #953 closed

[2020-09-24 14:01] qdequele commented on #951
Hello, it's super interesting, unfortunately it's a lot of work for little performance gain. For the moment the optimization at this level is not yet in our priorities. However the idea is really interesting and we keep it in mind.

[2020-09-24 14:01] #951 closed

[2020-09-24 14:04] Kerollmops commented on #950
I close this issue, feel free to open it if needed.

[2020-09-24 14:04] #950 closed

[2020-09-24 14:20] Kerollmops commented on #949
Hey @mzperix,

We deliberate and we concluded that it would be too much work for the engine in term of performance to consider every single word even with typos as any alternative to every matching word. The other argument is that if there is too much synonyms matching the end results will be incomprehensible as too much alternative words matches in the dataset.

Thank you for your request :)

[2020-09-24 14:20] #949 closed

[2020-09-24 14:22] MarinPostma commented on #947
this should be fixed with #849 then.

[2020-09-24 14:36] MarinPostma commented on #945
After careful consideration, we decided to revert #944 in order to allow the behavior defined above.

[2020-09-24 14:36] #945 closed

[2020-09-27 01:31] olimart commented on #969
Nope.
I'm getting `-bash: ./meilisearch: cannot execute binary file: Exec format error`
Any idea?

[2020-09-28 02:21] Skillkiller commented on #972
Sorry for my late answer. I tested your suggestion with the dummy value for a Faceted Search. The whole thing goes so far.
This dummy value now appears in the search because the company attribute must be searchable.

My special case is that I want to display all documents if the company is not set. But with the search it should also be possible to search for a document based on the company.

Your

[2020-09-28 13:13] #840 closed

[2020-09-28 13:13] #884 closed

[2020-09-28 13:38] #856 closed

[2020-09-29 03:53] vird commented on #955
There is also another issue with contents with html tags. Is there any way I can get

    &lt;p&gt;test <em>hello</em>&lt;/p&gt;
instead of

    <p>test <em>hello</em></p>

Reason:
I want put this into existing html and I want to be sure that I didn't inject any invalid HTML or don't have any XSS if attacker can control indexed contents

[2020-09-29 09:20] bidoubiwa opened #981 "Typo on multiple words query does not work"
**Describe the bug**
We used to be able to make typos on one of the words in a multiple words query. Now when I make the same typo I get 0 results.

<img width="1292" alt="Screenshot 2020-09-29 at 11 16 17" src="https://user-images.githubusercontent.com/33010418/94539589-b6ee4680-0245-11eb-9d8c-51f8fa79a5ee.png">

**To Reproduce**

Steps to reproduce the behavior:

1. Index movie dataset
2. search

[2020-09-29 09:48] MarinPostma commented on #981
I always thought that we didn't support typos on the first letter of a word, or do they count as 2 typos? @Kerollmops

[2020-09-29 09:50] Kerollmops commented on #981
We don't support typos on the first letter for performance reason, yeah. Maybe this isn't documented?

[2020-09-29 12:59] tpayet opened #983 "Renaming backup to dump"
**Is your feature request related to a problem? Please describe.**
When someone think about Backup, we often think about automated snapshots that will allow to restart the binary from a fresh state that was saved some time before.

What MeiliSearch provides under the name of backup is very similar to SQL dump, it is a data export that can be done anytime (but not automatically or regularly) to rei

[2020-09-29 13:26] bidoubiwa commented on #981
Apparently this feature was present in MeiliSearch for about two weeks around one year ago. Unfortunately it was a that time that I made the movie gif that we use a lot.

Changing this gif becomes a high priority as it does not reflect reality.

[2020-09-29 13:53] qdequele commented on #981
Could we close this one and recreate one about typos on the first letter of a word?

[2020-09-29 14:47] LegendreM commented on #983
I rename it so, @bidoubiwa we'll need to change some things in documentation 😏

[2020-10-01 09:07] LegendreM commented on #983
closed by #982

[2020-10-01 09:07] #983 closed

[2020-10-01 09:18] LegendreM opened #985 "Support Typo on first letter of query search words"
# Summary

Meilisearch supports Typo in search query but not for the first letter of words

# Motivations

A typo on a first letter is possible on Names `Leonard Chelby` vs `Leonard Shelby`

# Explanation

Handle first letter typo as `1` cost typo or `2` cost typo

# Con

This feature could impact engine performances, during FST computation.

# Related

Closes #981

- [ ] Validated by the team (@p

[2020-10-01 09:19] #981 closed

[2020-10-01 09:24] LegendreM commented on #966
Closing due to no activity,
feel free to reopen it.

[2020-10-01 09:24] #966 closed

[2020-10-01 09:39] LegendreM commented on #972
Hello @Skillkiller,
I'm happy that our suggestion fits your need 🛠

about your last question:
`The question if it should be possible to do a faceted search with a null value in one of the next versions of meilisearch.`

We don't plan to do it.

Thank you for your interrest in the project,
and don't hesitate to open new issues to suggest new features or to ask help!

[2020-10-01 09:39] #972 closed

[2020-10-02 12:06] Chaphasilor opened #993 "Ignored special characters?"
There are some characters which Meili seems to ignore inside the query.

Searching for `Test.mp3` yields the same results as `Test mp3`, in both cases the phrase `Test.mp3` isn't contained within the results at all.

So my question is, is there a way to prevent certain characters like `.` from being ignored/converted to whitespaces?
And could the docs list which characters are affected?

As an alt

[2020-10-03 04:59] olimart commented on #969
@zaherg Any suggestion I could try over the weekend?

[2020-10-03 05:42] zaherg commented on #969
@olimart you need to provide more information about your PI , is it 64 or 32b, the OS, the model .. etc.

[2020-10-03 05:45] olimart commented on #969
Raspberry Pi 4 64bit with Raspbian Lite

[2020-10-03 05:51] zaherg commented on #969
@olimart the beta version?

[2020-10-03 05:59] zaherg commented on #969
I can confirm it is working on PI4 64bit (Beta version) Raspberry OS

![image](https://user-images.githubusercontent.com/27624/94984563-f1155c00-0555-11eb-8c01-5a5f15538401.png)

@olimart I guess you are using 32bit OS that's why it is not working at your end. You need to know that even if you are using PI4 which is 64bit your OS should be 64bit too to work, Raspbian lite is 32bit not 64bit.

to d

[2020-10-03 06:00] olimart commented on #969
Raspberry Pi OS Lite 32 bit released 20020-08-20

[2020-10-03 06:01] olimart commented on #969
Indeed. Just noticed when checking for the version number.
Looks like I need to reinstall. Thanks for pointing out.

[2020-10-03 11:56] jcohlmeyer opened #986 "`&` Breaks Search on Dashboard"
**Describe the bug**
When entering a search in the provided MeiliSearch dashboard the search is broken, returning a 400 error as the `&` breaks the search request URL. This is because the search string is not URL encoded using `encodeURIComponent(search.value)`.

- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent

**To Reproduce**
Steps to reprodu

[2020-10-05 10:14] LegendreM opened #987 "Refactor CMD line (writting in WIP)"
**Is your feature request related to a problem? Please describe.**
meilisearch command line are messy and doesn't allow to add `non-launching` commands

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional

[2020-10-05 12:26] qdequele commented on #986
Thanks @jcohlmeyer, as it is a simple issue, why not letting the hacktoberfest participants fix it? 😉

[2020-10-05 14:03] eskombro opened #988 "Rename MEILI_DUMPS_FOLDER environment variable"
There has been a few discussions about the environment variable name `MEILI_DUMPS_FOLDER`. This issue's goal is to create a discussion and share everyone's point of view and arguments, so we can reach a consensus about changing it or keeping it

Please, feel free to express your ideas

:)

[2020-10-05 14:47] olimart commented on #969
Working fine on 32bit.
Is the `armv8 binary` 64bit only?

[2020-10-05 17:13] zaherg commented on #969
From what I know yes, V8 is 64bit only

[2020-10-05 18:07] olimart commented on #969
Thanks for your help @zaherg 🙏

[2020-10-05 18:07] #969 closed

[2020-10-06 10:23] bidoubiwa opened #990 "Distinct-attribute POST sub-route does not exist anymore"
**Describe the bug**
Updated the distinct attribute through it sub route throws a `404`

**To Reproduce**
Steps to reproduce the behavior:
1. Create index
2. Update `distinct-attribute` through `POST /settings/distinct-attribute`
3. `404`

**Expected behavior**
I expected it to work as it would on the global `POST /settings` route.

**Screenshots**
[code]

**Additional context**
I'm using v0.15 bu

[2020-10-06 10:48] #990 closed

[2020-10-06 13:41] bidoubiwa opened #991 "Dumps status are not consistent"
**Is your feature request related to a problem? Please describe.**
When using the dump status route `GET /dumps/dumps_uid/status` the returned status may be one of the following:
- `processing`
- `dump_process_failed`
- `done`

One of them gives context, the two others not.

**Describe the solution you'd like**
I would like them to be consistent in their information

**Describe alternatives you've

[2020-10-06 15:53] #986 closed

[2020-10-06 21:39] Chaphasilor commented on #902
I'd also be very interested in an exact match. I'm using MeiliSearch on data not containing natural language and the typo tolerance and space separators really mess with the quality of the search results.
See my issue here: https://github.com/meilisearch/documentation/issues/531

I personally don't need regex for not, but a query flag indicating that the exact search term has to be contained withi

[2020-10-06 22:55] eskombro commented on #902
You can customize the [ranking rules](https://docs.meilisearch.com/guides/advanced_guides/settings.html#ranking-rules) of MeiliSearch, in which `typo` is just an optional rule that happens to have a huge priority in the default settings. This is because it is a must-have for a lot of usecases. Try removing `typo` from the rules, or even applying only `exactness` and see which configuration fit you

[2020-10-06 22:59] Chaphasilor commented on #902
That looks very promising, thanks! I'll play around with it and see what is possible!

[2020-10-07 11:08] AlyHKafoury commented on #940
Hello @LegendreM Can I please work on this ticket as an opensource contribution ?

[2020-10-07 12:50] Kerollmops opened #992 "Add a crop-length index setting"
**Is your feature request related to a problem? Please describe.**

 It is currently not possible to set the global crop-length for an index.

**Describe the solution you'd like**

Add a setting to do that in the settings of the index.

[2020-10-07 13:26] LegendreM commented on #940
Hey @AlyHKafoury, yes don't hesitate!

[2020-10-07 13:35] LegendreM commented on #991
`dump_process_failed` is prefixed because it's linked to a global error in documentation: errors/#meilisearch-errors
so the option A is not really possible

[2020-10-07 17:33] neeldug commented on #964
Hi, I wanted to work on this as my first issue! I was planning on using [this crate](https://crates.io/crates/deunicode), however, I'm unsure of exactly where the search queries are parsed in the code base. Thanks!

[2020-10-07 17:45] neeldug opened #994 "search_benchmark is broken"
**Describe the bug**
The MeiliSearch Core `search_benchmark` is broken, this is easily fixed [here](https://github.com/meilisearch/MeiliSearch/blob/b406b6ee44353812314877ebabd30dc54492a70f/meilisearch-core/benches/search_benchmark.rs#L101), by dereferencing and forcing it into an Option,

**To Reproduce**
[code]

**Expected behavior**
The benchmark to run correctly

**Additional context**
Also, th

[2020-10-08 09:35] LegendreM commented on #994
Hey @neeldug thx for your report 👍

[2020-10-08 10:32] bidoubiwa commented on #991
I don't think it should not be the global error code. We should find another way of communicating the error code when a async process fails. For example in the update route : `/indexes/:index/updates` failing processes are displayed this way:
[code]
The error_code is clearly missing but the `status` is still only `failed`.

In an automatic environment there will be a condition looking for a failed

[2020-10-08 11:01] bidoubiwa opened #995 "Missing information in dump status body"
**Describe the bug**

When an update fails or succeed those are the possible bodies:

**Failing body**
[code]

**succeeded body**
[code]

The problem lies with `dumps`, when a dump process fails or succeeds this is the body:
**Success**
[code]

**Fail** (Im not sure about this one I could not reproduce an error)
[code]

**Expected behavior**
It would be better if there was more information on the

[2020-10-08 11:06] bidoubiwa opened #996 "Should there be a route to find dumps uid?"
**Describe the bug**
As of today when launching a dump creation process using the following route `POST /dumps/` MeiliSearch returns a `dumps_uid`. This `uid` helps the user track the dump creation process using the dump status route `GET /dumps/:dumps_uid/status`.

If the user **did not save** the `dumps_uid` he will not be able to recover it as there is no `GET /dumps/` route which could inform

[2020-10-08 11:22] eskombro commented on #991
It is true that the status and the error code are not the same, and it would be easy to use consistent status like 'failed', 'enqueued', and 'processed'

[2020-10-08 13:17] LegendreM commented on #996
Not for now, I think this route is relevant if you have a full http interface with upload, download... Which is not the case. Today's backup needs to have access to the file system to use them so the only way to have the backup list is to check the directory where backups are.

[2020-10-08 13:18] eskombro commented on #988
After discussing with the core and the integration teams, we are going to use the following variable names:

- `MEILI_DUMPS_DIR` for the directory where the dumps are stored by MeiliSearch
- `MEILI_SNAPSHOT_DIR` for the directory where the snapshot is stored by MeiliSearch

Please, don't forget to check that the CLI option is coherent with the environment variable name.

@LegendreM @curquiza @Mari

[2020-10-08 13:34] bidoubiwa opened #998 "Update of the dump status body"
# Summary

The body of the dump status should be improved.

# Motivations

For the moment the body has two informations:
- the `dumps_uid` written as `uid`
- the status of the given `dumps_uid`

The status can have 3 values `processing`, `dump_process_failed` and `done`. There is a lack of consistency between the status itself, and between these 3 status and the status we use in the `indexes/:inde

[2020-10-08 13:48] #995 closed

[2020-10-08 13:49] #991 closed

[2020-10-08 13:53] bidoubiwa opened #999 "Add processing time and date to dumps status"
**Is your feature request related to a problem? Please describe.**
For the moment the dump status looks like this
[code]

There is missing information on how much time a dump is made. Information that could be relevant when adding the dump in a scheduled task.

**Describe the solution you'd like**

We should also add the following: `createdAt`, `processedAt`, `duration`.

With the same idea as the

[2020-10-09 08:42] eskombro commented on #992
Would it apply to every field unless you overwrite that value in your search request? Or you qould be able to specify also the attributes to crop?

I like it :)

[2020-10-09 16:03] MarinPostma commented on #942
While fixing this bug, I have encountered a problem with `update_documents_with_facet_distribution`. This test checks that documents that are updated correctly when using facet distribution. It configures meilisearch with the following settings:
[code]

with the current settings behaviour, the values for `displayedAttribures` and `searchableAttributes` are not overriden when new attributes are fou

[2020-10-12 06:33] LegendreM commented on #998
here is the new status when an error occurs:
[code]

[2020-10-12 09:50] #993 closed

[2020-10-12 12:32] MarinPostma opened #1005 "Sort searchable attributes"
Like what was done in #943, it would be good if searchable attributes were also sorted in lexicographical order.

[2020-10-12 12:54] Chaphasilor commented on #993
@LegendreM how will the new tokenizer help with this issue? I imagine it would have to treat the links as a different 'language' to avoid the usual tokenization approach? Will this be possible once the new tokenizer is live?

[2020-10-13 11:13] LegendreM opened #1009 "Snapshot redesign"
# Summary

Snapshots design could have some improvements in CLI options and in error messages

# CLI

1) Add a boolean option to activate or deactivate snapshot scheduling instead of using `--snapshot-path` as defined:
`--schedule-snapshot`

2) rename `--load-from-snapshot` to `--import-snapshot` to be consistent with dumps

3) rename `--snapshot-path` to `--snapshot-dir` to be consistent with dum

[2020-10-13 12:33] bidoubiwa commented on #1009
Just to be sure, `--schedule-snapshot` will need an additional boolean to make it work?

[code]

[2020-10-13 13:12] bidoubiwa opened #1010 "Consider changing the extension name of dump and snapshot"
**Is your feature request related to a problem? Please describe.**
For the moment when creating `dumps` or `snapshots` a file is created with a `tar.gz` extension. This leads to believe that information inside can be unzipped and used. Which they are for dumps.

This is an unwanted perk. The problem with it being a perk is that we need to maintain it. Users will get used to this perk and changes t

[2020-10-13 14:26] eskombro commented on #1010
IMHO, I think it's fine as it is, if some user wants to open/uncompress or use somehow those files is totally fine, nobody is stating anywhere that this is a feature, it will be maintained, or should be reliable. But it let's indeed people find a usage to those files, and if he/she does, than that's cool, why not?

[2020-10-13 14:27] MarinPostma commented on #1009
There ares some things I don't understand:
- What do  `--schedule-snapshot` on it's own do? Does it trigger snapshoting with default values for `dir` and `interval`? What are those values? These should be reported in the doc **and in the CLI** help command.
- > Just to be sure, --schedule-snapshot will need an additional boolean to make it work?
I have a feeling that this will be necessary, this i

[2020-10-13 14:47] MarinPostma commented on #1009
no snapshot would be created, it would just override default values

this is useless, or am i missing something?

[2020-10-13 14:55] LegendreM commented on #1009
yes it is but lets say you are an env_var guy, yo would set up:
MEILI_SNAPSHOT_DIR=custom/path

and be able to choose to schedule snapshots or not without having to remove and probably forget the variable saying where are stored snapshots

[2020-10-13 15:16] LegendreM commented on #1010
The reason is:
- we don't want to maintain alternate usages of it
- we want to be free to completely change the content or the compression

[2020-10-13 15:43] bidoubiwa commented on #918
A few questions about the implementation user side.

Given the following example:
[code]
In this case, `movies` will be created before adding the documents.
Does this example looks good to you ?
What will `status` look like? What will the `type` be inside the status ? I've put an example of a status bellow for context

[code]

What do you mean with "the existing `primaryKey`"? There would be no wa

[2020-10-13 18:49] qdequele commented on #918
Instead of potential errors, create the index will be completely transparent. The type remains the same, `DocumentsAddition` in case of a document addition and `Settings` in case of settings modification. The update queue will still exactly the same as if you had created an index then push documents.

The example you give seems correct to me. For the `primaryKey`, the behavior still the same as be

[2020-10-14 08:09] ShivanshVij opened #1012 "Feature Request: Document Time to Live"
**Is your feature request related to a problem? Please describe.**
Sometimes I have documents that I need indexed in MeiliSearch that I want to have automatically deleted after a while. Right now I'd have to add some sort of creation timestamp to the document and then run a cron-job to delete things.

**Describe the solution you'd like**
What I'd like is a TTL (Time to Live) property that can be s

[2020-10-14 08:38] bidoubiwa commented on #918
With the arrival of the `lazy Index1 we should completely rethink the `get_index` naming. Thanks for your answers, looks good to me :)

[2020-10-14 09:56] LegendreM commented on #1012
Hello @ShivanshVij, thanks for your feature request, we will discuss it.
A possible workaround is to add an `expiration_date` attribute in your documents, add it as a facet and create a cronjob that delete document filtering on a facet.

POST documents
[code]

POST settings
[code]

SEARCH on `/search?facetFilters=["expiration_date:yyyymmddHH"]`
[code]

POST `documents/delete-batch`
[code]

with th

[2020-10-14 12:46] eskombro commented on #918
This feature seems to work perfectly (we tested it a bit with the integration team)! 🎉

A simple suggestion:

If there is an error in the index creation, we have seen that the error sent to the user is the error thrown by the index creation instead of the documents addition response, and that is great! But maybe it misses a little bit of context for the user, who doesn't necessarily know what's go

[2020-10-14 13:23] Kerollmops commented on #918
@eskombro I understand your point but I am sure the `errorCode` and `errorLink` will give enough context to the user to understand the origin of the error, furthermore it will add a lot of code just for this specific behavior (lazy index creation).

[2020-10-14 13:29] eskombro commented on #918
I agree with you @Kerollmops, this suggestion is ok only if it is really easy to implement, if it creates a different logic just to handle that, it may not be worth it ;)

[2020-10-14 16:29] hieetesh commented on #1005
I will do it 👍

[2020-10-15 03:13] theswerd opened #1019 "Improve Dumps"
**Is your feature request related to a problem? Please describe.**
When I create Meilisearch dumps, I don't want to store them on the container/volume/computer that I am dumping from, I want to export them. I would like more tools for exporting dumps.

**Describe the solution you'd like**
1. The ability to add API Hooks to the events in the process (Dump started, Dump finished, Dump in progress)
2

[2020-10-15 09:46] LegendreM commented on #1009
@MarinPostma @curquiza @bidoubiwa are we agree about this ?

[2020-10-15 09:59] #918 closed

[2020-10-15 10:28] bidoubiwa commented on #1009
I realize I have a few concern about the error message:

### Absolute or relative db path

"database already exists at data.ms, try to delete it or rename it"

What happens if I used the following flag
[code]
Does the error message becomes or does it gives the absolute path ot it ?
* `database already exists at ../dir1/dir2/data.ms, try to delete it or rename it` => relative
* `database already ex

[2020-10-15 11:20] LegendreM commented on #1009
Hey @bidoubiwa here is the actual message:
`Error: database already exists at "./data.ms", try to delete it or rename it`

[2020-10-15 11:30] bidoubiwa commented on #1009
The absolute path would ask for fewer changes the day we have a global CLI but the relative path works for me as of today.
So it's up to you or someone who really wants the relative. I think absolute is best but both are okey.

[2020-10-15 12:02] bidoubiwa opened #1021 "Cors error returned instead of authentication_error on wrong API key in browser"
**Describe the bug**
Previously when integrate MeiliSearch in a browser script and run it without API key or with a wrong API key I would receive a `authentication_error`.
Since v0.15 i receive a CORS error.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch a MeiliSearch instance with a masterKey
2. Use the following code in a http file (notice it does not use a master key)
[code]
3. Op

[2020-10-15 15:53] LegendreM opened #1023 "Upload and Download dumps"
# Summary

Add a route that allows the download of a dump stored in the server.

# Motivations

https://github.com/meilisearch/MeiliSearch/discussions/1006#discussion-24208

# Explanation

download a dump:
**GET**: `/dumps/:dump_uid`
`200`: stream of the file

upload a dump:
**POST**?: `/dumps/:dump_uid`

# Implementation

//TBD

# Related

- [ ] Design Validated by the team
  - [ ] @Many
  - [ ]

[2020-10-15 16:45] LegendreM commented on #1019
related to #1023

[2020-10-15 17:05] #994 closed

[2020-10-15 19:59] JexPY commented on #426
I hope we will have this feature soon. I would like to use meilisearch and nothing more for indexed data.

[2020-10-16 13:47] #942 closed

[2020-10-17 15:39] frbimo commented on #940
hi @AlyHKafoury , are you still working on this? if not i may pick this up.

[2020-10-17 17:52] buddudevelopers opened #1025 "How to stop brute force Guesing of API keys"
On the MeiliSearch Dashboard, providing a valid API key will grant access to the entire database. How can one prevent a script attempting different combinations of characters to brute force the key in production? In other words is there a rate limiter?

[2020-10-18 00:00] ppamorim commented on #1023
@LegendreM I wrote down some of my thoughts about this feature.

 - I agree with the routes `GET - /dumps/:dump_uid` and `POST - /dumps/:dump_uid`, but I think the route `POST - /dumps` should be renamed to `POST - /dumps/create` to prevent any confusion with `GET - /dumps/:dump_uid`.

 - I believe that by using `HttpResponse` for both download and upload functions are essential to keep the API st

[2020-10-19 12:45] LegendreM commented on #1025
hello @buddudevelopers, for the moment we don't have any rate-limiter  on meilisearch. We didn't decide if we want to implement it with other advanced authentication features or if we want to delegate it to another service like [kong](https://konghq.com/).
In one case it's simple for the user but need to be implemented, in an other case, using an open source service, it mutualize work and expertis

[2020-10-19 13:37] curquiza commented on #940
What is the final decision about this issue:

I guess the trivial approach is chosen, can you confirm?

## Summary

If I understand well:
- [update health route](https://docs.meilisearch.com/references/health.html#update-health) is removed
- [get health route](https://docs.meilisearch.com/references/health.html#get-health) will always return a `204` if we success to reach the MeiliSearch.

Do I fo

[2020-10-19 13:45] LegendreM commented on #940
Yep @curquiza  the `trivial approach` is chosen because we don't have any sanity check to do during run time. If meilisearch as an hard failure the server doesn't run and health route doesn't respond.

[2020-10-19 13:47] curquiza commented on #940
Thanks for the confirmation! Good to me then 🚀

[2020-10-19 13:47] #1025 closed

[2020-10-19 14:20] #940 closed

[2020-10-19 17:44] bidoubiwa commented on #940
What are possible error responses from health route in case it is not a '204' ( responses with a Meilisearch error body )? If some exists of course.

Can we receive the maintenance 'errorCode'?

[2020-10-20 07:58] MCOfficer commented on #900
![Meilisearch Updates plotted](https://user-images.githubusercontent.com/22377202/96557563-b849e680-12ba-11eb-9eff-ed611e4b614d.png)

I'm seeing the same issue while indexing ~50M documents. (The missing updates towards the end failed due to hitting the LMDB size limit.)

Would it help to get a flamegraph of the indexing process?

[2020-10-20 16:22] yashiroiori opened #1029 "Facet price range, order asc/desc"
Hi, meilisearch its amazing

I have some questions:
1. Into facets it's posible to get a low an hight number?? to use a range slide
2. How do to order asc/desc the hits results like a: name, brand, date, etc.

[2020-10-20 18:33] atresnjo commented on #1029
I'd be interested to know this also. I want to give meilisearch a shoot for a simple product search, thus a price filter would be nice!

[2020-10-21 12:08] curquiza opened #1030 "movies.json has two different fields "genre" and "genres""
Following this comment https://github.com/meilisearch/MeiliSearch/commit/d937aeac0a27ef21873b1a186ce2270968621815#commitcomment-43423208

We might check that we don't have the same issue on the other datasets 🙂

[2020-10-21 12:31] curquiza commented on #1029
Hello @yashiroiori and @atresnjo
Glad to read you like MeiliSearch!! 😁

No, unfortunately, it's not possible for the moment, but we have an issue open for this if you want to 👍 it! https://github.com/meilisearch/MeiliSearch/issues/919

A solution might be to create a custom criterion in your ranking rules. Here is the section about the [relevancy of MeilISearch](https://docs.meilisearch.com/guides

[2020-10-21 13:02] bidoubiwa commented on #1030
It should be changed to genres everywhere.

[2020-10-21 13:10] bidoubiwa commented on #1030
You can assign me on this

[2020-10-21 13:24] yashiroiori commented on #1019
About sort, I think make similar to Algolia make multiples index with each sort a need

Excellent, thank you

[2020-10-21 14:28] bidoubiwa opened #1033 "dump/snapshot env variables and options"
**Is your feature request related to a problem? Please describe.**
For the moment in the dump and snapshot design we have the following `env variables`/`cli options`:
- --schedule-snapshot
- --snapshot-dir
- --snapshot-interval-sec
- --import-snapshot
- --ignore-missing-snapshot
- --ignore-snapshot-if-db-exists
- --dumps-dir
- --import-dump
- --dump-batch-size

There are two inconsistent cases wit

[2020-10-21 14:37] yashiroiori commented on #1029
Yes, I see that in documentation

To make a facets not accept numbers values?? Can't make a facet for example with year where is an integer and the year when are string it's make facet without problem

[2020-10-21 14:38] yashiroiori commented on #1029
I thinking make similar how do Algolia make multiples index with order I need example: year_asc, year_desc, price_asc, price_desc

[2020-10-21 14:41] bidoubiwa commented on #1033
1 - A
2 - A or B
3 - A

[2020-10-21 14:42] Kerollmops commented on #1005
The order of the searchable attributes is very important, it indicates the order of importance of the attributes in a document, we must not reorder them!

[2020-10-21 14:43] eskombro commented on #1033
1. B      (seems cleaner: invalid options, I don't run your thing)
2. C
3. _       (Didn't understand :) )

[2020-10-21 15:16] LegendreM commented on #1033
[code]
generate errors and take part to C

[2020-10-21 15:18] MarinPostma commented on #1033
1 - D (I makes sense for me that `snapshot-dir` exists without snapshot being made from startup)
2 - B
3 - B

[2020-10-21 15:25] LegendreM commented on #1033
team DBB.

[2020-10-21 16:01] Shriram-Balaji commented on #486
@Kerollmops is the Highlight issue for nested JSON fixed? I'm currently having to `JSON.stringify` the objects in order to show them up.

[2020-10-21 16:33] Shriram-Balaji opened #1035 "Question: Configuring soft spaces for tokenization"
**Is your feature request related to a problem? Please describe.**
I'm currently trying to use MeiliSearch for an API Reference of sorts, which indexes OpenAPI Specs. As you might know, the data has a lot of "-" and "_" characters which seem to be used by the MeiliSearch tokenizer for splitting strings from https://docs.meilisearch.com/guides/advanced_guides/datatypes.html#string.

Because of a se

[2020-10-21 16:54] Kerollmops commented on #486
Hey @Shriram-Balaji,

Unfortunately this hasn't been improved yet, maybe in the near future.

[2020-10-21 17:04] Shriram-Balaji commented on #486
@Kerollmops okay, is there any potential downside to saving the object after stringification other than the 1000 word limit?

[2020-10-21 17:07] Kerollmops commented on #486
Apart from the fact that you will have to `JSON.parse` it on your side.

[2020-10-21 18:17] curquiza commented on #1033
1. D : I thought we ask for the Boolean ˋ--schedule-snapshot` to to let the devops configure the snapshot but without necessarily active it. The purpose is to activate it when wanted. So for me it should not throw an error. Maybe a warning but I understand that not everyone is a big fan of warnings 😁
2. As I said in the PR I'm not aware of the env variables usage at all, so I don't know what to ch

[2020-10-21 18:49] eskombro commented on #1033
DBB seems to be a winning team :)

[2020-10-22 07:33] bidoubiwa commented on #1033
Let's go for DBB then!

[2020-10-22 08:36] MarinPostma commented on #1005
@Kerollmops it doesn't matter anymore, since field pos and indexed_fields are two different things. The later is represented with a set anyways

[2020-10-22 09:23] Kerollmops commented on #1005
Yeah, but we must display the searchable attributes in the order the engine treat them.

[2020-10-22 09:29] LegendreM commented on #1005
@MarinPostma, As a user how can I change the attribute position for the criterion `attributes`? 🤔

[2020-10-22 09:44] LegendreM commented on #1035
Hey @Shriram-Balaji, thank you for your issue. For now, meilisearch tokenizer is really naive and is not configurable. We will soon work on enhancing it.
We will think on your use case when we will work on it!

[2020-10-22 11:02] MarinPostma commented on #1005
Can you?

[2020-10-22 11:10] Kerollmops commented on #1005
Updating a document to change the attributes order will not change the engines behavior as it will keep the global attributes order (the `searchable attibutes` setting), but updating the order of the `searchable attributes` setting must and will change the behavior of the `attributes` criterion.

[2020-10-22 11:15] MarinPostma commented on #1005
This needs to be tested and fixed, I will create an issue

[2020-10-22 12:23] MarinPostma commented on #964
Like what we did with facets (which are lowercased), we will need to store the synonyms in two different places. On one side the one we currently store need to be de-unicased, but we also need the original user input and keep the two lists in sync, so when the user request for the synonyms, the unicased versions are returned. I am currently on implementing this one.

[2020-10-22 14:46] #1009 closed

[2020-10-22 14:46] #988 closed

[2020-10-22 14:46] #998 closed

[2020-10-22 14:46] #1010 closed

[2020-10-22 14:47] #1033 closed

[2020-10-22 16:05] yashiroiori opened #1039 "Question: Combine facets with filter"
Hi
When set a filter example price and select a facet filter the response about de hits it's correct but the count of facets no chance

Filter price > 15000 AND price < 160000 and brand:acura the response say have 1 but it's not true, not have any car with that price range
![image](https://user-images.githubusercontent.com/17031855/96898982-f7606f00-1455-11eb-8136-e19ca1f0f136.png)

The response s

[2020-10-22 18:00] MarinPostma commented on #1039
Hello @yashiroiori, we are well aware of this, and there is currently an open pr trying to resolve that #849. The nbHits is an approximation that always overestimate the total number of results. In most cases it is not possible to have an exact number, but we are planning to make this approximation better and better over time

[2020-10-23 09:38] hadjedjvincent opened #1041 "Reload certificates files without restarting meilisearch process"
**Is your feature request related to a problem? Please describe.**

When using `--ssl-cert-path` & `--ssl-key-path` parameters, it looks like the certificate isn't getting updated by the meilisearch process.
For example, if you are using a LetsEncrypt certificate, and this certificate gets updated.
MeiliSearch process will not detect this change, and the certificate will get marked as expired (but

[2020-10-23 22:47] senyast4745 opened #1042 "Dynamic search by specified fields"
Kind time of the day. As far as I understand now, the search occurs in all fields that are set as search fields. I would like to know if it is possible to dynamically transfer a field or a set of fields that I would like to search. For each field, I would like to specify your request.

For example: `{" field1 ":" search text "," field2 ":" searchText "}`. It seems to me that it would speed up the

[2020-10-24 20:29] Kerollmops commented on #1042
Hey @senyast4745,

Unfortunately this is not possible with the current engine and will likely be impossible in the future, this is a major change in the internal engine design. Maybe you can create multiple indexes with the searchable fields combinations that fits your need as a workaround?

Would it be possible that you describe you use case in more details please?

[2020-10-24 20:46] senyast4745 commented on #1042
Thank you for the answer.  My use case is to use your engine as a search engine for logs. I want to write my own adapter for fluentd and display logs like Kibana.  This idea arose from the fact that now the main system for visualizing logs is ELK, but this system takes up too much RAM.

[2020-10-24 21:12] Kerollmops commented on #1042
I wasn't aware that Elastic was able to do so, even if I know that elastic can do anything while hitting all of the RAM. Unfortunately I will close this issue as this is not something that we will work on now, or in the near future.

Thank you for your interest in the project, however :)

[2020-10-24 21:12] #1042 closed

[2020-10-26 05:16] cryptoquick commented on #952
There would certainly be obstacles, but as apps with Rust-native desktop GUI libraries become more popular, this tool could become a natural go-to for document search capabilities in desktop apps as people start using Rust to replace clunky, large, and slow Electron apps, for example. I use Sled for this purpose currently.

[2020-10-26 09:34] Kerollmops commented on #952
@cryptoquick thank you for saying that, this is really motivating to here that, fortunately we are working on making a real Rust library for the engine.

[2020-10-26 09:53] jet10000 opened #1043 "How to make "or" query?"
query="a b or c"

[2020-10-26 10:00] MarinPostma commented on #1043
Hello! Can you elaborate a little bit on what you want to achieve?

[2020-10-26 10:10] jet10000 commented on #1043
https://www.elastic.co/guide/en/elasticsearch/reference/6.8/query-dsl-bool-query.html

must, should, must_not

How to make [must, should, must_not] search.

[2020-10-26 12:26] LegendreM commented on #1041
Hello @hadjedjvincent,
meilisearch doesn't handle ssl certificate reloading,
it's not a priority for us for the moment,
the only workaround you have is to deactivate ssl on meilisearch and use nginx or kong to proxify the ssl management,

thanks for sharing your needs

[2020-10-26 16:59] #1041 closed

[2020-10-26 17:02] Kerollmops commented on #1043
We doesn't plan to implement the should, must and must_not operations of ElasticSearch in MeiliSearch, we would like to keep it simple, but maybe one day we will work on a query language or a similar feature if many people request it.

However, thank you for sharing your needs with us! Cheers!

[2020-10-26 17:02] #1043 closed

[2020-10-27 16:40] MarinPostma commented on #964
In the end, this is not possible to do it in a straighforward manner without impacting user that use non-latin scripts. This involves work done on the tokenizer. In the meantime, I suggest that the synonyms are registered in a lowercase and de-unicoded format.

Re-opening this issue, and linking it to the tokenizer tracking issue

[2020-10-27 19:05] fimbault opened #1046 "Nextjs example"
**Is your feature request related to a problem? Please describe.**
Quick starter

**Describe the solution you'd like**
Adapted from the [react example](https://docs.meilisearch.com/instant-search-react-app/#how-to-implement-instant-search-within-5-minutes-in-your-react-app)

**Current issue**
From a quick test, calls with nodejs seem to be an issue

Example stack trace (here with getServerSideProp

[2020-10-28 11:36] fimbault commented on #1046
Actually it seems to work, it's just that to go quickly I used the default meilisearch that come with the example, but a more recent library version. So it seems due to MeiliSearch versions are being not compatible with each other, which is normal.

[2020-10-28 11:57] curquiza commented on #1046
Hello @fimbault!

Yes, you're right there are incompatible versions, this article in our docs indeed not up-to-date, sorry about that.
We are currently working on adding more front-end articles that would better fit with the new versions of MeiliSearch. I hope they would make your MeiliSearch experience easier!

Sorry for this inconvenient, and thanks for using MeiliSearch 😁

[2020-10-28 12:03] fimbault commented on #1046
no problem, here's the small test in case it helps someone https://github.com/fimbault/test-meilisearch-nextjs

[2020-10-28 14:22] bidoubiwa commented on #1021
After further investigation, this is how to reproduce the problem 👍

1. Start a meilisearch server v0.15 > **with** a masterKey
2. Make call to that MeiliSearch inside your browser without adding a api key
3. CORS error instead of authentication error body.

Minimal code to reproduce :

[code]

[2020-10-28 16:31] #1046 closed

[2020-10-28 16:45] curquiza commented on #943
Sorry to think about this now, but I only realize it when using it: isn't it possible to give the same order as the user input? I mean the similar behavior of `searchableAttributes`?
When I push `["id", "title", "author"]` I don't find any convenient to see them in lexicographical order instead of the order I choose.
The motivation is: `Same request should respond same results in the same order.`

[2020-10-28 16:56] eskombro commented on #943
I think the most important part was indeed to make it stable, I don't think the actual order has a real impact IMO

[2020-10-28 17:28] curquiza commented on #943
Yes, both solutions are stable (user order or lexicographical), but what I wanted to discuss is the best stable solution.
What do you mean by the actual order @eskombro ?

[2020-10-28 18:04] eskombro commented on #943
"the actual order" = "the order itself, which is the order"

What I mean is that it was important for them to be ordered and cosistent, but "how" they are ordered is a matter of preference, and seems very subjective for me to make a decision on it. If you want to modify it I'm ok with that, but I don't think it has an impact on the usage :)

[2020-10-28 23:03] MarinPostma commented on #943
This would involve yet another change in the data structure we use, one that would decrease code usability. Unless there is a good, objective reason to do so, we should stick with what we have.

[2020-10-29 00:00] CameronSumpter opened #1048 "Synonyms are Case-Sensitive"
**Describe the Bug**
Synonyms only work when passed to the Settings API as all-lowercase strings without accents.

**To Reproduce**
Add a document with the word 'Catalonia' appearing in a searched attribute and apply the following synonym configuration:
`['Cataluña' => ['Catalonia'], 'Cathalaunia' => ['Catalonia']]`

**Expected Behavior**
Queries for `Cataluña`, `Cataluna`, and `Cathalaunia` shoul

[2020-10-29 05:04] rustysys-dev opened #1049 "Highly available distributed indexes"
MeiliSearch seems to be a very interesting project, and I am thinking about promoting it for my team to use in our IoT platform.  That being said, there are a few things I would like to inquire about.

I would like to know what thoughts the MeiliSearch team has regarding highly available distributed indexes.

Essentially I would like to run three or more instances of MeiliSearch behind a load bala

[2020-10-29 06:12] MarinPostma commented on #1049
Hello @rustysys-dev this is indeed something that's being worked on currently. We can't provide any ETA on when this will become available however

[2020-10-29 06:29] rustysys-dev commented on #1049
Sounds great!  I will keep an eye out for this feature.  If you have a kanban or task list that you are using to track features with maybe I can offer some support.

[2020-10-29 08:21] MarinPostma commented on #1049
There is this pr https://github.com/meilisearch/MeiliSearch/pull/931 that contains the current advancement on the subject, it is still messy and buggy, but help could be appreciated there, and there is our public roadmap: https://github.com/orgs/meilisearch/projects/2 :)

[2020-10-29 08:26] MarinPostma commented on #1048
Hello @CameronSumpter, we are well aware of this, and we tried to address this in #964. We had to reconsider this because unicasing and de-unicoding is not always desirable, for example, for languages that do not use the Latin script. This will be solved in the future by the ongoing work we're doing on the tokenizer, but until then, you should pass `all-lowercase strings without accents` to achiev

[2020-10-29 09:33] MarinPostma opened #1050 "Searchable attributes order"
The change of behaviour of `displayedAttributes` and `searchableAttributes` introduced by #846, and later fixed by #1001 have an unintended behaviour concerning the order of the `searchableAttributes`. The current design is flawed.

Currently, the order of the `searchableAttributes`, reflects the importance of a field in the documents. The more a field is on the left of the field array, the more i

[2020-10-29 14:01] CameronSumpter commented on #1048
Thanks for the clarification, @MarinPostma. That's perfectly understandable; I think mentioning it in the documentation will set proper expectations and save others a bit of time!

[2020-10-29 14:01] #1048 closed

[2020-10-29 15:35] hah opened #1051 "Degraded queries"
Hi, Any plans to introduce a similar degraded system as Algolia [has](https://www.algolia.com/doc/faq/searching/what-are-degraded-queries-and-how-do-they-work/)?

Basically in case of a request spike, not as many results are returned, but the response is still quick, and relevant

Maybe there is already a feature, but I could not find anything in the docs. thanks a lot

[2020-10-30 09:42] rustysys-dev commented on #1049
This is perfect! I will take a look at this now!

[2020-10-30 09:43] #1049 closed

[2020-10-31 21:12] hah commented on #410
hey, any update on this?

[2020-11-01 19:48] ayalon opened #1060 "Phrase search / Exact match"
**Is your feature request related to a problem? Please describe.**
I have a lot of documents with special characters like . (dots) and , (commas). THe most common use case is to search for an exact match:

"1. Title Chap. 2,3"

**Describe the solution you'd like**
Currently the tokenizer strips all . (dots) and , (commas). Using phrases with quotes is not supported as far as I see. If there is a w

[2020-11-02 08:33] LegendreM commented on #410
Hey @hah, we are currently working on a POC of a raft consensus, we managed to make it work but it is not releasable for now. We have a big work to do on Bug tracking.

 thanks for your interest on this feature @hah! 😃

[2020-11-02 11:23] tristantbg commented on #1021
I am facing the same problem with Nuxt/Vue while trying to fetch results from my Meilisearch instance :

1. Go on monsieurlagent-li1evd768.vercel.app
2. Click on "Explore"
3. See the 500 error and look at the console
4. Reload the page (it works because the fetch is made with SSR on server side)
5. Make a search
6. It doesn't work because it is made with SPA

[2020-11-02 17:46] curquiza opened #1061 "Remove the Maintenance error"
Since the health route has been updated, the `Maintenance` error is not used anymore.

https://github.com/meilisearch/MeiliSearch/blob/4398f2c0234cc6c25910572a8eea59db66c3bb47/meilisearch-http/src/error.rs#L37-L58

Should we remove it?

Related discussion: https://github.com/meilisearch/documentation/pull/564#issuecomment-712812581

Not an emergency of course! 🙃

[2020-11-02 19:17] MarinPostma commented on #1061
Uhmm two options here:
- Meilisearch-error is a library and this error is just part of the exposed api
- it's dead code and we should remove it

I'm a partisan of the first former.

[2020-11-03 08:42] bidoubiwa commented on #1061
I'm not sure what the best practice is in this case, if meilisearch-error is a library it should not be dependant on MeiliSearch's behavior. But we also would like to avoid contributors seeing it and trying to incorporate them in their code, as they did in this PR:
https://github.com/meilisearch/meilisearch-js/pull/635.

[2020-11-03 08:55] bidoubiwa commented on #1021
Hey @tristantbg could you provide a public repository with this error?

[2020-11-03 09:37] tristantbg commented on #1021
Here is sandbox : https://codesandbox.io/s/meilisearch-cors-vnw77?file=/pages/index.vue

It works locally but not in a production server...
See here : https://vnw77.sse.codesandbox.io

[2020-11-03 09:52] Kerollmops commented on #1051
Hey,

Thank you for helping us, indeed this is something we would like to add to the engine at a moment. We are currently working on improving the engine right now and will take you issue into account.

The first thing we want to work on is to keep the engine fast enough to be sure that we don't rely on degraded query even when query must be non-degraded and the engine must have answered fast enou

[2020-11-03 13:59] bidoubiwa commented on #1021
The way I reproduce the error is by either adding a wrong API key or a wrong API key. Instead of returning an error telling me I have no authorization, it makes a CORS error.
Could you check that your API key is correct on your production server?

[2020-11-03 14:03] tristantbg commented on #1021
Just fixed it ! Sorry, I put the key in the private ENV variables.

[2020-11-04 09:47] hah opened #1064 "excluding facet counts if the values is 0"
creating a feature request for: https://github.com/meilisearch/MeiliSearch/pull/1053 it is not a super important feature, more like a nice to have

**Describe the solution you'd like**
if you have a lot of tags, the results is messy so would be nice to have a feature to only include the "relevant" results (like count > 0)

**Describe alternatives you've considered**
well technically i can just pro

[2020-11-04 14:24] bidoubiwa opened #1066 "Facet field is not added in searchable Attribute"
**Describe the bug**
When adding a field to facetsDistribution before adding the documents, this field will not be added to the `searchableAttributes` once I add the documents.

When I watch the settings, this is the value of searchableAttribute: `*`. Since it is a wildcard, I excepted it to have all fields, and not exclude what I have added to facetsDistribution.

If I add settings after my docum

[2020-11-05 01:28] inluxc opened #1067 "Index Replicas"
**Is your feature request related to a problem? Please describe.**
We need Index Replicas, like on Algolia we need to create replicas to add different sort rules.

**Describe the solution you'd like**
So we don't need to create different indexes to add different rules and always sync the differences in all of them.
The replicas would always be synced with the index data, just the setting would cha

[2020-11-06 16:12] bb opened #1068 "Improve documentation and error messages when adding fields for facetting which contain unsuitable data"
I tried to configure some `attributes_for_faceting` on an existing index by "brute force", i.e. just taking all existing fields and configuring them and see if it raises an error.

I'm using server version 0.16 installed using brew on mac. I was using the meilisearch-ruby client 0.14.0, but I think the specific client is not relevant here.

### Case 1: Invalid attribute type mentions attribute val

[2020-11-06 16:22] bb opened #1069 "Provide more index/document schema introspection via API"
The stats endpoint (e.g. `http://127.0.0.1:7700/indexes/foo/stats`) provides a nice overview of the fields in `fieldsDistribution`.

To easily identify which attributes I could use for faceting, I'd like to also see, the types for each field, e.g. string, string[], int, int[], etc.

If there's more information available internally about fields, it would probably be nice to expose this as well.

Ex

[2020-11-06 16:39] MarinPostma commented on #1068
Thanks a lot @bb, for this very detailed report. You are right those points need to be addressed, I will create the relevant issues so this gets done 👍

[2020-11-06 16:48] MarinPostma commented on #1069
Thanks for the suggestion!

For your first point, meilisearch is mostly untyped, so we don't keep information about the type of the field, not we care about it internally, except for certain case with facets, but this is done at indexing and forever forgotten about.

The word limit is a hard limit, that is documented as you pointed out, I'm 'ot sure how this sits in index specific stats

The last

[2020-11-08 17:36] autresrhumbs opened #1070 "Feature request: similarity search"
It would be nice to have a "similarity" search, where you would provide ID of a document and MeiliSearch will return a list of similar documents, which match the most.

[2020-11-08 20:44] Flakebi commented on #851
For those stumbling over this issue on Windows (or #471 or #643), this can be fixed by upgrading lmdb.
In the lmdb upstream repository, lazily reserving space on Windows has been implemented [in 2015](https://bugs.openldap.org/show_bug.cgi?id=8324), however it did not make its way into the `lmdb-rkv-sys` crate, which lives in [mozilla/lmdb-rs](https://github.com/mozilla/lmdb-rs).

To get this fix

[2020-11-09 09:41] tristantbg commented on #1021
Any news on this ?

[2020-11-09 09:46] tristantbg commented on #1021
It seems to work when the apiKey is not stored inside `process.env` but is exposed publicly.

[2020-11-09 09:50] bidoubiwa commented on #1021
I'm don't think you can access `process.env` when running your script in a browser. It is a [node specific](https://nodejs.org/api/process.html) API. I think that you don't send any API key. In which case you receive the CORS error because your API key is undefined. Could you console.log `process.env` where you use it?

[2020-11-09 09:55] tristantbg commented on #1021
Yes I guess this was the error since it works as expected now !

[2020-11-09 10:02] MarinPostma opened #1071 "Better error message for facet attributes type error"
Originally reported in #1068 .

An error is thrown when indexing fields declared as `attributeForFaceting`, when the value is not of a supported type (`String` or `[String]`).

The curent error looks like this:
[code]

We want to introduce a bit more context to the error thrown when indexing documents, in the form of composable error message, e.g:
[code]

This may require some thoughts, and maybe

[2020-11-09 12:17] MarinPostma opened #1072 "Better error message for max facet value size"
As explained in #1068, trying to use a facet that is longer that a certain size (504 bytes if i'm not mistaken) will result in an internal error to be thrown. We would like a better error message to be returned in that case, and a section in the documentation should explain this limitation.

This limitation is due to the key/value store we are using.

TBD: error message to be returned in this case

[2020-11-09 12:18] MarinPostma commented on #1068
closing in favor of #1071 and #1072

[2020-11-09 12:18] #1068 closed

[2020-11-09 12:55] tagizaade commented on #135
Is there any progress toward this feature?

[2020-11-09 14:29] ayalon opened #1073 "Support non-disjunktive facets"
## Is your feature request related to a problem? Please describe.
 I created a search prototype with algolia and I'm now trying to get the same facet behaviour with meilisearch.

I have have a facet called author. Every document has exactly one author.

## Facet Example
Adam (10)
Abraham (5)
Rossier (1)

If I select Adam on meilisearch the result is:
**Adam (10) (active)**
Abraham (0)
Rossier (0)

[2020-11-09 14:57] MarinPostma commented on #1067
this is related to #730

[2020-11-09 15:05] MarinPostma commented on #1064
with @meilisearch/core-team we don't think that this is something we want. This makes to API more complicated, and since the payloads are compressed, and should not contain too much values, application side sorting should not be too expensive.

that being said, @meilisearch/integration-team may have another opinion on this, and if they do we will reconsider.

[2020-11-09 15:09] MarinPostma commented on #1061
we will remove it

[2020-11-09 15:13] MarinPostma commented on #1060
related to #902

[2020-11-09 15:30] Kerollmops commented on #1060
Hello,

The phrase/exact search feature is something we would like to support, however the complexities of being able to search in documents with words that are abreviated and chapter numbers is a little more complex but we will look into maybe a setting that will allow the user to specify settings by document attributes and therefore be able to force the engine to ignore punctuation.

The "2,3" w

[2020-11-09 15:32] #1051 closed

[2020-11-09 15:32] tpayet commented on #1064
Thank you @hah for writing this issue :)

As @MarinPostma exposed it, we are very picky when it comes to adding new settings to the engine.
We have to define whether or not we are ready to add every possible options to the search engine while knowing it may confuse users.

As you may know we are trying to differenciate from Elastic by providing the simplest developer experience so adding this kind

[2020-11-09 15:32] curquiza commented on #1064
I agree with @MarinPostma: this would add complexity to the API for a thing that could be easily done in front-end.

On the other hand, the integration tools we provide (meilisearch-js, instant-meilisearch, meilisearch-swift...) could handle this kind of behavior, for example, an option `displayZeroFacets` sets to `true` by default that the users could change to `false`.

For people using instant-

[2020-11-09 15:35] hah commented on #1064
alright, thanks a lot!

[2020-11-09 15:35] #1064 closed

[2020-11-09 15:48] deshetti commented on #862
@LegendreM sorry for the delayed response. I do not check my github notifications very often.

We use the Golang SDK.

[2020-11-09 15:49] LegendreM commented on #1073
Hello @ayalon,
your issue seem to be related to [#945](https://github.com/meilisearch/MeiliSearch/issues/945#issuecomment-685526678).

The facet distribution listed by meilisearch is the distribution of returned documents.
Meaning that if a facet is exclusive and is selected (for exemple: it's not possible to have a document with `Adam` and `Abraham` and the facet `Adam` is chosen)
so the returned

[2020-11-09 15:56] ayalon commented on #1060
Great news! Thanks a lot for this Open Source effort! You are doing a great job and many (anonymous) user appreciate your hard work!

I really appreciate your help and looking forward to a possibility in meilisearch for phrase/exact search. If there is a new version or something to test, please mention it in this thread so I can test it.

[2020-11-09 16:01] ayalon commented on #1073
Does that mean, that the frontend implementation of https://github.com/meilisearch/instant-meilisearch has a bug ? I'm using algolia vue-instantsearch in the frontend i just exchanged the search client.

Maybe https://github.com/meilisearch/instant-meilisearch has to send 4 request and fails to to so?

[2020-11-09 17:18] bidoubiwa commented on #1073
Doesn't it depend on which field you add to the [facetsDistribution](https://docs.meilisearch.com/references/search.html#search-in-an-index-with-post-route) and [facetFilters](https://docs.meilisearch.com/references/search.html#search-in-an-index-with-post-route) parameter of a search?  If you add only `Adam` to `facetFilters` and `["Adam", "Abraham"]` to `facetsDistribution`, then you will get `a

[2020-11-09 17:29] ayalon commented on #1073
For reproduction check this example:
https://codesandbox.io/embed/github/algolia/doc-code-samples/tree/master/Vue+InstantSearch/getting-started
![image](https://user-images.githubusercontent.com/432045/98575231-35b0b780-22b9-11eb-8c21-d751d6e8b495.png)

If you click on the Facet "Smartwatches & Accessories", the result list only shows Smartwatches and no iPhone Accessories.
But the Facet "iPhone A

[2020-11-12 06:23] quanterion commented on #780
Wild card is also usefule if you have tree-like structure (e.g. file system) and each document have path property so to search for items in folder /var/log  we could provide wildcard '/var/log*' for path property. Or may be there is some other way to handle such issue?

[2020-11-12 08:59] iredmail opened #1076 "Can NOT run on CentOS 7: /lib64/libc.so.6: version `GLIBC_2.18' not found"
**Describe the bug**

Still can not run the latest 0.16.0 on CentOS 7.8.2003. The error is:

[code]

**To Reproduce**

- Download the latest 0.16.0, file `meilisearch-linux-amd64`
- Setup a new CentOS 7 VM.
- Run it:

[code]

**Expected behavior**

Running and listening on default port 7700.

[2020-11-12 08:59] iredmail commented on #1076
#932 is related, but no solution.

[2020-11-12 10:00] curquiza commented on #1076
Hello @iredmail!

I've just tested and indeed it does not work on CentOS v7.
However, it works on CentOS v8.

If you cannot upgrade your CentOS version you can use docker or compile from the sources.
See this installation guide: https://docs.meilisearch.com/guides/advanced_guides/installation.html#installation
(the other solutions I suggest are in the tabs)

[2020-11-12 10:13] iredmail commented on #1076
We’re looking for running Meilisearch on CentOS 7+8, Debian 9+10, Ubuntu 18.04+20.04, all are fine except CentOS 7.

No problem to use CentOS 8, but it would be great to have it running on CentOS 7.

[2020-11-12 12:00] curquiza commented on #1076
Yes, I understand this is an issue. There are a few alternatives at this moment:
- Compile natively: this is an Open Source repository you can always clone it and compile it in a specific environment
- Use docker: We provide official images and you can use that abstraction layer

I am really sorry but being realistic, even if we would like to, I don't think we can prioritize supporting CentOS 7 at

[2020-11-12 12:31] MarinPostma commented on #1076
Hello @iredmail,

if I'm not wrong, centos7 libc version is 2.17 (you can check that by running `ldd --version`), meilisearch is built on ubuntu whose libc version is 2.18, hence the mismatch in version.

If you really want to run meilisearch on centos7, the easiest would be to build meilisearch from source on centos7:

[code]

[2020-11-12 13:07] #1076 closed

[2020-11-12 15:51] iredmail commented on #1076
Thanks for helping. :)

No problem to build it with source code, my purpose was raising this issue and maybe you guys want to figure out a way to offer binary package for CentOS 7 users. like updating CI to build it automatically or something.

[2020-11-13 10:41] young-byte opened #1078 "Invalid JSON: EOF while parsing a value at line 1 column 0"
## issue

#### i did this :

[code]
then i went to http://127.0.0.1:7700/ everything works fine .

#### the problem :

to add movies : you need to paste this in terminal

[code]
i got this error message :

[code]
but when i paste this :

[code]
works fine.

#### question :

so what's the problem when calling json file ?

[code]
thanks.

[2020-11-13 13:05] MarinPostma commented on #1078
Could be related to recent updates to the dataset

[2020-11-14 23:16] Flucadetena commented on #1078
I'm having the same issue when making and http.post call  to search I get the same error. But when making a get request, no problem

[2020-11-15 21:20] aysark opened #1079 "Non english character error in service logs"
**Describe the bug**
I'm seeing these errors in the meilisearch service logs:

[code]

**To Reproduce**
Not sure, but i guess its due to non-english characters?

**Expected behavior**
Trying to understand that, as the error is not helpful to root cause.

**Screenshots**
N/A

**Desktop (please complete the following information):**
OS: ubuntu 18

[2020-11-16 00:09] aysark opened #1080 "Ability to rename index"
**Is your feature request related to a problem? Please describe.**
Renaming an index is important in production workflow where we are reimporting/reindexing all docs but do not want to suffer downtime.  So we will do the work in the background on a temporary index and then need to rename the temp index as the new main/master index.

**Describe the solution you'd like**
N/A

**Describe alternatives

[2020-11-16 05:07] acc557 opened #1081 "Elasticsearch-compatible API"
**Is your feature request related to a problem? Please describe.**
Elasticsearch is a search engine based on the Lucene library and is most popular for full-text search. Many software is built around Elasticsearch API. MeiliSearch has a different set of Restful API than es, making it hard to get existing software working with MeiliSearch.

**Describe the solution you'd like**
Provide a middle-ware

[2020-11-16 11:38] bidoubiwa commented on #1078
It is working for me
[code]

Are you in the write directory ? `datasets/movies` ? Otherwise you should add the the path to the file after the `@`.

Like this:
[code]

[2020-11-16 14:40] young-byte commented on #1078
yes i was in the wrong directory , i'm sorry , it work s fine now. thanks : )

[2020-11-16 14:41] #1078 closed

[2020-11-16 14:56] MarinPostma commented on #1079
hello @aysark,
from what I see this is related to cropping/highlighting.

Can you observe any other effect than the error log?

[2020-11-16 15:00] MarinPostma commented on #411
@meilisearch/integration-team is this still something we want to do?

[2020-11-16 15:04] MarinPostma commented on #1050
dicussions moved to https://github.com/meilisearch/specifications/pull/3

[2020-11-16 15:04] #1050 closed

[2020-11-16 16:20] MarinPostma commented on #763
I have investigated this isssue. From what I have collected, this is due to the case sensitivity of the synonyms. This is part of the [tokenizer rfc](https://github.com/meilisearch/specifications/pull/2). This issue is also reported in #964  and #1048

The way to deal with that is to put all synonyms in lowercase:
[code]
this is not ideal, and will be addressed with the new version of the tokenize

[2020-11-16 16:20] #763 closed

[2020-11-16 16:21] MarinPostma commented on #1048
linking to #964

[2020-11-16 18:33] curquiza commented on #411
It could be great when you are running MeiliSearch in production.

[2020-11-16 18:38] MarinPostma commented on #411
I will write the spec :)

[2020-11-16 21:16] bb opened #1083 "Facet aggregation functions"
The way values for `facetsDistribution` are determined is currently only counting documents.

I have some use cases where I am indexing and searching aggregate documents which act as surrogates for the actual things the user thinks of. In these cases, I do not want to count documents but sum up based on a certain field value. Besides count and sum, there are lots of other functions which might be

[2020-11-17 00:11] bb opened #1084 "Introduce sortFacetValuesBy"
Most of the time, I show facets in descending count order. However, I need to sort the values based on their counts on the client.

It would be great to introduce [sortFacetValuesBy](https://www.algolia.com/doc/api-reference/api-parameters/sortFacetValuesBy/) like Algolia has it.
It'd be even better if that could be configured per Facet (at query time plus defaults in settings) but that might be o

[2020-11-17 00:21] eskombro commented on #411
I just came by to say: +1

[2020-11-17 00:24] bb opened #1085 "Introduce facetDistributionMinCount"
I'm showing many facets to the user at the same time. After facetFiltering, a lot of the values are 0, but all the facet values are still in the response and filtered in the client. This roughly doubles the response body compared to filtered facet values.

I'd like to configure a `facetDistributionMinCount` at query time and most of the time configure it with `1` so all those with zero are not tra

[2020-11-17 20:41] chadwcarlson opened #1086 "Deploying on Platform.sh"
**Is your feature request related to a problem? Please describe.**

Not at all related to a problem, more trying to follow the Contributing Guide's suggestions to open an issue to match a pull request. If any problem exists, it may only be including details of different ways to deploy Meilisearch.

**Describe the solution you'd like**

We have had a lot of success using Meilisearch for search on o

[2020-11-18 12:48] curquiza opened #1088 "Corrupted data during search (POST)"
`v0.16.0`

## Steps:

- add documents (creating index at the same time) with `id`, `author`, `title` and `genre` (all are strings).
- add a field as facets (`genre`)
- search (`POST`) with this parameter:
[code]
-> OK
- delete all documents
- redo the same search than before -> get a `500`
[code]

[2020-11-19 09:35] LegendreM commented on #1088
I tried to reproduce it and had:
[code]

[2020-11-19 09:37] curquiza commented on #1088
I tried with postman (curl) and a ruby script, and I got the same issue as I described.

Here is the script:

[code]

Here are the logs:

[code]

[2020-11-19 09:40] LegendreM commented on #1088
You have a master key set, I will try with it

[2020-11-19 09:41] curquiza commented on #1088
@LegendreM, I don't do a "he" query, but you do

[2020-11-19 09:46] LegendreM commented on #1088
that's it @curquiza, `placeholder search` + `facetDistribution` on no more existing documents containing the selected facet.

[2020-11-19 10:12] MarinPostma commented on #1088
I found the big, working on it now

[2020-11-19 14:24] LegendreM commented on #1081
Hello @acc557, your request is interesting,
but we don't plan to implement and maintain it for now,
as you said a middle-ware seems to be a good option and could be implemented by anyone in the community,
probably based on nginx or kong.

Thanks for your proposal and your interest in our project!

[2020-11-19 14:46] LegendreM commented on #1083
Hello @bb,

I may misunderstand your proposal,
but your need seems to be more  aggregation and analysis of your documents than instant-search,
we don't plan for now to implement advanced aggregation/analysis features.

I would be interested to have more details about your use case. 😄

Thanks a lot for following meilisearch and suggest new features!

[2020-11-19 14:53] LegendreM commented on #1084
Hey @bb,
As you said it's pretty easy to handle it on the client sides,
moreover,  meilisearch would not return trillions of facet values introducing performance issues on the client.

[2020-11-19 14:56] #1084 closed

[2020-11-19 15:07] Kerollmops commented on #1085
Hey @bb,

We already had a similar issue/PR about this behavior and we rejected it because was going against MeiliSearch principles, where we prefer not adding parameters to set up things that can be easily handled front side!

https://github.com/meilisearch/MeiliSearch/issues/1064#issuecomment-724087638

But it is a pleasure to have you in the community, you are really involved in your work! :)

[2020-11-19 15:07] #1085 closed

[2020-11-19 15:33] #1086 closed

[2020-11-19 16:07] #1061 closed

[2020-11-19 21:20] aysark commented on #1079
Yeah if its just related to cropping/highlighting then its not so bad? I thought it was not indexing those docs?

[2020-11-20 04:39] Ajju2211 opened #1092 "Deploy on heroku button"
Deploying on platform.sh and digital ocean arr not free.
So please provide deployment for the heroku platform also.
Either provide heroku deployment button or provide github action to deploy on heroku.
Thanks in advance

[2020-11-20 09:13] bb commented on #1085
Sorry for not looking at the existing issues close enough.

[2020-11-20 09:49] #1088 closed

[2020-11-20 11:51] theo-lubert opened #1093 "Sort on string fields"
**Is your feature request related to a problem? Please describe.**

Currently it seems the Meilisearch's bucket sort is limited to numerical fields by design.
In order to streamline the use of the search engine, we would like to use it to retrieve even simple lists. Yet one of the most recurring limitation is the impossibility to sort by `String` (ex: title, slug, email, ...).

**Describe the solu

[2020-11-20 12:46] eskombro commented on #1092
Thanks for the suggestion @Ajju2211

It is indeed interesting, we can't prioritize this right now, but we will probably add it soon :)

[2020-11-20 13:15] eskombro commented on #1092
Actually, I found an old PR removing the Heroku button for automatic deployment, which means this was already tested and discarded:

https://github.com/meilisearch/MeiliSearch/pull/570

[2020-11-20 13:56] Ajju2211 commented on #1092
Thanks for that, I will look into that pr.

[2020-11-20 16:31] Ajju2211 commented on #1092
Heroku is operating on dynos after data inactive or restarting dynos data will be cleared.
Why not implementing database to save instead of inmemory.
Like mongodb, firebase, postgres.
Any among the above implementation is better to implement.
So please look into this issue.

[2020-11-21 10:40] bhavyalatha26 commented on #902
Hi @eskombro, I have a similar use case , where I need to search terms based on query param and **ignore the typo tolerance**. I tried both the steps mentioned below

- Remove **typo** from the ranking rules
- Use only **['exactness']** for raking rules.

But none of them helped. I still run into the same issue

I am running the meilisearch server on docker and I also made sure that the server was

[2020-11-23 01:27] G-Sheridan commented on #923
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-11-23 15:46] aysark opened #1098 "Meilisearch slow on updates, backlogged/behind by 30-50min"
**Describe the bug**
Not sure if meilisearch has been benchmarked by large scale apps as i have tried to find evidence of other users and most implementations talk about the size of the data and not the frequency of updates.  I work on an app doing 40k+ DAUs and while search query perf is good.  Updating index on single events like 'a user starring/liking a post' is not good.  The index gets backl

[2020-11-23 22:40] woshilapin opened #1099 "Setup more targets for clippy continuous integration"
**Is your feature request related to a problem? Please describe.**
`cargo clippy` doesn't address lint problems in all possible Rust targets (examples, tests, etc.). We can widen the scope of `clippy`.

**Describe the solution you'd like**
- Fix all current clippy problems in current other targets
- Setup in the CI the additional targets

**Describe alternatives you've considered**
- I'm wondering

[2020-11-23 22:47] woshilapin opened #1101 "Introduce `rustfmt` in continuous integration"
**Is your feature request related to a problem? Please describe.**
`rustfmt` is a widely used formatter for Rust source code but it seems a lot of the code of `MeiliSearch` is not formatted using this formatter.

**Describe the solution you'd like**
- Format all the files with `rustfmt`
- Setup the CI to ensure any new piece of code respect this formatter

**Describe alternatives you've considered

[2020-11-24 07:27] MarinPostma commented on #1101
Hello @woshilapin, thank you for you proposal, but it is a choice not to use rustfmt 🙂

[2020-11-24 07:27] #1101 closed

[2020-11-24 07:49] woshilapin commented on #1101
Thank you for your quick answer. Do you mind explaining the rational behind this decision? Also, I'm wondering if it worse explaining it in the documentation (since it's seems to be mostly the standard to use it). I could provide a PR to improve the documentation if you'd like.

[2020-11-24 08:07] MarinPostma commented on #1101
There was an attempt with #928, but @Kerollmops has reservations about using rustfmt, he will explain why better than me 🙂

[2020-11-24 12:13] benhowes opened #1102 "filters: `!=` support for arrays of values"
**Describe the bug**
When using filters, I was expecting `!=` to allow filtering for when a value was not in an array, given that `=` allows for filtering where an array contains.

Having read up in #611 I thought that would be the behaviour.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a document schema containing an array of values
2. Perform a search with a filter contain `array

[2020-11-24 12:25] MarinPostma commented on #1098
Hello @aysark, Indexing time is something we are actively working on. Indexing is a very costly operation, and some operations require the entire reindexing of the documents. We cannot provide you with a workaround right now, but stay tuned for big improvements on that side

[2020-11-24 14:27] bhavyalatha26 opened #1103 "Removing "typo" from ranking rules does not disable typo tolerance while searching"
**Describe the bug**
To disable the typo tolerance while searching, it is recommended to remove the rule **typo** from the list of ranking rules. However this does not work. Even after removing it from the ranking rules, the results still seem to apply typo tolerance.

**To Reproduce**
Steps to reproduce the behavior:
1. Using Client update the settings
[code]
2. Restart the server
3. See that the

[2020-11-24 14:59] Kerollmops commented on #1101
I am not a great fan of automatic code formatters as sometimes they will format code in a way [that will reduce the readability of it](https://twitter.com/pcwalton/status/1088159135877685248). I am more on the side of people who think that there must only be [simple and basic formatting rules](https://twitter.com/withoutboats/status/1223252816724221952).

[2020-11-24 18:18] jwohlfert23 opened #1104 "Ability to delete specific updates or clear out the queue of updates"
**Is your feature request related to a problem? Please describe.**
When there is a super long backlog of updates, there is a need to clear out that backlog, rather than waiting for them all to complete. In most queue systems there is a way to do this.

**Describe the solution you'd like**
Add endpoints to:
1. Delete a specific update by ID
2. Delete all updates with status of "Enqueued"

**Describ

[2020-11-25 14:37] iredmail opened #1106 "Precise match instead of typo tolerant?"
Dear developers,

I understand MeiliSearch supports typo tolerant, but does it support precise search?
For example, i store shasum256 in meilisearch and search it, will it match similar shasums due to the typo tolerant? Anyway to precise match the query string like a MySQL server?

[2020-11-25 15:39] bb commented on #1106
This looks like a duplicate of #1103. If you want to do exact match on the full field instead of `contains`, you may want to use a facet filter. Those work fine for me.

[2020-11-25 16:40] eskombro commented on #1092
There are two different implications to this idea:

First of all, MeiliSearch is designed to work on top of LMDB, which stores data directly in disk. Meaning that with the current implementation of MeiliSearch, it is not capable of using other solutions as Postgres or Mongo to store it's own data, and this is key because it is designed to have the best possible performance, which could be signific

[2020-11-26 03:49] Ajju2211 commented on #1092
Okay, I got it.
Can you suggest me any heroku like free platform to host.

[2020-11-26 10:15] #764 closed

[2020-11-26 10:15] #1039 closed

[2020-11-26 10:38] curquiza commented on #1030
It's fixed now, closing

[2020-11-26 10:38] #1030 closed

[2020-11-26 10:55] JoffreyGe opened #1107 "[UI] Optimisation of the Web Interface with cleaner bulma markup and add accessibility"
**Is your feature request related to a problem? Please describe.**
The Web Interface can be enhance and responsive with a better markup and bulma integration. Also, the accessibility of some of the elements can be optimize.

**Describe the solution you'd like**
Modify the markup (mainly classes) for fit better with bulma capability (for desktop and responsive) and add some accessibility informatio

[2020-11-26 14:45] theo-lubert commented on #1106
Facet filtering is not an option in many cases, especially for auto-completion.

[2020-11-26 14:56] theo-lubert commented on #1103
I agree with @bhavyalatha26, this should be possible:
- by removing the `typo` ranking rule **(preferred)**
- through an index setting
- through a search option
- It could also make sense to configure it for specific fields (enabled on title/description, but disabled on id/ean/trackingNumber for example). But that feels like another feature to me

Algolia, for exemple, allows this with `typoTolera

[2020-11-27 14:01] bhavyalatha26 opened #1110 "Sudden spike in CPU usage in production causes server crash"
**Describe the bug**

I have a meilisearch one-click app deployed to Digital Ocean (2vCPU + 2GB RAM + 25GB SSD + 3TB Transfer) 3 days ago. In the last two days thrice there was a sudden spike in CPU usage, that caused the droplet to crash with **502 nginx error**. I had to restart the droplet all the time to make it up and running.

I have followed the steps in [meilisearch-digital-ocean](https://

[2020-11-27 19:34] eskombro commented on #1110
Hi!

I will try to help you a bit to try and find the problem. Please be sure you can SSH to your droplet for the following steps and ideas :)

1. Meilisearch is running as a service, using `systemd`. This means that all the application logs should be available to you by doing:

[code]

Remember that you can use `--since ` and `--until` to limit your research. Try to check MeiliSearch logs to see

[2020-11-28 03:40] bhavyalatha26 commented on #1110
Hi @eskombro,

Thank you for the detailed help !

I updated my droplet settings with some of the suggestions above :
- Restart always
- Also upgraded the DO metrics from legacy to recent version

I also tried to take a look at the application logs using `journalctl -u meilisearch.service` , but found no useful app logs there.

Also I am little concerned over the **spike in the Disk I/O operation**

[2020-11-29 13:13] otivvormes opened #1111 "[Question] Search data accessed from multiple pods in Kubernetes cluster"
Hello,

Firstly thank you for developing this project, It's been great using it and I will be using it in my production application, so keep up the good work :)

I could not find similar issue addressed here, so I apologise if it actaully exists somewhere...

I intend to deploy MeiliSearch with Kubernetes on DigitalOcean with **nfs** volume so the search data can be shared accross multiple pods (b

[2020-11-29 14:51] tchartron commented on #426
Just wanted to ask if there is any chance to see this released any time soon as i see the 2020_Q4 label has been removed ?
Thanks for the great work on Meilisearch 💪🏼👍🏼

[2020-11-30 09:43] eskombro commented on #1110
I think @MarinPostma could give you a little more insight on this? :)

[2020-11-30 09:49] eskombro commented on #1111
Hi @otivvormes !

I have a few things that I would like to mention:

1. We have a [MeiliSearch k8s repository](https://github.com/meilisearch/meilisearch-kubernetes), meant to offer deployment tools like manifests and charts, so feel free to do a tour around there, and any feedback or help is quite appreciated :)
2. You are not alone on this issue, you should take a look at this: https://github.co

[2020-11-30 14:48] MarinPostma commented on #1111
I am moving this to discussions :)

[2020-11-30 14:48] #1111 closed

[2020-11-30 15:25] #1099 closed

[2020-12-01 13:23] #1107 closed

[2020-12-01 18:02] inluxc commented on #1029
I got the same problem with the price range and I got my client, pushing me to another solution.
This is a must for eCommerce solutions.

[2020-12-02 16:54] skybristol commented on #1071
I've just run into this issue as well in trying to push a bunch of values in array fields for faceting. It would be helpful if you included your tests for "suitable" data as something callable that could be incorporated into the various APIs for a priori testing of data being pushed to an index. I'm using the meilisearch Python client, and it would be really helpful to have some kind of test_docum

[2020-12-02 18:20] curquiza opened #1120 "Confusing nbHits"
I open an issue before opening any spec to be sure I understand well the topic.

It’s been many times I notice the users are confused with the role of `nbHits`.
If I understand well `nbHits` is the number of matches. See the docs about the definition of `nbHits`: https://docs.meilisearch.com/references/search.html#response
And most of all, `nbHits` is only an estimation (until we release the featu

[2020-12-02 20:39] MarinPostma commented on #1120
Well, I don't really see the nuance between nbHits and nbMatches to be honest... I think that what makes it confusing is that it is linked to exhaustiveNbHits which is probably overlooked. I guess `aproximativeNbHits` along with`isExactNbHits` would make it clear

[2020-12-03 09:13] curquiza commented on #1120
What I understand since I use Meili and read the docs:

*   `matches` are the documents that match your query during the search. All of them.
*   `hits` are the best documents returned in the MeiliSearch answer for your query during the search, depending on the `offset` and `limit` you pass. So when I mean "the best documents", I mean the documents you asked for among the matches. By default, Meil

[2020-12-03 10:27] LegendreM commented on #426
Hi @tchartron, thanks for your support!
About geo-search, we will not release it at the end of Q4_2020 because we are working on enhancing our tokenizer to have better support of other languages like Chinese Languages. I hope it will enhance your search experience too!

For Q1_2021, we don't know if we will work on geo-search or distributed systems, but I think it is a feature that we want to rele

[2020-12-03 13:21] qdequele commented on #134
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/61-policy-for-prefix-search?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to update it on the roadmap.

[2020-12-03 13:21] #134 closed

[2020-12-03 13:25] qdequele commented on #135
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/62-policy-for-matching-words?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to update it on the roadmap.

[2020-12-03 13:25] #135 closed

[2020-12-03 13:26] #411 closed

[2020-12-03 13:32] Kerollmops commented on #1093
Hello @theo-lubert,

This is an appriate solution, a nice work around, however there is some flaws in it, the maximum value that MeiliSearch is able to handle is an u64 MAX, there also is another little point, in your example you use a string to store the generated numbers but it must be a string for meilisearch to accept it.

[2020-12-03 13:34] MarinPostma commented on #1093
As an alternative, you can also sort all of your documents before indexing and give associate to `sortable_title` the position in the sorted collection.
**pro**: you don't have the limitations from the previous method
**cons**: you have to re-index everything every time you add documents (to preserve the order)

[2020-12-03 13:37] qdequele commented on #466
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/63-get-similar-documents?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to update it on the roadmap.

[2020-12-03 13:37] #466 closed

[2020-12-03 15:11] qdequele commented on #765
This issue will not be considered in the engine; it will probably be a part of a future dashboard. I close this issue and note it on the future dashboard roadmap.

[2020-12-03 15:11] #765 closed

[2020-12-03 15:31] qdequele commented on #780
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/64-search-for-facet-values?utm_medium=social&utm_source=portal_share).

At first glance, it would not seem to be the same thing, but in fact, to be able to search in the facet values, you have to allow the engine to index, like the searched text, the facet values, an

[2020-12-03 15:31] #780 closed

[2020-12-03 15:35] qdequele commented on #1081
Hello @acc557,

Thanks for your proposition. I'm sorry but I don't think that we can put this wrapper inside the MeiliSearch repository. If we do that we will be forced to maintain it, what we don't want at the moment. What I propose is to do this project on your side. If you need advice, we will be happy to help you. Once the project is ready, we will be able to put it on our documentation as a t

[2020-12-03 15:35] #1081 closed

[2020-12-03 15:46] qdequele commented on #1080
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/65-swap-index?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to update it on the roadmap.

[2020-12-03 15:46] #1080 closed

[2020-12-03 15:49] qdequele commented on #1070
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/63-get-similar-documents?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to update it on the roadmap.

[2020-12-03 15:49] #1070 closed

[2020-12-03 15:58] qdequele commented on #1019
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/66-download-dumps?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to update it on the roadmap.

[2020-12-03 15:58] #1019 closed

[2020-12-03 16:03] qdequele commented on #1012
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/68-delete-by-filters?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to update it on the roadmap.

[2020-12-03 16:03] #1012 closed

[2020-12-03 16:10] qdequele commented on #845
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/68-delete-by-filters?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to update it on the roadmap.

[2020-12-03 16:10] #845 closed

[2020-12-03 16:19] qdequele commented on #923
Please check this issue on our [public roadmap](https://roadmap.meilisearch.com/c/69-policy-for-cropped-values?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-03 16:24] qdequele commented on #902
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/61-policy-for-prefix-search?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-03 16:24] #902 closed

[2020-12-03 16:25] qdequele commented on #899
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/65-swap-index?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-03 16:25] #899 closed

[2020-12-03 16:31] qdequele commented on #861
This feature is also in our [public roadmap](https://roadmap.meilisearch.com/c/70-configuration-via-config-file?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-03 16:36] qdequele commented on #1106
Hello,

I created a feature for that on our [public roadmap](https://roadmap.meilisearch.com/c/61-policy-for-prefix-search?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-03 17:12] quanterion commented on #780
Actually not facet is not user generated data and things like typo etc is not really needed for facets. Only full and exact match by wildcard

[2020-12-03 18:12] toxsick commented on #780
Sorry guys, maybe I don't get faceted search fully, but as I understand facets, they will by design not support something like wildcard filtering, because they are created when an item is indexed right?

I have a use case where I have items with all kinds of different (technical) attributes and I want to query (simplified):

[code]

Not all items in the index will even have the attribute `ip`. Fac

[2020-12-04 03:08] kiwikefei opened #1121 "Is there a way to turn the default welcome page off"
Just curious is there a parameter for me to use to turn off the default welcome page when booting up meilisearch.

It will be awesome if we can specify a customized page or even make it empty by defining sth like `--welcome-page=hello.html` or `--enable-welcome-page=false`

Thanks a lot.

[2020-12-04 19:07] tchartron commented on #426
Great thanks for these informations, I'll keep an eye on this until it's release 🚀

[2020-12-05 10:07] #1121 closed

[2020-12-05 10:14] #1106 closed

[2020-12-05 10:18] qdequele commented on #1104
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/71-abort-enqueued-updates?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 10:18] #1104 closed

[2020-12-05 10:19] qdequele commented on #1103
Hello, This issue will be fixed by a new feature/setting.

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/61-policy-for-prefix-search?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 10:19] #1103 closed

[2020-12-05 10:31] #1092 closed

[2020-12-05 10:39] qdequele commented on #1083
Hello, Thanks for this feature proposal! It definitively will look more like what Algolia is doing than Solr.

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/72-faceting-after-distinct?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 10:39] #1083 closed

[2020-12-05 10:58] qdequele commented on #1073
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/73-keep-facet-count-on-disjunctive-filters?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 10:58] #1073 closed

[2020-12-05 11:46] qdequele commented on #1067
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/32-sort-by?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 11:46] #1067 closed

[2020-12-05 11:54] qdequele commented on #1060
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/77-phrase-query?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 11:54] #1060 closed

[2020-12-05 11:58] qdequele commented on #1029
Hello, Thanks for these feature proposals!

I will close this issue in favor of our public roadmap. We have here 2 features:
- The [search for facet value](https://roadmap.meilisearch.com/c/64-search-for-facet-values?utm_medium=social&utm_source=portal_share).
- The [sort by](https://roadmap.meilisearch.com/c/32-sort-by?utm_medium=social&utm_source=portal_share).

I invite everyone interested in t

[2020-12-05 11:58] #1029 closed

[2020-12-05 12:01] qdequele commented on #996
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/66-download-dumps?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 12:01] #996 closed

[2020-12-05 12:07] qdequele commented on #992
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/69-policy-for-cropped-values?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 12:07] #992 closed

[2020-12-05 12:11] qdequele commented on #973
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/78-get-ranking-information?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 12:11] #973 closed

[2020-12-05 12:35] qdequele commented on #964
@MarinPostma What is the status of this issue?

[2020-12-05 12:36] qdequele commented on #947
@MarinPostma What is the status of this issue?

[2020-12-05 12:37] qdequele commented on #929
@MarinPostma What is the status of this issue?

[2020-12-05 12:42] #923 closed

[2020-12-05 12:45] qdequele commented on #919
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/79-facets-on-numbers?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 12:57] MarinPostma commented on #964
Still an open issue @qdequele

[2020-12-05 12:58] MarinPostma commented on #947
Closed per #849

[2020-12-05 12:58] #947 closed

[2020-12-05 16:42] qdequele commented on #780
Thanks, @quanterion, @toxsick,

I have updated my previous message with an feature that better fits.

[2020-12-05 16:57] qdequele commented on #908
@curquiza is this issue resolved?

[2020-12-05 17:02] qdequele commented on #904
Hello @rmbagel,

We're sorry, but at the moment we're not interested in this kind of feature. If anyone else would also like to see this feature, please leave a comment and ping it. I will then follow up with a discussion.

Thanks

[2020-12-05 17:02] #904 closed

[2020-12-05 17:05] qdequele commented on #898
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/81-specify-log-path?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 17:05] #898 closed

[2020-12-05 17:09] #861 closed

[2020-12-05 17:30] qdequele commented on #839
Hello, Thanks for this feature proposal!

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/82-authorization-keys?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 17:30] #839 closed

[2020-12-05 17:38] qdequele commented on #826
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/82-authorization-keys?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 17:38] #826 closed

[2020-12-05 17:39] #818 closed

[2020-12-05 17:43] qdequele commented on #767
One part of this issue has switched to a spec on https://github.com/meilisearch/specifications/pull/3. The other will be rediscussed later. But I think this issue is not relevant anymore. Please reopen it if I'm wrong.

[2020-12-05 17:43] #767 closed

[2020-12-05 17:44] qdequele commented on #761
@MarinPostma, @curquiza What is the state of this issue? Could we close it?

[2020-12-05 17:46] qdequele commented on #758
@MarinPostma, is this error still present? Can we close this issue?

[2020-12-05 17:52] qdequele commented on #722
Hello @doreilly257,

I must close this exit for the following reasons. I think the problem is too specific and would take time to code and complicated to explain to the rest of the developers. Also, I really think that this work could be done on the data provider side. It's quite possible that you apply the phonetic translation before sending us your data.

Thanks,

[2020-12-05 17:52] #722 closed

[2020-12-05 17:54] #698 closed

[2020-12-05 17:57] qdequele commented on #689
Hello @baskin,

Sorry I will close this issue, we already answer this question [here](https://github.com/meilisearch/MeiliSearch/discussions/1092).

Thanks,

[2020-12-05 17:57] #689 closed

[2020-12-05 17:59] qdequele commented on #656
@MarinPostma, What is the status of this issue, could we close it?

[2020-12-05 17:59] #561 closed

[2020-12-05 18:01] qdequele commented on #529
I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/26-sharding?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 18:01] #529 closed

[2020-12-05 18:02] qdequele commented on #528
I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/24-hight-availibility?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 18:02] #528 closed

[2020-12-05 18:03] qdequele commented on #527
I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/83-indexing-metadata?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 18:03] #527 closed

[2020-12-05 18:03] qdequele commented on #525
I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/31-query-suggestions?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 18:03] #525 closed

[2020-12-05 18:04] qdequele commented on #524
I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/84-personalization-contextual-search?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 18:04] #524 closed

[2020-12-05 18:07] qdequele commented on #523
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/85-dashboard?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 18:07] #523 closed

[2020-12-05 18:08] qdequele commented on #427
I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/34-rank-sort-with-near?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 18:08] #427 closed

[2020-12-05 18:08] qdequele commented on #426
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/33-geo-search?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 18:08] #426 closed

[2020-12-05 18:09] qdequele commented on #421
Hello,

I will close this issue in favor of our [public roadmap](https://roadmap.meilisearch.com/c/82-authorization-keys?utm_medium=social&utm_source=portal_share).

I invite everyone interested in this feature to upvote it on the roadmap.

[2020-12-05 18:09] #421 closed

[2020-12-05 18:09] qdequele commented on #410
This is no more relevant, we close it, we have several issues on this topic and the work is in progress.

[2020-12-05 18:09] #410 closed

[2020-12-05 18:12] qdequele commented on #273
This is no more relevant, we close it, feel free to comment here, or open a new issue.

[2020-12-05 18:12] #273 closed

[2020-12-05 19:20] MarinPostma commented on #758
This is still relevant and should be prioritized

[2020-12-07 09:41] bidoubiwa commented on #761
Is this not the issue of

**CASE 1**: `add documents` then `add facets in settings`
**CASE 2**: `add facets in settings` and then `add documents`

Where in case 1 all fields will be present in `displayedAttributes` and `searchableAttributes` but in case 2 facets will not be added in either of these settings.

In which case, this is not fixed.

[2020-12-07 15:14] bidoubiwa commented on #908
Yes! It was due to the sh script and it has been changed. @curquiza could you confirm?

[2020-12-07 15:53] curquiza commented on #908
It's unfortunately still an issue: I have not taken the time to fix it and I don't even know how to fix it...

In meilisearch-swift we "fixed" the issue by using `brew` instead of using the script in our CI... So, it's still an issue!

[2020-12-08 13:36] sirdharma commented on #1103
@qdequele Thank you for your answer and for sharing your public roadmap, that's awesome 👍

Nonetheless, I am confused by your linked idea: how would the proposed policy for prefix search work exactly?

In a real-world use case, let's assume we have an index that contains only a UUID-type attribute. Is it possible to configure the index so that typo-tolerance is not applied at all?

Let's then cons

[2020-12-08 13:55] theo-lubert commented on #1103
I agree with @sirdharma , it would make a lot more sense to me if this was field specific, like Algolia's "disableTypoToleranceOnAttributes", and also not limited to the prefix.
Btw, maybe this could also improve indexing performance.

@qdequele maybe this should be another feature on the roadmap.

[2020-12-08 14:39] MarinPostma commented on #1066
duplicate of #761

[2020-12-08 14:39] #1066 closed

[2020-12-08 15:03] qdequele commented on #1069
Hello @bb, Thanks for your contribution, your interest in MeiliSearch, and your proposition of feature. Unfortunately, this proposition will not be possible. We are trying to create a schema-less and type-less search engine. In a lot of cases, we interpret the strings in numbers and vice versa. It will not be possible for us to add in the engine the ability to return the type of each field. Thank

[2020-12-08 15:03] #1069 closed

[2020-12-08 15:34] MarinPostma opened #1124 "Fix setting consistency"
# Summary

There are currently two bugs that need to be addressed regarding setting consistency. The first one concerns the behavior of the wildcard in `searchableAttributes` and `displayedAttributes` as thourougly described in #761.
The second is regarding the indexing position of fields registered in the setting before document addition, where the said field are given a position that is not cons

[2020-12-08 18:33] captbrogers commented on #656
Yes, I believe an update has resolved this issue.

[2020-12-08 18:34] #656 closed

[2020-12-09 01:09] theo-lubert commented on #764
Testing the new v0.17.0 release as we speak, it seems the patch does not work if there is a `limit`

For exemple, with 3 "events" in my index (2 with `date` in the past):

`limit: 25` and `date >= ${Date.now}` gives you `nbHits: 1` (correct)
but,
`limit: 1` and `date >= ${Date.now}` gives you `nbHits: 3` (**incorrect**)

[2020-12-09 09:13] MarinPostma commented on #764
answerin here too:

-----
hello @theo-lubert, this is perfectly normal since we lazily filter elements, since you only ask for one, and it is not filtered out, the other are still counted.

[2020-12-09 09:37] curquiza commented on #1120
Another user who seems to be confused with `nbHits`: https://github.com/meilisearch/MeiliSearch/pull/849#issuecomment-741376180
I'm thinking what is the real purpose/usecase of `nbHits` if it's not usable for pagination or to know the number of `hits` either?

[2020-12-09 13:24] MarinPostma commented on #1120
I will  write an article about pagination, because there actually is a workaround now that we have #849.

That does not change the necessity to address the naming issue.

@Kerollmops proposed that we drop the `isExhaustiveNbHits` and just have an `approximativeNbHits`.

[2020-12-09 14:29] eskombro opened #1127 "Display MeiliSearch version in front-end"
**Is your feature request related to a problem? Please describe.**
When running a MeiliSearch instance with a front-end, I would like to see which version is running

**Describe the solution you'd like**
The Front-end could specify which MeiliSearch version is running, this makes it very easy and accessible

**Describe alternatives you've considered**
-

**Additional context**
Happy to do a PR if

[2020-12-09 14:52] curquiza commented on #1120
I like the naming, but most of all: what would be the usecase of `approximativeNbHits`?

[2020-12-09 16:17] MarinPostma commented on #1120
this is the PR that introduced the feature: #541

For me it is used to report number of results, and for pagination, as long as you don't need to access the last page/random page. This last reason was a known limitation when implementing the first iteration of the feature.

[2020-12-09 17:03] curquiza commented on #1120
Even to build a "non-finished" pagination, I mean with no page number, `nbHits` is not reliable information. The user might browse through the resulting documents thanks to the pagination and the pagination can be broken at any moment when trying to access another page. You cannot implement a front-end page that could fail sometimes.
We even say not to use `nbHits` in this article/issue about how

[2020-12-10 08:15] qdequele commented on #1093
Sorry, we decide to close this issue. We don't want to allow users to do this kind of action at the moment. Moreover, there are possible alternatives to do what you want.

[2020-12-10 08:15] #1093 closed

[2020-12-10 10:17] theo-lubert commented on #1093
I understand.

Just to sum up the two workarounds:
1. Pre-computing the order:
 It means re-indexing everything every time the order changes (at least every thing "after" your updated row). This is a perfect solution if the index is static, or not likely to be updated often. But not an option if you need real time updates.
2. Storing a hash that can be sorted on:
 It has flaws (ex: sort limited to

[2020-12-11 09:43] ziyasal opened #1132 "Seeking for a maintainer"

[2020-12-11 09:43] #1132 closed

[2020-12-11 09:44] ziyasal commented on #1132
sorry just created in the wrong place, changed the tab so fast I guess.

[2020-12-11 16:49] CreaTorAleXander commented on #999
Hey, I would like to do this can I get some more informations?

[2020-12-12 09:54] DavidBernal opened #1133 "Example doens't work"
I follow all getting start steps and search step doesn't find nothing:
https://docs.meilisearch.com/guides/introduction/quick_start_guide.html#download-and-launch

**To Reproduce**
Follow the getting start steps.

**Expected behavior**
Search should find same as example

[2020-12-12 11:55] MarinPostma commented on #1133
Hello @DavidBernal, could you provide us with a little bit more context? what are the results you are getting? what makes you think there are not right?

Thanks!

[2020-12-12 13:02] DavidBernal commented on #1133
Hi @MarinPostma, I just follow the guide.

Download binary and start server:
[code]
I created an index as example said:
[code]
I see index was been created.

I donwloaded the movies.json file from: https://github.com/meilisearch/MeiliSearch/blob/master/datasets/movies/movies.json
And I load to index:
[code]

Theorically the indexer is ready. I do a search:
[code]

I get:
[code]

Expeted:
[code]

A

[2020-12-12 19:53] MarinPostma commented on #1133
Thanks @DavidBernal, so my guess is that the indexing was not finished when you started querying, can you make sure all updates are `processed` [using this route](https://docs.meilisearch.com/references/updates.html#get-all-update-status)?

[2020-12-12 22:02] MarinPostma commented on #1133
@react-learner I think we should add this to the documentation 🙂

[2020-12-13 10:01] DavidBernal commented on #1133
Thank you @MarinPostma. After a while indexer works.

[2020-12-13 10:01] #1133 closed

[2020-12-14 19:08] michielmulders opened #1135 "Synonym doesn't work as expected"
**Describe the bug**
Want to create a one-way synonym for `lotr` to `The Lord of The Rings`. I've learned that there's a limitation for the word-length of synonyms, so I've tried to make one for `JP` -> `Jude Fisher` which is an author in my [dataset](https://gist.githubusercontent.com/michielmulders/0f04916b50c826217b3756a682a09d28/raw/15d2077fd685fe522d19e341da636bdde173fcc2/dataset.json).

**To

[2020-12-14 21:19] fharper opened #1136 "Cannot compile on macOS 11.0.1"
**Describe the bug**
I cannot compile MeiliSearch. Any help would be appreciated :D

**To Reproduce**
I followed the steps at https://github.com/meilisearch/MeiliSearch#compile-and-run-it-from-sources

**Expected behavior**
It should compile without error.

**Desktop (please complete the following information):**
 - OS: macOS BigSur 11.0.1
- rustc 1.48.0 (7eac88abb 2020-11-16)
 Tested on a MacBook

[2020-12-14 21:27] fharper commented on #1136
I tried some things with @MarinPostma, like re-adding the toolchain

[code]

we also try to install `jemalloc` before compiling using homebrew.

[2020-12-16 13:33] tpayet commented on #1136
I can compile (`cargo clean && cargo build`) MeiliSearch last commit (#861c6fec06367fe) on my MacBook Pro 2019 with Intel processor. I am running Mac OS 11.0.1 aka Big Sur.

[code]

[code]

let me know if you need more information ^^

[2020-12-16 13:36] tpayet commented on #1127
I like the idea, but be sure we might rework on the front-end in the coming months ^^

[2020-12-16 14:34] #1124 closed

[2020-12-16 14:34] #761 closed

[2020-12-17 14:32] fharper opened #1137 "Default Payload way too small"
I would assume that most people who use and will use MeiliSearch will load more than 10mb of raw data into documents. I suggest we save folks a step by increasing it to a more realist value.

![image](https://user-images.githubusercontent.com/1170989/102500902-ce6dec00-404a-11eb-924f-1d155868ce4c.png)

[2020-12-17 14:35] fharper opened #1138 "Payload Limit Size unit"
It's a detail, but we should manage payload limit size in a human readable fashion like at least MB. I don't see a scenario where someone would like to increase or decrease the limit for a byte.

[2020-12-17 14:42] fharper opened #1139 "Logging mechanism"
As a user, I would like MeiliSearch to write logs about happening operations, but more important, about errors.

Having an issue right now, it would make my life easier to have logs since the return error is quite generic, and coming through Nginx.

[2020-12-17 20:42] carlosb1 commented on #1138
I could try to work in this... but I should get a little more info.

[2020-12-18 10:31] qdequele commented on #1138
We could use this kind of [plugin](https://docs.rs/byte-unit/4.0.9/byte_unit/) to convert strings  (Mb/Kb) into bytes.

[2020-12-21 12:18] tpayet commented on #1138
Hey @carlosb1, thanks for your interest :)

The payload size is configurable using the CLI option `--http-payload-size-limit` or the env var `MEILI_HTTP_PAYLOAD_SIZE_LIMIT`. So far the value to set have to be in bytes.

If we can use the crates @qdequele talked about, we should be able to offer a flexible way to set the valu as we could write `123 kb` or `123 kiB` or `123Gb` if I am not mistaken.

[2020-12-21 12:44] MarinPostma commented on #1138
happy to help out :)

[2020-12-21 13:05] carlosb1 commented on #1138
No problem for coding in Rust :).  With this info, it seems enough and try to contribute as soon as possible and I will join in the slack channel. Thanks for this fast reply.

[2020-12-22 14:56] minyangu-bgl commented on #1098
For the current version of meilisearch, can you share what's the best practice for improving the index efficiency, eg, batch index size, frequency, max number of allowed indexing requests in the pool, how to monitor the index job queue and kill stalled job as I can see it still happens if we have a bit more index requests. When do we need to trigger a complete re-index, do we need to purge the ind

[2020-12-23 09:33] LegendreM commented on #1098
Hi @minyangu-bgl the main issue in the current indexation is that is mono-threaded. The only advice we could give is "Make the biggest batch as possible"  😬 checking if each updates pass.

[2020-12-24 10:54] MarinPostma commented on #1138
No description provided.

[2020-12-24 10:57] MarinPostma commented on #1120
No description provided.

[2020-12-24 12:46] maku commented on #952
@Kerollmops I really like MeiliSearch. So, I am curious...  Can you tell us how far the work on a lib has already progressed. Because I also think that it would be great to be able to use MeiliSearch in an app. I could think of to use it in a https://tauri.studio/en/ app.

[2020-12-24 20:06] cryptoquick commented on #952
@maku yeah, similar, but in my case, it's for an Iced app: https://github.com/hecrj/iced

They recently released 0.2.0 and it's amazing.

[2020-12-26 13:20] carlosb1 commented on #1138
sorry @MarinPostma  where? I don't get what it need ot add.

[2020-12-28 01:17] long1eu opened #1144 "Set the authorization token in the header"
It's not always possible to set the token in the headers, can we have it also as a query param?

[2020-12-28 21:53] pythoneer opened #1145 "MeiliSearch as PostgreSQL extension"
**Is your feature request related to a problem? Please describe.**
For most of the projects i need the feature set MeiliSearch provides i have almost always a regular database as my main data store – and this is almost always prostgreSQL. And in those cases data is often duplicated or at least linked with ids. Say i have a movie database with a long description for each movie i want to do a text s

[2020-12-29 01:39] sanders41 commented on #1137
Is there a size you have in mind for the increased default limit?

[2020-12-29 10:06] ebess opened #1146 "Highlighting items in array"
**Describe the bug**
Items of an array are not highlighted despite matches are present in the `_matchesInfo` results.

**Expected behavior**
Matches should be wrapped in `<em>` like regular string attributes in the `_formatted` result.

**Screenshots**
![Selection_021](https://user-images.githubusercontent.com/5565003/103276076-e425ce80-49c5-11eb-9ff1-3ea9dc40f448.png)

[2020-12-29 15:17] fharper commented on #1137
I would say I didn't use anything lower than 100mb even for smaller tests.

[2020-12-29 15:29] sanders41 commented on #1137
Alright, I can work on making this update.

[2020-12-29 16:31] fharper commented on #1137
Awesome, thanks!

[2020-12-29 19:39] sanders41 commented on #1137
I have updated the maximum payload size to 100mb, but I have a couple questions about the tests. I am assuming I should update `http_payload_size_limit: 10000000` to `http_payload_size_limit: 1000000000` in [meilisearch-http/tests/common.js ](https://github.com/meilisearch/MeiliSearch/blob/master/meilisearch-http/tests/common.rs) and the following test in [meilisearch-http/tests/errors.js](https:/

[2020-12-29 19:44] fharper commented on #1137
@Kerollmops can you answer that?

@sanders41 we will also need to update the documentation once changed.

[2020-12-29 19:47] eskombro commented on #1137
10_000_000 bytes = 80_000_000 bits = 80 Megabits
(I think this is what the comment refers to, could also be a mistake)

[2020-12-29 21:18] sanders41 commented on #1137
@fharper I should submit a PR for the update, and then if it gets merged then create a PR for the documentation correct? Or should I create a PR for both at the same time?

[2020-12-29 23:49] JannSkaar commented on #1137
This telefon belong to Kurt Jan Svendsby

So please do unsubscribe me from this is my telephone number is 9 7 3 03 0
69

And he is not allowed to use my phone for this purpose.

I know he have lost his phone
And only have a watch phone.

 not send anymore mail to this telephone.

Thank you
Kurt Jan Svendsby
Snorres vei 13B
15 24 Moss
Norge

tir. 29. des. 2020, 22:19 skrev Paul Sanders <notificatio

[2020-12-30 11:11] curquiza commented on #1145
Hello @pythoneer
Thanks for this suggestion, transferring this issue to the integration-guides repository! This is definitely a good plugin.

[2020-12-30 12:57] tpayet commented on #1144
Hey @long1eu,

Thank you for submitting this idea. Could you please show us in which environment you are not able to specify the token in the header?

Have a nice day,

[2020-12-30 13:31] long1eu commented on #1144
My use case it very specific. I have a load balancer that has a health
check on the VM instance that runs the meilisearch. The healthcheck run the
version endpoint, but I can't specify headers in the load balancer.

On Wed, 30 Dec 2020 at 14:57, Thomas Payet <notifications@github.com> wrote:

[2020-12-30 14:07] MarinPostma commented on #1144
Hey @long1eu, any reason for not using the [health endpoint](https://docs.meilisearch.com/references/health.html) for this purpose?

[2020-12-30 14:09] long1eu commented on #1144
Didn't know about it. Does it require a key?

[2020-12-30 14:21] MarinPostma commented on #1144
nope

[2020-12-30 14:22] long1eu commented on #1144
thanks

[2020-12-30 14:34] fharper commented on #1137
Hi Kurt, there is no way for me to do that. You need to unsubscribe yourself. Use the link provided in the email. If it doesn't work because it was used on your friend's account and you don't have access, contact GitHub support. Sorry about that!

**Sorry for anyone else, but it's the only way I had to communicate with Kurt...**

[2020-12-30 17:12] long1eu commented on #1144
I'm back. Looks like this doesn't help. I can observe that a 204 is not something that the health check likes. It must be 200.

https://cloud.google.com/load-balancing/docs/health-checks#optional-flags-hc-protocol-http

[2020-12-30 17:47] MarinPostma commented on #1144
Thanks for the feedback, @LegendreM can you take it from there since you worked on this ?

[2020-12-30 18:09] fharper commented on #1137
I see that you already created the PR, thanks

[2020-12-31 00:20] jasonbosco opened #1148 "Fair comparison with Typesense"
👋 MeiliSearch team,

I'm Jason, one of the authors of [Typesense Search](https://github.com/typesense/typesense). Our projects started independently at different points in time, but we both have similar goals of being an easy-to-use yet powerful search engine and being a good open source alternative to Algolia. So here's to both of us succeeding in our goals! 🍻

It was [brought to my attention rec

[2020-12-31 03:28] iredmail opened #1149 "High CPU usage (90-99%) if data is close to or larger than physical memory"
**Describe the bug**

I run MySQL + MeiliSearch (0.17.0) on a 1GB RAM (Linode) VPS for evaluation for few days, Ubuntu 20.04 LTS.

At the beginning it works very well and CPU/RAM usages are very low, CPU available is 0.x-3%, RAM 300-600MB. But since last night, meilisearch uses  90-99% CPU and it never goes down. Meilisearch data under `data.ms` directory is about 600MB.

Tried to restart meilisea

[2020-12-31 04:30] aidanhs opened #1150 "Meilisearch doesn't provide guidance on creating a master key"
**Describe the bug**
Although Meilisearch requires a master key in production environments, there is no guidance on how a user should generate this key (that I could find!).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.meilisearch.com/guides/advanced_guides/authentication.html#master-key
2. Read about master keys
3. Don't understand how to create a master key

**Expecte

[2020-12-31 08:05] bhavyalatha26 commented on #1149
Hi @iredmail,

Do you observe something similar to this [issue](https://github.com/meilisearch/MeiliSearch/issues/1110) ?

[2020-12-31 09:17] curquiza commented on #1150
Hello @aidanhs,

Thanks for your feedback!
I'm transferring this issue to the documentation repository!

[2020-12-31 10:13] MarinPostma commented on #1110
Sorry for the delay, Meili does not perform I/O periodically, unless you are using snapshots or backups, but I don't think that would explain this surge. Do you happen to also have an history of memory usage? This is very odd

[2020-12-31 13:33] tpayet commented on #1148
Hey @jasonbosco, thanks for your message. I'll remove the comparison between MeiliSearch and Typesense until we give a new try to Typesense.

I was the one writing the comparison a year ago and I did it based on my reading on Typesense documentation. Apologies from the MeiliSearch team as this was not our intention to confuse anyone.

Have a nice day!

[2020-12-31 14:43] iredmail commented on #1149
Hi @bhavyalatha26

I checked all posts in the issue you mentioned (#1110), but I don't think it's same or similar, and I don't know how to steadily reproduce it.

Now i always remove existing data (the default "data.ms" directory) for new testing, no error so far, but this issue becomes my concern for running MeiliSearch on production server.

[2020-12-31 14:55] iredmail opened #1152 "No backward compatibility guarantee?"
Dear developers,

I found this in official document [Updating MeiliSearch](https://docs.meilisearch.com/guides/advanced_guides/installation.html#updating-meilisearch):

We're evaluating MeiliSearch for indexing emails, we receive + index + compress + encrypt about 20k emails from a production server, it's not fun at all to decrypt + decompress all those processed emails and re-index after upgrade

[2020-12-31 15:15] MarinPostma commented on #1152
Hello @iredmail !
Indeed, there is no backward compatibility guarantee for now since we are still in beta. As soon as we hit stable, this should not be a problem anymore (no ETA).

As for migration, there is a backup feature that exports the database in a backward compatible format, but it needs reindexation: https://docs.meilisearch.com/guides/advanced_guides/snapshots_and_dumps.html#dumps

let m

[2020-12-31 15:16] iredmail commented on #1152
Thanks for the explanation. It's better add the content in your reply to the official document too to avoid confusion. :)

[2020-12-31 15:17] MarinPostma commented on #1149
@iredmail does that CPU surge occurs after indexing new documents?

[2020-12-31 15:20] iredmail commented on #1149
I lost the CPU/RAM metric data since the VPS plan doesn't keep it after 12 hours, and i forgot to take a screenshot. :(
I guess i have to close this issue since cannot offer further info. Just want you to know this issue happened and maybe someday others will experience the same.

[2020-12-31 15:34] MarinPostma commented on #1152
ping @react-learner

[2020-12-31 15:59] bhavyalatha26 commented on #1110
Hi @MarinPostma,

Thanks for getting back. I do not retain any history of memory usage. But this keeps happens randomly not sure why.

[2020-12-31 19:43] jasonbosco commented on #1148
@tpayet Thank you, I'd appreciate that.

[2021-01-01 09:58] hubalt opened #1158 "NOT operator for faceted search"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

Suppose we have _genres_ as an array of strings attribute:
["genres:comedy", ["genres:horror", "genres:thiller"]] => `comedy AND (horror OR THRILLER)
`
I have a use case where I would like to do `comedy AND NOT (horror OR THRILLER)
`
So I'm interested in knowing whether this is planned or

[2021-01-01 15:16] aidanhs opened #1159 "Application of settings doesn't seem to be atomic, allowing failed document loads"
**Describe the bug**
Updating settings on an index and then immediately attempting to load a document (without waiting for the update to complete) can cause spurious failures relating to invalid attributes for faceting.

I hypothesise this is caused by not having atomicity in settings application (i.e. documents can be loaded while settings are partially applied).

**To Reproduce**
Use my patch (l

[2021-01-01 15:49] aidanhs opened #1160 "Updating settings on a new document can be overwritten when loading the first document"
(possibly related to #1159)

**Describe the bug**
Creating a new index, setting some settings and then (without waiting for that update to complete) loading a single initial document has been observed to lose the settings updates.

**To Reproduce**
Run the test script (listed at the bottom) against a fresh meilisearch instance (I'm using `RUST_BACKTRACE=1 ./MeiliSearch/target/release/meilisearch -

[2021-01-01 17:03] nubpro commented on #1110
I was able to reproduce the same problem by searching a specific string.

I have passed this string to @marinpostma for investigation.

[2021-01-03 03:11] bhavyalatha26 commented on #1110
Hi @MarinPostma ,

I just observed it now and here attaching the screenshots of the metrics, if it helps. Please let me know what other stats can i gather next time when it goes down, to help this debug further.

![Screenshot (17)](https://user-images.githubusercontent.com/13586777/103470934-3f2d3c00-4d9f-11eb-82ca-f687fe538020.png)
![Screenshot (18)](https://user-images.githubusercontent.com/1358

[2021-01-05 02:26] vence722 opened #1166 "API endpoint for deleting old update status"
**Is your feature request related to a problem? Please describe.**
Our system continuously makes updates to the document, while meilisearch will generate a 'Update' object which helps us to track the asynchronous process. However the update history seems never to be deleted, and currently there's no endpoint for doing it. We want to track the current updating activity by calling the GET /indexes/:

[2021-01-05 17:54] bidoubiwa commented on #1120
I have the feeling there are two main problems raised here:

## 1. Matches and Hits are confusing terms used for different purposes arbitrarily

### Matches

in the search request parameters:
[code]
This is in my opinion, not an intuitive naming. But mostly, because it uses matches, it would be confusing to use it anywhere else in the search route.
Also because it is not intuitive, a lot of people

[2021-01-06 04:25] vladdy commented on #712
Can I try to work on this one? Probably I could try to address #837 at the same time.

[2021-01-06 06:52] hubalt commented on #1158
On second thought, this is probably not a popular use case given that most search interfaces don't support exclusion. And since filtering works just fine, perhaps addressing this is not warranted. Feel free to reopen if someone agrees this is a good idea.

[2021-01-06 06:52] #1158 closed

[2021-01-06 09:17] #624 closed

[2021-01-06 11:12] aidanhs commented on #1160
Hi @MarinPostma. Unfortunately I don't think this is fixed. As I mentioned above, I'm building myself and:

Which contains #1128, per the output of this command:
[code]

[2021-01-06 14:16] MarinPostma commented on #1160
@aidanhs Found the bug! turn out this is a data race in https://github.com/meilisearch/MeiliSearch/blob/master/meilisearch-http/src/routes/document.rs#L189, where the schema is read and updated in two transaction. The event occurs in the following order:
- settings update is added to the queue
- document addition is received and the schema is read and updated
- the setting update is processed
- th

[2021-01-06 23:54] aidanhs commented on #1160
Great, thanks for getting to it so quickly!

[2021-01-07 02:49] react-learner commented on #895
Hi @jet10000 , sorry for the delay in answering your question. For now, the answer is no. MeiliSearch uses a tokenizer, so there's no easy way to substitute a dictionary.

However, the tokenizer has been redone for the latest release and should offer much improved performance w/ CJK thanks to Jieba. Give it a try and let us know what you think!

[2021-01-07 04:46] jet10000 commented on #895
@react-learner
Is there a `match_phrase` query function of elasticsearch, because the jieba word segmentation also divides the words that should not be divided, which is very subjective. Or is it possible to restrict and configure jieba word segmentation.

[2021-01-07 04:50] jet10000 commented on #895
If you want to use meilisearch in a special field or industry, the industry vocabulary dictionary should allow configuration.

[2021-01-07 04:57] jet10000 commented on #895
Highlight, whether the searched keywords can be highlighted in red, but the keywords after the word segmentation are displayed in green.

red: `咳嗽`
green: `咳`  and `嗽`

[2021-01-07 20:16] react-learner commented on #895
@jet10000

For the moment, there is no `match_phrase` equivalent. You might be able to achieve some similar results by reordering the [ranking rules](https://docs.meilisearch.com/guides/main_concepts/relevancy.html#ranking-rules) and putting `exactness` and `proximity` first, but it's not really the same since you will still see out of order results.

To my knowledge, MeiliSearch is not really int

[2021-01-08 06:02] nubpro commented on #941
Hope this gets look into and expedited as server crashes are getting more rampant.

[2021-01-08 10:37] MarinPostma commented on #941
Yep this is prioritized for the next release.

We need to limit the number of tokens taken in the when tokenizing the query string here:  https://github.com/meilisearch/MeiliSearch/blob/master/meilisearch-core/src/query_tree.rs#L177-L186

[2021-01-08 11:57] burtgulash opened #1173 "Highlighting is broken with non ascii characters"
There is a field in my index **category** with value **Vývoj**, that I am searching for.
- In the first case I cut the last letter and send **vývo** as a query. This case actually highlights correctly.
- In the second case I try to search directly by sending the full word **vývoj** as a query. No highlight in the result. Matches object contains two overlapping match ranges.

[code]

This one gets

[2021-01-09 10:27] huynv86 opened #1175 "Meilisearch get high CPU, only get down when i terminate process by using htop command and start again"
I can't reproduce this bug
it occurs several time per month
i use VPS Vultr

[2021-01-09 10:35] Kerollmops commented on #1175
Hello @huynv86,

It seems that it is probably related to #941, where a high number of words in a query can trigger this high COU usage behavior, we are fixing this in the next release (in less than 4 weeks).

Thank you for the report!

[2021-01-09 13:55] MarinPostma commented on #1175
If this is what @Kerollmops thinks, it is fixed by #1174.

[2021-01-09 15:12] huynv86 commented on #1175
Hello @MarinPostma
how i can solved this problem? update to 0.17.0 or waiting for new version of Meilisearch. My current is 0.15.0
thank u

[2021-01-09 20:57] MarinPostma commented on #1175
This will be part of the next release, you can simulate it now by limiting the number of word you send in a query

[2021-01-10 22:06] skerkour opened #1177 "Use of blocking functions inside async functions"
Hi,
While auditing meilliseach's source code, I've noticed that you use blocking functions inside actix web handlers which are `async` functions.
As we all know, blocking the event loop is a bad idea and may introduce hard to debug performance issues, especially in high-concurrency environments. The recommended time between each `.await` is 10 to 100 microseconds (https://ryhl.io/blog/async-what-i

[2021-01-11 08:53] MarinPostma commented on #1177
This is an excellent point! The fix is straightforward, it'll be part of the next release. Many thanks

[2021-01-11 13:23] bidoubiwa opened #1179 "Is killing MeiliSearch safe ? Is there a loss in information?"
This is a self answering issue for future users that are curious about it.

Killing MeiliSearch at any point is safe.
Processes in MeiliSearch, synchronous, or asynchronous are [atomic](https://en.wikipedia.org/wiki/Atomicity_(database_systems)). This means that tasks are done in transactions. If the transaction for any reason fails or is killed in the middle of the transaction, nothing of the tas

[2021-01-11 17:04] MarinPostma commented on #1135
hello this is the same instance as #763, #1148 and #964.
 This is due to synonyms being case sensitive, and can be solved by putting. The recent efforts on tokenization now make it possible to normalize synonyms. This issue is prioritized and should be part of the next release.

In the mean time, I suggest that you lowercase all of your synonyms

[2021-01-11 18:59] ReactifyStudio opened #1181 "Update the async code"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-11 19:33] carlosb1 commented on #1138
https://github.com/carlosb1/MeiliSearch/tree/1138-payload-size-unit -  Is it possible to include some tests for the `option.rs` module. It seems the easier way to test the PR.

[2021-01-11 19:49] MarinPostma opened #1440 "Test suite"
I will add more tests where it is necessary

This issue is there to improve the relevancy of the tests and to try to be as exhaustive as possible (even if it's impossible 😇).
I'm aware that some of the tests on this list are already present 🙂

⚠️ These tests list is really basic:
- they do not take into account all the specific behavior we noticed for the settings and other specific behaviors of M

[2021-01-12 04:23] botsphp opened #1182 "Why this project named `Meili`"
Sorry guys, it's not an issue.

i'm from china, i have spend some time on this project to study, and write some article share to other people.

`Meili` is a china words means `beautiful`  `美丽`, so some friends thought it was an open source project created by Chinese people.

I'm curious does it mean something else in other language or area?

;)

[2021-01-12 05:59] botsphp commented on #1179
all processed or all failed.

[2021-01-12 06:41] Nick-Mazuk commented on #1166
Another potential solution: provide the option for MeiliSearch to delete old updates automatically. For instance, "keep only the last 1,000 updates." Like potentially storing all the updates in an LRU cache.

[2021-01-12 07:23] #1181 closed

[2021-01-12 07:44] nelsonlarocca opened #1183 "ERROR actix_server / os error 24 after adding 120K documents to be indexed"

[2021-01-12 07:48] #1183 closed

[2021-01-12 14:24] CaroFG commented on #1182
Hi, @botsphp!!!
Meili takes its name after a Norse god: https://en.wikipedia.org/wiki/Meili

The Icelandic historian [Snorri Sturluson](https://en.wikipedia.org/wiki/Snorri_Sturluson) considers Meili to be ‘the god of oblivion,’ hence, the need to have a powerful search engine in order to find what we might have forgotten :)

[2021-01-12 16:05] #1182 closed

[2021-01-12 17:52] MarinPostma opened #1186 "Denied request are not logged"
**Describe the bug**

#1185 introduced a bug where the requests denied by the authentication middleware are not logged. This is due to the fact that the authentication middleware bypasses the logging middleware when it denies the request.

[2021-01-12 19:27] fharper opened #1337 "Automate the release notes draft creation for the core team"
Include the author of PR, and author of issues that were fixed.

[2021-01-13 09:00] DmitriyKaraka opened #1188 "Search doesn't work with mixed language strings"
**Describe the bug**
After update on v0.18.0 I can't find anything typing english symbols if string contains russian words.

**To Reproduce**
Steps to reproduce the behavior:
1. Install v0.18.0
2. Add document with searchable field contains russian and english words, for example: "ABB SafeRing CCCV Базовый с реле SEG WIC1, ТТ-W2+доп.катушка отключ 220 VAC+контакт сраб.реле 1НО+вывод слева+испытате

[2021-01-13 13:24] Duoquote opened #1189 "Import suggestion, chunking?"
Importing 800k information to the engine, memory struggles a lot when you do it in one shot:
![Taskmgr_baXClMYOvm](https://user-images.githubusercontent.com/16341937/104457656-64018a80-55bb-11eb-8a34-c44c8e7668aa.png)
But when you do it in chunks like, sending 50k json array in multiple times, it stays low.
![image](https://user-images.githubusercontent.com/16341937/104457756-7ed3ff00-55bb-11eb-85

[2021-01-13 14:23] LegendreM commented on #1135
Hello @michielmulders,
we plan to fix this bug in 0.19,

thanks for your report!

[2021-01-13 14:26] LegendreM commented on #1188
Hello @DmitriyKaraka,
we plan to make a first fix for the release 0.19,
for the moment multiple languages in the same attributes are not well supported,

thanks for your report!

[2021-01-13 15:17] Duoquote commented on #1189
![image](https://user-images.githubusercontent.com/16341937/104470978-59e78800-55cb-11eb-969b-4d3a1ed21e3e.png)
Also looks like there is no or too much less garbage collection after you insert documents, when you restart it, it goes back to normal.

[2021-01-13 20:34] MarinPostma commented on #1138
Hey @carlosb1, can you show me your test?

[2021-01-13 20:51] carlosb1 commented on #1138
I tried different combinations
[code]
the only thing that I didn t do  it is including the `#[cfg(test)]` or the `mod tests` from the tutorial, but one of them should work.

[2021-01-13 21:31] MarinPostma commented on #1138
Ok, got it.

First of all you will want to use https://docs.rs/structopt/0.3.21/structopt/trait.StructOpt.html#method.from_iter this to test the Option struct

Then, you'll want to write unit tests for Option, for that you need to create a module that condition Amy compile on test builds, at the bottom of option.rs:

[code]

Here we don't need to use actix test runtime, since this is all synchrono

[2021-01-13 21:42] #1148 closed

[2021-01-13 21:43] carlosb1 commented on #1138
ok thanks! sorry for the spam, I didn t see any tests in the module and I figured out that you are including  in `tests`. Then, it is easy, I will do the usual practice for  unit tests in Rust.

[2021-01-13 21:47] MarinPostma commented on #1138
Yes that's great! This part of the code is no very well covered indeed

[2021-01-14 16:40] Nick-Mazuk commented on #941
So I was doing a quick test, and I don't think that setting this limit will solve the underlying issue, just a symptom. It's better than nothing, it's just not the cause.

I spun up a new MeiliSearch instance (v0.18) without any documents, only one index, and tried searching through it. Here's how long each search took.

| # of words  | Processing time (ms) |
| ----------- | ---------------------

[2021-01-14 18:13] MarinPostma commented on #941
thank you! this is very interesting! @Kerollmops could this be linked to the building of the query fst? @LegendreM thi smay interest you too

[2021-01-15 14:34] Kerollmops commented on #941
Hey thank you @Nick-Mazuk for this in depth analysis,

I am currently looking into this, and have already found some ways to reduce the cost of interating through [the words dictionnary](https://docs.rs/fst/0.4.5/fst/struct.Set.html). It is indeed not [the DFA creation](https://docs.rs/levenshtein_automata) that takes time but the fact that we visit that datastructure and we do a lot of operation

[2021-01-17 06:31] iredmail commented on #1149
I constantly get high CPU usage (90-99%) after running MeiliSearch for one day. 15000+ small documents (email messages) were added.

[2021-01-17 08:16] #1152 closed

[2021-01-17 15:17] vinhnguyen1211 commented on #1110
![image](https://user-images.githubusercontent.com/15612361/104847261-97248080-5911-11eb-883c-dc5e7d38e1ca.png)
My instance is experiencing the same problem. Should I retain logs for further investigation?

[2021-01-18 01:04] iredmail commented on #1149
I think i figured out why MeiliSearch uses 90+% CPU: my testing machine has only 1GB memory, when meilisearch stores more processed data (under MEILI_DB_PATH), the cpu usage is increasing at the same time, restarting meilisearch doesn't help. No dump and snapshot yet.

So the problem MIGHT be, meilisearch doesn't work well if its data is larger than machine (physical) memory.

[2021-01-18 21:36] sonic182 opened #1192 "Fuzzyness value per search"
Hi,

**Is your feature request related to a problem? Please describe.**
Would be nice to have fuzzyness value modifable per search, I have found better results in some searches when changing this value or making a custom rule

**Describe the solution you'd like**
A new search param for indicate fuzzyness value.

Maybe it worth to disable fuzzyness by param, so if someone wants to do a search with

[2021-01-19 09:42] chaskett opened #1195 "Heed error: Function not implemented (os error 38)"
**Describe the bug**
Running the container fails due to 'heed error'. Changing version doesn't seem to make a difference. Perhaps related to underlying Rust function?

**To Reproduce**
Steps to reproduce the behaviour:
1. docker-compose.yml contains...
[code]
2. docker-compose up
In container log you will see...
`Error: heed error; Function not implemented (os error 38)`
Have tested with image 0.1

[2021-01-19 10:14] sonic182 opened #1196 "Problem indexing various indices"
Hi

**Describe the bug**
I tried to index 55 index from customers where I work, the 55 most searched index from one of our ES clusters, they have various schemas, length of index, size of documents, etc... The problem is that meilisearch get stucks, it stop responding and also the web gui, seems like a bug somewhere.

**To Reproduce**
I used the next docker-compose for meilisearch

[code]

Python

[2021-01-19 12:26] MarinPostma commented on #1195
Hello @chaskett,
This is an os realtors error, can you provide me with more info about your environment?

[2021-01-19 14:29] gterzian opened #1197 "Run a single index update loop thread"
**Is your feature request related to a problem? Please describe.**
When a new database is created, an `update_awaiter` loop is started in a thread per index:

https://github.com/meilisearch/MeiliSearch/blob/08a8dc0d0d0f4872878ec85a7e6735ed694f44ff/meilisearch-core/src/database.rs#L289

Is there a reason for having one thread/updater per index? I assume the underlying database does not run transact

[2021-01-19 20:29] fharper commented on #1137
The PR was merged, so I'm closing it, thanks for the heads up @CaroFG ! Thanks @sanders41 and everyone who helped :)

[2021-01-19 20:29] #1137 closed

[2021-01-20 00:31] aysark commented on #1098
Yeah we have given up on meili, it does not perform well for us.  It sucks cause the other parts of meili are well done.

[2021-01-20 04:46] chaskett commented on #1195
Ah! I was not aware, then that could be the reason.

I'm running the container on MacOS 11 with the new Apple silicon, and using Docker Preview 7.  I had mistakenly thought that this was an issue in the container.

[2021-01-20 05:30] tobyglei opened #1198 "Better support with Gatsby like Algolia"
- **Is your feature request related to a problem? Please describe.**

It's feature and docs request.

I'm the founder of [21YunBox](https://www.21yunbox.com/), we provide blazing fast Chinese CDN, continuous deployment, one-click HTTPS and other services like managed databases and backend web services, providing an avenue to launch web projects in China.

We have recently received a lot of request

[2021-01-20 10:17] eskombro commented on #1149
You are right @iredmail, There is some mention to this [here in the docs](https://docs.meilisearch.com/resources/about_storage.html#memory-mapping). Is this what you mean?

[2021-01-20 10:23] iredmail commented on #1149
I guess this is the root cause. Thanks for the reference.
Then here comes the new question: if i have X GB memory, how can i handle / store X+Y GB data?

We plan to use MeiliSearch as the full-text search engine for email archiving software, it will handle a lot emails everyday, the data may go up to 10 GB, 100GB, 200GB, even 1TB, 5TB. We already have client with more than 3 TB mailboxes, how can

[2021-01-20 10:39] curquiza commented on #1198
Hello @tobyglei! This would be indeed a great addition to the MeiliSearch tools!
I transfer this issue to the integration-guides repo that gathers all the general issues about MeiliSearch integration tools.

[2021-01-20 16:06] fharper opened #1199 "Change the master branch to main"
We are in the process of making it happen. Once we release v1 this year, the new primary branch will become main to be respectful and do our part in being more welcome as an open source community.

[2021-01-21 00:51] gurgeous opened #1200 "MeiliSearch in production"
Hi guys. Thank you so much for creating MeiliSearch. We love it and appreciate all your hard work! I wanted to supply a bit of feedback based on our experience rolling out MeiliSearch for production.

Please don't take any of the below as criticism. We are very happy with MeiliSearch and honestly this is what we expected when we decided to adopt a relatively new project. I believe most of these is

[2021-01-21 08:10] tobyglei opened #1201 "Recommended requirements for hosting"
**Is your feature request related to a problem? Please describe.**
Recommended requirements for hosting

**Describe the solution you'd like**
Would like to see some documentation similar to this on MeiliSearch:
[https://strapi.io/documentation/developer-docs/latest/getting-started/deployment.html#recommended-requirements](https://strapi.io/documentation/developer-docs/latest/getting-started/deploy

[2021-01-21 09:58] curquiza commented on #1200
Hello @gurgeous!

Thank you so much for your feedback, this will definitely help us to improve MeiliSearch!

I'm part of the integration team, so I will answer your Ruby/Rails feedbacks:

You can also change the timeout directly when declaring the client:
[code]
Maybe should we also rise this default timeout? If you think we should, could you open an issue in the [meilisearch-ruby](https://github.

[2021-01-21 12:51] raszi opened #1202 "Server under high pressure (e.g. indexing) could throw 408 errors"
**Describe the bug**

When a server is indexing then it could start throwing 408 errors on regular search requests, probably because of actix/actix-web#1269

**To Reproduce**
Steps to reproduce the behavior:
1. Start a bigger indexing
2. Issue multiple requests to the instance which is doing the indexing
3. Start to see 408 errors

[code]

**Expected behavior**

The instance would serve the reques

[2021-01-21 15:03] Roms1383 commented on #864
As I wrote on Slack, I can read / write / speak Thai to some extent (not fluently, but well enough) so I'm pretty new to Rust but I would be willing to offer some support.

[2021-01-21 23:54] gurgeous commented on #1200
I think the default timeout in the Ruby client is correct. 1s is perfect for searches, and you don't want long timeouts with Rails because those requests are (usually) blocking. Definitely a longer value is required for large indexing jobs. Maybe it's a documentation issue?

[2021-01-21 23:54] gurgeous commented on #1200
Thanks @curquiza!

[2021-01-22 00:36] ncioj10 opened #1203 "Example in meilisearch-core broken"
**Describe the bug**

As  it makes more sense to directly implement MeiliSearch in Rust for our use case, we tried to execute the example given in meilisearch-core (from_file.rs).
It silently fails on our csv, which we assume to be happening during the updates. We used cat to look into the update.mdb created and it contains an error with the key "missing_primary_key".
In our csv there is a column

[2021-01-23 01:55] davidhorat commented on #1196
Same problem here.

[2021-01-23 03:02] Roms1383 commented on #864
As an addition, one of my friends sent me this [PyThaiNLP library](https://www.thainlp.org/pythainlp/tutorials/notebooks/pythainlp_get_started.html#Thai-Characters) and it makes me eager to understand which features you are looking for when it comes to tokenization (I've only briefly looked at Meilisearch related docs so far, and tokenization mechanics details are still a bit unclear to me).

[2021-01-25 14:42] Kerollmops opened #3379 "Improve and simplify operations on external documents ids"
We need to remove [the soft and hard external documents ids maps](https://github.com/meilisearch/milli/pull/39) because it is just a lot of code to maintain that is not worth it. That is only interesting on the first additions of a small number of documents.

[2021-01-25 14:45] benbender commented on #1195
@MarinPostma same problem here. Latest docker-image on m1 apple silicon with latest docker desktop preview for m1.

[2021-01-26 02:03] simonxxz opened #1205 "Pod has unbound immediate PersistentVolumeClaims'"
Hi guys! I installed meilisearch (from https://github.com/meilisearch/meilisearch-kubernetes) on my Centos k8s cluster and the pod is 'pending' forever. It shows 'failedscheduling‘ for 'Pod has unbound immediate PersistentVolumeClaims', even though there is a pvc.yaml in the 'templates' folder and I enabled pvc persistence in values.yaml. Here is the code in my yaml file:

persistence:
type: pvc
e

[2021-01-27 09:14] sixinyiyu opened #1208 "support a api to get a sentence or phrase the result of separates words"
feature request：

eg:
[code]
Expected  the result  is :
[code]

OS: CentOS Linux release 7.2.1511

Using MeiliSearch 0.18.1

[2021-01-27 09:19] chaskett commented on #1195
@benbender @MarinPostma this my experience also. I'll let you know if I manage to make any progress.

The only thing I could figure out is using v0.12 the error complaining about its ability to connect to the database - heed error related to Rust and a function to 'unwind'.

[2021-01-27 09:31] MarinPostma commented on #1195
The error seems to come from docker on apple M1: we're getting a os error for an unimplemented says all. I don't have an apple silicon at hand, so it is almost impossible for me tu debug this... What's the state of virtualization on the M1? Any way to run Debian or ubuntu in a virtualized environment?

[2021-01-27 09:32] MarinPostma commented on #1208
Hello @sixinyiyu, can you edit the issue and add more explanations?

[2021-01-27 17:01] rrjanbiah opened #1209 "Faceting silently fails when facet keys have lengthy string values"
Say, in the example `movies` index, if any one of the document contains lengthy `director` name, the faceting fails silently. Since, the faceting is not set, it throws errors like `Can't perform facet count, as no facet is set` and `error processing facet filter: impossible to perform faceted search, no attributes for faceting are set`

**To Reproduce**
Steps to reproduce the behavior:

1. Create